http_interactions:
- recorded_at: Fri, 14 Aug 2026 09:13:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"action_pattern":{"action_fqns":["com.datadoghq.script.*"],"integration":"INTEGRATION_SCRIPT"},"effect":"invalid_effect","name":"Cassette
        Execution Policy"},"type":"execution_policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions/execution-policies
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"error creating execution
        policy"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
