http_interactions:
- recorded_at: Fri, 14 Aug 2026 09:13:39 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"action_pattern":{"action_fqns":["com.datadoghq.script.*"],"integration":"INTEGRATION_SCRIPT"},"effect":"allow","name":"Cassette
        Execution Policy testcreateanexecutionpolicywithscopeandtargetsreturnscreatedresponse1786698819","scope":{"scripts":{"rules":[{"target_script_names":["restart_service.sh"]}]}},"targets":[{"agent_tags":["env:prod"],"name":"Production
        hosts"}]},"type":"execution_policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions/execution-policies
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"90a83e60-76b3-4064-a240-f65b602bbddd","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["com.datadoghq.script.*"]},"created_at":"2026-08-14T09:13:40Z","created_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","effect":"allow","name":"Cassette
        Execution Policy testcreateanexecutionpolicywithscopeandtargetsreturnscreatedresponse1786698819","scope":{"scripts":{"rules":[{"target_script_names":["restart_service.sh"]}]}},"targets":[{"agent_tags":["env:prod"],"name":"Production
        hosts"}],"updated_at":"2026-08-14T09:13:40Z","updated_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","version":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Fri, 14 Aug 2026 09:13:39 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions/execution-policies/90a83e60-76b3-4064-a240-f65b602bbddd
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
