http_interactions:
- recorded_at: Fri, 21 Aug 2026 11:47:30 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"displayed_total":100,"from":1672527600000,"indexes":["test-index","test-index-2"],"query":{},"to":1704063600000},"type":"create_deletion_req"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/deletion/data/logs
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"412","code":"INVALID_BODY","title":"INVALID_BODY","detail":"query
        is required and cannot be empty"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 412
      message: Precondition Failed
recorded_with: VCR 6.0.0
