http_interactions:
- recorded_at: Thu, 21 Aug 2025 12:21:28 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ebf39a42-7726-4b1e-a21a-0e42933aeb4b","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-21T12:21:29.220105Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"ebf39a42-7726-4b1e-a21a-0e42933aeb4b","key":"DDFC-77676","merge_status":"NOT_MERGED","priority":"P4","public_id":"77758","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 21 Aug 2025 12:21:28 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/ebf39a42-7726-4b1e-a21a-0e42933aeb4b/archive
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ebf39a42-7726-4b1e-a21a-0e42933aeb4b","type":"case","attributes":{"archived_at":"2025-08-21T12:21:29.628037323Z","attributes":{},"comment_count":0,"created_at":"2025-08-21T12:21:29.220105Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"ebf39a42-7726-4b1e-a21a-0e42933aeb4b","key":"DDFC-77676","merge_status":"NOT_MERGED","modified_at":"2025-08-21T12:21:29.628037Z","priority":"P4","public_id":"77758","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"modified_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
