http_interactions:
- recorded_at: Tue, 30 Dec 2025 13:49:45 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0bb969fd-0864-46a1-8e6d-35434e677004","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-12-30T13:49:45.922467Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"0bb969fd-0864-46a1-8e6d-35434e677004","key":"DDFC-98808","merge_status":"NOT_MERGED","priority":"P4","public_id":"99264","status":"OPEN","status_group":"SG_OPEN","status_name":"Open","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user","attributes":{"active":true,"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 30 Dec 2025 13:49:45 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Assign_case_returns_OK_response-1767102585@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"06fe1d45-8040-47eb-b161-837f416635e7","attributes":{"name":null,"handle":"test-assign_case_returns_ok_response-1767102585@datadoghq.com","created_at":"2025-12-30T13:49:46.123532+00:00","modified_at":"2025-12-30T13:49:46.123532+00:00","email":"test-assign_case_returns_ok_response-1767102585@datadoghq.com","icon":"https://secure.gravatar.com/avatar/7ef6584479871df45cdfa7868fcc1849?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 30 Dec 2025 13:49:45 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"assignee_id":"06fe1d45-8040-47eb-b161-837f416635e7"},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/0bb969fd-0864-46a1-8e6d-35434e677004/assign
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0bb969fd-0864-46a1-8e6d-35434e677004","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-12-30T13:49:45.922467Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"0bb969fd-0864-46a1-8e6d-35434e677004","key":"DDFC-98808","merge_status":"NOT_MERGED","modified_at":"2025-12-30T13:49:46.211933Z","priority":"P4","public_id":"99264","status":"OPEN","status_group":"SG_OPEN","status_name":"Open","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"assignee":{"data":{"id":"06fe1d45-8040-47eb-b161-837f416635e7","type":"user"}},"created_by":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user"}},"modified_by":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user","attributes":{"active":true,"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"}},{"id":"06fe1d45-8040-47eb-b161-837f416635e7","type":"user","attributes":{"active":false,"email":"test-assign_case_returns_ok_response-1767102585@datadoghq.com","handle":"test-assign_case_returns_ok_response-1767102585@datadoghq.com","name":""}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 30 Dec 2025 13:49:45 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/06fe1d45-8040-47eb-b161-837f416635e7
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
