http_interactions:
- recorded_at: Mon, 21 Jul 2025 13:52:43 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"priority":"P4","title":"My new case","type":"STANDARD"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"510b0121-1477-43c0-8986-78f011016d48","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-07-21T13:52:43.335245Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"510b0121-1477-43c0-8986-78f011016d48","key":"DDFC-72319","merge_status":"NOT_MERGED","priority":"P4","public_id":"72379","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 21 Jul 2025 13:52:43 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"assignee_id":"invalid-uuid"},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/510b0121-1477-43c0-8986-78f011016d48/assign
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
