http_interactions:
- recorded_at: Wed, 14 Feb 2024 18:55:15 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Assign_case_returns_Not_Found_response-1707936915@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"9740b08d-cb6a-11ee-8bd8-2a1a3c7b5bdd","attributes":{"name":null,"handle":"test-assign_case_returns_not_found_response-1707936915@datadoghq.com","created_at":"2024-02-14T18:55:15.963542+00:00","modified_at":"2024-02-14T18:55:15.963542+00:00","email":"test-assign_case_returns_not_found_response-1707936915@datadoghq.com","icon":"https://secure.gravatar.com/avatar/379ecb2d1d9ca2e9ce66fa109609c256?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 14 Feb 2024 18:55:15 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"assignee_id":"9740b08d-cb6a-11ee-8bd8-2a1a3c7b5bdd"},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/67d80aa3-36ff-44b9-a694-c501a7591737/assign
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"resource_not_found","title":"case not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
- recorded_at: Wed, 14 Feb 2024 18:55:15 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/9740b08d-cb6a-11ee-8bd8-2a1a3c7b5bdd
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
