http_interactions:
- recorded_at: Tue, 30 Dec 2025 13:49:46 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"84a0af3b-6609-442a-b4de-b082652354cf","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-12-30T13:49:46.840801Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"84a0af3b-6609-442a-b4de-b082652354cf","key":"DDFC-98810","merge_status":"NOT_MERGED","priority":"P4","public_id":"99266","status":"OPEN","status_group":"SG_OPEN","status_name":"Open","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user","attributes":{"active":true,"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 30 Dec 2025 13:49:46 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"comment":"Hello World !"},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/84a0af3b-6609-442a-b4de-b082652354cf/comment
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"2df6429f-8148-440c-a959-e6503f42709b","type":"timeline_cell","attributes":{"author":{"type":"USER","content":{"ID":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","active":true}},"cell_content":{"message":"Hello
        World !"},"content":"{\"message\":\"Hello World !\"}","created_at":"2025-12-30T13:49:46.968106806Z","type":"COMMENT"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
