http_interactions:
- recorded_at: Thu, 21 Aug 2025 12:21:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1933248b-25b2-43fa-8758-a83156a4f2d6","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-21T12:21:41.429607Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"1933248b-25b2-43fa-8758-a83156a4f2d6","key":"DDFC-77684","merge_status":"NOT_MERGED","priority":"P4","public_id":"77767","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 21 Aug 2025 12:21:41 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cases/1933248b-25b2-43fa-8758-a83156a4f2d6/comment/23fca2aa-4967-4936-bdd7-9157d9e456d7
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"resource_not_found","title":"timeline cell not
        found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
