http_interactions:
- recorded_at: Thu, 04 Sep 2025 09:11:31 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"29ab4133-4059-4733-81c6-0a86571347c9","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-09-04T09:11:31.819292Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"29ab4133-4059-4733-81c6-0a86571347c9","key":"DDFC-79587","merge_status":"NOT_MERGED","priority":"P4","public_id":"79675","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 04 Sep 2025 09:11:31 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_multi":true,"type":"TEXT","value":["Abba","The
        Cure"]},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/29ab4133-4059-4733-81c6-0a86571347c9/custom_attributes/invalid_key
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"resource_not_found","title":"failed to update case
        (command func error): custom attribute configuration not found","meta":{"key":"invalid_key"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
