http_interactions:
- recorded_at: Wed, 28 Jan 2026 12:51:17 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Updated Project Name"},"type":"project"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/cases/projects/67d80aa3-36ff-44b9-a694-c501a7591737
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"resource_not_found","title":"failed to get project:
        project not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
