http_interactions:
- recorded_at: Thu, 04 Sep 2025 09:11:32 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Seeing some weird memory increase...
        We shouldn''t ignore this"},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/0198c6b0-2a0a-7bea-87ff-3876f119aebb/description
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"resource_not_found","title":"case not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
