http_interactions:
- recorded_at: Wed, 01 Oct 2025 12:47:06 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"title":"Memory leak investigation on API"},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/0198c6b8-b08f-7c08-978a-d95217f2eeac/title
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"resource_not_found","title":"case not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
