http_interactions:
- recorded_at: Mon, 21 Jul 2025 08:23:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"priority":"P4","title":"My new case","type":"STANDARD"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0fac8699-2b39-4acb-b290-05a0fd19eb95","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-07-21T08:23:42.090561Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"0fac8699-2b39-4acb-b290-05a0fd19eb95","key":"DDFC-72247","merge_status":"NOT_MERGED","priority":"P4","public_id":"72307","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user","attributes":{"active":true,"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 21 Jul 2025 08:23:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"attributes":{"service":"web-store"}},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/0fac8699-2b39-4acb-b290-05a0fd19eb95/attributes
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"error decoding
        attribute \"attributes\": invalid type string"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
