http_interactions:
- recorded_at: Tue, 30 Dec 2025 13:49:48 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6ace1538-7ef1-4a00-a0bd-67c8ed9a3cd3","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-12-30T13:49:49.048411Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"6ace1538-7ef1-4a00-a0bd-67c8ed9a3cd3","key":"DDFC-98819","merge_status":"NOT_MERGED","priority":"P4","public_id":"99275","status":"OPEN","status_group":"SG_OPEN","status_name":"Open","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user","attributes":{"active":true,"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 30 Dec 2025 13:49:48 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_multi":true,"type":"TEXT","value":["Abba","The
        Cure"]},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/6ace1538-7ef1-4a00-a0bd-67c8ed9a3cd3/custom_attributes/invalid_key
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"resource_not_found","title":"failed to update batch:
        failed to apply command: failed to apply domain.UpdateCustomAttribute command:
        custom attribute configuration not found","meta":{"key":"invalid_key"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
