http_interactions:
- recorded_at: Wed, 01 Oct 2025 12:46:54 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"8e87c755-54a9-470a-9118-62a0942ec870","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-10-01T12:46:54.666096Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"8e87c755-54a9-470a-9118-62a0942ec870","key":"DDFC-82983","merge_status":"NOT_MERGED","priority":"P4","public_id":"83072","status":"OPEN","status_name":"Open","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 01 Oct 2025 12:46:54 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_multi":true,"type":"TEXT","value":["Abba","The
        Cure"]},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/8e87c755-54a9-470a-9118-62a0942ec870/custom_attributes/invalid_key
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"resource_not_found","title":"failed to update case
        (command func error): custom attribute configuration not found","meta":{"key":"invalid_key"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
