http_interactions:
- recorded_at: Thu, 21 Aug 2025 12:21:50 GMT
  request:
    body:
      encoding: UTF-8
      string: "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\"\
        ,\"emoji\":\"\U0001F30D\",\"name\":\"World\"},\"type\":\"case_type\"}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types
  response:
    body:
      encoding: UTF-8
      string: "{\"data\":{\"id\":\"b36e8af6-a952-43bb-b54b-d7b80fc1344e\",\"type\"\
        :\"case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"\
        emoji\":\"\U0001F30D\",\"name\":\"World\"}}}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 21 Aug 2025 12:21:50 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"And its brand new description","display_name":"Attribute
        17557789-0000-0000-0000-175577891000","is_multi":true,"key":"attribute_1d2a4f8f9b39a284","type":"TEXT"},"type":"custom_attribute"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types/b36e8af6-a952-43bb-b54b-d7b80fc1344e/custom_attributes
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"49cb8cff-1ff0-4476-b0c9-042e08935cb9","type":"custom_attribute","attributes":{"case_type":"TUNKNOWN","case_type_id":"b36e8af6-a952-43bb-b54b-d7b80fc1344e","description":"And
        its brand new description","display_name":"Attribute 17557789-0000-0000-0000-175577891000","is_multi":true,"key":"attribute_1d2a4f8f9b39a284","type":"TEXT"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 21 Aug 2025 12:21:50 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"b36e8af6-a952-43bb-b54b-d7b80fc1344e"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5ed64f4d-a8d0-4dc6-879c-9b5f10a25cdb","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-21T12:21:51.92835Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"5ed64f4d-a8d0-4dc6-879c-9b5f10a25cdb","key":"DDFC-77693","merge_status":"NOT_MERGED","priority":"P4","public_id":"77776","status":"OPEN","title":"My
        new case","type":"TUNKNOWN","type_id":"b36e8af6-a952-43bb-b54b-d7b80fc1344e"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 21 Aug 2025 12:21:50 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_multi":true,"type":"FLOAT","value":[1,2.4]},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/5ed64f4d-a8d0-4dc6-879c-9b5f10a25cdb/custom_attributes/attribute_1d2a4f8f9b39a284
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
- recorded_at: Thu, 21 Aug 2025 12:21:50 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cases/types/b36e8af6-a952-43bb-b54b-d7b80fc1344e
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
