http_interactions:
- recorded_at: Wed, 14 Feb 2024 18:55:19 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"status":"OPEN"},"type":"case"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/67d80aa3-36ff-44b9-a694-c501a7591737/status
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"resource_not_found","title":"case not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
