http_interactions:
- recorded_at: Mon, 29 Sep 2025 19:31:22 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2b088869-d596-4103-9cff-038b5f81fc0c","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 29 Sep 2025 19:31:22 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"item_keys":[]},"type":"items"}}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/2b088869-d596-4103-9cff-038b5f81fc0c/items/bulk
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","id":"61325aff-aaa7-4571-80e2-e87ed8ffb103","title":"missing
        required field","detail":"at least one item key is required"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
- recorded_at: Mon, 29 Sep 2025 19:31:22 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/2b088869-d596-4103-9cff-038b5f81fc0c
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2b088869-d596-4103-9cff-038b5f81fc0c","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
