http_interactions:
- recorded_at: Sat, 06 Sep 2025 17:52:19 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c13a0948-2f60-4d2c-a84b-512cd9c18e9a","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Sat, 06 Sep 2025 17:52:19 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"values":[{"id":"cust_3141","name":"Johnathan"},{"badPrimaryKey":"key2","name":"Johnathan"}]},"id":"c13a0948-2f60-4d2c-a84b-512cd9c18e9a","type":"items"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores/c13a0948-2f60-4d2c-a84b-512cd9c18e9a/items/bulk
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","id":"9bc53253-c05e-4567-8327-0fcbc64f73dc","title":"item
        key missing or invalid","detail":"primary column \"id\" is missing"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
- recorded_at: Sat, 06 Sep 2025 17:52:19 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/c13a0948-2f60-4d2c-a84b-512cd9c18e9a
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c13a0948-2f60-4d2c-a84b-512cd9c18e9a","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
