http_interactions:
- recorded_at: Mon, 11 Aug 2025 22:18:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2311c2ef-1448-4dad-a67a-53cb3ea678be","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 11 Aug 2025 22:18:59 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/actions-datastores/2311c2ef-1448-4dad-a67a-53cb3ea678be
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2311c2ef-1448-4dad-a67a-53cb3ea678be","type":"datastores","attributes":{"created_at":"2025-08-11T22:18:59.68687Z","creator_user_id":1445416,"creator_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"","modified_at":"2025-08-11T22:18:59.68687Z","name":"Test
        Datastore","org_id":321813,"primary_column_name":"id","primary_key_generation_strategy":"none"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 11 Aug 2025 22:18:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"values":[{"id":"key1","value":{"data":"example
        data 1","key":"value"}},{"badPrimaryKey":"key2","value":{"data":"example data
        2","key":"value"}}]},"id":"2311c2ef-1448-4dad-a67a-53cb3ea678be","type":"items"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores/2311c2ef-1448-4dad-a67a-53cb3ea678be/items/bulk
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"item key missing or invalid","detail":"item at
        index 1: primary column \"id\" is missing"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
- recorded_at: Mon, 11 Aug 2025 22:18:59 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/2311c2ef-1448-4dad-a67a-53cb3ea678be
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 200
      message: No Content
recorded_with: VCR 6.0.0
