http_interactions:
- recorded_at: Fri, 08 Aug 2025 20:30:54 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"values":[{"primaryKey":"key1","value":{"data":"example
        data 1","key":"value"}},{"primaryKey":"key2","value":{"data":"example data
        2","key":"value"}}]},"id":"70b87c26-886f-497a-bd9d-09f53bc9b40c","type":"items"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores/70b87c26-886f-497a-bd9d-09f53bc9b40c/items/bulk
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"datastore not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
