http_interactions:
- recorded_at: Fri, 08 Aug 2025 20:30:54 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"b554a447-b168-47a1-95c5-ececcb30af1c","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 08 Aug 2025 20:30:54 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/actions-datastores/b554a447-b168-47a1-95c5-ececcb30af1c
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"b554a447-b168-47a1-95c5-ececcb30af1c","type":"datastores","attributes":{"created_at":"2025-08-08T20:30:54.91091Z","creator_user_id":1445416,"creator_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"","modified_at":"2025-08-08T20:30:54.91091Z","name":"Test
        Datastore","org_id":321813,"primary_column_name":"id","primary_key_generation_strategy":"none"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 08 Aug 2025 20:30:54 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"values":[{"id":"key1","value":{"data":"example
        data 1","key":"value"}},{"id":"key2","value":{"data":"example data 2","key":"value"}}]},"type":"items"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores/b554a447-b168-47a1-95c5-ececcb30af1c/items/bulk
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"cf7aef69-35e1-4c26-858b-3e04e6a90d48","type":"items"},{"id":"7482e516-be2c-451e-a18b-6283aac9b6b9","type":"items"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 08 Aug 2025 20:30:54 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/b554a447-b168-47a1-95c5-ececcb30af1c
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"b554a447-b168-47a1-95c5-ececcb30af1c","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
