http_interactions:
- recorded_at: Mon, 29 Sep 2025 19:31:56 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"item_keys":["nonexistent"]},"type":"items"}}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/c1eb5bb8-726a-4e59-9a61-ccbb26f95329/items/bulk
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","id":"d53325f5-a7f3-4075-ace7-f8e22a25b72f","title":"datastore
        not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
