http_interactions:
- recorded_at: Fri, 05 Sep 2025 22:54:06 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6c0dbbfd-a905-4f79-9c2f-16cb4d9a56a7","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 05 Sep 2025 22:54:06 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"values":[{"id":"cust_3141","name":"Johnathan"},{"id":"cust_3142","name":"Mary"}]},"type":"items"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores/6c0dbbfd-a905-4f79-9c2f-16cb4d9a56a7/items/bulk
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"8c6bba37-01d4-4b49-9d90-4ac909aa8c9f","type":"items"},{"id":"285244c6-b07f-4502-928b-2444c1de31e7","type":"items"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 05 Sep 2025 22:54:06 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/6c0dbbfd-a905-4f79-9c2f-16cb4d9a56a7
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6c0dbbfd-a905-4f79-9c2f-16cb4d9a56a7","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
