http_interactions:
- recorded_at: Mon, 11 Aug 2025 22:19:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"datastore-name","primary_column_name":"0invalid_key"},"type":"datastores"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"invalid column name","detail":"column name ''0invalid_key''
        does not start with a letter or an underscore","source":{"pointer":"/data/attributes/primary_column_name"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
