http_interactions:
- recorded_at: Mon, 11 Aug 2025 22:19:00 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"datastore-name","primary_column_name":"0invalid_name","values":[{"primaryKey":"key1","value":{"data":"example
        data 1","key":"value"}},{"primaryKey":"key2","value":{"data":"example data
        2","key":"value"}}]},"type":"datastores"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores/import
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"invalid column name","detail":"column name ''0invalid_name''
        does not start with a letter or an underscore","source":{"pointer":"/data/attributes/primary_column_name"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
