http_interactions:
- recorded_at: Fri, 08 Aug 2025 20:30:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"datastore-name","primary_column_name":"primaryKey","values":[{"primaryKey":"key1","value":{"data":"example
        data 1","key":"value"}},{"primaryKey":"key2","value":{"data":"example data
        2","key":"value"}}]},"type":"datastores"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores/import
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"27173b27-abde-46b7-afcf-98fc8c8a274c","type":"datastores","attributes":{"item_count":2}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 08 Aug 2025 20:30:55 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/27173b27-abde-46b7-afcf-98fc8c8a274c
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"27173b27-abde-46b7-afcf-98fc8c8a274c","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
