http_interactions:
- recorded_at: Fri, 05 Sep 2025 22:54:08 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","id":"ee853859-fef5-4771-98bd-1af309286bc0","title":"invalid
        path parameter","detail":"invalid datastoreId format in path","source":{"parameter":"datastoreId"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
