http_interactions:
- recorded_at: Fri, 29 Aug 2025 21:35:04 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"item_key":"primaryKey"},"id":"invalid-uuid","type":"items"}}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid/items
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","id":"752730df-08dc-4e40-9f93-84e0ca26f80c","title":"invalid
        path parameter","detail":"invalid datastoreId format in path","source":{"parameter":"datastoreId"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
