http_interactions:
- recorded_at: Mon, 11 Aug 2025 22:19:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"74103e72-83a1-483a-82a0-ece193df3352","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 11 Aug 2025 22:19:02 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/actions-datastores/74103e72-83a1-483a-82a0-ece193df3352
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"74103e72-83a1-483a-82a0-ece193df3352","type":"datastores","attributes":{"created_at":"2025-08-11T22:19:02.37855Z","creator_user_id":1445416,"creator_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"","modified_at":"2025-08-11T22:19:02.37855Z","name":"Test
        Datastore","org_id":321813,"primary_column_name":"id","primary_key_generation_strategy":"none"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 11 Aug 2025 22:19:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"value":{"data":"test-value","id":"test-key"}},"id":"74103e72-83a1-483a-82a0-ece193df3352","type":"items"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores/74103e72-83a1-483a-82a0-ece193df3352/items
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"48241ef8-650f-494e-93f5-da1414376efe","type":"items"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 11 Aug 2025 22:19:02 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/actions-datastores/74103e72-83a1-483a-82a0-ece193df3352/items
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"48241ef8-650f-494e-93f5-da1414376efe","type":"items","attributes":{"created_at":"2025-08-11T22:19:02.680284Z","modified_at":"2025-08-11T22:19:02.680284Z","org_id":321813,"primary_column_name":"id","signature":"{\"signature\":\"{\\\"version\\\":2,\\\"algorithm\\\":\\\"ecdsa-p384\\\",\\\"pubkey\\\":\\\"3Sh//jFQJZ+uhUOwvHL8krXnbOjEFxMZrYnngo8J/AY=\\\",\\\"timestamp\\\":1754950742,\\\"proof\\\":\\\"MGYCMQC5kVpFCj7klWkFz2lhtv8aTE7OrYX2onKe4KIOKVjKdHDffVByBTZ2QtRr5ABr7kICMQDi+4pLo2jMvTWYWWC9cd17cmkvgMEciB0Jb9NWNaNMae4ny+xyObi2r2NPEDCp3Os=\\\"}\",\"version\":1}","store_id":"74103e72-83a1-483a-82a0-ece193df3352","value":{"data":"test-value","id":"test-key"}}}],"meta":{"page":{"totalCount":1,"totalFilteredCount":1,"hasMore":false},"schema":{"primary_key":"id","fields":[{"name":"id","type":"STRING"},{"name":"data","type":"JSON"}]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 11 Aug 2025 22:19:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"id":"48241ef8-650f-494e-93f5-da1414376efe","item_key":"test-key"},"id":"74103e72-83a1-483a-82a0-ece193df3352","type":"items"}}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/74103e72-83a1-483a-82a0-ece193df3352/items
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"48241ef8-650f-494e-93f5-da1414376efe","type":"items"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 11 Aug 2025 22:19:02 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/74103e72-83a1-483a-82a0-ece193df3352
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 200
      message: No Content
recorded_with: VCR 6.0.0
