http_interactions:
- recorded_at: Fri, 05 Sep 2025 22:54:09 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"b06309e7-b4e9-4edb-a494-e5dd27d9525f","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 05 Sep 2025 22:54:09 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/actions-datastores/b06309e7-b4e9-4edb-a494-e5dd27d9525f
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"b06309e7-b4e9-4edb-a494-e5dd27d9525f","type":"datastores","attributes":{"created_at":"2025-09-05T22:54:09.545626Z","creator_user_id":1445416,"creator_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"","modified_at":"2025-09-05T22:54:09.545626Z","name":"Test
        Datastore","org_id":321813,"primary_column_name":"id","primary_key_generation_strategy":"none"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 05 Sep 2025 22:54:09 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/b06309e7-b4e9-4edb-a494-e5dd27d9525f
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"b06309e7-b4e9-4edb-a494-e5dd27d9525f","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
