http_interactions:
- recorded_at: Fri, 29 Aug 2025 21:35:05 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f21ed922-eb4b-41e0-8906-424252c7ace7","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 29 Aug 2025 21:35:05 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/actions-datastores/f21ed922-eb4b-41e0-8906-424252c7ace7
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f21ed922-eb4b-41e0-8906-424252c7ace7","type":"datastores","attributes":{"created_at":"2025-08-29T21:35:05.441762Z","creator_user_id":1445416,"creator_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"","modified_at":"2025-08-29T21:35:05.441762Z","name":"Test
        Datastore","org_id":321813,"primary_column_name":"id","primary_key_generation_strategy":"none"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 29 Aug 2025 21:35:05 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/f21ed922-eb4b-41e0-8906-424252c7ace7
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f21ed922-eb4b-41e0-8906-424252c7ace7","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
