http_interactions:
- recorded_at: Fri, 29 Aug 2025 21:35:05 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid/items
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","id":"689856ae-2b7f-44ba-9ff2-df0045865d4f","title":"invalid
        path parameter","detail":"invalid datastoreId format in path","source":{"parameter":"datastoreId"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
