http_interactions:
- recorded_at: Fri, 05 Sep 2025 22:54:09 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid/items
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","id":"d41a11e1-5db7-47bf-a542-b469768194dd","title":"invalid
        path parameter","detail":"invalid datastoreId format in path","source":{"parameter":"datastoreId"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
