http_interactions:
- recorded_at: Mon, 11 Aug 2025 22:19:06 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5d430898-fa17-4fe6-aab0-75f1b2880b9c","type":"datastores"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 11 Aug 2025 22:19:06 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"value":{"missing":"item-key"}},"type":"items"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores/5d430898-fa17-4fe6-aab0-75f1b2880b9c/items
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"item key missing or invalid","detail":"item at
        index 0: primary column \"id\" is missing"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
- recorded_at: Mon, 11 Aug 2025 22:19:06 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/5d430898-fa17-4fe6-aab0-75f1b2880b9c
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 200
      message: No Content
recorded_with: VCR 6.0.0
