http_interactions:
- recorded_at: Mon, 11 Aug 2025 22:26:28 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"updated name"},"id":"c1eb5bb8-726a-4e59-9a61-ccbb26f95329","type":"datastores"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/actions-datastores/c1eb5bb8-726a-4e59-9a61-ccbb26f95329
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"datastore not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
