http_interactions:
- recorded_at: Fri, 05 Sep 2025 22:54:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"item_changes":{},"item_key":""},"type":"items"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid/items
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","id":"f88d0b88-0d55-482b-9a90-3556ef7d6b4a","title":"invalid
        path parameter","detail":"invalid datastoreId format in path","source":{"parameter":"datastoreId"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
