http_interactions:
- recorded_at: Wed, 17 Jun 2026 12:36:53 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"rum":{"default_privacy_level":"mask","enable_privacy_for_action_name":true,"session_replay_sample_rate":20,"session_sample_rate":75}},"id":"aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa","type":"rum_sdk_config"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/remote_config/products/rum/configs/aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Forbidden"}]}

        '
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 403
      message: Forbidden
recorded_with: VCR 6.0.0
