---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo
    body:
      encoding: UTF-8
      string: '{"description":"Make sure we don''t have too many failed HTTP responses","name":"ruby-DashboardsApi-dashboards-api-test-dashboards-lifecycle-1606232114","query":{"denominator":"default(sum:non_existant_metric{*}.as_count(),
        2)","numerator":"default(sum:non_existant_metric{*}.as_count(), 1)"},"thresholds":[{"target":95.0,"timeframe":"7d","warning":98.0}],"type":"metric"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3424554'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '46'
      X-Ratelimit-Remaining:
      - '499'
      X-Dd-Debug:
      - EQzhJSeNziVWIN4Gtgvm49DBQgA/xSWPBZSORg2i40a13gmPz8gOAFcYwqtQKjIG
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":[{"description":"Make sure we don''t have too many failed HTTP
        responses","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"default(sum:non_existant_metric{*}.as_count(),
        2)","numerator":"default(sum:non_existant_metric{*}.as_count(), 1)"},"id":"aeb593810a39524e8f164046fe93874b","name":"ruby-DashboardsApi-dashboards-api-test-dashboards-lifecycle-1606232114","created_at":1606232115,"tags":[],"modified_at":1606232115,"type":"metric"}],"error":null}'
  recorded_at: Tue, 24 Nov 2020 15:35:14 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/dashboard
    body:
      encoding: UTF-8
      string: '{"description":"Test dashboard for Ruby client","is_read_only":false,"layout_type":"ordered","notify_list":["test@datadoghq.com"],"template_variable_presets":[{"name":"Test
        Preset","template_variables":[{"name":"test preset","value":"*"}]}],"template_variables":[{"default":"*","name":"test
        template var","prefix":"test-java"}],"title":"ruby-DashboardsApi-dashboards-api-test-dashboards-lifecycle-1606232114-ordered","widgets":[{"definition":{"background_color":"blue","content":"Test
        Note Widget Example","font_size":"13","show_tick":true,"text_align":"center","tick_edge":"bottom","tick_pos":"4","type":"note"}},{"definition":{"alert_id":"1234","time":{"live_span":"15m"},"title":"Test
        Alert Graph Widget","title_align":"center","title_size":"16","type":"alert_graph","viz_type":"timeseries"}},{"definition":{"alert_id":"1234","precision":2,"text_align":"center","title":"Test
        Alert Value Widget","title_align":"center","title_size":"12","type":"alert_value","unit":"ms"}},{"definition":{"custom_links":[{"label":"Test
        Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"}],"requests":[{"change_type":"absolute","compare_to":"hour_before","increase_good":true,"order_by":"change","order_dir":"asc","q":"avg:system.load.1{*}","show_present":true}],"time":{"live_span":"15m"},"title":"Test
        Change Widget","title_align":"center","type":"change"}},{"definition":{"check":"service_check.up","group":"*","group_by":["bar"],"grouping":"check","tags":["foo:bar"],"time":{"live_span":"15m"},"title":"Test
        Check Status Widget","title_align":"center","title_size":"16","type":"check_status"}},{"definition":{"requests":[{"q":"avg:system.load.1{*}","style":{"palette":"dog_classic"}}],"show_legend":true,"time":{"live_span":"15m"},"title":"Test
        Distribution Widget","title_align":"center","title_size":"16","type":"distribution"}},{"definition":{"layout_type":"ordered","title":"Test
        Group Widget","type":"group","widgets":[{"definition":{"content":"Test Note
        Inside Group","type":"note"}}]}},{"definition":{"custom_links":[{"label":"Test
        Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"}],"events":[{"q":"Build
        succeeded","tags_execution":"tags"}],"legend_size":"4","requests":[{"q":"avg:system.load.1{*}","style":{"palette":"dog_classic"}}],"show_legend":true,"time":{"live_span":"15m"},"title":"Test
        Heatmap Widget","title_align":"center","title_size":"16","type":"heatmap","yaxis":{"include_zero":true,"max":"100","min":"0","scale":"linear"}}},{"definition":{"custom_links":[{"label":"Test
        Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"}],"group":["env:prod"],"no_group_hosts":true,"no_metric_hosts":true,"node_type":"container","requests":{"fill":{"q":"avg:system.load.1{*}"},"size":{"q":"avg:system.load.1{*}"}},"scope":["foo"],"style":{"fill_max":"100","fill_min":"0","palette":"dog_classic","palette_flip":true},"title":"Test
        HostMap Widget","title_align":"center","title_size":"16","type":"hostmap"}},{"definition":{"autoscale":true,"custom_links":[{"label":"Test
        Custom Link Label","link":"https://app.datadoghq.com/dashboard/lists"}],"custom_unit":"ns","precision":2,"requests":[{"aggregator":"avg","q":"avg:system.load.1{*}"}],"text_align":"center","time":{"live_span":"15m"},"title":"Test
        Query Value Widget","title_align":"center","title_size":"16","type":"query_value"}},{"definition":{"color_by_groups":["env"],"custom_links":[{"label":"Test
        Custom Link Label","link":"https://app.datadoghq.com/dashboard/lists"}],"requests":{"x":{"aggregator":"avg","q":"avg:system.load.1{*}"},"y":{"aggregator":"avg","q":"avg:system.load.1{*}"}},"time":{"live_span":"15m"},"title":"Test
        Scatter Plot Widget","title_align":"center","title_size":"16","type":"scatterplot","xaxis":{"include_zero":true,"max":"100","min":"0","scale":"linear"},"yaxis":{"include_zero":true,"max":"100","min":"0","scale":"linear"}}},{"definition":{"show_error_budget":true,"slo_id":"aeb593810a39524e8f164046fe93874b","time_windows":["7d"],"title":"Test
        SLO Widget","title_align":"center","title_size":"16","type":"slo","view_mode":"both","view_type":"detail"}},{"definition":{"custom_links":[{"label":"Test
        Custom Link Label","link":"https://app.datadoghq.com/dashboard/lists"}],"filters":["*"],"service":"1234","title":"Test
        Service Map Widget","title_align":"center","title_size":"16","type":"servicemap"}},{"definition":{"custom_links":[{"label":"Test
        Custom Link Label","link":"https://app.datadoghq.com/dashboard/lists"}],"requests":[{"aggregator":"avg","alias":"System
        Load","conditional_formats":[{"comparator":">","custom_bg_color":"blue","custom_fg_color":"black","image_url":"https://docs.datadoghq.com/images/dashboards/widgets/image/image.mp4","palette":"red_on_white","value":7.0}],"limit":50,"order":"asc","q":"avg:system.load.1{*}"}],"time":{"live_span":"15m"},"title":"Test
        Table Widget","title_align":"center","title_size":"16","type":"query_table"}},{"definition":{"custom_links":[{"label":"Test
        Custom Link Label","link":"https://app.datadoghq.com/dashboard/lists"}],"events":[{"q":"Build
        succeeded"}],"legend_size":"16","markers":[{"display_type":"error dashed","label":"error
        threshold","time":"4h","value":"y=15"}],"requests":[{"display_type":"line","metadata":[{"alias_name":"Aliased
        metric","expression":"avg:system.load.1{*}"}],"q":"avg:system.load.1{*}","style":{"line_type":"dashed","line_width":"thick","palette":"dog_classic"}}],"show_legend":true,"time":{"live_span":"15m"},"title":"Test
        Timeseries Widget","title_align":"center","title_size":"16","type":"timeseries","yaxis":{"include_zero":true,"max":"100","min":"0","scale":"linear"}}},{"definition":{"custom_links":[{"label":"Test
        Custom Link Label","link":"https://app.datadoghq.com/dashboard/lists"}],"events":[{"q":"Build
        succeeded"}],"legend_size":"16","markers":[{"display_type":"error dashed","label":"error
        threshold","time":"4h","value":"y=15"}],"requests":[{"display_type":"line","metadata":[{"alias_name":"Aliased
        metric","expression":"avg:system.load.1{*}"}],"process_query":{"filter_by":["account:test"],"limit":10,"metric":"process.stat.cpu.total_pct","search_by":"editor"},"style":{"line_type":"dashed","line_width":"thick","palette":"dog_classic"}}],"show_legend":true,"time":{"live_span":"15m"},"title":"Test
        Timeseries Widget with Process Query","title_align":"center","title_size":"16","type":"timeseries","yaxis":{"include_zero":true,"max":"100","min":"0","scale":"linear"}}},{"definition":{"custom_links":[{"label":"Test
        Custom Link Label","link":"https://app.datadoghq.com/dashboard/lists"}],"events":[{"q":"Build
        succeeded"}],"legend_size":"16","markers":[{"display_type":"error dashed","label":"error
        threshold","time":"4h","value":"y=15"}],"requests":[{"display_type":"line","log_query":{"compute":{"aggregation":"count","facet":"host","interval":10},"group_by":[{"facet":"host","limit":5,"sort":{"aggregation":"count","order":"asc"}}],"index":"main","search":{"query":"Error
        parsing"}},"metadata":[{"alias_name":"Aliased metric","expression":"avg:system.load.1{*}"}],"on_right_yaxis":true,"style":{"line_type":"dashed","line_width":"thick","palette":"dog_classic"}}],"right_yaxis":{"include_zero":true,"max":"100","min":"0","scale":"linear"},"show_legend":true,"time":{"live_span":"15m"},"title":"Test
        Timeseries Widget with Log Query","title_align":"center","title_size":"16","type":"timeseries","yaxis":{"include_zero":true,"max":"100","min":"0","scale":"linear"}}},{"definition":{"custom_links":[{"label":"Test
        Custom Link Label","link":"https://app.datadoghq.com/dashboard/lists"}],"events":[{"q":"Build
        succeeded"}],"legend_size":"16","markers":[{"display_type":"error dashed","label":"error
        threshold","time":"4h","value":"y=15"}],"requests":[{"display_type":"line","event_query":{"compute":{"aggregation":"count","facet":"host","interval":10},"group_by":[{"facet":"host","limit":5,"sort":{"aggregation":"count","order":"asc"}}],"index":"*","search":{"query":"source:kubernetes"}},"metadata":[{"alias_name":"Aliased
        metric","expression":"avg:system.load.1{*}"}],"style":{"line_type":"dashed","line_width":"thick","palette":"dog_classic"}}],"show_legend":true,"time":{"live_span":"15m"},"title":"Test
        Timeseries Widget with Event Query","title_align":"center","titl[...]
- request:
    method: get
    uri: https://api.datadoghq.com/api/v1/dashboard/96f-kag-9m8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3424554'
      X-Dd-Debug:
      - FELlv8T8VRoaBxHjLbAG9Fvj68G6pP0FZF7JKMI72/5H4OtG/s8AVYiF1c9f4D6g
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"notify_list":[],"description":"Test dashboard for Ruby client","author_name":null,"template_variable_presets":[{"template_variables":[{"name":"test
        preset","value":"*"}],"name":"Test Preset"}],"template_variables":[{"default":"*","prefix":"test-java","name":"test
        template var"}],"is_read_only":false,"id":"96f-kag-9m8","title":"ruby-DashboardsApi-dashboards-api-test-dashboards-lifecycle-1606232114-ordered","url":"/dashboard/96f-kag-9m8/ruby-dashboardsapi-dashboards-api-test-dashboards-lifecycle-1606232114-ordered","created_at":"2020-11-24T15:35:15.557655+00:00","modified_at":"2020-11-24T15:35:15.557655+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"tick_pos":"4","font_size":"13","type":"note","tick_edge":"bottom","text_align":"center","content":"Test
        Note Widget Example","show_tick":true,"background_color":"blue"},"id":898627202721517},{"definition":{"title_size":"16","viz_type":"timeseries","title":"Test
        Alert Graph Widget","title_align":"center","alert_id":"1234","time":{"live_span":"15m"},"type":"alert_graph"},"id":569274056929238},{"definition":{"title_size":"12","title":"[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/dashboard
    body:
      encoding: UTF-8
      string: '{"description":"Test Free layout dashboard for Ruby client","is_read_only":false,"layout_type":"free","template_variables":[{"default":"*","name":"test
        template var","prefix":"test-java"}],"title":"ruby-DashboardsApi-dashboards-api-test-dashboards-lifecycle-1606232114-free","widgets":[{"definition":{"event_size":"l","query":"Build
        successful","time":{"live_span":"1d"},"title":"Test Event Stream Widget","title_align":"center","title_size":"16","type":"event_stream"},"layout":{"height":10,"width":10,"x":0,"y":0}},{"definition":{"query":"Build
        Failed","time":{"live_span":"1mo"},"title":"Test Event Timeline Widget","title_align":"left","title_size":"16","type":"event_timeline"},"layout":{"height":10,"width":10,"x":0,"y":0}},{"definition":{"color":"blue","font_size":"16","text":"Test
        me text","text_align":"center","type":"free_text"},"layout":{"height":10,"width":10,"x":0,"y":0}},{"definition":{"type":"iframe","url":"https://datadoghq.com"},"layout":{"height":10,"width":10,"x":0,"y":0}},{"definition":{"margin":"large","sizing":"center","type":"image","url":"https://docs.datadoghq.com/images/dashboards/widgets/image/image.mp4"},"layout":{"height":10,"width":10,"x":0,"y":0}},{"definition":{"columns":["Route"],"indexes":["main"],"logset":"106","message_display":"expanded-lg","query":"Route
        XYZ failed","show_date_column":true,"show_message_column":true,"sort":{"column":"Route","order":"asc"},"time":{"live_span":"2d"},"title":"Test
        Logstream Widget","title_align":"right","title_size":"16","type":"log_stream"},"layout":{"height":10,"width":10,"x":0,"y":0}},{"definition":{"color_preference":"background","count":5,"display_format":"counts","hide_zero_counts":false,"query":"Errors
        are increasing","show_last_triggered":true,"sort":"name,asc","start":0,"summary_type":"combined","title":"Test
        Monitor Summary Widget","title_align":"center","title_size":"16","type":"manage_status"},"layout":{"height":10,"width":10,"x":0,"y":0}},{"definition":{"display_format":"two_column","env":"prod","service":"web","show_breakdown":true,"show_distribution":true,"show_errors":true,"show_hits":true,"show_latency":true,"show_resource_list":true,"size_format":"large","span_name":"endpoint","time":{"live_span":"1h"},"title":"Test
        Service Summary Widget","title_align":"center","title_size":"16","type":"trace_service"},"layout":{"height":10,"width":10,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3424554'
      X-Dd-Debug:
      - cLmbdqkoXAogp+jvJYjDem2Ccuhd9u5QaFds8gBIEk61c952eYE473HKvGYqQ[...]
- request:
    method: get
    uri: https://api.datadoghq.com/api/v1/dashboard/bw5-fyz-iux
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3424554'
      X-Dd-Debug:
      - h6yqPaHNwx3ZGZPMs75pO93HC01YoL8B6e/Fb89zqQCmU57u6KTAhksrYQV/dzkY
      Dd-Pool:
      - dogweb
    body:
      encod[...]
[...]
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/dashboard/96f-kag-9m8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3424554'
      X-Dd-Debug:
      - saoIV/FA/z8H0gcXHP3CQ32hxYowRdGCvx+QRO7UdacLP4hVHOLNCuxXnf6LPRGD
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"96f-kag-9m8"}'
  recorded_at: Tue, 24 Nov 2020 15:35:14 GMT
[...]
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/dashboard/96f-kag-9m8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3424554'
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"errors": ["Dashboard with ID 96f-kag-9m8 not found"]}'
  recorded_at: Tue, 24 Nov 2020 15:35:14 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/slo/aeb593810a39524e8f164046fe93874b?force=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3424554'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '43'
      X-Ratelimit-Remaining:
      - '11999'
      X-Dd-Debug:
      - 5x0PMB2EV7ostoQ8Atq4xA2+Yg42JuDoghGuHR/nVEOXOx15i0lNYfIS41IGAJpz
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":["aeb593810a39524e8f164046fe93874b"],"error":null}'
  recorded_at: Tue, 24 Nov 2020 15:35:14 GMT
recorded_with: VCR 6.0.0
