http_interactions:
- recorded_at: Mon, 20 Jul 2026 10:28:19 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"prompt_id":"Test-Create_an_LLM_Observability_prompt_returns_Bad_Request_response-1784543299","template":"
        "},"type":"prompt-templates"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"invalid prompt template"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
