http_interactions:
- recorded_at: Mon, 20 Jul 2026 09:20:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"prompt_id":"Test-Delete_an_LLM_Observability_prompt_returns_OK_response-1784539202","template":[{"content":"Hello","role":"user"}]},"type":"prompt-templates"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d5df9e4e-acd0-5d9f-b0d5-c09a643c33e2","type":"prompt-templates","attributes":{"author":"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9","created_at":"2026-07-20T09:20:02.660067768Z","created_from":"sdk-registry","in_registry":true,"last_version_created_at":"2026-07-20T09:20:02.660067768Z","num_versions":1,"prompt_id":"Test-Delete_an_LLM_Observability_prompt_returns_OK_response-1784539202","source":"registry"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 20 Jul 2026 09:20:02 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Delete_an_LLM_Observability_prompt_returns_OK_response-1784539202
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d5df9e4e-acd0-5d9f-b0d5-c09a643c33e2","type":"prompt-templates","attributes":{"deleted_at":"2026-07-20T09:20:03.299559Z","prompt_id":"Test-Delete_an_LLM_Observability_prompt_returns_OK_response-1784539202"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 20 Jul 2026 09:20:02 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Delete_an_LLM_Observability_prompt_returns_OK_response-1784539202
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d5df9e4e-acd0-5d9f-b0d5-c09a643c33e2","type":"prompt-templates","attributes":{"deleted_at":"2026-07-20T09:20:03.637257Z","prompt_id":"Test-Delete_an_LLM_Observability_prompt_returns_OK_response-1784539202"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
