http_interactions:
- recorded_at: Mon, 20 Jul 2026 12:24:45 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"prompt_id":"Test-Get_a_specific_LLM_Observability_prompt_version_returns_OK_response-1784550285","template":[{"content":"Hello","role":"user"}]},"type":"prompt-templates"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"599ee1f4-9680-5ff8-92c9-ca31130057f3","type":"prompt-templates","attributes":{"author":"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9","created_at":"2026-07-20T12:24:46.021742711Z","created_from":"sdk-registry","in_registry":true,"last_version_created_at":"2026-07-20T12:24:46.021742711Z","num_versions":1,"prompt_id":"Test-Get_a_specific_LLM_Observability_prompt_version_returns_OK_response-1784550285","source":"registry"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 20 Jul 2026 12:24:45 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"template":[{"content":"Hello v2","role":"user"}]},"type":"prompt-template-versions"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Get_a_specific_LLM_Observability_prompt_version_returns_OK_response-1784550285/versions
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d80790f5-cd99-5d57-b6e0-4d4bbbc21514","type":"prompt-template-versions","attributes":{"author":"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9","created_at":"2026-07-20T12:24:46.796641541Z","prompt_id":"Test-Get_a_specific_LLM_Observability_prompt_version_returns_OK_response-1784550285","prompt_uuid":"599ee1f4-9680-5ff8-92c9-ca31130057f3","template":[{"content":"Hello
        v2","role":"user"}],"version":2,"version_created_at":"2026-07-20T12:24:46.796641541Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 20 Jul 2026 12:24:45 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Get_a_specific_LLM_Observability_prompt_version_returns_OK_response-1784550285/versions/2
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d80790f5-cd99-5d57-b6e0-4d4bbbc21514","type":"prompt-template-versions","attributes":{"author":"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9","created_at":"2026-07-20T12:24:46.796641Z","prompt_id":"Test-Get_a_specific_LLM_Observability_prompt_version_returns_OK_response-1784550285","prompt_uuid":"599ee1f4-9680-5ff8-92c9-ca31130057f3","template":[{"role":"user","content":"Hello
        v2"}],"version":2,"version_created_at":"2026-07-20T12:24:46.796641Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 20 Jul 2026 12:24:45 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Get_a_specific_LLM_Observability_prompt_version_returns_OK_response-1784550285
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"599ee1f4-9680-5ff8-92c9-ca31130057f3","type":"prompt-templates","attributes":{"deleted_at":"2026-07-20T12:24:48.753279Z","prompt_id":"Test-Get_a_specific_LLM_Observability_prompt_version_returns_OK_response-1784550285"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 20 Jul 2026 12:24:45 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Get_a_specific_LLM_Observability_prompt_version_returns_OK_response-1784550285
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"599ee1f4-9680-5ff8-92c9-ca31130057f3","type":"prompt-templates","attributes":{"deleted_at":"2026-07-20T12:24:49.086069Z","prompt_id":"Test-Get_a_specific_LLM_Observability_prompt_version_returns_OK_response-1784550285"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
