http_interactions:
- recorded_at: Mon, 20 Jul 2026 10:29:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"env_ids":[],"labels":[]},"type":"prompt-template-versions"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/nonexistent-prompt/versions/1
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"prompt template version
        not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
