http_interactions:
- recorded_at: Thu, 10 Apr 2025 10:29:43 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"tags":["test:test-create_a_monitor_notification_rule_returns_bad_request_response-1744280983","host:abc"]},"name":"test
        rule","recipients":["@slack-test-channel","@jira-test"]},"type":"monitor-notification-rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Invalid recipients: Recipient handle should not start with
        ''@''"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
