http_interactions:
- recorded_at: Thu, 19 Jan 2023 19:59:39 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"policy":{"tag_key":"datacenter","tag_key_required":true,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"type":"monitor-config-policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/policy
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"monitor-config-policy","id":"cedaaafa-9833-11ed-81a5-da7ad0900002","attributes":{"policy":{"tag_key":"datacenter","tag_key_required":true,"valid_tag_values":["prod","staging"]},"policy_type":"tag"}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 19 Jan 2023 19:59:39 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/policy/cedaaafa-9833-11ed-81a5-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
