http_interactions:
- recorded_at: Thu, 29 May 2025 02:36:16 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"policy":{"tag_key":"testdeleteamonitorconfigurationpolicyreturnsokresponse1748486176","tag_key_required":false,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"type":"monitor-config-policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/policy
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"monitor-config-policy","attributes":{"policy_type":"tag","policy":{"tag_key":"testdeleteamonitorconfigurationpolicyreturnsokresponse1748486176","valid_tag_values":["prod","staging"],"tag_key_required":false}},"id":"f0b1ee92-9635-45ed-8a18-a1631a8397d2"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 29 May 2025 02:36:16 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/policy/f0b1ee92-9635-45ed-8a18-a1631a8397d2
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 29 May 2025 02:36:16 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/policy/f0b1ee92-9635-45ed-8a18-a1631a8397d2
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Monitor config policy not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
