http_interactions:
- recorded_at: Fri, 04 Apr 2025 17:10:34 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"tags":["app:test-delete_a_monitor_notification_rule_returns_ok_response-1743786634"]},"name":"test
        rule","recipients":["slack-monitor-app"]},"type":"monitor-notification-rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"monitor-notification-rule","id":"93faf8a4-881a-47e7-8d74-6ad37e702a57","attributes":{"recipients":["slack-monitor-app"],"created_at":"2025-04-04T17:10:35.016562+00:00","creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"test
        rule","filter":{"tags":["app:test-delete_a_monitor_notification_rule_returns_ok_response-1743786634"]},"modified_at":"1970-01-01T00:00:00+00:00"}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 04 Apr 2025 17:10:34 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/93faf8a4-881a-47e7-8d74-6ad37e702a57
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 04 Apr 2025 17:10:34 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/93faf8a4-881a-47e7-8d74-6ad37e702a57
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Monitor notification rule not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
