http_interactions:
- recorded_at: Thu, 29 May 2025 02:36:18 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"policy":{"tag_key":"testeditamonitorconfigurationpolicyreturnsokresponse1748486178","tag_key_required":false,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"type":"monitor-config-policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/policy
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"monitor-config-policy","attributes":{"policy":{"valid_tag_values":["prod","staging"],"tag_key":"testeditamonitorconfigurationpolicyreturnsokresponse1748486178","tag_key_required":false},"policy_type":"tag"},"id":"b967c47e-8f9b-49f5-bdff-744b4d50b26f"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 29 May 2025 02:36:18 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"policy":{"tag_key":"testeditamonitorconfigurationpolicyreturnsokresponse1748486178","tag_key_required":false,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"id":"b967c47e-8f9b-49f5-bdff-744b4d50b26f","type":"monitor-config-policy"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/monitor/policy/b967c47e-8f9b-49f5-bdff-744b4d50b26f
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"monitor-config-policy","attributes":{"policy_type":"tag","policy":{"tag_key":"testeditamonitorconfigurationpolicyreturnsokresponse1748486178","valid_tag_values":["prod","staging"],"tag_key_required":false}},"id":"b967c47e-8f9b-49f5-bdff-744b4d50b26f"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 29 May 2025 02:36:18 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/policy/b967c47e-8f9b-49f5-bdff-744b4d50b26f
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
