http_interactions:
- recorded_at: Thu, 27 Apr 2023 20:35:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"policy":{"tag_key":"datacenter","tag_key_required":false,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"id":"00000000-0000-1234-0000-000000000000","type":"monitor-config-policy"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/monitor/policy/00000000-0000-1234-0000-000000000000
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Monitor configuration policy not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
