http_interactions:
- recorded_at: Fri, 04 Apr 2025 17:10:36 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"tags":["app:test-get_a_monitor_notification_rule_returns_ok_response-1743786636"]},"name":"test
        rule","recipients":["slack-monitor-app"]},"type":"monitor-notification-rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"monitor-notification-rule","id":"7e23b1ee-5931-4560-b829-94671910632a","attributes":{"recipients":["slack-monitor-app"],"creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","created_at":"2025-04-04T17:10:37.083846+00:00","modified_at":"1970-01-01T00:00:00+00:00","name":"test
        rule","filter":{"tags":["app:test-get_a_monitor_notification_rule_returns_ok_response-1743786636"]}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 04 Apr 2025 17:10:36 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/7e23b1ee-5931-4560-b829-94671910632a
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"monitor-notification-rule","attributes":{"modified_at":"2025-04-04T17:10:37.095991+00:00","name":"test
        rule","filter":{"tags":["app:test-get_a_monitor_notification_rule_returns_ok_response-1743786636"]},"creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","created_at":"2025-04-04T17:10:37.083846+00:00","recipients":["slack-monitor-app"]},"id":"7e23b1ee-5931-4560-b829-94671910632a"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 04 Apr 2025 17:10:36 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/7e23b1ee-5931-4560-b829-94671910632a
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
