http_interactions:
- recorded_at: Fri, 04 Apr 2025 17:10:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"tags":["app:test-update_a_monitor_notification_rule_returns_ok_response-1743786638"]},"name":"test
        rule","recipients":["slack-monitor-app"]},"type":"monitor-notification-rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"monitor-notification-rule","attributes":{"filter":{"tags":["app:test-update_a_monitor_notification_rule_returns_ok_response-1743786638"]},"name":"test
        rule","creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","created_at":"2025-04-04T17:10:38.938875+00:00","recipients":["slack-monitor-app"],"modified_at":"1970-01-01T00:00:00+00:00"},"id":"cb5228e4-e37b-47aa-8c94-59df460974e7"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 04 Apr 2025 17:10:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"tags":["test:test-update_a_monitor_notification_rule_returns_ok_response-1743786638","host:abc"]},"name":"updated
        rule","recipients":["slack-test-channel"]},"id":"cb5228e4-e37b-47aa-8c94-59df460974e7","type":"monitor-notification-rule"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/cb5228e4-e37b-47aa-8c94-59df460974e7
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"monitor-notification-rule","attributes":{"recipients":["slack-test-channel"],"modified_at":"2025-04-04T17:10:39.154674+00:00","name":"updated
        rule","creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","created_at":"2025-04-04T17:10:38.938875+00:00","filter":{"tags":["test:test-update_a_monitor_notification_rule_returns_ok_response-1743786638","host:abc"]}},"id":"cb5228e4-e37b-47aa-8c94-59df460974e7"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 04 Apr 2025 17:10:38 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/cb5228e4-e37b-47aa-8c94-59df460974e7
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
