http_interactions:
- recorded_at: Sat, 24 May 2025 02:19:18 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"It''s a threshold","monitor_definition":{"message":"cats","name":"High
        Error Rate on service","query":"avg(last_5m):sum:system.net.bytes_rcvd{host:host0}
        > 100","type":"query alert"},"tags":["category:test"],"template_variables":[{"available_values":[],"defaults":["cats"],"name":"scope"}],"title":"api
        spec given template"},"type":"monitor-user-template"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/template
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"monitor-user-template","attributes":{"monitor_definition":{"message":"cats","name":"High
        Error Rate on service","query":"avg(last_5m):sum:system.net.bytes_rcvd{host:host0}
        > 100","type":"query alert"},"title":"api spec given template","template_variables":[{"available_values":[],"defaults":["cats"],"name":"scope"}],"modified":"2025-05-24T02:19:19.277448+00:00","description":"It''s
        a threshold","creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","version":0,"tags":["category:test"],"created":"2025-05-24T02:19:19.277448+00:00"},"id":"8f0d7752-17e8-4bce-873f-2ca9c10f44a5"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Sat, 24 May 2025 02:19:18 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"A description.","id":"00000000-0000-1234-0000-000000000000","type":"monitor-user-template"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/monitor/template/8f0d7752-17e8-4bce-873f-2ca9c10f44a5
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Required parameter ''id'' is missing"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- recorded_at: Sat, 24 May 2025 02:19:18 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/template/8f0d7752-17e8-4bce-873f-2ca9c10f44a5
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
