http_interactions:
- recorded_at: Thu, 29 May 2025 02:36:24 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"A description.","monitor_definition":{},"tags":["integration:Azure"],"template_variables":[{"available_values":["value1","value2"],"defaults":["defaultValue"],"name":"regionName","tag_key":"datacenter"}],"title":"Postgres
        DB test-validate_a_monitor_user_template_returns_bad_request_response-1748486184"},"type":"monitor-user-template"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/template/validate
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Invalid monitor_definition or template variables: Monitor
        definition cannot be empty."]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
