http_interactions:
- recorded_at: Sat, 24 May 2025 02:18:07 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"type":"monitor-user-template"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/template/validate
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Required parameter ''monitor_definition'' is missing"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
