http_interactions:
- recorded_at: Wed, 01 Oct 2025 12:50:35 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Investigations done in case management","emoji":"notanemoji","name":"Investigation"},"type":"case_type"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
