http_interactions:
- recorded_at: Wed, 01 Oct 2025 12:50:35 GMT
  request:
    body:
      encoding: UTF-8
      string: "{\"data\":{\"attributes\":{\"description\":\"Investigations done in\
        \ case management\",\"emoji\":\"\U0001F451\",\"name\":\"Investigation\"},\"\
        type\":\"case_type\"}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types
  response:
    body:
      encoding: UTF-8
      string: "{\"data\":{\"id\":\"e3cb41d0-cd05-4c9d-8158-fc044587487f\",\"type\"\
        :\"case_type\",\"attributes\":{\"description\":\"Investigations done in case\
        \ management\",\"emoji\":\"\U0001F451\",\"internal\":false,\"name\":\"Investigation\"\
        ,\"statuses_config\":{\"open\":{\"status_options\":[{\"name\":\"Open\"}],\"\
        default\":\"Open\"},\"in_progress\":{\"status_options\":[{\"name\":\"In Progress\"\
        }],\"default\":\"In Progress\"},\"closed\":{\"status_options\":[{\"name\"\
        :\"Closed\"}],\"default\":\"Closed\"}}}}}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
recorded_with: VCR 6.0.0
