http_interactions:
- recorded_at: Thu, 21 Aug 2025 12:42:17 GMT
  request:
    body:
      encoding: UTF-8
      string: "{\"data\":{\"attributes\":{\"description\":\"Investigations done in\
        \ case management\",\"emoji\":\"\U0001F451\",\"name\":\"Investigation\"},\"\
        type\":\"case_type\"}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types
  response:
    body:
      encoding: UTF-8
      string: "{\"data\":{\"id\":\"5ec976bf-2f12-43c4-be20-542518b5906e\",\"type\"\
        :\"case_type\",\"attributes\":{\"description\":\"Investigations done in case\
        \ management\",\"emoji\":\"\U0001F451\",\"name\":\"Investigation\"}}}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 21 Aug 2025 12:42:17 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cases/types/5ec976bf-2f12-43c4-be20-542518b5906e
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
