http_interactions:
- recorded_at: Tue, 19 Aug 2025 18:29:15 GMT
  request:
    body:
      encoding: UTF-8
      string: "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\"\
        ,\"emoji\":\"\U0001F30D\",\"name\":\"World\"},\"type\":\"case_type\"}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types
  response:
    body:
      encoding: UTF-8
      string: "{\"data\":{\"id\":\"08c89b77-5c9d-4f4f-8d0f-fe6d36351539\",\"type\"\
        :\"case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"\
        emoji\":\"\U0001F30D\",\"name\":\"World\"}}}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 19 Aug 2025 18:29:15 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cases/types/08c89b77-5c9d-4f4f-8d0f-fe6d36351539
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Tue, 19 Aug 2025 18:29:15 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cases/types/08c89b77-5c9d-4f4f-8d0f-fe6d36351539
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
