http_interactions:
- recorded_at: Wed, 12 Jun 2024 14:43:53 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/org_configs/custom_roles
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"org_configs","id":"d4a6259b-5599-5120-8bdb-22718cb09118","attributes":{"name":"custom_roles","description":"Enables
        the custom roles (RBAC) UI.","value_type":"bool","value":false,"modified_at":null}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
