http_interactions:
- recorded_at: Wed, 12 Jun 2024 14:43:54 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"value":[]},"type":"org_configs"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/org_configs/i_dont_exist
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["OrgConfig: i_dont_exist not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
