---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/services
    body:
      encoding: UTF-8
      string: '{"data":{"type":"services","attributes":{"name":"ruby-Create_a_new_incident_service_returns_CREATED_response-1606230432"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425088'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '48'
      X-Ratelimit-Remaining:
      - '11998'
      X-Dd-Debug:
      - ilZ2Tz4sOtnH2tGRqlD9p6NDcucj4gVBdvczlxiOPhY/AWnWhycAWjVucOU5/NQA
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"d7a2c130-bff2-5dc4-a80e-63a100487fe0","attributes":{"name":"ruby-Create_a_new_incident_service_returns_CREATED_response-1606230432","created":"2020-11-24T15:07:12.814006+00:00","modified":"2020-11-24T15:07:12.814006+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Tue, 24 Nov 2020 15:07:12 GMT
recorded_with: VCR 6.0.0
