---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/services?filter=ruby-Get-a-list-of-all-incident-services-returns-OK-response-1605188079
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3353211'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '20'
      X-Ratelimit-Remaining:
      - '11999'
      X-Dd-Debug:
      - TlObKNxJC6mRjORAptBjah7X7IZlZoWDhxDuIhUdNUMmnkpihyb67mpyYPwy4Xl5
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"sort":"ASC","pagination":{"size":1,"next_offset":1,"offset":0}},"data":[{"type":"services","id":"35255ff4-c60c-5b33-b1c7-236a4512f36f","attributes":{"name":"ruby-Get-a-list-of-all-incident-services-returns-OK-response-1605188079","created":"2020-11-12T13:34:40.398183+00:00","modified":"2020-11-12T13:34:40.398183+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}]}'
  recorded_at: Thu, 12 Nov 2020 13:34:39 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/services?filter=ruby-Get_a_list_of_all_incident_services_returns_OK_response-1605188079
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3424786'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '34'
      X-Ratelimit-Remaining:
      - '11999'
      X-Dd-Debug:
      - 1KMr27QHAQHDfYPOMxdkaV+JBh/1ku8yD6KIlLr2d217iUuzksir9gh+Nfb7tVhq
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"sort":"ASC","pagination":{"total":5269,"size":1,"next_offset":1,"offset":0},"total":5269},"data":[{"type":"services","id":"0b4753a1-b44e-5dcb-a371-4ec765b81921","attributes":{"name":"ruby-Get_a_list_of_all_incident_services_returns_OK_response-1605188079","created":"2020-11-24T14:43:26.054886+00:00","modified":"2020-11-24T14:43:26.054886+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}]}'
  recorded_at: Thu, 12 Nov 2020 13:34:39 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/services
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Get_a_list_of_all_incident_services_returns_OK_response-1606230431"},"type":"services"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425088'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '48'
      X-Ratelimit-Remaining:
      - '11999'
      X-Dd-Debug:
      - TlObKNxJC6mRjORAptBjah7X7IZlZoWDhxDuIhUdNUMmnkpihyb67mpyYPwy4Xl5
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"8f3fd612-08c4-54de-82bd-165a5798f1fb","attributes":{"name":"ruby-Get_a_list_of_all_incident_services_returns_OK_response-1606230431","created":"2020-11-24T15:07:12.346404+00:00","modified":"2020-11-24T15:07:12.346404+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Tue, 24 Nov 2020 15:07:11 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/services?filter=ruby-Get_a_list_of_all_incident_services_returns_OK_response-1606230431
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425088'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '48'
      X-Ratelimit-Remaining:
      - '11999'
      X-Dd-Debug:
      - IEUzjgpnyUrp74lH2dqPweGXNQU7es3CY44HHPIdy7aSNeimMebMvcKCoCgyWWVx
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"sort":"ASC","pagination":{"total":5286,"size":1,"next_offset":1,"offset":0},"total":5286},"data":[{"type":"services","id":"8f3fd612-08c4-54de-82bd-165a5798f1fb","attributes":{"name":"ruby-Get_a_list_of_all_incident_services_returns_OK_response-1606230431","created":"2020-11-24T15:07:12.346404+00:00","modified":"2020-11-24T15:07:12.346404+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}]}'
  recorded_at: Tue, 24 Nov 2020 15:07:11 GMT
recorded_with: VCR 6.0.0
