---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/services
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Get_details_of_an_incident_service_returns_OK_response-1618390729"},"type":"services"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '11'
      X-Ratelimit-Remaining:
      - '97'
    body:
      encoding: UTF-8
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"ca7d9bf0-d079-5410-b9ab-d48521dc3eff","attributes":{"name":"Test-Get_details_of_an_incident_service_returns_OK_response-1618390729","created":"2021-04-14T08:58:49.657752+00:00","modified":"2021-04-14T08:58:49.657752+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Wed, 14 Apr 2021 08:58:49 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/services/ca7d9bf0-d079-5410-b9ab-d48521dc3eff
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '11'
      X-Ratelimit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"data":{"type":"services","id":"ca7d9bf0-d079-5410-b9ab-d48521dc3eff","attributes":{"name":"Test-Get_details_of_an_incident_service_returns_OK_response-1618390729","created":"2021-04-14T08:58:49.657752+00:00","modified":"2021-04-14T08:58:49.657752+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Wed, 14 Apr 2021 08:58:49 GMT
recorded_with: VCR 6.0.0
