---
http_interactions:
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/services/b948b0b8-47a0-56b6-9209-2773def2ecc6
    body:
      encoding: UTF-8
      string: '{"data":{"type":"services","attributes":{"name":"ruby-Update-an-existing-incident-service-returns-OK-response-1603477956-updated"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3248028'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '24'
      X-Ratelimit-Remaining:
      - '11999'
      X-Dd-Debug:
      - 7ZZAowMV9z1Vr+0y/WbNkvcDUXbHQ7uNKkyZU3E6k00RqTwxh53CgITxXoDQsQqv
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"b948b0b8-47a0-56b6-9209-2773def2ecc6","attributes":{"name":"ruby-Update-an-existing-incident-service-returns-OK-response-1603477956-updated","created":"2020-10-23T18:32:36.337135+00:00","modified":"2020-10-23T18:32:36.502834+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Fri, 23 Oct 2020 18:32:36 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/services/e396f177-0f2d-593d-bf31-b52608e41fc7
    body:
      encoding: UTF-8
      string: '{"data":{"type":"services","attributes":{"name":"ruby-Update_an_existing_incident_service_returns_OK_response-1603477956-updated"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3424786'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '31'
      X-Ratelimit-Remaining:
      - '11999'
      X-Dd-Debug:
      - fOvn++WNyeGiJqGJ1RGVl2OtzlCSW+9FmhW07NDhLHuS9Ypy2JL89j65gnqIRQTf
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"e396f177-0f2d-593d-bf31-b52608e41fc7","attributes":{"name":"ruby-Update_an_existing_incident_service_returns_OK_response-1603477956-updated","created":"2020-11-24T14:43:29.666414+00:00","modified":"2020-11-24T14:43:29.912830+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Fri, 23 Oct 2020 18:32:36 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/services/43995a1a-2d76-58bd-ba36-7142ae032a51
    body:
      encoding: UTF-8
      string: '{"data":{"type":"services","attributes":{"name":"ruby-Update_an_existing_incident_service_returns_OK_response-1603477956-updated"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 502
      message: Bad Gateway
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"error","code":502,"errors":["Bad Gateway"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}

        '
  recorded_at: Fri, 23 Oct 2020 18:32:36 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/services
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Update_an_existing_incident_service_returns_OK_response-1606230433"},"type":"services"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425088'
      X-Ratelimit-Limit:
   [...]
[...]
