http_interactions:
- recorded_at: Mon, 13 Mar 2023 10:11:14 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"api_key":"TestGetFastlyaccountreturnsOKresponse1678702274","name":"Test-Get_Fastly_account_returns_OK_response-1678702274","services":[]},"type":"fastly-accounts"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integrations/fastly/accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"fastly-accounts","id":"6d8f2860f9f3e953fb46d554b9a19627","attributes":{"services":[],"name":"Test-Get_Fastly_account_returns_OK_response-1678702274"}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 13 Mar 2023 10:11:14 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/integrations/fastly/accounts/6d8f2860f9f3e953fb46d554b9a19627
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"fastly-accounts","id":"6d8f2860f9f3e953fb46d554b9a19627","attributes":{"name":"Test-Get_Fastly_account_returns_OK_response-1678702274","services":[]}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 13 Mar 2023 10:11:14 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integrations/fastly/accounts/6d8f2860f9f3e953fb46d554b9a19627
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
