http_interactions:
- recorded_at: Mon, 11 Mar 2024 19:47:20 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"client_email":"Test-8b2b196dd4bab7e2@test-project.iam.gserviceaccount.com","host_filters":[]},"type":"gcp_service_account"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"gcp_service_account","attributes":{"client_email":"Test-8b2b196dd4bab7e2@test-project.iam.gserviceaccount.com","is_security_command_center_enabled":false,"resource_collection_enabled":false,"cloud_run_revision_filters":[],"automute":false,"is_cspm_enabled":false,"account_tags":[],"host_filters":[]},"id":"e6f0237e-b9c2-4513-9940-d2473502e39e"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 11 Mar 2024 19:47:20 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/e6f0237e-b9c2-4513-9940-d2473502e39e
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
