http_interactions:
- recorded_at: Fri, 15 Dec 2023 08:45:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"client_email":"9f53cbf93a21704b@test-project.iam.gserviceaccount.com","host_filters":[],"is_cspm_enabled":true,"resource_collection_enabled":true},"type":"gcp_service_account"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":true,"account_tags":[],"host_filters":[],"resource_collection_enabled":true,"is_security_command_center_enabled":false,"client_email":"9f53cbf93a21704b@test-project.iam.gserviceaccount.com","automute":false},"id":"cf3c6e32-dad2-452e-8c09-f34c5f2211a1"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Fri, 15 Dec 2023 08:45:38 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/cf3c6e32-dad2-452e-8c09-f34c5f2211a1
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
