http_interactions:
- recorded_at: Wed, 27 Sep 2023 14:45:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"account_tags":["lorem","ipsum"],"client_email":"1f86730b653d0a57@test-project.iam.gserviceaccount.com","host_filters":[]},"type":"gcp_service_account"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"gcp_service_account","attributes":{"host_filters":[],"client_email":"1f86730b653d0a57@test-project.iam.gserviceaccount.com","is_cspm_enabled":false,"automute":false,"account_tags":["lorem","ipsum"]},"id":"1cdedba8-a0a3-4036-82b0-ad8088dd0c02"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 27 Sep 2023 14:45:59 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/1cdedba8-a0a3-4036-82b0-ad8088dd0c02
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
