http_interactions:
- recorded_at: Mon, 11 Mar 2024 19:47:24 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"client_email":"Test-e7179b69d4d565ed@test-project.iam.gserviceaccount.com","host_filters":[],"is_cspm_enabled":true,"resource_collection_enabled":true},"type":"gcp_service_account"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":true,"host_filters":[],"resource_collection_enabled":true,"cloud_run_revision_filters":[],"client_email":"Test-e7179b69d4d565ed@test-project.iam.gserviceaccount.com","automute":false,"is_security_command_center_enabled":false,"account_tags":[]},"id":"9d359745-b1c0-41ba-9624-db7abb36904b"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 11 Mar 2024 19:47:24 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/9d359745-b1c0-41ba-9624-db7abb36904b
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
