http_interactions:
- recorded_at: Mon, 11 Mar 2024 19:47:25 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"client_email":"Test-48d87b38c858a0ef@test-project.iam.gserviceaccount.com","host_filters":[],"is_security_command_center_enabled":true},"type":"gcp_service_account"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"gcp_service_account","attributes":{"host_filters":[],"is_cspm_enabled":false,"resource_collection_enabled":false,"cloud_run_revision_filters":[],"client_email":"Test-48d87b38c858a0ef@test-project.iam.gserviceaccount.com","account_tags":[],"is_security_command_center_enabled":true,"automute":false},"id":"0edb7a57-bd74-49da-ba0c-77d3cc756950"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 11 Mar 2024 19:47:25 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/0edb7a57-bd74-49da-ba0c-77d3cc756950
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
