http_interactions:
- recorded_at: Mon, 11 Mar 2024 19:47:24 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"client_email":"Test-c8176325bf516421@test-project.iam.gserviceaccount.com","host_filters":[],"resource_collection_enabled":true},"type":"gcp_service_account"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":false,"automute":false,"cloud_run_revision_filters":[],"host_filters":[],"is_security_command_center_enabled":false,"account_tags":[],"resource_collection_enabled":true,"client_email":"Test-c8176325bf516421@test-project.iam.gserviceaccount.com"},"id":"584395b0-91b7-4ac0-83b2-3259a49ea34f"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 11 Mar 2024 19:47:24 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/584395b0-91b7-4ac0-83b2-3259a49ea34f
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
