http_interactions:
- recorded_at: Fri, 16 Jun 2023 14:05:25 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"client_email":"47cdd79b4a719ac2@test-project.iam.gserviceaccount.com","host_filters":[]},"type":"gcp_service_account"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"gcp_service_account","attributes":{"host_filters":[],"client_email":"47cdd79b4a719ac2@test-project.iam.gserviceaccount.com","is_cspm_enabled":false,"automute":false},"id":"3aa3ec77-9646-4f6a-bcd0-01e5124e2ad1"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Fri, 16 Jun 2023 14:05:25 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/3aa3ec77-9646-4f6a-bcd0-01e5124e2ad1
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
