http_interactions:
- recorded_at: Wed, 13 Dec 2023 21:29:10 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"client_email":"c200eb5fe37e7d26@test-project.iam.gserviceaccount.com","host_filters":[],"resource_collection_enabled":true},"type":"gcp_service_account"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"gcp_service_account","attributes":{"automute":false,"is_security_command_center_enabled":false,"host_filters":[],"client_email":"c200eb5fe37e7d26@test-project.iam.gserviceaccount.com","resource_collection_enabled":true,"account_tags":[],"is_cspm_enabled":false},"id":"e0e0b030-aba8-4eff-bcf2-7d4266d0d7fd"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 13 Dec 2023 21:29:10 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/e0e0b030-aba8-4eff-bcf2-7d4266d0d7fd
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
