http_interactions:
- recorded_at: Tue, 23 May 2023 13:50:44 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/integration/gcp/sts_delegate
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"gcp_sts_delegate","attributes":{"delegate_account_email":"ddgci-d427c1b4a96cca3986b2@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"},"id":"ddgci-d427c1b4a96cca3986b2@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
