http_interactions:
- recorded_at: Mon, 19 Jan 2026 13:11:15 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{},"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","relationships":{"groups":{"data":[]}},"type":"sensitive_data_scanner_configuration"},"meta":{"count_limit":500,"group_count_limit":20,"has_cascading_enabled":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"is_configuration_superseded":false,"is_float_sampling_rate_enabled":false,"is_pci_compliant":false,"min_sampling_rate":10,"rule_count_limit":500,"version":278003}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 19 Jan 2026 13:11:15 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c0df76e1-ba56-4c93-a655-d97fbca1c35b","type":"sensitive_data_scanner_group","attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":278004}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 19 Jan 2026 13:11:15 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{},"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","relationships":{"groups":{"data":[{"id":"c0df76e1-ba56-4c93-a655-d97fbca1c35b","type":"sensitive_data_scanner_group"}]}},"type":"sensitive_data_scanner_configuration"},"included":[{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"id":"c0df76e1-ba56-4c93-a655-d97fbca1c35b","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"}],"meta":{"count_limit":500,"group_count_limit":20,"has_cascading_enabled":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"is_configuration_superseded":false,"is_float_sampling_rate_enabled":false,"is_pci_compliant":false,"min_sampling_rate":10,"rule_count_limit":500,"version":278004}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 19 Jan 2026 13:11:15 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"meta":{}}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/c0df76e1-ba56-4c93-a655-d97fbca1c35b
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{"version":278005}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
