http_interactions:
- recorded_at: Thu, 15 Dec 2022 14:50:56 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{"count_limit":100,"version":1314,"group_count_limit":20,"is_pci_compliant":false,"has_highlight_enabled":true},"data":{"relationships":{"groups":{"data":[]}},"attributes":{},"type":"sensitive_data_scanner_configuration","id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Dec 2022 14:50:56 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{"version":1315},"data":{"relationships":{"rules":{"data":[]},"configuration":{"data":{"type":"sensitive_data_scanner_configuration","id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87"}}},"attributes":{"is_enabled":false,"filter":{"query":"*"},"product_list":["logs"],"name":"my-test-group"},"type":"sensitive_data_scanner_group","id":"Fflhao4IQmGwBXW_dp6d0A"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Dec 2022 14:50:56 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Update_Scanning_Rule_returns_Bad_Request_response-1671115856","pattern":"pattern","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"Fflhao4IQmGwBXW_dp6d0A","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{"version":1316},"data":{"relationships":{"group":{"data":{"type":"sensitive_data_scanner_group","id":"Fflhao4IQmGwBXW_dp6d0A"}}},"attributes":{"is_enabled":true,"excluded_namespaces":[],"name":"Test-Update_Scanning_Rule_returns_Bad_Request_response-1671115856","tags":["sensitive_data:true"],"pattern":"pattern","namespaces":[],"text_replacement":{"type":"none"}},"type":"sensitive_data_scanner_rule","id":"ObQSOR59TaaxBhlSeiyVXg"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Dec 2022 14:50:56 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Update_Scanning_Rule_returns_Bad_Request_response-1671115856","pattern":"pattern","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"Fflhao4IQmGwBXW_dp6d0A","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/ObQSOR59TaaxBhlSeiyVXg
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["input_validation_error(Field ''data.id'' is invalid: field
        ''data.id'' is required)"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
[...]
- recorded_at: Thu, 15 Dec 2022 14:50:56 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"meta":{}}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/Fflhao4IQmGwBXW_dp6d0A
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{"version":1318}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
