http_interactions:
- recorded_at: Mon, 10 Jan 2022 15:50:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Create_an_API_key_returns_Created_response-1641829844"},"type":"api_keys"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/api_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2022-01-10T15:50:45.278916+00:00","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","last4":"xxxx","modified_at":"2022-01-10T15:50:45.278916+00:00","name":"Test-Create_an_API_key_returns_Created_response-1641829844"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"eadaeada-830f-4357-9a79-d8b7db0d1816"}}'
    status:
      code: 201
      message: Created
- recorded_at: Mon, 10 Jan 2022 15:50:44 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/api_keys/eadaeada-830f-4357-9a79-d8b7db0d1816
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
