http_interactions:
- recorded_at: Fri, 17 Dec 2021 16:05:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","attributes":{"name":"Test-Create_an_Application_key_for_current_user_returns_Created_response-1639757111"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '3288'
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"cc3a2cdd-7a8c-492f-a13a-3aa7c616567b","attributes":{"name":"Test-Create_an_Application_key_for_current_user_returns_Created_response-1639757111","created_at":"2021-12-17T16:05:12.186569+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Fri, 17 Dec 2021 16:05:11 GMT
  request:
    body: null
    headers:
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '398'
      X-Ratelimit-Reset:
      - '3288'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/cc3a2cdd-7a8c-492f-a13a-3aa7c616567b
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
