http_interactions:
- recorded_at: Mon, 10 Jan 2022 15:50:45 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Create_an_Application_key_for_current_user_returns_Created_response-1641829845"},"type":"application_keys"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"c53ad88a-fa82-405a-a93f-b3ca62b1f118","attributes":{"name":"Test-Create_an_Application_key_for_current_user_returns_Created_response-1641829845","created_at":"2022-01-10T15:50:46.150049+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Mon, 10 Jan 2022 15:50:45 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/c53ad88a-fa82-405a-a93f-b3ca62b1f118
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
