---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/api_keys
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"name":"ruby-Create_an_API_key_returns_Created_response-1608152569"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3555802'
      X-Dd-Debug:
      - uhKf3DOQ/asSODSNh+771Jj2mAFRCrXnSErQegeSH33qVMu18OG0v+JTvu/HjcV7
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T21:02:49.493292+00:00","key":"92aabda0011e8c9ef3008023ee88ecc0","last4":"ecc0","modified_at":"2020-12-16T21:02:49.493292+00:00","name":"ruby-Create_an_API_key_returns_Created_response-1608152569"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"dc95dcc6-d13e-5493-9b04-159b4535fb79"}}'
  recorded_at: Wed, 16 Dec 2020 21:02:49 GMT
recorded_with: VCR 6.0.0
