http_interactions:
- recorded_at: Fri, 17 Dec 2021 16:05:16 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Delete_an_Application_key_returns_No_Content_response-1639757116"},"type":"application_keys"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"e3eabfec-bbd9-4438-8329-c679d64c01f5","attributes":{"name":"Test-Delete_an_Application_key_returns_No_Content_response-1639757116","created_at":"2021-12-17T16:05:16.663471+00:00","last4":"17b2","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Fri, 17 Dec 2021 16:05:16 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/application_keys/e3eabfec-bbd9-4438-8329-c679d64c01f5
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 17 Dec 2021 16:05:16 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/e3eabfec-bbd9-4438-8329-c679d64c01f5
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["Application key not found"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
