http_interactions:
- recorded_at: Fri, 17 Dec 2021 16:05:12 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Delete_an_API_key_returns_No_Content_response-1639757112"},"type":"api_keys"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/api_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2021-12-17T16:05:13.148121+00:00","key":"dead4087c6b3d1ae4b5e22e77a98beef","last4":"beef","modified_at":"2021-12-17T16:05:13.148121+00:00","name":"Test-Delete_an_API_key_returns_No_Content_response-1639757112"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"bfcf6fe3-50b7-5110-bb8c-e8d018318214"}}'
    status:
      code: 201
      message: Created
- recorded_at: Fri, 17 Dec 2021 16:05:12 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/api_keys/bfcf6fe3-50b7-5110-bb8c-e8d018318214
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 17 Dec 2021 16:05:12 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/api_keys/bfcf6fe3-50b7-5110-bb8c-e8d018318214
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["API key not found"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
