http_interactions:
- recorded_at: Fri, 17 Dec 2021 16:05:14 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Delete_an_Application_key_owned_by_current_user_returns_No_Content_response-1639757114"},"type":"application_keys"}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '397'
      X-Ratelimit-Reset:
      - '3285'
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"2499c07f-33c7-4da2-8ae2-54ffa00acee7","attributes":{"name":"Test-Delete_an_Application_key_owned_by_current_user_returns_No_Content_response-1639757114","created_at":"2021-12-17T16:05:15.396041+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Fri, 17 Dec 2021 16:05:14 GMT
  request:
    body: null
    headers:
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '396'
      X-Ratelimit-Reset:
      - '3285'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/2499c07f-33c7-4da2-8ae2-54ffa00acee7
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 17 Dec 2021 16:05:14 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/2499c07f-33c7-4da2-8ae2-54ffa00acee7
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["Application key not found"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
