http_interactions:
- recorded_at: Mon, 10 Jan 2022 14:56:24 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Delete_an_Application_key_returns_No_Content_response-1641826584"},"type":"application_keys"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"60ca89f4-e0b4-4a27-98f8-0a2d85601601","attributes":{"name":"Test-Delete_an_Application_key_returns_No_Content_response-1641826584","created_at":"2022-01-10T14:56:25.886799+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Mon, 10 Jan 2022 14:56:24 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/application_keys/60ca89f4-e0b4-4a27-98f8-0a2d85601601
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
- recorded_at: Mon, 10 Jan 2022 14:56:24 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/60ca89f4-e0b4-4a27-98f8-0a2d85601601
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["Application key not found"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
