---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/api_keys
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Delete_an_API_key_returns_No_Content_response-1608158807"},"type":"api_keys"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3556526'
      X-Dd-Debug:
      - LSvqfCNKuJQN5oAMgicB0LCJSMqBhaMaYHfLaKzBumKF+HG8Kk13DRv43BL/WWBk
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T22:46:47.225581+00:00","key":"redacted","last4":"ffff","modified_at":"2020-12-16T22:46:47.225581+00:00","name":"ruby-Delete_an_API_key_returns_No_Content_response-1608158807"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"357c9abf-f7a5-5cda-9eef-3a2b1f82b654"}}'
  recorded_at: Wed, 16 Dec 2020 22:46:47 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/api_keys/357c9abf-f7a5-5cda-9eef-3a2b1f82b654
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3556719'
      X-Dd-Debug:
      - Et2YiqVRxti9EZo6Gk/yyRrgDmYxZuoE62JE6GLJjDYX0PgDmkmo9d4ASFrtRIDj
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 16 Dec 2020 22:46:47 GMT
recorded_with: VCR 6.0.0
