---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/api_keys
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Delete_an_API_key_returns_No_Content_response-1608152569"},"type":"api_keys"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3555802'
      X-Dd-Debug:
      - "/waQ67o9EXsAiQILmFHWOTHDJ6E+x7ROC0G8iNmC+2lV58E3PSGYbXj1H62A/c+u"
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T21:02:49.719443+00:00","key":"fefe1c4f769cd5cfebb8167e1dcd8a3d","last4":"8a3d","modified_at":"2020-12-16T21:02:49.719443+00:00","name":"ruby-Delete_an_API_key_returns_No_Content_response-1608152569"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"79bfc6d7-ff69-58bf-9ede-f0155a919a39"}}'
  recorded_at: Wed, 16 Dec 2020 21:02:49 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/api_keys/79bfc6d7-ff69-58bf-9ede-f0155a919a39
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3555978'
      X-Dd-Debug:
      - 7QEcyEeiQNfV/0gu5JIpTHXljtLMqyFtDSs67sHgArYEiV5BVrC9iQFEWV1cGojK
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 16 Dec 2020 21:02:49 GMT
recorded_with: VCR 6.0.0
