---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/api_keys
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Edit_an_API_key_returns_OK_response-1608152570"},"type":"api_keys"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3555802'
      X-Dd-Debug:
      - LkSOFVoHBcsyBoPbYbYfcEWZoNcVif5SL5dX3LvvR/J4mRuKXGmrGqdm859yDQ2v
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T21:02:50.343252+00:00","key":"21626fecfd2e302a2ff0820360d50f2c","last4":"0f2c","modified_at":"2020-12-16T21:02:50.343252+00:00","name":"ruby-Edit_an_API_key_returns_OK_response-1608152570"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"8fd1dd64-9fe6-5228-9f18-dccdca352ac6"}}'
  recorded_at: Wed, 16 Dec 2020 21:02:50 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/api_keys/8fd1dd64-9fe6-5228-9f18-dccdca352ac6
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","id":"8fd1dd64-9fe6-5228-9f18-dccdca352ac6","attributes":{"name":"ruby-Edit_an_API_key_returns_OK_response-1608152570"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3555978'
      X-Dd-Debug:
      - 5x0PMB2EV7ostoQ8Atq4xA2+Yg42JuDoghGuHR/nVEOXOx15i0lNYfIS41IGAJpz
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T21:02:50.343252+00:00","key":"21626fecfd2e302a2ff0820360d50f2c","last4":"0f2c","modified_at":"2020-12-16T21:02:50.343252+00:00","name":"ruby-Edit_an_API_key_returns_OK_response-1608152570"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"8fd1dd64-9fe6-5228-9f18-dccdca352ac6"}}'
  recorded_at: Wed, 16 Dec 2020 21:02:50 GMT
recorded_with: VCR 6.0.0
