---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/api_keys
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Edit_an_API_key_returns_OK_response-1608158807"},"type":"api_keys"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3556719'
      X-Dd-Debug:
      - motUb+3MrSbL60qP2VQvKfticEMFw/ITb9aZ1t0IvCT8MphWULXKj1d6mnYOkJDn
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T22:46:47.901687+00:00","key":"redacted","last4":"ffff","modified_at":"2020-12-16T22:46:47.901687+00:00","name":"ruby-Edit_an_API_key_returns_OK_response-1608158807"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"8d6352f5-8f7f-51e7-a022-6a0e39622b27"}}'
  recorded_at: Wed, 16 Dec 2020 22:46:47 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/api_keys/8d6352f5-8f7f-51e7-a022-6a0e39622b27
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","id":"8d6352f5-8f7f-51e7-a022-6a0e39622b27","attributes":{"name":"ruby-Edit_an_API_key_returns_OK_response-1608158807"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3556719'
      X-Dd-Debug:
      - 0EJutvpOrBJC63ni/O57leUa99Oey4n8MQPI1nQqGf8zcU0cRqWsvs49QUsgOTGg
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T22:46:47.901687+00:00","key":"redacted","last4":"ffff","modified_at":"2020-12-16T22:46:47.901687+00:00","name":"ruby-Edit_an_API_key_returns_OK_response-1608158807"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"8d6352f5-8f7f-51e7-a022-6a0e39622b27"}}'
  recorded_at: Wed, 16 Dec 2020 22:46:47 GMT
recorded_with: VCR 6.0.0
