http_interactions:
- recorded_at: Fri, 17 Dec 2021 16:05:18 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1639757118"},"type":"application_keys"}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '391'
      X-Ratelimit-Reset:
      - '3281'
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"b1976d62-4147-4540-a98a-42c555dd500c","attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1639757118","created_at":"2021-12-17T16:05:19.263508+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Fri, 17 Dec 2021 16:05:18 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"b1976d62-4147-4540-a98a-42c555dd500c","type":"application_keys","attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1639757118-updated"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '390'
      X-Ratelimit-Reset:
      - '3281'
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/b1976d62-4147-4540-a98a-42c555dd500c
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"b1976d62-4147-4540-a98a-42c555dd500c","attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1639757118-updated","created_at":"2021-12-17T16:05:19.263508+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 17 Dec 2021 16:05:18 GMT
  request:
    body: null
    headers:
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '389'
      X-Ratelimit-Reset:
      - '3280'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/b1976d62-4147-4540-a98a-42c555dd500c
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
