http_interactions:
- recorded_at: Thu, 12 May 2022 09:52:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1652349131"},"type":"application_keys"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"27b9bda2-c2e1-46ae-9dea-bfad4fcd5000","attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1652349131","created_at":"2022-05-12T09:52:12.071707+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Thu, 12 May 2022 09:52:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1652349131-updated"},"id":"27b9bda2-c2e1-46ae-9dea-bfad4fcd5000","type":"application_keys"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/application_keys/27b9bda2-c2e1-46ae-9dea-bfad4fcd5000
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"27b9bda2-c2e1-46ae-9dea-bfad4fcd5000","attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1652349131-updated","created_at":"2022-05-12T09:52:12.071707+00:00","last4":"xxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 12 May 2022 09:52:11 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/27b9bda2-c2e1-46ae-9dea-bfad4fcd5000
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
