---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/api_keys
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Get_API_key_returns_OK_response-1608158807"},"type":"api_keys"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3556719'
      X-Dd-Debug:
      - ZTMib3S/rZeXw/RhaeaehRILC7QJAaERfyf3m4/am8FN44e9rxbkPcmk4YzKBISj
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T22:46:47.540060+00:00","key":"redacted","last4":"ffff","modified_at":"2020-12-16T22:46:47.540060+00:00","name":"ruby-Get_API_key_returns_OK_response-1608158807"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"44629933-2354-5158-bacd-3e198738269c"}}'
  recorded_at: Wed, 16 Dec 2020 22:46:47 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/api_keys/44629933-2354-5158-bacd-3e198738269c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3556526'
      X-Dd-Debug:
      - GzqFsJiHmsMG2ZkgPZxP4KU7BbP1543ieTDBlTOcSv7mMVZ5sYoywme9ykeCrzfU
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T22:46:47.540060+00:00","key":"redacted","last4":"ffff","modified_at":"2020-12-16T22:46:47.540060+00:00","name":"ruby-Get_API_key_returns_OK_response-1608158807"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"44629933-2354-5158-bacd-3e198738269c"}}'
  recorded_at: Wed, 16 Dec 2020 22:46:47 GMT
recorded_with: VCR 6.0.0
