http_interactions:
- recorded_at: Mon, 10 Jan 2022 15:50:51 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Get_API_key_returns_OK_response-1641829851"},"type":"api_keys"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/api_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2022-01-10T15:50:51.533345+00:00","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","last4":"xxxx","modified_at":"2022-01-10T15:50:51.533345+00:00","name":"Test-Get_API_key_returns_OK_response-1641829851"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"686482bd-15ff-4772-b044-11bf283de878"}}'
    status:
      code: 201
      message: Created
- recorded_at: Mon, 10 Jan 2022 15:50:51 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/api_keys/686482bd-15ff-4772-b044-11bf283de878
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2022-01-10T15:50:51.533345+00:00","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","last4":"xxxx","modified_at":"2022-01-10T15:50:51.533345+00:00","name":"Test-Get_API_key_returns_OK_response-1641829851"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"686482bd-15ff-4772-b044-11bf283de878"}}'
    status:
      code: 200
      message: OK
- recorded_at: Mon, 10 Jan 2022 15:50:51 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/api_keys/686482bd-15ff-4772-b044-11bf283de878
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
