http_interactions:
- recorded_at: Fri, 17 Dec 2021 16:05:25 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1639757125"},"type":"application_keys"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"9a0b1595-cd54-43d6-bcf6-3236010954ee","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1639757125","created_at":"2021-12-17T16:05:26.376982+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Fri, 17 Dec 2021 16:05:25 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/application_keys/9a0b1595-cd54-43d6-bcf6-3236010954ee
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"9a0b1595-cd54-43d6-bcf6-3236010954ee","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1639757125","created_at":"2021-12-17T16:05:26.376982+00:00","last4":"beef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 17 Dec 2021 16:05:25 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/9a0b1595-cd54-43d6-bcf6-3236010954ee
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
