http_interactions:
- recorded_at: Fri, 17 Dec 2021 16:05:21 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Get_API_key_returns_OK_response-1639757121"},"type":"api_keys"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/api_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2021-12-17T16:05:21.803896+00:00","key":"dead4087c6b3d1ae4b5e22e77a98beef","last4":"beef","modified_at":"2021-12-17T16:05:21.803896+00:00","name":"Test-Get_API_key_returns_OK_response-1639757121"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"1ad16a21-500e-5793-87e5-03d1546500fb"}}'
    status:
      code: 201
      message: Created
- recorded_at: Fri, 17 Dec 2021 16:05:21 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/api_keys/1ad16a21-500e-5793-87e5-03d1546500fb
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2021-12-17T16:05:21.803896+00:00","key":"7fd5893c73f9bd6a5d8504b9f4049d5e","last4":"beef","modified_at":"2021-12-17T16:05:21.803896+00:00","name":"Test-Get_API_key_returns_OK_response-1639757121"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"1ad16a21-500e-5793-87e5-03d1546500fb"}}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 17 Dec 2021 16:05:21 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/api_keys/1ad16a21-500e-5793-87e5-03d1546500fb
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
