http_interactions:
- recorded_at: Thu, 12 May 2022 09:52:19 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1652349139"},"type":"application_keys"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"17d9fa70-2830-450c-904b-0720d93722a9","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1652349139","created_at":"2022-05-12T09:52:20.054892+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 12 May 2022 09:52:19 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/application_keys/17d9fa70-2830-450c-904b-0720d93722a9
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"17d9fa70-2830-450c-904b-0720d93722a9","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1652349139","created_at":"2022-05-12T09:52:20.054892+00:00","last4":"xxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 12 May 2022 09:52:19 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/17d9fa70-2830-450c-904b-0720d93722a9
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
