http_interactions:
- recorded_at: Mon, 10 Jan 2022 15:51:29 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from
        staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1641829889","query":"service:TestUpdateasecurityfilterreturnsOKresponse1641829889"},"type":"security_filters"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1641829889","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:TestUpdateasecurityfilterreturnsOKresponse1641829889","is_builtin":false},"type":"security_filters","id":"c8d-shz-sm1"}}'
    status:
      code: 200
      message: OK
- recorded_at: Mon, 10 Jan 2022 15:51:29 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"exclusion_filters":[],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1641829889","query":"service:TestUpdateasecurityfilterreturnsOKresponse1641829889","version":1},"type":"security_filters"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/c8d-shz-sm1
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1641829889","filtered_data_type":"logs","exclusion_filters":[],"version":2,"query":"service:TestUpdateasecurityfilterreturnsOKresponse1641829889","is_builtin":false},"type":"security_filters","id":"c8d-shz-sm1"}}'
    status:
      code: 200
      message: OK
- recorded_at: Mon, 10 Jan 2022 15:51:29 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/c8d-shz-sm1
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
