http_interactions:
- recorded_at: Tue, 19 Oct 2021 14:57:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"name":"updated","options":{"evaluation_delay":null,"new_group_delay":600,"new_host_delay":null,"renotify_interval":null,"thresholds":{"critical":2,"warning":null},"timeout_h":null}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '6'
    method: PUT
    uri: https://api.datadoghq.com/api/v1/monitor/0
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["Monitor not found"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
