http_interactions:
- recorded_at: Fri, 01 Oct 2021 08:28:36 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"message":"some message Notify: @hipchat-channel","name":"Test-Get_a_monitor_s_details_returns_OK_response-1633076916","options":{"enable_logs_sample":true,"escalation_message":"the
        situation has escalated","evaluation_delay":700,"groupby_simple_monitor":true,"include_tags":true,"locked":false,"new_host_delay":600,"no_data_timeframe":null,"notify_audit":false,"notify_no_data":false,"renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"warning":1},"timeout_h":24},"priority":3,"query":"logs(\"service:foo
        AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
        > 2","tags":["test:testgetamonitorsdetailsreturnsokresponse1633076916","env:ci"],"type":"log
        alert"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor
  response:
    body:
      encoding: UTF-8
      string: '{"restricted_roles":null,"tags":["test:testgetamonitorsdetailsreturnsokresponse1633076916","env:ci"],"deleted":null,"query":"logs(\"service:foo
        AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
        > 2","message":"some message Notify: @hipchat-channel","id":55498413,"multi":true,"name":"Test-Get_a_monitor_s_details_returns_OK_response-1633076916","created":"2021-11-23T19:51:33.863444+00:00","created_at":1637697093000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2021-11-23T19:51:33.863444+00:00","priority":3,"overall_state_modified":null,"overall_state":"No
        Data","type":"log alert","options":{"notify_audit":false,"locked":false,"timeout_h":24,"renotify_interval":60,"include_tags":true,"no_data_timeframe":null,"silenced":{},"new_host_delay":600,"require_full_window":true,"notify_no_data":false,"enable_logs_sample":true,"groupby_simple_monitor":true,"escalation_message":"the
        situation has escalated","evaluation_delay":700,"thresholds":{"critical":2.0,"warning":1.0}}}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 01 Oct 2021 08:28:36 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/monitor/55498413
  response:
    body:
      encoding: UTF-8
      string: '{"restricted_roles":null,"tags":["test:testgetamonitorsdetailsreturnsokresponse1633076916","env:ci"],"deleted":null,"query":"logs(\"service:foo
        AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
        > 2","message":"some message Notify: @hipchat-channel","id":55498413,"multi":true,"name":"Test-Get_a_monitor_s_details_returns_OK_response-1633076916","created":"2021-11-23T19:51:33.863444+00:00","created_at":1637697093000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2021-11-23T19:51:33.863444+00:00","priority":3,"overall_state_modified":null,"overall_state":"No
        Data","type":"log alert","options":{"notify_audit":false,"locked":false,"timeout_h":24,"renotify_interval":60,"include_tags":true,"no_data_timeframe":null,"silenced":{},"new_host_delay":600,"require_full_window":true,"notify_no_data":false,"enable_logs_sample":true,"groupby_simple_monitor":true,"escalation_message":"the
        situation has escalated","evaluation_delay":700,"thresholds":{"critical":2.0,"warning":1.0}}}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 01 Oct 2021 08:28:36 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/monitor/55498413
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_monitor_id":55498413}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
