http_interactions:
- recorded_at: Mon, 13 Jun 2022 14:58:47 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Get_a_single_service_object_returns_OK_response-1655132327","opsgenie_api_key":"00000000-0000-0000-0000-000000000000","region":"us"},"type":"opsgenie-service"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/opsgenie/services
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"region":"us","name":"Test-Get_a_single_service_object_returns_OK_response-1655132327","custom_url":null},"type":"opsgenie-service","id":"3ca2db9d-e088-47d1-9bfe-b88463c23f2d"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 13 Jun 2022 14:58:47 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/integration/opsgenie/services/3ca2db9d-e088-47d1-9bfe-b88463c23f2d
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"region":"us","name":"Test-Get_a_single_service_object_returns_OK_response-1655132327","custom_url":null},"type":"opsgenie-service","id":"3ca2db9d-e088-47d1-9bfe-b88463c23f2d"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 13 Jun 2022 14:58:47 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/opsgenie/services/3ca2db9d-e088-47d1-9bfe-b88463c23f2d
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
