http_interactions:
- recorded_at: Wed, 12 Nov 2025 14:52:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"active":true,"address":"john.doe@datadoghq.com","alias":"","formats":["html"]},"type":"emails"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/users/00000000-0000-0000-0000-000000000000/notification-channels/emails
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"user[00000000-0000-0000-0000-000000000000]
        not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
