http_interactions:
- recorded_at: Thu, 24 Apr 2025 02:49:27 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Create_on_call_schedule_returns_Created_response-1745462967@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"bd4b5c17-20b6-11f0-9b89-56a869ed3f0e","attributes":{"name":null,"handle":"test-create_on_call_schedule_returns_created_response-1745462967@datadoghq.com","created_at":"2025-04-24T02:49:28.045501+00:00","modified_at":"2025-04-24T02:49:28.045501+00:00","email":"test-create_on_call_schedule_returns_created_response-1745462967@datadoghq.com","icon":"https://secure.gravatar.com/avatar/774508323ca0432fa93ee1fdf7111c87?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 24 Apr 2025 02:49:27 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"test-handle-3bb36357ae7d207e","name":"test-name-3bb36357ae7d207e"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"04f134fc-d975-4111-825d-5447611962c3","attributes":{"name":"test-name-3bb36357ae7d207e","handle":"test-handle-3bb36357ae7d207e","summary":null,"description":null,"avatar":null,"banner":0,"visible_modules":[],"hidden_modules":[],"created_at":"2025-04-24T02:49:28.946742+00:00","modified_at":"2025-04-24T02:49:28.946751+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/04f134fc-d975-4111-825d-5447611962c3/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/04f134fc-d975-4111-825d-5447611962c3/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 24 Apr 2025 02:49:27 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"layers":[{"effective_date":"2025-04-14T02:49:27.251Z","end_date":"2025-05-04T02:49:27.251Z","interval":{"days":1},"members":[{"user":{"id":"bd4b5c17-20b6-11f0-9b89-56a869ed3f0e"}}],"name":"Layer
        1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-19T02:49:27.251Z"}],"name":"Test-Create_on_call_schedule_returns_Created_response-1745462967","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"04f134fc-d975-4111-825d-5447611962c3","type":"teams"}]}},"type":"schedules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"123b1c19-c34b-45b6-9c33-41f9e4dda1dd","type":"schedules","attributes":{"name":"Test-Create_on_call_schedule_returns_Created_response-1745462967","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"ed1f2d1b-726e-4a53-b54e-1c6bf2b5901e","type":"layers"}]},"teams":{"data":[{"id":"04f134fc-d975-4111-825d-5447611962c3","type":"teams"}]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 24 Apr 2025 02:49:27 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/123b1c19-c34b-45b6-9c33-41f9e4dda1dd
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 24 Apr 2025 02:49:27 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/04f134fc-d975-4111-825d-5447611962c3
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 24 Apr 2025 02:49:27 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/bd4b5c17-20b6-11f0-9b89-56a869ed3f0e
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
