http_interactions:
- recorded_at: Wed, 16 Apr 2025 06:00:47 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"layers":[{"effective_date":"2025-04-06T06:00:47.659Z","end_date":"2025-04-26T06:00:47.659Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer
        1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-11T06:00:47.659Z"}],"name":"Test-Delete_on_call_schedule_returns_No_Content_response-1744783247","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"53e24137-eb55-4931-8dff-dc52116265e8","type":"schedules","attributes":{"name":"Test-Delete_on_call_schedule_returns_No_Content_response-1744783247","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"f93cec35-cdab-496e-ab50-940698e3f8aa","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 16 Apr 2025 06:00:47 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/53e24137-eb55-4931-8dff-dc52116265e8
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Wed, 16 Apr 2025 06:00:47 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/53e24137-eb55-4931-8dff-dc52116265e8
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"schedule[53e24137-eb55-4931-8dff-dc52116265e8]
        not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
