http_interactions:
- recorded_at: Fri, 12 Dec 2025 14:04:17 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Get_an_On_Call_notification_channel_for_a_user_returns_OK_response-1765548257@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"0131b53c-5aec-4c8a-a14f-9ef487448833","attributes":{"name":null,"handle":"test-get_an_on_call_notification_channel_for_a_user_returns_ok_response-1765548257@datadoghq.com","created_at":"2025-12-12T14:04:17.531988+00:00","modified_at":"2025-12-12T14:04:17.531988+00:00","email":"test-get_an_on_call_notification_channel_for_a_user_returns_ok_response-1765548257@datadoghq.com","icon":"https://secure.gravatar.com/avatar/cedb283c90667a7da02c585159b4eda3?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Fri, 12 Dec 2025 14:04:17 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"config":{"address":"test-get_an_on_call_notification_channel_for_a_user_returns_ok_response-1765548257@datadoghq.com","formats":["html"],"type":"email"}},"type":"notification_channels"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/users/0131b53c-5aec-4c8a-a14f-9ef487448833/notification-channels
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d5fc3f5a-a4b9-4972-80bb-cb4db7ec958b","type":"notification_channels","attributes":{"active":true,"config":{"type":"email","address":"test-get_an_on_call_notification_channel_for_a_user_returns_ok_response-1765548257@datadoghq.com","formats":["html"]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Fri, 12 Dec 2025 14:04:17 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/on-call/users/0131b53c-5aec-4c8a-a14f-9ef487448833/notification-channels/d5fc3f5a-a4b9-4972-80bb-cb4db7ec958b
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d5fc3f5a-a4b9-4972-80bb-cb4db7ec958b","type":"notification_channels","attributes":{"active":true,"config":{"type":"email","address":"test-get_an_on_call_notification_channel_for_a_user_returns_ok_response-1765548257@datadoghq.com","formats":["html"]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 12 Dec 2025 14:04:17 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/0131b53c-5aec-4c8a-a14f-9ef487448833
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
