http_interactions:
- recorded_at: Wed, 06 May 2026 15:31:58 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Set_On_Call_team_routing_rules_returns_OK_response-1778081518@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"52d0f913-2b8a-44d3-8253-6fbf9ec845fe","attributes":{"uuid":"52d0f913-2b8a-44d3-8253-6fbf9ec845fe","name":null,"handle":"test-set_on_call_team_routing_rules_returns_ok_response-1778081518@datadoghq.com","created_at":"2026-05-06T15:31:59.408866+00:00","modified_at":"2026-05-06T15:31:59.408866+00:00","email":"test-set_on_call_team_routing_rules_returns_ok_response-1778081518@datadoghq.com","icon":"https://secure.gravatar.com/avatar/d374d6cbc4be70463896b98ad3bc84c6?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 06 May 2026 15:31:58 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"test-handle-d613e2786a659300","name":"test-name-d613e2786a659300"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d3ec8cc7-867e-4aa2-9f95-15168646b62c","type":"team","attributes":{"avatar":null,"banner":12,"created_at":"2026-05-06T15:31:59.684009+00:00","description":null,"handle":"test-handle-d613e2786a659300","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-05-06T15:31:59.684009+00:00","name":"test-name-d613e2786a659300","summary":null,"user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/d3ec8cc7-867e-4aa2-9f95-15168646b62c/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/d3ec8cc7-867e-4aa2-9f95-15168646b62c/permission-settings"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 06 May 2026 15:31:58 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"layers":[{"effective_date":"2026-04-26T15:31:58.276Z","end_date":"2026-05-16T15:31:58.276Z","interval":{"days":1},"members":[{"user":{"id":"52d0f913-2b8a-44d3-8253-6fbf9ec845fe"}}],"name":"Layer
        1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2026-05-01T15:31:58.276Z"}],"name":"Test-Set_On_Call_team_routing_rules_returns_OK_response-1778081518","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"bfa8b5c2-e2a5-4a11-849b-7695e83a8df1","type":"schedules","attributes":{"name":"Test-Set_On_Call_team_routing_rules_returns_OK_response-1778081518","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"1f213e2b-f61c-4a30-82a5-80e86340267b","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 06 May 2026 15:31:58 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Set_On_Call_team_routing_rules_returns_OK_response-1778081518","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"d3ec8cc7-867e-4aa2-9f95-15168646b62c","type":"teams"},{"id":"bfa8b5c2-e2a5-4a11-849b-7695e83a8df1","type":"schedules"},{"config":{"schedule":{"position":"previous"}},"id":"bfa8b5c2-e2a5-4a11-849b-7695e83a8df1","type":"schedules"},{"id":"52d0f913-2b8a-44d3-8253-6fbf9ec845fe","type":"users"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"d3ec8cc7-867e-4aa2-9f95-15168646b62c","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"d3ec8cc7-867e-4aa2-9f95-15168646b62c","type":"teams"}]}},"type":"policies"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"27d7c473-a0bc-4105-aae9-1bff9ee0dc33","type":"policies","attributes":{"name":"Test-Set_On_Call_team_routing_rules_returns_OK_response-1778081518","resolve_page_on_policy_end":true,"retries":2,"tags":[]},"relationships":{"steps":{"data":[{"id":"d29de965-db99-4c32-b414-6f10692bd1e2","type":"steps"},{"id":"5573acd4-ef15-4aac-baee-6148956039ff","type":"steps"}]},"teams":{"data":[{"id":"d3ec8cc7-867e-4aa2-9f95-15168646b62c","type":"teams"}]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 06 May 2026 15:31:58 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"rules":[{"policy_id":"27d7c473-a0bc-4105-aae9-1bff9ee0dc33","query":"","urgency":"low"}]},"id":"d3ec8cc7-867e-4aa2-9f95-15168646b62c","type":"team_routing_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/on-call/teams/d3ec8cc7-867e-4aa2-9f95-15168646b62c/routing-rules?include=rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d3ec8cc7-867e-4aa2-9f95-15168646b62c","type":"team_routing_rules","relationships":{"rules":{"data":[{"id":"86a7763a-a32e-4446-90e3-241ff4fbfa04","type":"team_routing_rules"}]}}},"included":[{"id":"86a7763a-a32e-4446-90e3-241ff4fbfa04","type":"team_routing_rules","attributes":{"actions":[],"query":"","urgency":"low"},"relationships":{"policy":{"data":{"id":"27d7c473-a0bc-4105-aae9-1bff9ee0dc33","type":"policies"}}}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 06 May 2026 15:31:58 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"rules":[]},"id":"d3ec8cc7-867e-4aa2-9f95-15168646b62c","type":"team_routing_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/on-call/teams/d3ec8cc7-867e-4aa2-9f95-15168646b62c/routing-rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d3ec8cc7-867e-4aa2-9f95-15168646b62c","type":"team_routing_rules","relationships":{"rules":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 06 May 2026 15:31:58 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/escalation-policies/27d7c473-a0bc-4105-aae9-1bff9ee0dc33
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Wed, 06 May 2026 15:31:58 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/bfa8b5c2-e2a5-4a11-849b-7695e83a8df1
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Wed, 06 May 2026 15:31:58 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/d3ec8cc7-867e-4aa2-9f95-15168646b62c
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Wed, 06 May 2026 15:31:58 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/52d0f913-2b8a-44d3-8253-6fbf9ec845fe
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
