http_interactions:
- recorded_at: Mon, 16 Oct 2023 14:58:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"on_demand_concurrency_cap":20}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/synthetics/settings/on_demand_concurrency_cap
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"on_demand_concurrency_cap","attributes":{"on_demand_concurrency_cap":20}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
