http_interactions:
- recorded_at: Wed, 29 Apr 2026 17:04:32 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"cross_product_sampling":{"trace_sample_rate":25}},"id":"Test-Update_a_permanent_retention_filter_returns_Bad_Request_response_for_unknown_rf_id-1777482272","type":"permanent_retention_filters"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/rum/applications/a33671aa-24fd-4dcd-ba4b-5bbdbafe7690/permanent_retention_filters/Test-Update_a_permanent_retention_filter_returns_Bad_Request_response_for_unknown_rf_id-1777482272
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"Not Found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
