http_interactions:
- recorded_at: Fri, 05 Apr 2024 18:30:30 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"account_id":"171234183000","account_specific_namespace_rules":{"auto_scaling":false},"cspm_resource_collection_enabled":true,"excluded_regions":["us-east-1","us-west-2"],"extended_resource_collection_enabled":true,"filter_tags":["$KEY:$VALUE"],"host_tags":["$KEY:$VALUE"],"metrics_collection_enabled":false,"role_name":"DatadogAWSIntegrationRole"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/integration/aws
  response:
    body:
      encoding: UTF-8
      string: '{"external_id":"acb8f6b8a844443dbb726d07dcb1a870"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 05 Apr 2024 18:30:30 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"account_id":"171234183000","role_name":"DatadogAWSIntegrationRole"}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/integration/aws
  response:
    body:
      encoding: UTF-8
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
