http_interactions:
- recorded_at: Mon, 25 Aug 2025 18:13:19 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"connection_types":["logs"]},"relationships":{"sink_org":{"data":{"id":"nonexistent-org-id","type":"orgs"}}},"type":"org_connection"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/org_connections
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Not found"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
