http_interactions:
- recorded_at: Mon, 03 Jul 2023 14:38:40 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"api_key":"TestAddresourcetoConfluentaccountreturnsOKresponse1688395120","api_secret":"test-api-secret","resources":[{"id":"test-resource-id","resource_type":"kafka","tags":["tag1","tag2:val2"]}],"tags":["tag1","tag2:val2"]},"type":"confluent-cloud-accounts"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"confluent-cloud-accounts","attributes":{"tags":["tag1","tag2:val2"],"resources":[{"id":"test-resource-id","enable_custom_metrics":false,"resource_type":"kafka","tags":["tag1","tag2:val2"]}],"api_key":"TestAddresourcetoConfluentaccountreturnsOKresponse1688395120"},"id":"ca66091df9181d4c62d17f0484461a0d"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 03 Jul 2023 14:38:40 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enable_custom_metrics":false,"resource_type":"kafka","tags":["myTag","myTag2:myValue"]},"id":"testaddresourcetoconfluentaccountreturnsokresponse1688395120","type":"confluent-cloud-resources"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/ca66091df9181d4c62d17f0484461a0d/resources
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"confluent-cloud-resources","attributes":{"enable_custom_metrics":false,"tags":["mytag","mytag2:myvalue"],"resource_type":"kafka"},"id":"testaddresourcetoconfluentaccountreturnsokresponse1688395120"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 03 Jul 2023 14:38:40 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/ca66091df9181d4c62d17f0484461a0d
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
