http_interactions:
- recorded_at: Thu, 06 Oct 2022 21:02:46 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"api_key":"TestUpdateConfluentaccountreturnsOKresponse1665090166","api_secret":"test-api-secret","resources":[{"id":"test-resource-id","resource_type":"kafka","tags":["tag1","tag2:val2"]}],"tags":["tag1","tag2:val2"]},"type":"confluent-cloud-accounts"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"api_key":"TestUpdateConfluentaccountreturnsOKresponse1665090166","resources":[{"id":"test-resource-id","resource_type":"kafka","tags":["tag1","tag2:val2"]}],"tags":["tag1","tag2:val2"]},"type":"confluent-cloud-accounts","id":"ytthkwvtde"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 06 Oct 2022 21:02:46 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"api_key":"TestUpdateConfluentaccountreturnsOKresponse1665090166","api_secret":"update-secret","tags":["updated_tag:val"]},"type":"confluent-cloud-accounts"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/ytthkwvtde
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"api_key":"TestUpdateConfluentaccountreturnsOKresponse1665090166","resources":[{"id":"test-resource-id","resource_type":"kafka","tags":["tag1","tag2:val2"]}],"tags":["updated_tag:val"]},"type":"confluent-cloud-accounts","id":"ytthkwvtde"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 06 Oct 2022 21:02:46 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/ytthkwvtde
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
