http_interactions:
- recorded_at: Thu, 12 May 2022 09:53:20 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1652349200@datadoghq.com","service_account":true,"title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"fbebe517-c0ed-45a9-b3c9-4377cbe04efd","attributes":{"name":null,"handle":"fbebe517-c0ed-45a9-b3c9-4377cbe04efd","created_at":"2022-05-12T09:53:21.271368+00:00","modified_at":"2022-05-12T09:53:21.302672+00:00","email":"test-create_an_application_key_with_scopes_for_this_service_account_returns_created_response-1652349200@datadoghq.com","icon":"https://secure.gravatar.com/avatar/cdd87aef7fe7eed9427d1e53ac7219c2?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 12 May 2022 09:53:20 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1652349200","scopes":["dashboards_read","dashboards_write","dashboards_public_share"]},"type":"application_keys"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts/fbebe517-c0ed-45a9-b3c9-4377cbe04efd/application_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"e01199cd-849e-4fb8-ae34-af8b6a8cd129","attributes":{"name":"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1652349200","created_at":"2022-05-12T09:53:22.022194+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":["dashboards_read","dashboards_write","dashboards_public_share"]},"relationships":{"owned_by":{"data":{"type":"users","id":"fbebe517-c0ed-45a9-b3c9-4377cbe04efd"}},"leak_information":{"data":null}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 12 May 2022 09:53:20 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/service_accounts/fbebe517-c0ed-45a9-b3c9-4377cbe04efd/application_keys/e01199cd-849e-4fb8-ae34-af8b6a8cd129
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 12 May 2022 09:53:20 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/fbebe517-c0ed-45a9-b3c9-4377cbe04efd
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
