http_interactions:
- recorded_at: Mon, 10 Jan 2022 15:51:32 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1641829892@datadoghq.com","service_account":true,"title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7","attributes":{"name":null,"handle":"9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7","created_at":"2022-01-10T15:51:33.531371+00:00","modified_at":"2022-01-10T15:51:33.574130+00:00","email":"test-create_an_application_key_with_scopes_for_this_service_account_returns_created_response-1641829892@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8f825373eb0cfc2938e0f880b748cbbe?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Mon, 10 Jan 2022 15:51:32 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1641829892","scopes":["dashboards_read","dashboards_write","dashboards_public_share"]},"type":"application_keys"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts/9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7/application_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"7f7c2a57-698e-41f1-9c99-32242ae2e4e4","attributes":{"name":"Test-Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response-1641829892","created_at":"2022-01-10T15:51:34.140485+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":["dashboards_read","dashboards_write","dashboards_public_share"]},"relationships":{"owned_by":{"data":{"type":"users","id":"9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Mon, 10 Jan 2022 15:51:32 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/service_accounts/9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7/application_keys/7f7c2a57-698e-41f1-9c99-32242ae2e4e4
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
- recorded_at: Mon, 10 Jan 2022 15:51:32 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/9a37b03f-7f4f-4305-85a2-2b87fd8ff0d7
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
