http_interactions:
- recorded_at: Thu, 12 Oct 2023 07:12:21 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Delete_an_application_key_for_this_service_account_returns_No_Content_response-1697094741@datadoghq.com","service_account":true,"title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"b0338c3c-68ce-11ee-9dc7-02a9eb8880d8","attributes":{"name":null,"handle":"b0338c3c-68ce-11ee-9dc7-02a9eb8880d8","created_at":"2023-10-12T07:12:22.378427+00:00","modified_at":"2023-10-12T07:12:22.378427+00:00","email":"test-delete_an_application_key_for_this_service_account_returns_no_content_response-1697094741@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ed84f324d81c653aae4b87a2eb517a97?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 12 Oct 2023 07:12:21 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Delete_an_application_key_for_this_service_account_returns_No_Content_response-1697094741"},"type":"application_keys"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts/b0338c3c-68ce-11ee-9dc7-02a9eb8880d8/application_keys
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"application_keys","id":"6a147414-e85c-4b92-829b-fff59f8bd8e0","attributes":{"name":"Test-Delete_an_application_key_for_this_service_account_returns_No_Content_response-1697094741","created_at":"2023-10-12T07:12:22.935154+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"b0338c3c-68ce-11ee-9dc7-02a9eb8880d8"}},"leak_information":{"data":null}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 12 Oct 2023 07:12:21 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/service_accounts/b0338c3c-68ce-11ee-9dc7-02a9eb8880d8/application_keys/6a147414-e85c-4b92-829b-fff59f8bd8e0
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 12 Oct 2023 07:12:21 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/service_accounts/b0338c3c-68ce-11ee-9dc7-02a9eb8880d8/application_keys/6a147414-e85c-4b92-829b-fff59f8bd8e0
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Application key not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Thu, 12 Oct 2023 07:12:21 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/b0338c3c-68ce-11ee-9dc7-02a9eb8880d8
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
