http_interactions:
- recorded_at: Thu, 18 Apr 2024 20:09:43 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"from_ts":1690901870,"interval":"monthly","query":"slo_type:metric
        \"SLO Reporting Test\"","timezone":"America/New_York","to_ts":1706803070}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/slo/report
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"98c67bea-fdbf-11ee-8a01-bfd37432018b","type":"report_id"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
