http_interactions:
- recorded_at: Thu, 29 Aug 2024 19:53:50 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"from_ts":1721505230,"interval":"bad-interval","query":"slo_type:metric
        \"SLO Reporting Test\"","to_ts":1724961230}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/slo/report
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Invalid Argument","detail":"bad-interval is not
        a valid interval"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
