http_interactions:
- recorded_at: Thu, 29 Aug 2024 19:53:50 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"from_ts":1721505230,"interval":"monthly","query":"slo_type:metric
        \"SLO Reporting Test\"","timezone":"America/New_York","to_ts":1724961230}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/slo/report
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"69cfaa02-6640-11ef-8501-33b2b403f044","type":"report_id"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
