http_interactions:
- recorded_at: Thu, 18 Apr 2024 20:09:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"from_ts":1711656584,"interval":"monthly","query":"slo_type:metric
        \"SLO Reporting Test\"","to_ts":1713470984}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/slo/report
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"990d70d6-fdbf-11ee-99ae-1f9640631fbf","type":"report_id"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 18 Apr 2024 20:09:44 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/slo/report/990d70d6-fdbf-11ee-99ae-1f9640631fbf/status
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"990d70d6-fdbf-11ee-99ae-1f9640631fbf","type":"report_id","attributes":{"status":"in_progress"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
