http_interactions:
- recorded_at: Tue, 09 Apr 2024 17:56:36 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"from_ts":1710870996,"interval":"monthly","query":"slo_type:metric
        \"SLO Reporting Test\"","to_ts":1712685396}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/slo/report
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"8288c800-f69a-11ee-aab1-0772aa10fea1","type":"report_id"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 09 Apr 2024 17:56:36 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/slo/report/8288c800-f69a-11ee-aab1-0772aa10fea1/status
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"8288c800-f69a-11ee-aab1-0772aa10fea1","type":"report_id","attributes":{"status":"in_progress"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
