http_interactions:
- recorded_at: Fri, 12 Sep 2025 13:50:09 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"query":"*"},"page":{"limit":2000},"sort":"fqn"},"type":"search_flaky_tests_request"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/test/flaky-test-management/tests
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"limit must
        be greater than 1 and less than 1000"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
