---
http_interactions:
- request:
    method: put
    uri: https://api.datadoghq.com/api/v1/downtime/1062429861
    body:
      encoding: UTF-8
      string: '{"end":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3504839'
      X-Dd-Debug:
      - sQOy8a0Uobuto7YUtlnbqZIuXh5uDLMP34xhBMJaioPr6917JNPh2PehnbSMnQ69
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"recurrence":null,"end":null,"monitor_tags":["foo:bar"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1607505468,"creator_id":1445416,"parent_id":null,"timezone":"UTC","active":true,"scope":["*"],"message":"test
        message","downtime_type":0,"id":1062429861,"updater_id":1445416}'
  recorded_at: Wed, 09 Dec 2020 09:17:47 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/downtime
    body:
      encoding: UTF-8
      string: '{"end":1607505564,"message":"test message","monitor_tags":["foo:bar"],"scope":["*"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3504839'
      X-Dd-Debug:
      - qQXsO+f4B3HCvLT+wx7LVBDCKoA9+mEzcYYTapfT4+npOWtAMz9R4B+8HSWkVhsm
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"recurrence":null,"end":1607505564,"monitor_tags":["foo:bar"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1607505504,"creator_id":1445416,"parent_id":null,"timezone":"UTC","active":true,"scope":["*"],"message":"test
        message","downtime_type":0,"id":1062430347,"updater_id":null}'
  recorded_at: Wed, 09 Dec 2020 09:18:24 GMT
[...]
- request:
    method: put
    uri: https://api.datadoghq.com/api/v1/downtime/1062431526
    body:
      encoding: UTF-8
      string: '{"end":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3504839'
      X-Dd-Debug:
      - NVN1vUIP943yBv5BrKvNkq9LhGENimQCGx913v3GQzIJuXIMEzcrTlr1CpALPFWv
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"recurrence":null,"end":null,"monitor_tags":["foo:bar"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1607505591,"creator_id":1445416,"parent_id":null,"timezone":"UTC","active":true,"scope":["*"],"message":"test
        message","downtime_type":0,"id":1062431526,"updater_id":1445416}'
  recorded_at: Wed, 09 Dec 2020 09:19:51 GMT
recorded_with: VCR 6.0.0
