---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/downtime
    body:
      encoding: UTF-8
      string: '{"end":1607509497,"message":"test message","monitor_tags":["foo:bar"],"scope":["*"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3505206'
      X-Dd-Debug:
      - 5x0PMB2EV7ostoQ8Atq4xA2+Yg42JuDoghGuHR/nVEOXOx15i0lNYfIS41IGAJpz
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"recurrence":null,"end":1607509497,"monitor_tags":["foo:bar"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1607509437,"creator_id":1445416,"parent_id":null,"timezone":"UTC","active":true,"scope":["*"],"message":"test
        message","downtime_type":0,"id":1062489193,"updater_id":null}'
  recorded_at: Wed, 09 Dec 2020 10:23:57 GMT
- request:
    method: put
    uri: https://api.datadoghq.com/api/v1/downtime/1062489193
    body:
      encoding: UTF-8
      string: '{"end":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3505206'
      X-Dd-Debug:
      - IEUzjgpnyUrp74lH2dqPweGXNQU7es3CY44HHPIdy7aSNeimMebMvcKCoCgyWWVx
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"recurrence":null,"end":null,"monitor_tags":["foo:bar"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1607509437,"creator_id":1445416,"parent_id":null,"timezone":"UTC","active":true,"scope":["*"],"message":"test
        message","downtime_type":0,"id":1062489193,"updater_id":1445416}'
  recorded_at: Wed, 09 Dec 2020 10:23:57 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/downtime/1062489193
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Dd-Version:
      - '35.3505206'
      X-Dd-Debug:
      - GVd3H6+s0wOEEQNbWfOlfSTR2GEFs46b/AVWKmAErR/5auOQpwMvzy3i6o9DNymz
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 09 Dec 2020 10:23:57 GMT
recorded_with: VCR 6.0.0
