http_interactions:
- recorded_at: Mon, 21 Aug 2023 19:54:32 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"test-handle-ef7e0a86ff5c0e43","name":"test-name-ef7e0a86ff5c0e43"},"relationships":{"users":{"data":[]}},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"8be92a56-405c-11ee-8f72-da7ad0900002","attributes":{"name":"test-name-ef7e0a86ff5c0e43","handle":"test-handle-ef7e0a86ff5c0e43","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:54:32.354249+00:00","modified_at":"2023-08-21T19:54:32.354257+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/8be92a56-405c-11ee-8f72-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/8be92a56-405c-11ee-8f72-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 21 Aug 2023 19:54:32 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/8be92a56-405c-11ee-8f72-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
