http_interactions:
- recorded_at: Wed, 10 May 2023 16:23:27 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-2c82e5be19369e37","name":"name-2c82e5be19369e37"},"relationships":{"users":{"data":[]}},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"fe99024c-ef4e-11ed-8f26-da7ad0900002","attributes":{"name":"name-2c82e5be19369e37","handle":"handle-2c82e5be19369e37","summary":null,"description":null,"color":4,"created_at":"2023-05-10T16:23:27.625735+00:00","modified_at":"2023-05-10T16:23:27.625740+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/fe99024c-ef4e-11ed-8f26-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/fe99024c-ef4e-11ed-8f26-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 10 May 2023 16:23:27 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/fe99024c-ef4e-11ed-8f26-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
