http_interactions:
- recorded_at: Mon, 27 Mar 2023 18:33:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679941981","name":"1679941981"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"cddc7ff6-cccd-11ed-9329-da7ad0900002","attributes":{"name":"1679941981","handle":"1679941981","summary":null,"description":null,"color":11,"created_at":"2023-03-27T18:33:01.249180+00:00","modified_at":"2023-03-27T18:33:01.249185+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/cddc7ff6-cccd-11ed-9329-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/cddc7ff6-cccd-11ed-9329-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 27 Mar 2023 18:33:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679941981","name":"Example Team"},"relationships":{"users":{"data":[]}},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Team name and handle must be unique"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 409
      message: Conflict
- recorded_at: Mon, 27 Mar 2023 18:33:01 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/cddc7ff6-cccd-11ed-9329-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
