http_interactions:
- recorded_at: Mon, 27 Mar 2023 18:32:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679941979","name":"1679941979"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"cceda3d6-cccd-11ed-aae5-da7ad0900002","attributes":{"name":"1679941979","handle":"1679941979","summary":null,"description":null,"color":0,"created_at":"2023-03-27T18:32:59.683291+00:00","modified_at":"2023-03-27T18:32:59.683295+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/cceda3d6-cccd-11ed-aae5-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/cceda3d6-cccd-11ed-aae5-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 27 Mar 2023 18:32:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"label":"Link label","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/cceda3d6-cccd-11ed-aae5-da7ad0900002/links
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team_links","id":"cd25c6bc-cccd-11ed-830b-da7ad0900002","attributes":{"team_id":"cceda3d6-cccd-11ed-aae5-da7ad0900002","label":"Link
        label","url":"https://example.com","position":0}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 27 Mar 2023 18:32:59 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/cceda3d6-cccd-11ed-aae5-da7ad0900002/links/cd25c6bc-cccd-11ed-830b-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Mon, 27 Mar 2023 18:32:59 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/cceda3d6-cccd-11ed-aae5-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
