http_interactions:
- recorded_at: Fri, 23 Jan 2026 11:00:10 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"test-handle-5e6a036c358c6bff","name":"test-name-5e6a036c358c6bff"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"66d6e3d2-f7ea-4946-bc93-b11db5b9bed4","type":"team","attributes":{"avatar":null,"banner":12,"created_at":"2026-01-23T11:00:12.132142+00:00","description":null,"handle":"test-handle-5e6a036c358c6bff","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-23T11:00:12.132142+00:00","name":"test-name-5e6a036c358c6bff","summary":null,"user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/66d6e3d2-f7ea-4946-bc93-b11db5b9bed4/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/66d6e3d2-f7ea-4946-bc93-b11db5b9bed4/permission-settings"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Fri, 23 Jan 2026 11:00:10 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"label":"Link label","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/66d6e3d2-f7ea-4946-bc93-b11db5b9bed4/links
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team_links","id":"b0c50a40-f84a-11f0-a7c6-da7ad0900002","attributes":{"team_id":"66d6e3d2-f7ea-4946-bc93-b11db5b9bed4","label":"Link
        label","url":"https://example.com","position":0}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 23 Jan 2026 11:00:10 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/66d6e3d2-f7ea-4946-bc93-b11db5b9bed4/links/b0c50a40-f84a-11f0-a7c6-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 23 Jan 2026 11:00:10 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/66d6e3d2-f7ea-4946-bc93-b11db5b9bed4
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
