http_interactions:
- recorded_at: Wed, 12 Jul 2023 17:29:27 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-80cbaea63059dc94","name":"name-80cbaea63059dc94"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"a6db485a-20d9-11ee-ad41-da7ad0900002","attributes":{"name":"name-80cbaea63059dc94","handle":"handle-80cbaea63059dc94","summary":null,"description":null,"created_at":"2023-07-12T17:29:27.442364+00:00","modified_at":"2023-07-12T17:29:27.442369+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a6db485a-20d9-11ee-ad41-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a6db485a-20d9-11ee-ad41-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 12 Jul 2023 17:29:27 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"label":"Link label","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/a6db485a-20d9-11ee-ad41-da7ad0900002/links
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team_links","id":"a6f9e918-20d9-11ee-b537-da7ad0900002","attributes":{"team_id":"a6db485a-20d9-11ee-ad41-da7ad0900002","label":"Link
        label","url":"https://example.com","position":0}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 12 Jul 2023 17:29:27 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/a6db485a-20d9-11ee-ad41-da7ad0900002/links/a6f9e918-20d9-11ee-b537-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Wed, 12 Jul 2023 17:29:27 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/a6db485a-20d9-11ee-ad41-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
