http_interactions:
- recorded_at: Fri, 05 May 2023 17:56:05 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"color":6,"handle":"1683309365","name":"1683309365"},"relationships":{"users":{"data":[]}},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"1b2ccf7c-eb6e-11ed-8220-da7ad0900002","attributes":{"name":"1683309365","handle":"1683309365","summary":null,"description":null,"color":6,"created_at":"2023-05-05T17:56:05.319858+00:00","modified_at":"2023-05-05T17:56:05.319864+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/1b2ccf7c-eb6e-11ed-8220-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/1b2ccf7c-eb6e-11ed-8220-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Fri, 05 May 2023 17:56:05 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/1b2ccf7c-eb6e-11ed-8220-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
