http_interactions:
- recorded_at: Mon, 21 Aug 2023 19:44:48 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"test-handle-2047a02ca89d196f","name":"test-name-2047a02ca89d196f"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"2fcd65d0-405b-11ee-817e-da7ad0900002","attributes":{"name":"test-name-2047a02ca89d196f","handle":"test-handle-2047a02ca89d196f","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:48.324737+00:00","modified_at":"2023-08-21T19:44:48.324744+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2fcd65d0-405b-11ee-817e-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2fcd65d0-405b-11ee-817e-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 21 Aug 2023 19:44:48 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/2fcd65d0-405b-11ee-817e-da7ad0900002/links
  response:
    body:
      encoding: UTF-8
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 21 Aug 2023 19:44:48 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/2fcd65d0-405b-11ee-817e-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
