http_interactions:
- recorded_at: Tue, 23 Dec 2025 15:29:22 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"test-handle-ee0eead53fe855d3","name":"test-name-ee0eead53fe855d3"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"a7145aa7-d043-4f4d-bd45-fd02669b47d7","type":"team","attributes":{"avatar":null,"banner":14,"created_at":"2025-12-23T15:29:23.130502+00:00","description":null,"handle":"test-handle-ee0eead53fe855d3","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2025-12-23T15:29:23.130502+00:00","name":"test-name-ee0eead53fe855d3","summary":null,"user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/a7145aa7-d043-4f4d-bd45-fd02669b47d7/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/a7145aa7-d043-4f4d-bd45-fd02669b47d7/permission-settings"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 23 Dec 2025 15:29:22 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":{"enabled":true},"slack":{"channel":"aaa-omg-ops","workspace":"Datadog"}},"type":"team_notification_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/a7145aa7-d043-4f4d-bd45-fd02669b47d7/notification-rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"68717b60-b443-49ac-b7ca-75664cb53c29","type":"team_notification_rules","attributes":{"email":{"enabled":true},"slack":{"workspace":"Datadog","channel":"aaa-omg-ops"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 23 Dec 2025 15:29:22 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/a7145aa7-d043-4f4d-bd45-fd02669b47d7/notification-rules/68717b60-b443-49ac-b7ca-75664cb53c29
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"68717b60-b443-49ac-b7ca-75664cb53c29","type":"team_notification_rules","attributes":{"email":{"enabled":true},"slack":{"workspace":"Datadog","channel":"aaa-omg-ops"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 23 Dec 2025 15:29:22 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/a7145aa7-d043-4f4d-bd45-fd02669b47d7
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
