http_interactions:
- recorded_at: Wed, 10 Jan 2024 16:09:28 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"test-handle-c164c08030364bd8","name":"test-name-c164c08030364bd8"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"bfc08ce5-4a3c-4336-8544-0a366a1656fb","attributes":{"name":"test-name-c164c08030364bd8","handle":"test-handle-c164c08030364bd8","summary":null,"description":null,"avatar":null,"banner":1,"visible_modules":[],"hidden_modules":[],"created_at":"2024-01-10T16:09:16.773654+00:00","modified_at":"2024-01-10T16:09:16.773660+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/bfc08ce5-4a3c-4336-8544-0a366a1656fb/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/bfc08ce5-4a3c-4336-8544-0a366a1656fb/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 10 Jan 2024 16:09:28 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team?fields%5Bteam%5D=id%2Cname%2Chandle
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"team","id":"2e06bf2c-193b-41d4-b3c2-afccc080458f","attributes":{"name":"test-name-0d5eae310f4bffff","handle":"test-handle-0d5eae310f4bffff"}},{"type":"team","id":"bfc08ce5-4a3c-4336-8544-0a366a1656fb","attributes":{"name":"test-name-c164c08030364bd8","handle":"test-handle-c164c08030364bd8"}}],"meta":{"pagination":{"offset":0,"first_offset":0,"prev_offset":0,"next_offset":100,"last_offset":0,"limit":100,"type":"offset_limit","total":2}},"links":{"self":"https://api.datadoghq.com/api/v2/team?fields%5Bteam%5D=id,name,handle","last":null,"next":"https://api.datadoghq.com/api/v2/team?fields%5Bteam%5D=id,name,handle&page[offset]=100&page[limit]=100","prev":null,"first":"https://api.datadoghq.com/api/v2/team?fields%5Bteam%5D=id,name,handle&page[offset]=0&page[limit]=100"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 10 Jan 2024 16:09:28 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/bfc08ce5-4a3c-4336-8544-0a366a1656fb
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
