http_interactions:
- recorded_at: Wed, 10 May 2023 16:25:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-0d2d6ca6aa883570","name":"name-0d2d6ca6aa883570"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"56bc6f22-ef4f-11ed-9378-da7ad0900002","attributes":{"name":"name-0d2d6ca6aa883570","handle":"handle-0d2d6ca6aa883570","summary":null,"description":null,"color":7,"created_at":"2023-05-10T16:25:55.499796+00:00","modified_at":"2023-05-10T16:25:55.499801+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/56bc6f22-ef4f-11ed-9378-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/56bc6f22-ef4f-11ed-9378-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 10 May 2023 16:25:55 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/56bc6f22-ef4f-11ed-9378-da7ad0900002/links
  response:
    body:
      encoding: UTF-8
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 10 May 2023 16:25:55 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/56bc6f22-ef4f-11ed-9378-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
