http_interactions:
- recorded_at: Mon, 27 Mar 2023 18:33:13 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679941993","name":"1679941993"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"d5406960-cccd-11ed-b1e3-da7ad0900002","attributes":{"name":"1679941993","handle":"1679941993","summary":null,"description":null,"color":4,"created_at":"2023-03-27T18:33:13.647495+00:00","modified_at":"2023-03-27T18:33:13.647499+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/d5406960-cccd-11ed-b1e3-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/d5406960-cccd-11ed-b1e3-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 27 Mar 2023 18:33:13 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/d5406960-cccd-11ed-b1e3-da7ad0900002/memberships
  response:
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"pagination":{"offset":0,"first_offset":0,"prev_offset":0,"next_offset":100,"last_offset":0,"limit":100,"type":"offset_limit","total":0}},"links":{"self":"https://api.datadoghq.com/api/v2/team/d5406960-cccd-11ed-b1e3-da7ad0900002/memberships","last":null,"next":"https://api.datadoghq.com/api/v2/team/d5406960-cccd-11ed-b1e3-da7ad0900002/memberships?page[offset]=100&page[limit]=100","prev":null,"first":"https://api.datadoghq.com/api/v2/team/d5406960-cccd-11ed-b1e3-da7ad0900002/memberships?page[offset]=0&page[limit]=100"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 27 Mar 2023 18:33:13 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/d5406960-cccd-11ed-b1e3-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
