http_interactions:
- recorded_at: Mon, 21 Aug 2023 19:44:46 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"test-handle-df7035850d3d2bf3","name":"test-name-df7035850d3d2bf3"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"2f0a0aae-405b-11ee-8fd8-da7ad0900002","attributes":{"name":"test-name-df7035850d3d2bf3","handle":"test-handle-df7035850d3d2bf3","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:47.044918+00:00","modified_at":"2023-08-21T19:44:47.044924+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2f0a0aae-405b-11ee-8fd8-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2f0a0aae-405b-11ee-8fd8-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 21 Aug 2023 19:44:46 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/2f0a0aae-405b-11ee-8fd8-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","attributes":{"handle":"test-handle-df7035850d3d2bf3","description":null,"name":"test-name-df7035850d3d2bf3","summary":null,"user_count":0,"created_at":"2023-08-21T19:44:47.044918+00:00","modified_at":"2023-08-21T19:44:47.044924+00:00","link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2f0a0aae-405b-11ee-8fd8-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2f0a0aae-405b-11ee-8fd8-da7ad0900002/permission-settings"}}},"id":"2f0a0aae-405b-11ee-8fd8-da7ad0900002"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 21 Aug 2023 19:44:46 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/2f0a0aae-405b-11ee-8fd8-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
