http_interactions:
- recorded_at: Mon, 27 Mar 2023 18:33:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679941991","name":"1679941991"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"d3fcfa50-cccd-11ed-ba3b-da7ad0900002","attributes":{"name":"1679941991","handle":"1679941991","summary":null,"description":null,"color":11,"created_at":"2023-03-27T18:33:11.528141+00:00","modified_at":"2023-03-27T18:33:11.528147+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/d3fcfa50-cccd-11ed-ba3b-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/d3fcfa50-cccd-11ed-ba3b-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 27 Mar 2023 18:33:11 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/d3fcfa50-cccd-11ed-ba3b-da7ad0900002/permission-settings
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"team_permission_settings","attributes":{"title":"Add
        and Remove Members","editable":true,"value":"organization","options":["user_access_manage","admins","members","organization"],"action":"manage_membership"},"id":"TeamPermission-d3fcfa50-cccd-11ed-ba3b-da7ad0900002-manage_membership"},{"type":"team_permission_settings","attributes":{"title":"Edit
        Team Details","editable":true,"value":"members","options":["teams_manage","admins","members"],"action":"edit"},"id":"TeamPermission-d3fcfa50-cccd-11ed-ba3b-da7ad0900002-edit"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 27 Mar 2023 18:33:11 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/d3fcfa50-cccd-11ed-ba3b-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
