http_interactions:
- recorded_at: Tue, 23 Dec 2025 15:29:05 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"test-handle-903f29be232384f8","name":"test-name-903f29be232384f8"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"54fb1795-4bee-4e8f-9ccd-1aca53d24f8e","type":"team","attributes":{"avatar":null,"banner":14,"created_at":"2025-12-23T15:29:05.802966+00:00","description":null,"handle":"test-handle-903f29be232384f8","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2025-12-23T15:29:05.802966+00:00","name":"test-name-903f29be232384f8","summary":null,"user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/54fb1795-4bee-4e8f-9ccd-1aca53d24f8e/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/54fb1795-4bee-4e8f-9ccd-1aca53d24f8e/permission-settings"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 23 Dec 2025 15:29:05 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":{"enabled":true},"slack":{"channel":"aaa-omg-ops","workspace":"Datadog"}},"type":"team_notification_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/54fb1795-4bee-4e8f-9ccd-1aca53d24f8e/notification-rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"51f01e40-e075-4c25-8878-9fd3f7800770","type":"team_notification_rules","attributes":{"email":{"enabled":true},"slack":{"workspace":"Datadog","channel":"aaa-omg-ops"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 23 Dec 2025 15:29:05 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/54fb1795-4bee-4e8f-9ccd-1aca53d24f8e/notification-rules/54fb1795-4bee-4e8f-9ccd-1aca53d24f8e
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"Not Found","detail":"rule not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
- recorded_at: Tue, 23 Dec 2025 15:29:05 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/54fb1795-4bee-4e8f-9ccd-1aca53d24f8e
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
