http_interactions:
- recorded_at: Wed, 10 May 2023 16:25:54 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-e0e86339571d8748","name":"name-e0e86339571d8748"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"55f7da86-ef4f-11ed-a7ea-da7ad0900002","attributes":{"name":"name-e0e86339571d8748","handle":"handle-e0e86339571d8748","summary":null,"description":null,"color":12,"created_at":"2023-05-10T16:25:54.211532+00:00","modified_at":"2023-05-10T16:25:54.211539+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/55f7da86-ef4f-11ed-a7ea-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/55f7da86-ef4f-11ed-a7ea-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 10 May 2023 16:25:54 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/55f7da86-ef4f-11ed-a7ea-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"55f7da86-ef4f-11ed-a7ea-da7ad0900002","attributes":{"name":"name-e0e86339571d8748","handle":"handle-e0e86339571d8748","summary":null,"description":null,"color":12,"created_at":"2023-05-10T16:25:54.211532+00:00","modified_at":"2023-05-10T16:25:54.211539+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/55f7da86-ef4f-11ed-a7ea-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/55f7da86-ef4f-11ed-a7ea-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 10 May 2023 16:25:54 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/55f7da86-ef4f-11ed-a7ea-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
