http_interactions:
- recorded_at: Wed, 12 Jul 2023 17:29:34 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-0fe32e2c4ff0dff0","name":"name-0fe32e2c4ff0dff0"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"ab1bfa86-20d9-11ee-83ad-da7ad0900002","attributes":{"name":"name-0fe32e2c4ff0dff0","handle":"handle-0fe32e2c4ff0dff0","summary":null,"description":null,"created_at":"2023-07-12T17:29:34.577529+00:00","modified_at":"2023-07-12T17:29:34.577535+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 12 Jul 2023 17:29:34 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"label":"Test-Remove_a_team_link_returns_No_Content_response-1689182974","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002/links
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team_links","id":"ab3d7062-20d9-11ee-86ea-da7ad0900002","attributes":{"team_id":"ab1bfa86-20d9-11ee-83ad-da7ad0900002","label":"Test-Remove_a_team_link_returns_No_Content_response-1689182974","url":"https://example.com","position":0}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 12 Jul 2023 17:29:34 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002/links/ab3d7062-20d9-11ee-86ea-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Wed, 12 Jul 2023 17:29:34 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002/links/ab3d7062-20d9-11ee-86ea-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Link for ID ab3d7062-20d9-11ee-86ea-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Wed, 12 Jul 2023 17:29:34 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/ab1bfa86-20d9-11ee-83ad-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
