http_interactions:
- recorded_at: Mon, 21 Aug 2023 19:44:52 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"test-handle-61d5baa2cd58430d","name":"test-name-61d5baa2cd58430d"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"325bc472-405b-11ee-ac5e-da7ad0900002","attributes":{"name":"test-name-61d5baa2cd58430d","handle":"test-handle-61d5baa2cd58430d","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:52.612996+00:00","modified_at":"2023-08-21T19:44:52.613002+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/325bc472-405b-11ee-ac5e-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/325bc472-405b-11ee-ac5e-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 21 Aug 2023 19:44:52 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/325bc472-405b-11ee-ac5e-da7ad0900002/memberships/REPLACE.ME
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Mon, 21 Aug 2023 19:44:52 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/325bc472-405b-11ee-ac5e-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
