http_interactions:
- recorded_at: Mon, 27 Mar 2023 18:33:15 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679941995","name":"1679941995"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"d6a8c612-cccd-11ed-9a15-da7ad0900002","attributes":{"name":"1679941995","handle":"1679941995","summary":null,"description":null,"color":0,"created_at":"2023-03-27T18:33:16.009128+00:00","modified_at":"2023-03-27T18:33:16.009133+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/d6a8c612-cccd-11ed-9a15-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/d6a8c612-cccd-11ed-9a15-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 27 Mar 2023 18:33:15 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"label":"Test-Remove_a_team_link_returns_No_Content_response-1679941995","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/d6a8c612-cccd-11ed-9a15-da7ad0900002/links
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team_links","id":"d6d77a5c-cccd-11ed-8328-da7ad0900002","attributes":{"team_id":"d6a8c612-cccd-11ed-9a15-da7ad0900002","label":"Test-Remove_a_team_link_returns_No_Content_response-1679941995","url":"https://example.com","position":0}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 27 Mar 2023 18:33:15 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/d6a8c612-cccd-11ed-9a15-da7ad0900002/links/d6d77a5c-cccd-11ed-8328-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Mon, 27 Mar 2023 18:33:15 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/d6a8c612-cccd-11ed-9a15-da7ad0900002/links/d6d77a5c-cccd-11ed-8328-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Link for ID d6d77a5c-cccd-11ed-8328-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Mon, 27 Mar 2023 18:33:15 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/d6a8c612-cccd-11ed-9a15-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
