http_interactions:
- recorded_at: Wed, 12 Jul 2023 17:29:34 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-5b0810a24cff23de","name":"name-5b0810a24cff23de"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"aad53c9a-20d9-11ee-a81e-da7ad0900002","attributes":{"name":"name-5b0810a24cff23de","handle":"handle-5b0810a24cff23de","summary":null,"description":null,"created_at":"2023-07-12T17:29:34.113364+00:00","modified_at":"2023-07-12T17:29:34.113369+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/aad53c9a-20d9-11ee-a81e-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/aad53c9a-20d9-11ee-a81e-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 12 Jul 2023 17:29:34 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/aad53c9a-20d9-11ee-a81e-da7ad0900002/links/REPLACE.ME
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Wed, 12 Jul 2023 17:29:34 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/aad53c9a-20d9-11ee-a81e-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
