http_interactions:
- recorded_at: Wed, 10 May 2023 16:25:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-b673fb38f29b594d","name":"name-b673fb38f29b594d"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"590a0ef6-ef4f-11ed-9b4a-da7ad0900002","attributes":{"name":"name-b673fb38f29b594d","handle":"handle-b673fb38f29b594d","summary":null,"description":null,"color":2,"created_at":"2023-05-10T16:25:59.363124+00:00","modified_at":"2023-05-10T16:25:59.363128+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/590a0ef6-ef4f-11ed-9b4a-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/590a0ef6-ef4f-11ed-9b4a-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 10 May 2023 16:25:59 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/590a0ef6-ef4f-11ed-9b4a-da7ad0900002/memberships/REPLACE.ME
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Wed, 10 May 2023 16:25:59 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/590a0ef6-ef4f-11ed-9b4a-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
