http_interactions:
- recorded_at: Mon, 27 Mar 2023 18:33:19 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679941999","name":"1679941999"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"d90487a2-cccd-11ed-b49b-da7ad0900002","attributes":{"name":"1679941999","handle":"1679941999","summary":null,"description":null,"color":7,"created_at":"2023-03-27T18:33:19.965841+00:00","modified_at":"2023-03-27T18:33:19.965846+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/d90487a2-cccd-11ed-b49b-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/d90487a2-cccd-11ed-b49b-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 27 Mar 2023 18:33:19 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/d90487a2-cccd-11ed-b49b-da7ad0900002/memberships/REPLACE.ME
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Mon, 27 Mar 2023 18:33:19 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/d90487a2-cccd-11ed-b49b-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
