http_interactions:
- recorded_at: Wed, 12 Jul 2023 17:29:35 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-8ebcf13472862f30","name":"name-8ebcf13472862f30"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"abfca7f2-20d9-11ee-a1e9-da7ad0900002","attributes":{"name":"name-8ebcf13472862f30","handle":"handle-8ebcf13472862f30","summary":null,"description":null,"created_at":"2023-07-12T17:29:36.049655+00:00","modified_at":"2023-07-12T17:29:36.049660+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/abfca7f2-20d9-11ee-a1e9-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/abfca7f2-20d9-11ee-a1e9-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 12 Jul 2023 17:29:35 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/abfca7f2-20d9-11ee-a1e9-da7ad0900002/memberships/REPLACE.ME
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Wed, 12 Jul 2023 17:29:35 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/abfca7f2-20d9-11ee-a1e9-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
