http_interactions:
- recorded_at: Mon, 21 Aug 2023 19:44:56 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"test-handle-f17bf3394db1955e","name":"test-name-f17bf3394db1955e"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"3474a102-405b-11ee-8a0f-da7ad0900002","attributes":{"name":"test-name-f17bf3394db1955e","handle":"test-handle-f17bf3394db1955e","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:56.131892+00:00","modified_at":"2023-08-21T19:44:56.131898+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/3474a102-405b-11ee-8a0f-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/3474a102-405b-11ee-8a0f-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 21 Aug 2023 19:44:56 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"value":"admins"},"type":"team_permission_settings"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/team/3474a102-405b-11ee-8a0f-da7ad0900002/permission-settings/manage_membership
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team_permission_settings","attributes":{"action":"manage_membership","value":"admins","options":["admins","members","organization","user_access_manage","teams_manage"]},"id":"TeamPermission-3474a102-405b-11ee-8a0f-da7ad0900002-manage_membership"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 21 Aug 2023 19:44:56 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/3474a102-405b-11ee-8a0f-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
