http_interactions:
- recorded_at: Mon, 21 Aug 2023 19:44:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"test-handle-62f52dee42c1d7dc","name":"test-name-62f52dee42c1d7dc"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"3426dddc-405b-11ee-818a-da7ad0900002","attributes":{"name":"test-name-62f52dee42c1d7dc","handle":"test-handle-62f52dee42c1d7dc","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:55.621598+00:00","modified_at":"2023-08-21T19:44:55.621607+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/3426dddc-405b-11ee-818a-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/3426dddc-405b-11ee-818a-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 21 Aug 2023 19:44:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"value":"admins"},"type":"team_permission_settings"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/team/3426dddc-405b-11ee-818a-da7ad0900002/permission-settings/REPLACE.ME
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Invalid action type \"REPLACE.ME\". Valid actions: manage_membership,
        edit not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Mon, 21 Aug 2023 19:44:55 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/3426dddc-405b-11ee-818a-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
