http_interactions:
- recorded_at: Mon, 27 Mar 2023 18:33:26 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679942006","name":"1679942006"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"dd3c1916-cccd-11ed-b35c-da7ad0900002","attributes":{"name":"1679942006","handle":"1679942006","summary":null,"description":null,"color":11,"created_at":"2023-03-27T18:33:27.041313+00:00","modified_at":"2023-03-27T18:33:27.041316+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/dd3c1916-cccd-11ed-b35c-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/dd3c1916-cccd-11ed-b35c-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 27 Mar 2023 18:33:26 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"value":"admins"},"type":"team_permission_settings"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/team/dd3c1916-cccd-11ed-b35c-da7ad0900002/permission-settings/REPLACE.ME
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Invalid action type \"REPLACE.ME\". Valid actions: manage_membership,
        edit not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Mon, 27 Mar 2023 18:33:26 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/dd3c1916-cccd-11ed-b35c-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
