http_interactions:
- recorded_at: Wed, 12 Jul 2023 17:29:36 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-1777c2cee93aa43d","name":"name-1777c2cee93aa43d"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"ac431ade-20d9-11ee-a354-da7ad0900002","attributes":{"name":"name-1777c2cee93aa43d","handle":"handle-1777c2cee93aa43d","summary":null,"description":null,"created_at":"2023-07-12T17:29:36.511789+00:00","modified_at":"2023-07-12T17:29:36.511794+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/ac431ade-20d9-11ee-a354-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/ac431ade-20d9-11ee-a354-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 12 Jul 2023 17:29:36 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"label":"Link label","url":"https://example.com"},"type":"team_links"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/team/ac431ade-20d9-11ee-a354-da7ad0900002/links/REPLACE.ME
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Wed, 12 Jul 2023 17:29:36 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/ac431ade-20d9-11ee-a354-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
