http_interactions:
- recorded_at: Wed, 12 Jul 2023 17:29:39 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-72b5ed797b3e5f13","name":"name-72b5ed797b3e5f13"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"ae41b534-20d9-11ee-ad0a-da7ad0900002","attributes":{"name":"name-72b5ed797b3e5f13","handle":"handle-72b5ed797b3e5f13","summary":null,"description":null,"created_at":"2023-07-12T17:29:39.857772+00:00","modified_at":"2023-07-12T17:29:39.857780+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/ae41b534-20d9-11ee-ad0a-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/ae41b534-20d9-11ee-ad0a-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 12 Jul 2023 17:29:39 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"value":"admins"},"type":"team_permission_settings"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/team/ae41b534-20d9-11ee-ad0a-da7ad0900002/permission-settings/REPLACE.ME
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Invalid action type \"REPLACE.ME\". Valid actions: manage_membership,
        edit not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Wed, 12 Jul 2023 17:29:39 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/ae41b534-20d9-11ee-ad0a-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
