---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/teams
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Update-an-existing-team-returns-OK-response-1601469635"},"type":"teams"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Dd-Debug:
      - LYsZ0Yx6eBAuyo7daRCU44YMxz7whaow2DP3vSdsKGIEYbXvJNYBjlZ+OHX/fFOc
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"98eb4398-73a9-5770-a11d-b6a8260cd4af","attributes":{"name":"ruby-Update-an-existing-team-returns-OK-response-1601469635","created":"2020-09-30T12:40:35.954781+00:00","modified":"2020-09-30T12:40:35.954781+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Wed, 30 Sep 2020 12:40:35 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/teams/98eb4398-73a9-5770-a11d-b6a8260cd4af
    body:
      encoding: UTF-8
      string: '{"data":{"type":"teams","attributes":{"name":"ruby-Update-an-existing-team-returns-OK-response-1601469635-updated"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
     [...]
