http_interactions:
- recorded_at: Wed, 10 May 2023 16:26:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-5fc4017c72fce64f","name":"name-5fc4017c72fce64f"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"5b163526-ef4f-11ed-a5d4-da7ad0900002","attributes":{"name":"name-5fc4017c72fce64f","handle":"handle-5fc4017c72fce64f","summary":null,"description":null,"color":12,"created_at":"2023-05-10T16:26:02.799664+00:00","modified_at":"2023-05-10T16:26:02.799668+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/5b163526-ef4f-11ed-a5d4-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/5b163526-ef4f-11ed-a5d4-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 10 May 2023 16:26:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"value":"admins"},"type":"team_permission_settings"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/team/5b163526-ef4f-11ed-a5d4-da7ad0900002/permission-settings/REPLACE.ME
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Invalid action type \"REPLACE.ME\". Valid actions: manage_membership,
        edit not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Wed, 10 May 2023 16:26:02 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/5b163526-ef4f-11ed-a5d4-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
