http_interactions:
- recorded_at: Wed, 12 Jul 2023 17:29:40 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-365d9943be4cbd80","name":"name-365d9943be4cbd80"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"ae81e17c-20d9-11ee-a254-da7ad0900002","attributes":{"name":"name-365d9943be4cbd80","handle":"handle-365d9943be4cbd80","summary":null,"description":null,"created_at":"2023-07-12T17:29:40.278830+00:00","modified_at":"2023-07-12T17:29:40.278836+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/ae81e17c-20d9-11ee-a254-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/ae81e17c-20d9-11ee-a254-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 12 Jul 2023 17:29:40 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"value":"admins"},"type":"team_permission_settings"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/team/ae81e17c-20d9-11ee-a254-da7ad0900002/permission-settings/manage_membership
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team_permission_settings","attributes":{"value":"admins","action":"manage_membership","options":["admins","members","organization","user_access_manage","teams_manage"]},"id":"TeamPermission-ae81e17c-20d9-11ee-a254-da7ad0900002-manage_membership"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 12 Jul 2023 17:29:40 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/ae81e17c-20d9-11ee-a254-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
