http_interactions:
- recorded_at: Wed, 10 May 2023 16:26:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-7ee388ec964ab7d8","name":"name-7ee388ec964ab7d8"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"5ac7a35c-ef4f-11ed-ba32-da7ad0900002","attributes":{"name":"name-7ee388ec964ab7d8","handle":"handle-7ee388ec964ab7d8","summary":null,"description":null,"color":6,"created_at":"2023-05-10T16:26:02.284460+00:00","modified_at":"2023-05-10T16:26:02.284464+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/5ac7a35c-ef4f-11ed-ba32-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/5ac7a35c-ef4f-11ed-ba32-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 10 May 2023 16:26:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"role":"admin"},"type":"team_memberships"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/team/5ac7a35c-ef4f-11ed-ba32-da7ad0900002/memberships/REPLACE.ME
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Wed, 10 May 2023 16:26:02 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/5ac7a35c-ef4f-11ed-ba32-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
