http_interactions:
- recorded_at: Wed, 12 Jul 2023 17:29:37 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-35daf948e7104345","name":"name-35daf948e7104345"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"ad5a151c-20d9-11ee-bfa0-da7ad0900002","attributes":{"name":"name-35daf948e7104345","handle":"handle-35daf948e7104345","summary":null,"description":null,"created_at":"2023-07-12T17:29:38.339300+00:00","modified_at":"2023-07-12T17:29:38.339306+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/ad5a151c-20d9-11ee-bfa0-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/ad5a151c-20d9-11ee-bfa0-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 12 Jul 2023 17:29:37 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-35daf948e7104345","name":"name-35daf948e7104345
        updated"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/team/ad5a151c-20d9-11ee-bfa0-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"ad5a151c-20d9-11ee-bfa0-da7ad0900002","attributes":{"name":"name-35daf948e7104345
        updated","handle":"handle-35daf948e7104345","summary":null,"description":null,"created_at":"2023-07-12T17:29:38.339300+00:00","modified_at":"2023-07-12T17:29:39.089732+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/ad5a151c-20d9-11ee-bfa0-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/ad5a151c-20d9-11ee-bfa0-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 12 Jul 2023 17:29:37 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/ad5a151c-20d9-11ee-bfa0-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
