http_interactions:
- recorded_at: Wed, 10 May 2023 16:25:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"handle-b008f313b7fb41a2","name":"name-b008f313b7fb41a2"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"59784f1a-ef4f-11ed-ae21-da7ad0900002","attributes":{"name":"name-b008f313b7fb41a2","handle":"handle-b008f313b7fb41a2","summary":null,"description":null,"color":9,"created_at":"2023-05-10T16:26:00.087139+00:00","modified_at":"2023-05-10T16:26:00.087144+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/59784f1a-ef4f-11ed-ae21-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/59784f1a-ef4f-11ed-ae21-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 10 May 2023 16:25:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"label":"Link label","url":"https://example.com"},"type":"team_links"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/team/59784f1a-ef4f-11ed-ae21-da7ad0900002/links/REPLACE.ME
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Wed, 10 May 2023 16:25:59 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/59784f1a-ef4f-11ed-ae21-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
