---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/teams
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Update-an-existing-team-returns-OK-response-1600684056"},"type":"teams"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3066091'
      X-Dd-Debug:
      - YNPvfo/A+kRa92W7PZNTiFcSJq6YGkB9TIlX47+pHHndNDZ3ZySmub3fInFxn6Db
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"2331eca6-e684-5e05-8b6a-35a8644bcb5d","attributes":{"name":"ruby-Update-an-existing-team-returns-OK-response-1600684056","created":"2020-09-21T10:27:36.627044+00:00","modified":"2020-09-21T10:27:36.627044+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Mon, 21 Sep 2020 10:27:36 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/teams/2331eca6-e684-5e05-8b6a-35a8644bcb5d
    body:
      encoding: UTF-8
      string: '{"data":{"type":"teams","attributes":{"name":"ruby-Update-an-existing-team-returns-OK-response-1600684056-updated"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3066091'
     [...]
