http_interactions:
- recorded_at: Mon, 03 Mar 2025 21:21:24 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":true,"event_type":"session","name":"Test
        retention filter for session","query":"custom_query","sample_rate":25},"meta":{"source":"terraform"},"type":"retention_filters"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/applications/a33671aa-24fd-4dcd-ba4b-5bbdbafe7690/retention_filters
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0e66067f-9545-4933-b246-ab32488bae07","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"Test
        retention filter for session","query":"custom_query","sample_rate":25},"meta":{"source":"terraform"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 03 Mar 2025 21:21:24 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":true,"event_type":"view","name":"Test
        updating retention filter","query":"view_query","sample_rate":100},"id":"0e66067f-9545-4933-b246-ab32488bae07","type":"retention_filters"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/rum/applications/a33671aa-24fd-4dcd-ba4b-5bbdbafe7690/retention_filters/0e66067f-9545-4933-b246-ab32488bae07
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0e66067f-9545-4933-b246-ab32488bae07","type":"retention_filters","attributes":{"enabled":true,"event_type":"view","name":"Test
        updating retention filter","query":"view_query","sample_rate":100},"meta":{"source":"unknown"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 03 Mar 2025 21:21:24 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/rum/applications/%5Bobject%20Object%5D/retention_filters/0e66067f-9545-4933-b246-ab32488bae07
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"Not Found","detail":"rpc error:
        code = NotFound desc = NotFound: This retention filter does not exist"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
