http_interactions:
- recorded_at: Tue, 28 Jan 2025 19:36:53 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Get_workflow_webhook_handle_information_returns_OK_response-1738093013","url":"https://prod-100.westus.logic.azure.com:443/workflows/abcd1234"},"type":"workflows-webhook-handle"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"cf3d9006-205e-47b2-9e6a-bea534a2d38b","type":"workflows-webhook-handle","attributes":{"name":"Test-Get_workflow_webhook_handle_information_returns_OK_response-1738093013"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 28 Jan 2025 19:36:53 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/cf3d9006-205e-47b2-9e6a-bea534a2d38b
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"cf3d9006-205e-47b2-9e6a-bea534a2d38b","type":"workflows-webhook-handle","attributes":{"name":"Test-Get_workflow_webhook_handle_information_returns_OK_response-1738093013"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 28 Jan 2025 19:36:53 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/cf3d9006-205e-47b2-9e6a-bea534a2d38b
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
