http_interactions:
- recorded_at: Wed, 24 Jul 2024 18:39:57 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"meta":{"payload":{"input":"value"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/workflows/malformed/instances
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"INVALID_FIELD_VALUE","detail":"value <no value>
        is invalid for field workflow_id"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
