http_interactions:
- recorded_at: Tue, 04 Feb 2025 04:58:34 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"A sample workflow.","name":"Example
        Workflow","published":true,"spec":{"connectionEnvs":[{"connections":[{"connectionId":"11111111-1111-1111-1111-111111111111","label":"INTEGRATION_DATADOG"}],"env":"default"}],"handle":"my-handle","inputSchema":{"parameters":[{"defaultValue":"default","name":"input","type":"STRING"}]},"outputSchema":{"parameters":[{"name":"output","type":"ARRAY_OBJECT","value":"outputValue"}]},"steps":[{"actionId":"com.datadoghq.dd.monitor.listMonitors","connectionLabel":"INTEGRATION_DATADOG","name":"Step1","outboundEdges":[{"branchName":"main","nextStepName":"Step2"}],"parameters":[{"name":"tags","value":"service:monitoring"}]},{"actionId":"com.datadoghq.core.noop","name":"Step2"}],"triggers":[{"monitorTrigger":{"rateLimit":{"count":1,"interval":"3600s"}},"startStepNames":["Step1"]},{"githubWebhookTrigger":{},"startStepNames":["Step1"]}]},"tags":["team:infra","service:monitoring","foo:bar"]},"id":"22222222-2222-2222-2222-222222222222","type":"workflows"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/workflows/aaa11111-aa11-aa11-aaaa-aaaaaa111111
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"detail":"workflow not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
