http_interactions:
- recorded_at: Tue, 28 Sep 2021 10:25:39 GMT
  request:
    body:
      encoding: UTF-8
      string: '[{"check":"app.ok","host_name":"host","status":0,"tags":["test:TestSubmitaServiceCheckreturnsPayloadacceptedresponse1632824739"]}]'
    headers:
      Content-Type:
      - text/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/check_run
  response:
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
    status:
      code: 202
      message: Accepted
recorded_with: VCR 6.0.0
