---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/check_run
    body:
      encoding: UTF-8
      string: '[{"check":"app.ok","host_name":"host","status":0,"tags":["test:TestSubmitaServiceCheckreturnsPayloadacceptedresponse1617968722"]}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
  recorded_at: Fri, 09 Apr 2021 11:45:22 GMT
recorded_with: VCR 6.0.0
