http_interactions:
- recorded_at: Thu, 12 May 2022 09:50:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '[{"check":"app.ok","host_name":"host","status":0,"tags":["test:TestSubmitaServiceCheckreturnsPayloadacceptedresponse1652349011"]}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/check_run
  response:
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
    status:
      code: 202
      message: Accepted
recorded_with: VCR 6.0.0
