http_interactions:
- recorded_at: Fri, 08 Aug 2025 19:35:42 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"account_filters":{"excluded_accounts":["123456789123","123456789143"],"include_new_accounts":true,"included_accounts":["123456789123","123456789143"]},"account_id":"123456789123","bucket_name":"dd-cost-bucket","bucket_region":"us-east-1","report_name":"dd-report-name","report_prefix":"dd-report-prefix"},"type":"aws_cur_config_post_request"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cost/aws_cur_config
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Validation Error","detail":"[key=BUCKET_ACCESS]
        Amazon Web Services integration for account ''123456789123'' is currently
        disabled or misconfigured. Please double check your configuration on the Integrations
        page."}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
