http_interactions:
- recorded_at: Thu, 11 Sep 2025 18:25:21 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/cost/arbitrary_rule/123456
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"123456","type":"arbitrary_rule","attributes":{"costs_to_allocate":[{"tag":"account_id","condition":"is","value":"123456789","values":null},{"tag":"environment","condition":"in","value":"","values":["production","staging"]}],"created":"2025-09-11T18:23:20.518112Z","enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","order_id":1,"provider":["aws","gcp"],"rule_name":"example-arbitrary-cost-rule","strategy":{"method":"proportional","granularity":"daily","based_on_costs":[{"tag":"service","condition":"is","value":"web-api","values":null},{"tag":"team","condition":"not
        in","value":"","values":["legacy","deprecated"]}],"allocated_by_tag_keys":["team","environment"]},"type":"shared","updated":"2025-09-11T18:23:20.518112Z","version":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
