http_interactions:
- recorded_at: Fri, 13 Jun 2025 23:47:17 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/cost/gcp_uc_config
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"3242","type":"gcp_uc_config","attributes":{"account_id":"012345_ABCDEF_012345","bucket_name":"test_bucket_name","created_at":"2024-04-29T13:10:37.516579","dataset":"testing","error_messages":null,"export_prefix":"datadog_cloud_cost_detailed_usage_export","export_project_name":"datadog-cloud-cost-management","months":15,"project_id":"","service_account":"test@test.com","status":"active","status_updated_at":"2025-05-05T17:16:47.945325","updated_at":"2024-04-29T13:10:37.516579"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
