http_interactions:
- recorded_at: Mon, 25 Aug 2025 15:10:14 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_enabled":true},"type":"aws_cur_config_patch_request"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/cost/aws_cur_config/12345678
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"Cloud account not found","detail":"Cloud
        account with ID 12345678 was not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
