http_interactions:
- recorded_at: Mon, 23 Jun 2025 12:09:03 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_enabled":true},"type":"gcp_uc_config_patch_request"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/cost/gcp_uc_config/InvalidValue
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Invalid Parameter","detail":"invalid
        parameter \"cloudAccountId\" in \"path\"; expected type \"int64\""}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
