http_interactions:
- recorded_at: Mon, 23 Jun 2025 12:09:42 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_enabled":true},"type":"gcp_uc_config_patch_request"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/cost/gcp_uc_config/123456
  response:
    body:
      encoding: UTF-8
      string: "{\"errors\":[{\"title\":\"Generic Error\",\"detail\":\"rpc error: code\
        \ = NotFound desc = cloud account '\uFFFD' not found\"}]}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
