http_interactions:
- recorded_at: Wed, 13 Aug 2025 18:09:22 GMT
  request:
    body:
      encoding: UTF-8
      string: '[{"BilledCost":100.5,"BillingCurrency":"USD","ChargeDescription":"Monthly
        usage charge for my service","ChargePeriodEnd":"2023-02-28","ChargePeriodStart":"2023-02-01"}]'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/cost/custom_costs
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"errors in
        object 0:\nTags is a required field\nProviderName is a required field","meta":{"end":167,"obj":0,"start":1}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
