http_interactions:
- recorded_at: Thu, 11 Sep 2025 19:06:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"Query":"example:query AND test:true"},"type":"validate_query"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/tags/enrichment/validate-query
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6a2cddcf-8498-469f-8da1-7b8fb597868d","type":"validate_response","attributes":{"Canonical":"example:query
        AND test:true"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
