http_interactions:
- recorded_at: Tue, 28 Mar 2023 14:55:26 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":false,"path":"@duration"},"filter":{"query":"source:Test-Get_a_span_based_metric_returns_OK_response-1680015326"},"group_by":[{"path":"resource_name","tag_name":"resource_name"}]},"id":"Test-Get_a_span_based_metric_returns_OK_response-1680015326","type":"spans_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/apm/config/metrics
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Get_a_span_based_metric_returns_OK_response_1680015326","attributes":{"filter":{"query":"source:Test-Get_a_span_based_metric_returns_OK_response-1680015326"},"group_by":[{"path":"resource_name","tag_name":"resource_name"}],"compute":{"aggregation_type":"distribution","path":"@duration","include_percentiles":false}},"type":"spans_metrics"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 28 Mar 2023 14:55:26 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/apm/config/metrics/Test_Get_a_span_based_metric_returns_OK_response_1680015326
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Get_a_span_based_metric_returns_OK_response_1680015326","attributes":{"filter":{"query":"source:Test-Get_a_span_based_metric_returns_OK_response-1680015326"},"group_by":[{"path":"resource_name","tag_name":"resource_name"}],"compute":{"aggregation_type":"distribution","path":"@duration","include_percentiles":false}},"type":"spans_metrics"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 28 Mar 2023 14:55:26 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/apm/config/metrics/Test_Get_a_span_based_metric_returns_OK_response_1680015326
  response:
    body:
      encoding: UTF-8
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
