http_interactions:
- recorded_at: Wed, 14 Apr 2021 15:12:34 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"name":"Test-Create_an_SLO_object_returns_Bad_Request_response-1618413154","thresholds":[{"target":95,"target_display":"95.0","timeframe":"7d","warning":98,"warning_display":"98.0"}],"type":"monitor"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4310591'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '26'
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["Invalid payload: must specify monitor_ids or monitor_search"]}'
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
