---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo
    body:
      encoding: UTF-8
      string: '{"type":"monitor","name":"Test-Create_an_SLO_object_returns_Bad_Request_response-1618572618","thresholds":[{"target":95.0,"target_display":"95.0","timeframe":"7d","warning":98,"warning_display":"98.0"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '42'
      X-Ratelimit-Remaining:
      - '498'
      X-Dd-Version:
      - '35.4327367'
    body:
      encoding: ASCII-8BIT
      string: '{"errors": ["Invalid payload: must specify monitor_ids or monitor_search"]}'
  recorded_at: Fri, 16 Apr 2021 11:30:18 GMT
recorded_with: VCR 6.0.0
