http_interactions:
- recorded_at: Thu, 15 Apr 2021 13:01:20 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"name":"Test-Delete_an_SLO_returns_OK_response-1618491680","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '496'
      X-Ratelimit-Reset:
      - '39'
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"e14442711e255a92970f2050d05be95d","name":"Test-Delete_an_SLO_returns_OK_response-1618491680","created_at":1618491681,"tags":[],"modified_at":1618491681,"type":"metric"}],"error":null}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Apr 2021 13:01:20 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '3000'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Remaining:
      - '2997'
      X-Ratelimit-Reset:
      - '9'
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/e14442711e255a92970f2050d05be95d
  response:
    body:
      encoding: UTF-8
      string: '{"data":["e14442711e255a92970f2050d05be95d"],"error":null}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Apr 2021 13:01:20 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '3000'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Remaining:
      - '2996'
      X-Ratelimit-Reset:
      - '8'
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/e14442711e255a92970f2050d05be95d
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["SLO not found: e14442711e255a92970f2050d05be95d not found"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
