---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo
    body:
      encoding: UTF-8
      string: '{"type":"metric","name":"ruby-Delete_an_SLO_returns_OK_response-1617969072","thresholds":[{"timeframe":"7d","target":95.0,"warning":98.0}],"query":{"numerator":"sum:httpservice.hits{code:2xx}.as_count()","denominator":"sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '48'
      X-Ratelimit-Remaining:
      - '497'
    body:
      encoding: UTF-8
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"c90e4fbe508a53c5afb5eb54a9443819","name":"ruby-Delete_an_SLO_returns_OK_response-1617969072","created_at":1617969072,"tags":[],"modified_at":1617969072,"type":"metric"}],"error":null}'
  recorded_at: Fri, 09 Apr 2021 11:51:12 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/slo/c90e4fbe508a53c5afb5eb54a9443819
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '3000'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Reset:
      - '8'
      X-Ratelimit-Remaining:
      - '2997'
    body:
      encoding: UTF-8
      string: '{"data":["c90e4fbe508a53c5afb5eb54a9443819"],"error":null}'
  recorded_at: Fri, 09 Apr 2021 11:51:12 GMT
recorded_with: VCR 6.0.0
