---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo
    body:
      encoding: UTF-8
      string: '{"type":"metric","name":"Test-Delete_an_SLO_returns_OK_response-1618390727","thresholds":[{"timeframe":"7d","target":95.0,"warning":98.0}],"query":{"numerator":"sum:httpservice.hits{code:2xx}.as_count()","denominator":"sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '13'
      X-Ratelimit-Remaining:
      - '497'
    body:
      encoding: UTF-8
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"b0f62be32018560281d7a1b0bcbb7c70","name":"Test-Delete_an_SLO_returns_OK_response-1618390727","created_at":1618390727,"tags":[],"modified_at":1618390727,"type":"metric"}],"error":null}'
  recorded_at: Wed, 14 Apr 2021 08:58:47 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/slo/b0f62be32018560281d7a1b0bcbb7c70
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '3000'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Reset:
      - '2'
      X-Ratelimit-Remaining:
      - '2997'
    body:
      encoding: UTF-8
      string: '{"data":["b0f62be32018560281d7a1b0bcbb7c70"],"error":null}'
  recorded_at: Wed, 14 Apr 2021 08:58:47 GMT
recorded_with: VCR 6.0.0
