http_interactions:
- recorded_at: Wed, 03 Jan 2024 22:54:48 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"name":"Test-Get_an_SLO_s_details_returns_OK_response-1704322488","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ebf2e048f49a5134b61a586438c66505","name":"Test-Get_an_SLO_s_details_returns_OK_response-1704322488","tags":[],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}],"type":"metric","type_id":1,"description":"","timeframe":"7d","warning_threshold":98,"target_threshold":95,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1704322488,"modified_at":1704322488}],"error":null}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 03 Jan 2024 22:54:48 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/slo/ebf2e048f49a5134b61a586438c66505
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ebf2e048f49a5134b61a586438c66505","name":"Test-Get_an_SLO_s_details_returns_OK_response-1704322488","tags":[],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}],"type":"metric","type_id":1,"description":"","timeframe":"7d","warning_threshold":98.0,"target_threshold":95.0,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1704322488,"modified_at":1704322488},"error":null}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 03 Jan 2024 22:54:48 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/ebf2e048f49a5134b61a586438c66505
  response:
    body:
      encoding: UTF-8
      string: '{"data":["ebf2e048f49a5134b61a586438c66505"],"error":null}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
