http_interactions:
- recorded_at: Wed, 24 Nov 2021 11:49:06 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"name":"Test-Get_Corrections_For_an_SLO_returns_OK_response-1637754546","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '54'
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"8eddf59c3200549583476fdb9d16fe1f","name":"Test-Get_Corrections_For_an_SLO_returns_OK_response-1637754546","created_at":1637754546,"tags":[],"modified_at":1637754546,"type":"metric"}],"error":null}'
    status:
      code: 200
      message: OK
- recorded_at: Wed, 24 Nov 2021 11:49:06 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"category":"Other","description":"Test Correction","end":1637758146,"slo_id":"8eddf59c3200549583476fdb9d16fe1f","start":1637754546,"timezone":"UTC"},"type":"correction"}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11999'
      X-Ratelimit-Reset:
      - '54'
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"correction","id":"87325b5c-4d1c-11ec-a541-da7ad0900002","attributes":{"slo_id":"8eddf59c3200549583476fdb9d16fe1f","start":1637754546,"end":1637758146,"description":"Test
        Correction","category":"Other","timezone":"UTC","created_at":null,"modified_at":null,"rrule":null,"duration":null,"creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"modifier":null}}}'
    status:
      code: 200
      message: OK
- recorded_at: Wed, 24 Nov 2021 11:49:06 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '4'
    method: GET
    uri: https://api.datadoghq.com/api/v1/slo/8eddf59c3200549583476fdb9d16fe1f/corrections
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{"pagination":{"type":"offset_limit","prev_offset":0,"next_offset":10,"offset":0,"limit":10,"total":1,"first_offset":0,"last_offset":0}},"data":[{"type":"correction","id":"87325b5c-4d1c-11ec-a541-da7ad0900002","attributes":{"slo_id":"8eddf59c3200549583476fdb9d16fe1f","start":1637754546,"end":1637758146,"description":"Test
        Correction","category":"Other","timezone":"UTC","created_at":1637754546,"modified_at":1637754546,"rrule":null,"duration":null,"creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"modifier":null}}],"links":{"next":"https://api.datadoghq.com/api/v1/slo/8eddf59c3200549583476fdb9d16fe1f/corrections?page[offset]=10&page[limit]=10","self":"https://api.datadoghq.com/api/v1/slo/8eddf59c3200549583476fdb9d16fe1f/corrections","prev":null,"last":null,"first":"https://api.datadoghq.com/api/v1/slo/8eddf59c3200549583476fdb9d16fe1f/corrections?page[offset]=0&page[limit]=10"}}'
    status:
      code: 200
      message: OK
- recorded_at: Wed, 24 Nov 2021 11:49:06 GMT
  request:
    body: null
    headers:
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11999'
      X-Ratelimit-Reset:
      - '54'
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/correction/87325b5c-4d1c-11ec-a541-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
- recorded_at: Wed, 24 Nov 2021 11:49:06 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '3000'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Remaining:
      - '2999'
      X-Ratelimit-Reset:
      - '4'
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/8eddf59c3200549583476fdb9d16fe1f
  response:
    body:
      encoding: UTF-8
      string: '{"data":["8eddf59c3200549583476fdb9d16fe1f"],"error":null}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
