---
http_interactions:
- request:
    method: put
    uri: https://api.datadoghq.com/api/v1/slo/testupdateansloreturnsbadrequestresponse1618243616
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '4'
      X-Ratelimit-Remaining:
      - '497'
      X-Dd-Version:
      - '35.4290818'
    body:
      encoding: UTF-8
      string: '{"errors": ["Invalid payload: Required parameter ''type'' is missing"]}'
  recorded_at: Mon, 12 Apr 2021 16:06:56 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo
    body:
      encoding: UTF-8
      string: '{"type":"metric","name":"Test-Update_an_SLO_returns_Bad_Request_response-1618476732","thresholds":[{"timeframe":"7d","target":95.0,"warning":98.0}],"query":{"numerator":"sum:httpservice.hits{code:2xx}.as_count()","denominator":"sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4317157'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '48'
      X-Ratelimit-Remaining:
      - '498'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"ffe10eec735f562eb7f40524aaaf1f01","name":"Test-Update_an_SLO_returns_Bad_Request_response-1618476732","created_at":1618476732,"tags":[],"modified_at":1618476732,"type":"metric"}],"error":null}'
  recorded_at: Thu, 15 Apr 2021 08:52:12 GMT
- request:
    method: put
    uri: https://api.datadoghq.com/api/v1/slo/ffe10eec735f562eb7f40524aaaf1f01
    body:
      encoding: UTF-8
      string: '{"type":"monitor","name":"Test-Update_an_SLO_returns_Bad_Request_response-1618476732","thresholds":[{"target":95.0,"target_display":"95.0","timeframe":"7d","warning":98,"warning_display":"98.0"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '48'
      X-Ratelimit-Remaining:
      - '499'
      X-Dd-Version:
      - '35.4317157'
    body:
      encoding: ASCII-8BIT
      string: '{"errors": ["Invalid payload: must specify the query for count types"]}'
  recorded_at: Thu, 15 Apr 2021 08:52:12 GMT
recorded_with: VCR 6.0.0
