http_interactions:
- recorded_at: Fri, 16 Apr 2021 11:32:12 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"name":"Test-Update_an_SLO_returns_Bad_Request_response-1618572732","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4327367'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '498'
      X-Ratelimit-Reset:
      - '48'
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"90eaa3b4c11751b884a783c81485ed31","name":"Test-Update_an_SLO_returns_Bad_Request_response-1618572732","created_at":1618572732,"tags":[],"modified_at":1618572732,"type":"metric"}],"error":null}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 16 Apr 2021 11:32:12 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"name":"Test-Update_an_SLO_returns_Bad_Request_response-1618572732","thresholds":[{"target":95,"target_display":"95.0","timeframe":"7d","warning":98,"warning_display":"98.0"}],"type":"monitor"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4327367'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '48'
    method: PUT
    uri: https://api.datadoghq.com/api/v1/slo/90eaa3b4c11751b884a783c81485ed31
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["Invalid payload: must specify the query for count types"]}'
    status:
      code: 400
      message: Bad Request
- recorded_at: Fri, 16 Apr 2021 11:32:12 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4327367'
      X-Ratelimit-Limit:
      - '3000'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Remaining:
      - '2998'
      X-Ratelimit-Reset:
      - '8'
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/90eaa3b4c11751b884a783c81485ed31
  response:
    body:
      encoding: UTF-8
      string: '{"data":["90eaa3b4c11751b884a783c81485ed31"],"error":null}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
