---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo
    body:
      encoding: UTF-8
      string: '{"type":"metric","name":"Test-Update_an_SLO_returns_Bad_Request_response-1618572618","thresholds":[{"timeframe":"7d","target":95.0,"warning":98.0}],"query":{"numerator":"sum:httpservice.hits{code:2xx}.as_count()","denominator":"sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4327367'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '42'
      X-Ratelimit-Remaining:
      - '497'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"d59b7b654a195cc6b16c0b69438ab9be","name":"Test-Update_an_SLO_returns_Bad_Request_response-1618572618","created_at":1618572618,"tags":[],"modified_at":1618572618,"type":"metric"}],"error":null}'
  recorded_at: Fri, 16 Apr 2021 11:30:18 GMT
- request:
    method: put
    uri: https://api.datadoghq.com/api/v1/slo/d59b7b654a195cc6b16c0b69438ab9be
    body:
      encoding: UTF-8
      string: '{"type":"monitor","name":"Test-Update_an_SLO_returns_Bad_Request_response-1618572618","thresholds":[{"target":95.0,"target_display":"95.0","timeframe":"7d","warning":98,"warning_display":"98.0"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '42'
      X-Ratelimit-Remaining:
      - '499'
      X-Dd-Version:
      - '35.4327367'
    body:
      encoding: ASCII-8BIT
      string: '{"errors": ["Invalid payload: must specify the query for count types"]}'
  recorded_at: Fri, 16 Apr 2021 11:30:18 GMT
recorded_with: VCR 6.0.0
