http_interactions:
- recorded_at: Fri, 23 Dec 2022 20:34:34 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"name":"Test-Update_an_SLO_returns_OK_response-1671827674","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"9ca3260165e5524bb05029ae2cf52ceb","name":"Test-Update_an_SLO_returns_OK_response-1671827674","tags":[],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}],"type":"metric","type_id":1,"description":"","timeframe":"7d","warning_threshold":98,"target_threshold":95,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1671827674,"modified_at":1671827674}],"error":null}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 23 Dec 2022 20:34:34 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"name":"Test-Update_an_SLO_returns_OK_response-1671827674","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"target_threshold":97,"thresholds":[{"target":97,"timeframe":"7d","warning":98}],"timeframe":"7d","type":"metric","warning_threshold":98}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/slo/9ca3260165e5524bb05029ae2cf52ceb
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"9ca3260165e5524bb05029ae2cf52ceb","name":"Test-Update_an_SLO_returns_OK_response-1671827674","tags":[],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":97.0,"target_display":"97.","warning":98.0,"warning_display":"98."}],"type":"metric","type_id":1,"description":"","timeframe":"7d","warning_threshold":98,"target_threshold":97,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1671827674,"modified_at":1671827674}],"error":null}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 23 Dec 2022 20:34:34 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/9ca3260165e5524bb05029ae2cf52ceb
  response:
    body:
      encoding: UTF-8
      string: '{"data":["9ca3260165e5524bb05029ae2cf52ceb"],"error":null}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
