http_interactions:
- recorded_at: Thu, 03 Apr 2025 20:58:03 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"tags":["app:test-delete_a_monitor_notification_rule_returns_ok_response-1743713883"]},"name":"test
        rule","recipients":["slack-monitor-app"]},"type":"monitor-notification-rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"monitor-notification-rule","id":"cef4c2c7-27b3-4259-9bdd-ec434b4a8a0e","attributes":{"creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"test
        rule","created_at":"2025-04-03T20:58:03.555501+00:00","modified_at":"1970-01-01T00:00:00+00:00","filter":{"tags":["app:test-delete_a_monitor_notification_rule_returns_ok_response-1743713883"]},"recipients":["slack-monitor-app"]}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 03 Apr 2025 20:58:03 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/cef4c2c7-27b3-4259-9bdd-ec434b4a8a0e
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 03 Apr 2025 20:58:03 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/cef4c2c7-27b3-4259-9bdd-ec434b4a8a0e
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Monitor notification rule not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
