http_interactions:
- recorded_at: Thu, 03 Apr 2025 20:58:04 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"tags":["app:test-get_a_monitor_notification_rule_returns_ok_response-1743713884"]},"name":"test
        rule","recipients":["slack-monitor-app"]},"type":"monitor-notification-rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"monitor-notification-rule","attributes":{"filter":{"tags":["app:test-get_a_monitor_notification_rule_returns_ok_response-1743713884"]},"created_at":"2025-04-03T20:58:04.156763+00:00","recipients":["slack-monitor-app"],"modified_at":"1970-01-01T00:00:00+00:00","creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"test
        rule"},"id":"8e0ab047-d891-476c-8fb1-da4d80ddc129"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 03 Apr 2025 20:58:04 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/8e0ab047-d891-476c-8fb1-da4d80ddc129
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"monitor-notification-rule","attributes":{"creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"test
        rule","created_at":"2025-04-03T20:58:04.156763+00:00","recipients":["slack-monitor-app"],"modified_at":"2025-04-03T20:58:04.164001+00:00","filter":{"tags":["app:test-get_a_monitor_notification_rule_returns_ok_response-1743713884"]}},"id":"8e0ab047-d891-476c-8fb1-da4d80ddc129"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 03 Apr 2025 20:58:04 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/8e0ab047-d891-476c-8fb1-da4d80ddc129
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
