http_interactions:
- recorded_at: Thu, 03 Apr 2025 20:58:05 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"tags":["app:test-update_a_monitor_notification_rule_returns_ok_response-1743713885"]},"name":"test
        rule","recipients":["slack-monitor-app"]},"type":"monitor-notification-rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"monitor-notification-rule","attributes":{"recipients":["slack-monitor-app"],"creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","created_at":"2025-04-03T20:58:05.737805+00:00","modified_at":"1970-01-01T00:00:00+00:00","filter":{"tags":["app:test-update_a_monitor_notification_rule_returns_ok_response-1743713885"]},"name":"test
        rule"},"id":"f81c2483-18e3-4db3-ad1d-56e2e0ce41ef"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 03 Apr 2025 20:58:05 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"tags":["test:test-update_a_monitor_notification_rule_returns_ok_response-1743713885","host:abc"]},"name":"updated
        rule","recipients":["slack-test-channel"]},"id":"f81c2483-18e3-4db3-ad1d-56e2e0ce41ef","type":"monitor-notification-rule"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/f81c2483-18e3-4db3-ad1d-56e2e0ce41ef
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"monitor-notification-rule","attributes":{"recipients":["slack-test-channel"],"created_at":"2025-04-03T20:58:05.737806+00:00","filter":{"tags":["test:test-update_a_monitor_notification_rule_returns_ok_response-1743713885","host:abc"]},"name":"updated
        rule","modified_at":"2025-04-03T20:58:05.889695+00:00","creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0"},"id":"f81c2483-18e3-4db3-ad1d-56e2e0ce41ef"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 03 Apr 2025 20:58:05 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/f81c2483-18e3-4db3-ad1d-56e2e0ce41ef
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
