http_interactions:
- recorded_at: Mon, 13 Apr 2026 09:15:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"jobDefinition":{"cases":[{"condition":"a >
        1","name":"Condition 1","notifications":[],"status":"info"}],"from":1730387522611,"index":"main","message":"A
        large number of failed login attempts.","name":"Excessive number of failed
        attempts.","options":{"evaluationWindow":900,"keepAlive":3600,"maxSignalDuration":86400},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":[],"query":"source:non_existing_src_weekend"}],"tags":[],"to":1730387532611,"type":"log_detection"}},"type":"historicalDetectionsJobCreate"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/siem-historical-detections/jobs
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"67278df4-84b8-4413-884b-88d9facdb68a","type":"historicalDetectionsJob"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 13 Apr 2026 09:15:41 GMT
  request:
    body: null
    headers:
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/siem-historical-detections/jobs/67278df4-84b8-4413-884b-88d9facdb68a/cancel
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
