http_interactions:
- recorded_at: Fri, 08 Nov 2024 09:54:39 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"jobResultIds":[""],"notifications":[""],"signalMessage":"A
        large number of failed login attempts.","signalSeverity":"critical"},"type":"historicalDetectionsJobResultSignalConversion"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/siem-historical-detections/jobs/signal_convert
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Generic Error","detail":"empty
        jobResultId provided"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
