http_interactions:
- recorded_at: Tue, 18 Jan 2022 13:36:07 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"cases":[{"name":"","notifications":[],"status":"info"}],"filters":[],"isEnabled":true,"message":"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1642512967
        message","name":"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1642512967","options":{"detectionMethod":"third_party","evaluationWindow":0,"keepAlive":3600,"maxSignalDuration":86400,"thirdPartyRuleOptions":{"defaultStatus":"low","rootQuery":"@pop"}},"queries":[{"aggregation":"none","distinctFields":[],"groupByFields":[],"query":"@test:true"}],"tags":[]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      encoding: UTF-8
      string: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1642512967
        message","options":{"detectionMethod":"third_party","evaluationWindow":0,"maxSignalDuration":86400,"thirdPartyRuleOptions":{"defaultStatus":"low","defaultNotifications":[],"rootQuery":"@pop"},"keepAlive":3600},"version":1,"createdAt":1642512967974,"filters":[],"queries":[{"query":"@test:true","groupByFields":[],"aggregation":"none","name":"","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":""}],"type":"log_detection","id":"4fd-sl4-onv","isDefault":false,"name":"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1642512967"}'
    status:
      code: 200
      message: OK
- recorded_at: Tue, 18 Jan 2022 13:36:07 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/4fd-sl4-onv
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
