http_interactions:
- recorded_at: Fri, 07 Nov 2025 12:27:25 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"This rule suppresses low-severity
        signals in staging environments.","enabled":true,"expiration_date":1764332845000,"name":"Test-Create_a_suppression_rule_returns_OK_response-1762518445","rule_query":"type:log_detection
        source:cloudtrail","start_date":1763382445000,"suppression_query":"env:staging
        status:low","tags":["technique:T1110-brute-force","source:cloudtrail"]},"type":"suppressions"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"oxk-jlo-pc8","type":"suppressions","attributes":{"creation_date":1762518446390,"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"data_exclusion_query":"","description":"This rule suppresses low-severity
        signals in staging environments.","editable":true,"enabled":true,"expiration_date":1764332845000,"name":"Test-Create_a_suppression_rule_returns_OK_response-1762518445","rule_query":"type:log_detection
        source:cloudtrail","start_date":1763382445000,"suppression_query":"env:staging
        status:low","tags":["source:cloudtrail","technique:T1110-brute-force"],"update_date":1762518446390,"updater":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"version":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 07 Nov 2025 12:27:25 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/oxk-jlo-pc8
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
