http_interactions:
- recorded_at: Wed, 09 Apr 2025 19:24:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"new-terraform-framework","icon_url":"","name":"ponse1744226684","requirements":[{"controls":[{"name":"ponse1744226684","rules_id":["def-000-cea"]}],"name":"ponse1744226684"}],"version":"4"},"type":"custom_framework"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Wed, 09 Apr 2025 19:24:44 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/%7Bhandle%7D/%7Bversion%7D
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"500","title":"Internal Server Error"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 500
      message: Internal Server Error
recorded_with: VCR 6.0.0
