http_interactions:
- recorded_at: Tue, 08 Apr 2025 19:15:43 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"ponse1744139743","icon_url":"","name":"ponse1744139743","requirements":[{"controls":[{"name":"ponse1744139743","rules_id":["def-000-cea"]}],"name":"ponse1744139743"}],"version":"ponse1744139743"},"type":"custom_framework"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://frog.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
