http_interactions:
- recorded_at: Thu, 15 Apr 2021 13:02:48 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"cases":[{"condition":"a > 0","name":"","notifications":[],"status":"info"}],"filters":[],"isEnabled":true,"message":"Test
        rule","name":"Test-Create_a_detection_rule_returns_OK_response-1618491768","options":{"evaluationWindow":900,"keepAlive":3600,"maxSignalDuration":86400},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":[],"metric":"","query":"@test:true"}],"tags":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      X-Dd-Version:
      - '35.4318655'
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      encoding: UTF-8
      string: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test
        rule","options":{"detectionMethod":"threshold","evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":3600},"version":1,"createdAt":1618491769225,"filters":[],"queries":[{"distinctFields":[],"name":"","metric":"","aggregation":"count","groupByFields":[],"query":"@test:true","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"","condition":"a
        > 0"}],"type":"log_detection","id":"ihw-tnw-ivf","isDefault":false,"name":"Test-Create_a_detection_rule_returns_OK_response-1618491768"}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Apr 2021 13:02:48 GMT
  request:
    body: null
    headers:
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - '35.4318655'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/ihw-tnw-ivf
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
