http_interactions:
- recorded_at: Tue, 04 Aug 2026 14:46:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"action":{"description":"Lower severity for
        dev environment noise","severity":"low","type":"set"},"enabled":true,"name":"Downgrade
        misconfigurations in dev","rule":{"finding_types":["misconfiguration"],"query":"env:prod
        team:platform"}},"type":"severity_modifier_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0e2c6dfd-c591-4bed-a7f2-a1a44a148d61","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"low","description":"Lower
        severity for dev environment noise"},"created_at":1785854818028,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":true,"modified_at":1785854818028,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Downgrade misconfigurations in dev","rule":{"finding_types":["misconfiguration"],"query":"env:prod
        team:platform"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 04 Aug 2026 14:46:55 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/0e2c6dfd-c591-4bed-a7f2-a1a44a148d61
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
