---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
    body:
      encoding: UTF-8
      string: '{"name":"Test-Create_a_detection_rule_returns_OK_response-1618572619","queries":[{"query":"@test:true","aggregation":"count","groupByFields":[],"distinctFields":[],"metric":""}],"filters":[],"cases":[{"name":"","status":"info","condition":"a
        \u003e 0","notifications":[]}],"options":{"evaluationWindow":900,"keepAlive":3600,"maxSignalDuration":86400},"message":"Test
        rule","tags":[],"isEnabled":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4327367'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - "/L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG"
    body:
      encoding: ASCII-8BIT
      string: '{"creationAuthorId":2320499,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test
        rule","options":{"detectionMethod":"threshold","evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":3600},"version":1,"createdAt":1618572619603,"filters":[],"queries":[{"distinctFields":[],"name":"","metric":"","aggregation":"count","groupByFields":[],"query":"@test:true","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"","condition":"a
        > 0"}],"type":"log_detection","id":"mwy-qq9-cyc","isDefault":false,"name":"Test-Create_a_detection_rule_returns_OK_response-1618572619"}'
  recorded_at: Fri, 16 Apr 2021 11:30:19 GMT
recorded_with: VCR 6.0.0
