http_interactions:
- recorded_at: Tue, 22 Apr 2025 19:24:37 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"","icon_url":"test-url","name":"name","requirements":[{"controls":[{"name":"control","rules_id":["def-000-be9"]}],"name":"requirement"}],"version":"10"},"type":"custom_framework"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"input_validation_error(Field
        ''data.attributes.handle'' is invalid: field ''handle'' must not be empty)"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
