http_interactions:
- recorded_at: Tue, 08 Apr 2025 18:33:33 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"cases":[{"notifications":["channel"],"status":"info"}],"complianceSignalOptions":{"userActivationStatus":true,"userGroupByFields":["@account_id"]},"isEnabled":false,"message":"Cloud
        configuration rule","name":"Test-Create_a_custom_framework_returns_Bad_Request_response-1744137213_cloud","options":{"complianceRuleOptions":{"complexRule":false,"regoRule":{"policy":"package
        datadog\n\nimport data.datadog.output as dd_output\n\nimport future.keywords.contains\nimport
        future.keywords.if\nimport future.keywords.in\n\nmilliseconds_in_a_day :=
        ((1000 * 60) * 60) * 24\n\neval(iam_service_account_key) = \"skip\" if {\n\tiam_service_account_key.disabled\n}
        else = \"pass\" if {\n\t(iam_service_account_key.resource_seen_at / milliseconds_in_a_day)
        - (iam_service_account_key.valid_after_time / milliseconds_in_a_day) <= 90\n}
        else = \"fail\"\n\n# This part remains unchanged for all rules\nresults contains
        result if {\n\tsome resource in input.resources[input.main_resource_type]\n\tresult
        := dd_output.format(resource, eval(resource))\n}\n","resourceTypes":["gcp_compute_disk"]},"resourceType":"gcp_compute_disk"}},"tags":["a:tag"],"type":"cloud_configuration"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://frog.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      encoding: UTF-8
      string: '{"name":"Test-Create_a_custom_framework_returns_Bad_Request_response-1744137213_cloud","createdAt":1744137213423,"isDefault":false,"isPartner":false,"isEnabled":false,"isBeta":false,"isDeleted":false,"isDeprecated":false,"queries":[{"query":"resource_type:gcp_compute_disk","groupByFields":["resource_type","resource_id"],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"a"}],"options":{"evaluationWindow":7200,"detectionMethod":"threshold","maxSignalDuration":86400,"keepAlive":21600,"complianceRuleOptions":{"resourceType":"gcp_compute_disk","regoRule":{"policy":"package
        datadog\n\nimport data.datadog.output as dd_output\n\nimport future.keywords.contains\nimport
        future.keywords.if\nimport future.keywords.in\n\nmilliseconds_in_a_day :=
        ((1000 * 60) * 60) * 24\n\neval(iam_service_account_key) = \"skip\" if {\n\tiam_service_account_key.disabled\n}
        else = \"pass\" if {\n\t(iam_service_account_key.resource_seen_at / milliseconds_in_a_day)
        - (iam_service_account_key.valid_after_time / milliseconds_in_a_day) \u003c=
        90\n} else = \"fail\"\n\n# This part remains unchanged for all rules\nresults
        contains result if {\n\tsome resource in input.resources[input.main_resource_type]\n\tresult
        := dd_output.format(resource, eval(resource))\n}\n","resourceTypes":["gcp_compute_disk"]}}},"cases":[{"name":"","status":"info","notifications":["channel"],"condition":"a
        \u003e 0"}],"message":"Cloud configuration rule","tags":["a:tag"],"hasExtendedTitle":true,"type":"cloud_configuration","filters":[],"version":1,"id":"gmd-mzv-trt","blocking":false,"complianceSignalOptions":{"defaultActivationStatus":null,"defaultGroupByFields":null,"userActivationStatus":true,"userGroupByFields":["@account_id"]},"metadata":{"entities":null,"sources":null},"creationAuthorId":1445416,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"updater":{"handle":"","name":""},"findingType":"misconfiguration"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 08 Apr 2025 18:33:33 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"testcreateacustomframeworkreturnsbadrequestresponse1744137213","icon_url":"","name":"testcreateacustomframeworkreturnsbadrequestresponse1744137213","requirements":[{"controls":[{"name":"testcreateacustomframeworkreturnsbadrequestresponse1744137213","rules_id":["kyz-e99-tys"]}],"name":"testcreateacustomframeworkreturnsbadrequestresponse1744137213"}],"version":"v1"},"type":"custom_framework"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://frog.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"invalid_argument(Invalid
        rule configuration)"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
- recorded_at: Tue, 08 Apr 2025 18:33:33 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://frog.datadoghq.com/api/v2/security_monitoring/rules/gmd-mzv-trt
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
