http_interactions:
- recorded_at: Fri, 10 May 2024 16:34:28 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"cases":[{"status":"info"}],"isEnabled":true,"message":"Test rule","name":"Test-Create_a_detection_rule_returns_Bad_Request_response-1715358868","options":{},"queries":[{"query":""}],"tags":[]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Invalid rule configuration","Query filter cannot be empty"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
