http_interactions:
- recorded_at: Tue, 16 Jun 2026 15:41:03 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"action":{"max_tickets_per_day":10,"project_id":"11111111-1111-1111-1111-111111111111","target":"jira"},"enabled":true,"name":"Test-Create_a_ticket_creation_rule_returns_Successfully_created_the_ticket_creation_rule_response-1781624463","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"ticket_creation_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c24fb7cb-e877-491e-ae6e-2e8676b20dcb","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","max_tickets_per_day":10},"created_at":1781624464096,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":true,"modified_at":1781624464096,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Test-Create_a_ticket_creation_rule_returns_Successfully_created_the_ticket_creation_rule_response-1781624463","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 16 Jun 2026 15:41:03 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules/c24fb7cb-e877-491e-ae6e-2e8676b20dcb
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
