http_interactions:
- recorded_at: Thu, 15 Apr 2021 07:54:22 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"cases":[{"status":"info"}],"isEnabled":true,"message":"Test rule","name":"Test-Create_a_detection_rule_returns_Bad_Request_response-1618473262","options":{},"queries":[{"query":""}],"tags":[]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Internal error"]}'
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
