http_interactions:
- recorded_at: Fri, 10 Jul 2026 15:48:20 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"query":"host:testcreateacriticalassetreturnsokresponse1783698500","rule_query":"type:(log_detection
        OR signal_correlation OR workload_security OR application_security) source:cloudtrail","severity":"decrease","tags":["team:security","env:test"]},"type":"critical_assets"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"46d617c7-fba8-49f5-9274-dca43a6a97a5","type":"critical_assets","attributes":{"creation_author_id":2320499,"creation_date":1783698500440,"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"editable":true,"enabled":true,"query":"host:testcreateacriticalassetreturnsokresponse1783698500","rule_query":"type:(log_detection
        OR signal_correlation OR workload_security OR application_security) source:cloudtrail","severity":"decrease","tags":["team:security","env:test"],"update_author_id":2320499,"update_date":1783698500440,"updater":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"version":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 10 Jul 2026 15:48:20 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets/46d617c7-fba8-49f5-9274-dca43a6a97a5
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
