http_interactions:
- recorded_at: Tue, 28 Jan 2025 14:56:17 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"action":{"expire_at":1893452400000,"reason":"duplicate","reason_description":"Muting
        for a while"},"enabled":true,"name":"Rule 1","rule":{"issue_type":"vulnerability","query":"key:val","rule_ids":["rule-id-1"],"rule_types":["application_code_vulnerability"],"severities":["critical"]}},"type":"mute_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"84f9054f-4fb3-46a9-a032-2d8d3d6d61dd","type":"mute_rules","attributes":{"action":{"reason":"duplicate","reason_description":"Muting
        for a while","expire_at":1893452400000},"created_at":1738076177608,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1738076177608,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Rule
        1","rule":{"issue_type":"vulnerability","rule_types":["application_code_vulnerability"],"rule_ids":["rule-id-1"],"query":"key:val","severities":["critical"]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 28 Jan 2025 14:56:17 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules/84f9054f-4fb3-46a9-a032-2d8d3d6d61dd
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
