http_interactions:
- recorded_at: Wed, 22 Dec 2021 16:20:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"cases":[{"condition":"a > 0","name":"","notifications":[],"status":"info"}],"filters":[],"isEnabled":true,"message":"Test
        rule","name":"Test-Create_a_detection_rule_with_type_workload_security_returns_OK_response-1640190011","options":{"evaluationWindow":900,"keepAlive":3600,"maxSignalDuration":86400},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":[],"metric":"","query":"@test:true"}],"tags":[],"type":"workload_security"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '8'
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      encoding: UTF-8
      string: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test
        rule","options":{"detectionMethod":"threshold","evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":3600},"version":1,"createdAt":1640190012032,"filters":[],"queries":[{"distinctFields":[],"name":"","metric":"","aggregation":"count","groupByFields":[],"query":"@test:true"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"","condition":"a
        > 0"}],"type":"workload_security","id":"h4i-5nf-xci","isDefault":false,"name":"Test-Create_a_detection_rule_with_type_workload_security_returns_OK_response-1640190011"}'
    status:
      code: 200
      message: OK
- recorded_at: Wed, 22 Dec 2021 16:20:11 GMT
  request:
    body: null
    headers:
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Remaining:
      - '998'
      X-Ratelimit-Reset:
      - '8'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/h4i-5nf-xci
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
