http_interactions:
- recorded_at: Thu, 01 May 2025 15:27:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"CreateacustomframeworkreturnsOKresponse","icon_url":"test-url","name":"name","requirements":[{"controls":[{"name":"control","rules_id":["def-000-be9"]}],"name":"requirement"}],"version":"10"},"type":"custom_framework"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"CreateacustomframeworkreturnsOKresponse-10","type":"custom_framework","attributes":{"handle":"CreateacustomframeworkreturnsOKresponse","version":"10"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 01 May 2025 15:27:01 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/CreateacustomframeworkreturnsOKresponse/10
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"CreateacustomframeworkreturnsOKresponse-10","type":"custom_framework","attributes":{"description":"","handle":"CreateacustomframeworkreturnsOKresponse","icon_url":"test-url","name":"name","version":"10"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
