http_interactions:
- recorded_at: Fri, 02 Jan 2026 19:09:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"query":"host:testcreateacriticalassetreturnsokresponse1767380942","rule_query":"type:(log_detection
        OR signal_correlation OR workload_security OR application_security) source:cloudtrail","severity":"decrease","tags":["team:security","env:test"]},"type":"critical_assets"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"93d5a224-589d-4d6d-adbf-f6657f484ecc","type":"critical_assets","attributes":{"creation_author_id":1445416,"creation_date":1767380942322,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"enabled":true,"query":"host:testcreateacriticalassetreturnsokresponse1767380942","rule_query":"type:(log_detection
        OR signal_correlation OR workload_security OR application_security) source:cloudtrail","severity":"decrease","tags":["team:security","env:test"],"update_author_id":1445416,"update_date":1767380942322,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 02 Jan 2026 19:09:02 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets/93d5a224-589d-4d6d-adbf-f6657f484ecc
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
