http_interactions:
- recorded_at: Tue, 16 Jun 2026 15:41:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"action":{"reason":"risk_accepted"},"enabled":true,"name":"Test-Create_a_mute_rule_returns_Successfully_created_the_mute_rule_response-1781624462","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"mute_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"a23423e0-da14-4698-9c01-7897eb56b76c","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1781624463227,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":true,"modified_at":1781624463227,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Test-Create_a_mute_rule_returns_Successfully_created_the_mute_rule_response-1781624462","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 16 Jun 2026 15:41:02 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/a23423e0-da14-4698-9c01-7897eb56b76c
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
