http_interactions:
- recorded_at: Thu, 23 Jan 2025 08:40:24 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"action":{"reason_description":"We want to focus
        on these items."},"enabled":true,"name":"Rule 1","rule":{"issue_type":"vulnerability","query":"key:val","rule_ids":["rule-id-1"],"rule_types":["application_code_vulnerability"],"severities":["critical"]}},"type":"inbox_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"9699508b-4736-416c-a8a7-1b7343eb9d42","type":"inbox_rules","attributes":{"action":{"reason_description":"We
        want to focus on these items."},"created_at":1737621625085,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1737621625085,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Rule
        1","rule":{"issue_type":"vulnerability","rule_types":["application_code_vulnerability"],"rule_ids":["rule-id-1"],"query":"key:val","severities":["critical"]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 23 Jan 2025 08:40:24 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules/9699508b-4736-416c-a8a7-1b7343eb9d42
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
