---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
    body:
      encoding: UTF-8
      string: '{"name":"Test-Create_a_detection_rule_returns_Bad_Request_response-1618572619","queries":[{"query":""}],"cases":[{"status":"info"}],"options":{},"message":"Test
        rule","tags":[],"isEnabled":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4327367'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":["Internal error"]}'
  recorded_at: Fri, 16 Apr 2021 11:30:19 GMT
recorded_with: VCR 6.0.0
