http_interactions:
- recorded_at: Fri, 02 Jan 2026 19:09:08 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"creation_author_id":367742,"creation_date":1758896636212,"query":"security:monitoring","rule_query":"source:k9","severity":"medium","tags":["team:security"],"update_author_id":367742,"update_date":1758896636212,"version":1},"type":"critical_assets"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ddd704c3-8603-42d8-823c-2c101ef59207","type":"critical_assets","attributes":{"creation_author_id":1445416,"creation_date":1767380948181,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"enabled":true,"query":"security:monitoring","rule_query":"source:k9","severity":"medium","tags":["team:security"],"update_author_id":1445416,"update_date":1767380948181,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 02 Jan 2026 19:09:08 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets/ddd704c3-8603-42d8-823c-2c101ef59207
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 02 Jan 2026 19:09:08 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets/ddd704c3-8603-42d8-823c-2c101ef59207
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["not_found(Critical asset with ID ddd704c3-8603-42d8-823c-2c101ef59207
        not found)"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
