http_interactions:
- recorded_at: Fri, 10 Jul 2026 15:48:20 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"query":"security:monitoring","rule_query":"source:k9","severity":"medium","tags":["team:security"]},"type":"critical_assets"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5bda0fad-ce07-4921-9227-d0131107724a","type":"critical_assets","attributes":{"creation_author_id":2320499,"creation_date":1783698501011,"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"editable":true,"enabled":true,"query":"security:monitoring","rule_query":"source:k9","severity":"medium","tags":["team:security"],"update_author_id":2320499,"update_date":1783698501011,"updater":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"version":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 10 Jul 2026 15:48:20 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets/5bda0fad-ce07-4921-9227-d0131107724a
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 10 Jul 2026 15:48:20 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets/5bda0fad-ce07-4921-9227-d0131107724a
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["not_found(Critical asset with ID 5bda0fad-ce07-4921-9227-d0131107724a
        not found)"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
