http_interactions:
- recorded_at: Thu, 15 Apr 2021 13:02:49 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4318655'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/ThisRuleIdProbablyDoesntExist
  response:
    body:
      encoding: UTF-8
      string: '{"message": "The resource could not be found.<br /><br />\n\n\n", "code":
        "404 Not Found", "title": "Not Found"}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
