http_interactions:
- recorded_at: Fri, 24 Nov 2023 14:07:30 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from
        staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Delete_a_security_filter_returns_OK_response-1700834850","query":"service:TestDeleteasecurityfilterreturnsOKresponse1700834850"},"type":"security_filters"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"lnj-hn0-yvv","attributes":{"version":1,"name":"Test-Delete_a_security_filter_returns_OK_response-1700834850","query":"service:TestDeleteasecurityfilterreturnsOKresponse1700834850","is_enabled":true,"exclusion_filters":[{"name":"Exclude
        logs from staging","query":"source:staging"}],"filtered_data_type":"logs","is_builtin":false},"type":"security_filters"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 24 Nov 2023 14:07:30 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/lnj-hn0-yvv
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 24 Nov 2023 14:07:30 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/lnj-hn0-yvv
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["not_found(Security filter with id ''lnj-hn0-yvv'' not found)"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
