---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
    body:
      encoding: UTF-8
      string: '{"name":"Test-Delete_an_existing_rule_returns_OK_response-1618572619","queries":[{"query":"@test:true","aggregation":"count","groupByFields":[],"distinctFields":[],"metric":""}],"filters":[],"cases":[{"name":"","status":"info","condition":"a
        \u003e 0","notifications":[]}],"options":{"evaluationWindow":900,"keepAlive":3600,"maxSignalDuration":86400},"message":"Test
        rule","tags":[],"isEnabled":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4327367'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
    body:
      encoding: ASCII-8BIT
      string: '{"creationAuthorId":2320499,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test
        rule","options":{"detectionMethod":"threshold","evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":3600},"version":1,"createdAt":1618572619732,"filters":[],"queries":[{"distinctFields":[],"name":"","metric":"","aggregation":"count","groupByFields":[],"query":"@test:true","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"","condition":"a
        > 0"}],"type":"log_detection","id":"qih-uch-tb6","isDefault":false,"name":"Test-Delete_an_existing_rule_returns_OK_response-1618572619"}'
  recorded_at: Fri, 16 Apr 2021 11:30:19 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/qih-uch-tb6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Dd-Version:
      - '35.4327367'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 16 Apr 2021 11:30:19 GMT
recorded_with: VCR 6.0.0
