http_interactions:
- recorded_at: Tue, 18 Aug 2026 08:25:51 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":true,"name":"Rule 17870415-0000-0000-0000-178704155100","selectors":{"query":"env:test","rule_types":["signal_correlation"],"severities":["critical"],"trigger_source":"security_signals"},"targets":["@email@email.com"]},"type":"notification_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/signals/notification_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"faz-jrz-vdw","type":"notification_rules","attributes":{"created_at":1787041551643,"created_by":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"enabled":true,"modified_at":1787041551643,"modified_by":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"name":"Rule 17870415-0000-0000-0000-178704155100","selectors":{"severities":["critical"],"rule_types":["signal_correlation"],"query":"env:test","trigger_source":"security_signals"},"targets":["@email@email.com"],"time_aggregation":0,"version":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 18 Aug 2026 08:25:51 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/signals/notification_rules/faz-jrz-vdw
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Tue, 18 Aug 2026 08:25:51 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/signals/notification_rules/faz-jrz-vdw
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["not_found(Notification rule with id ''faz-jrz-vdw'' not
        found)"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
