http_interactions:
- recorded_at: Thu, 12 May 2022 09:53:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from
        staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Delete_a_security_filter_returns_No_Content_response-1652349191","query":"service:TestDeleteasecurityfilterreturnsNoContentresponse1652349191"},"type":"security_filters"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Delete_a_security_filter_returns_No_Content_response-1652349191","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:TestDeleteasecurityfilterreturnsNoContentresponse1652349191","is_builtin":false},"type":"security_filters","id":"7zq-iqt-o0r"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- recorded_at: Thu, 12 May 2022 09:53:11 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/7zq-iqt-o0r
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 12 May 2022 09:53:11 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/7zq-iqt-o0r
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["not_found(Security filter with id ''7zq-iqt-o0r'' not found)"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
