---
http_interactions:
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/ThisRuleIdProbablyDoesntExist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
    body:
      encoding: UTF-8
      string: '{"message": "The resource could not be found.<br /><br />\n\n\n", "code":
        "404 Not Found", "title": "Not Found"}'
  recorded_at: Fri, 09 Apr 2021 12:24:00 GMT
recorded_with: VCR 6.0.0
