http_interactions:
- recorded_at: Mon, 10 Jan 2022 14:56:27 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from
        staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Delete_a_security_filter_returns_No_Content_response-1641826587","query":"service:TestDeleteasecurityfilterreturnsNoContentresponse1641826587"},"type":"security_filters"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Delete_a_security_filter_returns_No_Content_response-1641826587","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:TestDeleteasecurityfilterreturnsNoContentresponse1641826587","is_builtin":false},"type":"security_filters","id":"whv-r8o-zmp"}}'
    status:
      code: 200
      message: OK
- recorded_at: Mon, 10 Jan 2022 14:56:27 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/whv-r8o-zmp
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
- recorded_at: Mon, 10 Jan 2022 14:56:27 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/whv-r8o-zmp
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["not_found(Security filter with id ''whv-r8o-zmp'' not found)"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
