---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
    body:
      encoding: UTF-8
      string: '{"data":{"type":"security_filters","attributes":{"name":"Test-Delete_a_security_filter_returns_No_Content_response-1620804282","query":"service:TestDeleteasecurityfilterreturnsNoContentresponse1620804282","exclusion_filters":[{"name":"Exclude
        logs from staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4512853'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Delete_a_security_filter_returns_No_Content_response-1620804282","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:TestDeleteasecurityfilterreturnsNoContentresponse1620804282","is_builtin":false},"type":"security_filters","id":"gp8-rbx-mgn"}}'
  recorded_at: Wed, 12 May 2021 07:24:42 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/gp8-rbx-mgn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Dd-Version:
      - '35.4512853'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 12 May 2021 07:24:42 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/gp8-rbx-mgn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4512853'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":["not_found(Security filter with id ''gp8-rbx-mgn'' not found)"]}'
  recorded_at: Wed, 12 May 2021 07:24:42 GMT
recorded_with: VCR 6.0.0
