http_interactions:
- recorded_at: Thu, 11 Jan 2024 10:06:25 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Test-Delete_a_suppression_rule_returns_OK_response-1704967585","enabled":true,"name":"Test-Delete_a_suppression_rule_returns_OK_response-1704967585","rule_query":"source:cloudtrail","suppression_query":"env:test"},"type":"suppressions"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"kpz-5gs-wn9","attributes":{"name":"Test-Delete_a_suppression_rule_returns_OK_response-1704967585","enabled":true,"description":"Test-Delete_a_suppression_rule_returns_OK_response-1704967585","rule_query":"source:cloudtrail","suppression_query":"env:test","version":1,"creation_date":1704967585721,"update_date":1704967585721,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 11 Jan 2024 10:06:25 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/kpz-5gs-wn9
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 11 Jan 2024 10:06:25 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/kpz-5gs-wn9
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["not_found(Suppression with ID kpz-5gs-wn9 not found)"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
