http_interactions:
- recorded_at: Tue, 27 Sep 2022 13:06:56 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from
        staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Delete_a_security_filter_returns_No_Content_response-1664284016","query":"service:TestDeleteasecurityfilterreturnsNoContentresponse1664284016"},"type":"security_filters"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Delete_a_security_filter_returns_No_Content_response-1664284016","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:TestDeleteasecurityfilterreturnsNoContentresponse1664284016","is_builtin":false},"type":"security_filters","id":"d9w-8nc-bzo"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 27 Sep 2022 13:06:56 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/d9w-8nc-bzo
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
- recorded_at: Tue, 27 Sep 2022 13:06:56 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/d9w-8nc-bzo
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["not_found(Security filter with id ''d9w-8nc-bzo'' not found)"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
