http_interactions:
- recorded_at: Fri, 16 Apr 2021 11:32:15 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"cases":[{"condition":"a > 0","name":"","notifications":[],"status":"info"}],"filters":[],"isEnabled":true,"message":"Test
        rule","name":"Test-Delete_an_existing_rule_returns_OK_response-1618572735","options":{"evaluationWindow":900,"keepAlive":3600,"maxSignalDuration":86400},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":[],"metric":"","query":"@test:true"}],"tags":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      X-Dd-Version:
      - '35.4327367'
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      encoding: UTF-8
      string: '{"creationAuthorId":2320499,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test
        rule","options":{"detectionMethod":"threshold","evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":3600},"version":1,"createdAt":1618572735575,"filters":[],"queries":[{"distinctFields":[],"name":"","metric":"","aggregation":"count","groupByFields":[],"query":"@test:true","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"","condition":"a
        > 0"}],"type":"log_detection","id":"v3s-vcj-eu3","isDefault":false,"name":"Test-Delete_an_existing_rule_returns_OK_response-1618572735"}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 16 Apr 2021 11:32:15 GMT
  request:
    body: null
    headers:
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - '35.4327367'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/v3s-vcj-eu3
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 16 Apr 2021 11:32:15 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4327367'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/v3s-vcj-eu3
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Threat detection rule not found: v3s-vcj-eu3"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
