---
http_interactions:
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/du3-f9u-9te
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Dd-Version:
      - '35.4188031'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Mar 2021 09:10:11 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/wse-0qe-ycu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Dd-Version:
      - '35.4188031'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Mar 2021 09:20:37 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/3lb-woz-yxz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Dd-Version:
      - '35.4188031'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Mar 2021 09:31:02 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/kop-j3b-t6s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Dd-Version:
      - '35.4188542'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Mar 2021 10:18:13 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/r0x-qrm-5dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Dd-Version:
      - '35.4188771'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Mar 2021 10:32:54 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
    body:
      encoding: UTF-8
      string: '{"name":"ruby-Delete_an_existing_rule_returns_OK_response-1617014189","queries":[{"query":"@test:true","aggregation":"count","groupByFields":[],"distinctFields":[],"metric":""}],"filters":[],"cases":[{"name":"","status":"info","condition":"a
        \u003e 0","notifications":[]}],"options":{"evaluationWindow":900,"keepAlive":3600,"maxSignalDuration":86400},"hasExtendedTitle":false,"message":"Test
        rule","tags":[],"isDefault":false,"isEnabled":true,"type":"log_detection"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4188771'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
    body:
      encoding: UTF-8
      string: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test
        rule","options":{"detectionMethod":"threshold","evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":3600},"version":1,"createdAt":1617014189431,"filters":[],"queries":[{"distinctFields":[],"name":"","metric":"","aggregation":"count","groupByFields":[],"query":"@test:true","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"","condition":"a
        > 0"}],"type":"log_detection","id":"39w-fdj-6kp","isDefault":false,"name":"ruby-Delete_an_existing_rule_returns_OK_response-1617014189"}'
  recorded_at: Mon, 29 Mar 2021 10:36:29 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/39w-fdj-6kp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Dd-Version:
      - '35.4188771'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Mar 2021 10:36:29 GMT
recorded_with: VCR 6.0.0
