http_interactions:
- recorded_at: Thu, 20 Nov 2025 16:06:53 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"relationships":{"findings":{"data":[{"id":"wrong-finding-id","type":"findings"}]}},"type":"cases"}}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/findings/cases
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"Not Found","detail":"finding not
        found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
