http_interactions:
- recorded_at: Mon, 10 Feb 2025 11:40:12 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security/sboms/Host?filter%5Basset_name%5D=unknown-host
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"Asset not found","detail":"asset_type:
        ''Host'' with asset_name: ''unknown-host'' not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
