http_interactions:
- recorded_at: Wed, 05 Feb 2025 13:46:03 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":true,"name":"Test-Get_details_of_a_vulnerability_notification_rule_returns_Notification_rule_details_response-1738763163","selectors":{"query":"env:test","rule_types":["misconfiguration","attack_path"],"severities":["critical"],"trigger_source":"security_findings"},"targets":["@email@email.com"],"time_aggregation":86400},"type":"notification_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ryn-rs2-tef","type":"notification_rules","attributes":{"created_at":1738763163705,"created_by":{"name":"","handle":""},"enabled":true,"modified_at":1738763163705,"modified_by":{"name":"","handle":""},"name":"Test-Get_details_of_a_vulnerability_notification_rule_returns_Notification_rule_details_response-1738763163","selectors":{"severities":["critical"],"rule_types":["misconfiguration","attack_path"],"query":"env:test","trigger_source":"security_findings"},"targets":["@email@email.com"],"time_aggregation":86400,"version":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 05 Feb 2025 13:46:03 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/ryn-rs2-tef
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ryn-rs2-tef","type":"notification_rules","attributes":{"created_at":1738763163705,"created_by":{"name":"","handle":""},"enabled":true,"modified_at":1738763163705,"modified_by":{"name":"","handle":""},"name":"Test-Get_details_of_a_vulnerability_notification_rule_returns_Notification_rule_details_response-1738763163","selectors":{"severities":["critical"],"rule_types":["misconfiguration","attack_path"],"query":"env:test","trigger_source":"security_findings"},"targets":["@email@email.com"],"time_aggregation":86400,"version":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 05 Feb 2025 13:46:03 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/ryn-rs2-tef
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
