http_interactions:
- recorded_at: Tue, 11 May 2021 16:46:30 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json;charset=utf-8
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"is_enabled":true,"name":"all ingested logs","filtered_data_type":"logs","exclusion_filters":[],"version":1,"query":"*","is_builtin":true},"type":"security_filters","id":"bc0-fow-e4j"}]}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
