---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
    body:
      encoding: UTF-8
      string: '{"data":{"type":"security_filters","attributes":{"name":"Test-Get_a_security_filter_returns_OK_response-1620804282","query":"service:TestGetasecurityfilterreturnsOKresponse1620804282","exclusion_filters":[{"name":"Exclude
        logs from staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4512853'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Get_a_security_filter_returns_OK_response-1620804282","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:TestGetasecurityfilterreturnsOKresponse1620804282","is_builtin":false},"type":"security_filters","id":"vpr-ym6-56s"}}'
  recorded_at: Wed, 12 May 2021 07:24:42 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/vpr-ym6-56s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4512853'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Get_a_security_filter_returns_OK_response-1620804282","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:TestGetasecurityfilterreturnsOKresponse1620804282","is_builtin":false},"type":"security_filters","id":"vpr-ym6-56s"}}'
  recorded_at: Wed, 12 May 2021 07:24:42 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/vpr-ym6-56s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Dd-Version:
      - '35.4512853'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 12 May 2021 07:24:42 GMT
recorded_with: VCR 6.0.0
