---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
    body:
      encoding: UTF-8
      string: '{"data":{"type":"security_filters","attributes":{"name":"Custom security
        filter","query":"service:api","exclusion_filters":[{"name":"Exclude logs from
        staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4508212'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Custom security filter","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:api","is_builtin":false},"type":"security_filters","id":"qsv-9qt-9ax"}}'
  recorded_at: Tue, 11 May 2021 16:46:15 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/qsv-9qt-9ax
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4508212'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Custom security filter","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:api","is_builtin":false},"type":"security_filters","id":"qsv-9qt-9ax"}}'
  recorded_at: Tue, 11 May 2021 16:46:15 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/qsv-9qt-9ax
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Dd-Version:
      - '35.4508212'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 11 May 2021 16:46:15 GMT
recorded_with: VCR 6.0.0
