http_interactions:
- recorded_at: Tue, 18 Aug 2026 07:20:58 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"action":{"severity":"low","type":"set"},"enabled":true,"name":"Test-Get_a_severity_modifier_rule_returns_Successfully_retrieved_the_severity_modifier_rule_response-1787037658","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"severity_modifier_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"a27e8943-8a97-472f-9468-fc1c7a197688","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"low"},"created_at":1787037658926,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":true,"modified_at":1787037658926,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Test-Get_a_severity_modifier_rule_returns_Successfully_retrieved_the_severity_modifier_rule_response-1787037658","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 18 Aug 2026 07:20:58 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/a27e8943-8a97-472f-9468-fc1c7a197688
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"a27e8943-8a97-472f-9468-fc1c7a197688","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"low"},"created_at":1787037658926,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":true,"modified_at":1787037658926,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Test-Get_a_severity_modifier_rule_returns_Successfully_retrieved_the_severity_modifier_rule_response-1787037658","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 18 Aug 2026 07:20:58 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/a27e8943-8a97-472f-9468-fc1c7a197688
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
