http_interactions:
- recorded_at: Tue, 06 May 2025 08:24:43 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/resource_filters?account_id=123456789
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"Field ''account_id''
        is invalid: account_id provided without specifying the cloud provider"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
