http_interactions:
- recorded_at: Wed, 26 Feb 2025 17:29:15 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"jobDefinition":{"cases":[{"condition":"a >
        1","name":"Condition 1","notifications":[],"status":"info"}],"from":1730387522611,"index":"main","message":"A
        large number of failed login attempts.","name":"Excessive number of failed
        attempts.","options":{"evaluationWindow":900,"keepAlive":3600,"maxSignalDuration":86400},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":[],"query":"source:non_existing_src_weekend"}],"tags":[],"to":1730387532611,"type":"log_detection"}},"type":"historicalDetectionsJobCreate"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/siem-historical-detections/jobs
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d5a3122e-a8f0-46fb-ac8b-e0d04e6f87df","type":"historicalDetectionsJob"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 26 Feb 2025 17:29:15 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/siem-historical-detections/jobs?filter%5Bquery%5D=id%3Ad5a3122e-a8f0-46fb-ac8b-e0d04e6f87df
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"d5a3122e-a8f0-46fb-ac8b-e0d04e6f87df","type":"historicalDetectionsJob","attributes":{"createdAt":"2025-02-26
        17:29:15.677173+00","createdByHandle":"frog@datadoghq.com","createdByName":"frog","jobDefinition":{"from":1730387522611,"to":1730387532611,"index":"main","name":"Excessive
        number of failed attempts.","cases":[{"name":"Condition 1","status":"info","notifications":[],"condition":"a
        \u003e 1"}],"queries":[{"query":"source:non_existing_src_weekend","groupByFields":[],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"","dataSource":"logs"}],"options":{"evaluationWindow":900,"detectionMethod":"threshold","maxSignalDuration":86400,"keepAlive":3600},"message":"A
        large number of failed login attempts.","tags":[],"type":"log_detection"},"jobName":"Excessive
        number of failed attempts.","jobStatus":"pending","modifiedAt":"2025-02-26
        17:29:15.677173+00"}}],"meta":{"totalCount":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
