http_interactions:
- recorded_at: Mon, 27 Apr 2026 16:46:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"mute":{"description":"To be resolved later.","expire_at":1778721573794,"is_muted":true,"reason":"RISK_ACCEPTED"}},"relationships":{"findings":{"data":[{"id":"ZGVmLTAwMC0wYmd-MDE4NjcyMDJkMzE4MDE5ODY5MGE4ZmQ2MmFlMjg0Y2M=","type":"findings"}]}},"type":"mute"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security/findings/mute
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"7a0bd082-5c8a-4ea3-a8a5-c5036e083ddb","type":"mute"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 202
      message: Accepted
recorded_with: VCR 6.0.0
