http_interactions:
- recorded_at: Fri, 27 Oct 2023 10:39:51 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"mute":{"expiration_date":1778721573794,"muted":true,"reason":"ACCEPTED_RISK"}},"id":"dbe5f567-192b-4404-b908-29b70e1c9f76","meta":{"findings":[{"finding_id":"AQAAAYbb1i0gijTHEQAAAABBWWJiMWkwZ0FBQ2FuNzBJVGZXZ3B3QUE"}]},"type":"finding"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/posture_management/findings
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"422","title":"Invalid Request","detail":"Some
        findings IDs are malformed"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 422
      message: Unprocessable Entity
recorded_with: VCR 6.0.0
