http_interactions:
- recorded_at: Mon, 27 Apr 2026 16:19:46 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"mute":{"description":"To be resolved later.","expire_at":1,"is_muted":true,"reason":"RISK_ACCEPTED"}},"relationships":{"findings":{"data":[{"id":"ZGVmLTAwcC1pZXJ-aS0wZjhjNjMyZDNmMzRlZTgzNw==","type":"findings"}]}},"type":"mute"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security/findings/mute
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"422","title":"Invalid Request","detail":"Invalid
        expiration date. Please provide an expiration date in the future"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 422
      message: Unprocessable Entity
recorded_with: VCR 6.0.0
