http_interactions:
- recorded_at: Tue, 16 Jun 2026 15:41:16 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"action":{"reason":"risk_accepted"},"enabled":true,"name":"Test-Reorder_mute_rules_returns_Successfully_reordered_the_mute_rules_response-1781624476","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"mute_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"707a25e7-57ae-4d8f-9ce8-4840b52c7349","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1781624476249,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":true,"modified_at":1781624476249,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Test-Reorder_mute_rules_returns_Successfully_reordered_the_mute_rules_response-1781624476","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 16 Jun 2026 15:41:16 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"707a25e7-57ae-4d8f-9ce8-4840b52c7349","type":"mute_rules"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/reorder
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"mute_rules","id":"707a25e7-57ae-4d8f-9ce8-4840b52c7349"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 16 Jun 2026 15:41:16 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/707a25e7-57ae-4d8f-9ce8-4840b52c7349
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
