http_interactions:
- recorded_at: Fri, 24 Oct 2025 14:24:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"fromRule":{"from":1730201035064,"id":"non-existng","index":"main","notifications":[],"to":1730204635115}},"type":"historicalDetectionsJobCreate"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/siem-threat-hunting/jobs
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"Not Found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
