http_interactions:
- recorded_at: Fri, 24 Oct 2025 14:24:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"jobDefinition":{"cases":[{"condition":"a >
        1","name":"Condition 1","notifications":[],"status":"info"}],"from":1730387522611,"index":"main","message":"A
        large number of failed login attempts.","name":"Excessive number of failed
        attempts.","options":{"evaluationWindow":900,"keepAlive":3600,"maxSignalDuration":86400},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":[],"query":"source:non_existing_src_weekend"}],"tags":[],"to":1730387532611,"type":"log_detection"}},"type":"historicalDetectionsJobCreate"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/siem-threat-hunting/jobs
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6ff7a8ce-a0d1-4ea3-8cc9-e9c52cda0d24","type":"historicalDetectionsJob"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
recorded_with: VCR 6.0.0
