http_interactions:
- recorded_at: Fri, 08 Nov 2024 09:54:40 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"fromRule":{"caseIndex":0,"from":1730201035064,"id":"non-existng","index":"main","notifications":[],"to":1730204635115}},"type":"historicalDetectionsJobCreate"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/siem-historical-detections/jobs
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","detail":"failed to get rule details"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
