http_interactions:
- recorded_at: Wed, 17 Dec 2025 16:27:52 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"page":{"cursor":"invalid_cursor"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/findings/search
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"document
        is missing required top-level members; must have one of: \"data\", \"meta\",
        \"errors\""}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
