http_interactions:
- recorded_at: Thu, 15 May 2025 09:52:49 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"cloud_provider":{"aws":{"aws_account_id":["tag1:v1"]}}},"id":"csm_resource_filter","type":"csm_resource_filter"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/resource_filters
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"csm_resource_filter","type":"csm_resource_filter","attributes":{"cloud_provider":{"aws":{"aws_account_id":["tag1:v1"]}},"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
recorded_with: VCR 6.0.0
