http_interactions:
- recorded_at: Wed, 17 Apr 2024 21:55:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":false,"name":"Test-Update_a_notification_rule_returns_Not_Found_response-1713390911","selectors":{"attributes":["fim:true"],"implicit_vm_rule_match":false,"rule_tags":["fim:true"],"rule_types":["log_detection","cloud_configuration"],"severities":["high"],"signal_tags":[]},"targets":["test2"],"version":1},"type":"notification_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/ThisRuleIdProbablyDoesntExist
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["not_found(Notification rule with id ''ThisRuleIdProbablyDoesntExist''
        not found)"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
