http_interactions:
- recorded_at: Tue, 04 Aug 2026 14:46:58 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"action":{"severity":"low","type":"set"},"enabled":true,"name":"Test-Update_a_severity_modifier_rule_returns_Successfully_updated_the_severity_modifier_rule_response-1785854818","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"severity_modifier_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d243056e-c7bb-44b1-8b46-37222abb4a7f","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"low"},"created_at":1785854818709,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":true,"modified_at":1785854818709,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Test-Update_a_severity_modifier_rule_returns_Successfully_updated_the_severity_modifier_rule_response-1785854818","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 04 Aug 2026 14:46:58 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"action":{"description":"Lower severity for
        dev environment noise","severity":"low","type":"set"},"enabled":true,"name":"Downgrade
        misconfigurations in dev","rule":{"finding_types":["misconfiguration"],"query":"env:prod
        team:platform"}},"type":"severity_modifier_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/d243056e-c7bb-44b1-8b46-37222abb4a7f
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d243056e-c7bb-44b1-8b46-37222abb4a7f","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"low","description":"Lower
        severity for dev environment noise"},"created_at":1785854818709,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":true,"modified_at":1785854818954,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Downgrade misconfigurations in dev","rule":{"finding_types":["misconfiguration"],"query":"env:prod
        team:platform"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 04 Aug 2026 14:46:58 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/d243056e-c7bb-44b1-8b46-37222abb4a7f
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
