http_interactions:
- recorded_at: Tue, 28 Jan 2025 14:57:27 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"action":{"reason_description":"items to focus
        on"},"enabled":true,"name":"Test-Update_an_inbox_rule_returns_Bad_Request_response-1738076247","rule":{"issue_type":"vulnerability","query":"","rule_ids":[],"rule_types":["misconfiguration","attack_path"],"severities":["critical"]}},"type":"inbox_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2304d942-bdea-4c7e-9899-2f5882eba53a","type":"inbox_rules","attributes":{"action":{"reason_description":"items
        to focus on"},"created_at":1738076248310,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1738076248310,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Test-Update_an_inbox_rule_returns_Bad_Request_response-1738076247","rule":{"issue_type":"vulnerability","rule_types":["misconfiguration","attack_path"],"rule_ids":[],"query":"","severities":["critical"]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 28 Jan 2025 14:57:27 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"invalid":{"attributes":{"action":{"reason_description":"We want to
        focus on these items."},"enabled":true,"name":"Rule 1","rule":{"issue_type":"vulnerability","query":"key:val","rule_ids":["rule-id-1"],"rule_types":["application_code_vulnerability"],"severities":["critical"]}},"id":"2304d942-bdea-4c7e-9899-2f5882eba53a","type":"inbox_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules/2304d942-bdea-4c7e-9899-2f5882eba53a
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"Error while
        unmarshalling JSON API request"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
- recorded_at: Tue, 28 Jan 2025 14:57:27 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules/2304d942-bdea-4c7e-9899-2f5882eba53a
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
