http_interactions:
- recorded_at: Tue, 11 May 2021 16:47:14 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from
        staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1620751634","query":"service:TestUpdateasecurityfilterreturnsOKresponse1620751634"},"type":"security_filters"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1620751634","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:TestUpdateasecurityfilterreturnsOKresponse1620751634","is_builtin":false},"type":"security_filters","id":"8f3-mwd-7yk"}}'
    status:
      code: 200
      message: OK
- recorded_at: Tue, 11 May 2021 16:47:14 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"exclusion_filters":[],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1620751634","query":"service:TestUpdateasecurityfilterreturnsOKresponse1620751634","version":1},"type":"security_filters"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/8f3-mwd-7yk
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1620751634","filtered_data_type":"logs","exclusion_filters":[],"version":2,"query":"service:TestUpdateasecurityfilterreturnsOKresponse1620751634","is_builtin":false},"type":"security_filters","id":"8f3-mwd-7yk"}}'
    status:
      code: 200
      message: OK
- recorded_at: Tue, 11 May 2021 16:47:14 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/8f3-mwd-7yk
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
