http_interactions:
- recorded_at: Thu, 15 May 2025 09:52:48 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"cloud_provider":{"invalid":{"aws_account_id":["tag1:v1"]}}},"id":"csm_resource_filter","type":"csm_resource_filter"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/resource_filters
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"Invalid
        cloud provider invalid"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
