http_interactions:
- recorded_at: Fri, 10 May 2024 16:34:50 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from
        staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1715358890","query":"service:TestUpdateasecurityfilterreturnsOKresponse1715358890"},"type":"security_filters"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"kk9-x1s-rgi","attributes":{"version":1,"name":"Test-Update_a_security_filter_returns_OK_response-1715358890","query":"service:TestUpdateasecurityfilterreturnsOKresponse1715358890","is_enabled":true,"exclusion_filters":[{"name":"Exclude
        logs from staging","query":"source:staging"}],"filtered_data_type":"logs","is_builtin":false},"type":"security_filters"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 10 May 2024 16:34:50 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"exclusion_filters":[],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1715358890","query":"service:TestUpdateasecurityfilterreturnsOKresponse1715358890","version":1},"type":"security_filters"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/kk9-x1s-rgi
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"kk9-x1s-rgi","attributes":{"version":2,"name":"Test-Update_a_security_filter_returns_OK_response-1715358890","query":"service:TestUpdateasecurityfilterreturnsOKresponse1715358890","is_enabled":true,"exclusion_filters":[],"filtered_data_type":"logs","is_builtin":false},"type":"security_filters"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 10 May 2024 16:34:50 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/kk9-x1s-rgi
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
