http_interactions:
- recorded_at: Fri, 10 May 2024 16:34:51 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Test-Update_a_suppression_rule_returns_OK_response-1715358891","enabled":true,"name":"Test-Update_a_suppression_rule_returns_OK_response-1715358891","rule_query":"source:cloudtrail","suppression_query":"env:test"},"type":"suppressions"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"pej-nbn-ai7","attributes":{"name":"Test-Update_a_suppression_rule_returns_OK_response-1715358891","enabled":true,"description":"Test-Update_a_suppression_rule_returns_OK_response-1715358891","rule_query":"source:cloudtrail","suppression_query":"env:test","data_exclusion_query":"","version":1,"creation_date":1715358892289,"update_date":1715358892289,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 10 May 2024 16:34:51 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"suppression_query":"env:staging status:low"},"type":"suppressions"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/pej-nbn-ai7
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"pej-nbn-ai7","attributes":{"name":"Test-Update_a_suppression_rule_returns_OK_response-1715358891","enabled":true,"description":"Test-Update_a_suppression_rule_returns_OK_response-1715358891","rule_query":"source:cloudtrail","suppression_query":"env:staging
        status:low","data_exclusion_query":"","version":2,"creation_date":1715358892289,"update_date":1715358892759,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 10 May 2024 16:34:51 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/pej-nbn-ai7
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
