http_interactions:
- recorded_at: Thu, 04 Sep 2025 08:33:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"data_exclusion_query":"not enough attributes","enabled":false,"name":"cold_harbour","rule_query":"rule:[A-Invalid"},"type":"suppressions"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/validation
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["input_validation_error(Field ''data.attributes.rule_query''
        is invalid: rule query is invalid)"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
