http_interactions:
- recorded_at: Mon, 01 Sep 2025 21:36:42 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"data_exclusion_query":"not enough attributes"},"type":"suppressions"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/validation
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["input_validation_error(Field ''data.attributes.rule_query''
        is invalid: field ''rule_query'' is required)","input_validation_error(Field
        ''data.attributes.name'' is invalid: name cannot be empty)"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
