http_interactions:
- recorded_at: Mon, 01 Sep 2025 21:36:20 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"data_exclusion_query":"source:cloudtrail account_id:12345","description":"This
        rule suppresses low-severity signals in staging environments.","enabled":true,"name":"Custom
        suppression","rule_query":"type:log_detection source:cloudtrail"},"type":"suppressions"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/validation
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
