http_interactions:
- recorded_at: Tue, 25 Feb 2025 19:11:28 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Exclude false positives on a
        path","enabled":true,"event_query":"test:1"},"type":"exclusion_filter"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"legacy exclusion filters cannot be created anymore","code":"400"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
