http_interactions:
- recorded_at: Tue, 25 Feb 2025 19:11:25 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Exclude false positives on a
        path","enabled":true,"parameters":["list.search.query"],"path_glob":"/accounts/*","rules_target":[{"tags":{"category":"attack_attempt","type":"lfi"}}],"scope":[{"env":"www","service":"prod"}]},"type":"exclusion_filter"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"662e28c3-e4fe-42c8-bc93-79b73cd04d48","type":"exclusion_filter","attributes":{"description":"Exclude
        false positives on a path","enabled":true,"metadata":{"added_at":"2025-02-25T19:11:26Z","added_by":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","added_by_name":"CI
        Account"},"parameters":["list.search.query"],"path_glob":"/accounts/*","rules_target":[{"tags":{"category":"attack_attempt","type":"lfi"}}],"scope":[{"env":"www","service":"prod"}],"search_query":"(env:www
        AND service:prod) AND (@http.url_details.path:\\/accounts\\/* OR @rpc.grpc.full_method:\\/accounts\\/*)
        AND ((@appsec.triggers.rule_matches.parameters.address:server.request.query
        AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query))
        OR (@appsec.triggers.rule_matches.parameters.address:server.request.body AND
        (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query))
        OR (@appsec.triggers.rule_matches.parameters.address:server.request.path_params
        AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query)))
        AND (@appsec.category:attack_attempt AND @appsec.type:lfi)"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 25 Feb 2025 19:11:25 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/662e28c3-e4fe-42c8-bc93-79b73cd04d48
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
