http_interactions:
- recorded_at: Thu, 16 Apr 2026 10:25:18 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"basedOn":"recommended","description":"Policy
        applied to internal web applications.","isDefault":false,"name":"Internal
        Network Policy","protectionPresets":["attack-tools"],"rules":[{"blocking":false,"enabled":true,"id":"rasp-001-002"}],"scope":[{"env":"prod","service":"billing-service"}],"version":0},"type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/policies
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"841d53b4-4d73-4585-99cc-39dd10883f7c","type":"policy","attributes":{"description":"Policy
        applied to internal web applications.","isDefault":false,"name":"Internal
        Network Policy","protectionPresets":["attack-tools"],"rules":[{"id":"rasp-001-002","blocking":false,"enabled":true}],"rulesets":[],"scope":[{"env":"prod","service":"billing-service"}],"version":0},"meta":{"added_at":"2026-04-16T10:25:18Z","added_by":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","added_by_name":"CI
        Account"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 16 Apr 2026 10:25:18 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/policies/841d53b4-4d73-4585-99cc-39dd10883f7c
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
