http_interactions:
- recorded_at: Tue, 25 Feb 2025 19:11:28 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My Exclusion Filter","enabled":true,"parameters":["list.search.query"],"path_glob":"*","rules_target":[{"tags":{"category":"attack_attempt","type":"xss"}}],"scope":[{"env":"staging","service":"event-query"}]},"type":"exclusion_filter"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"da282618-ff1f-41ed-9f79-947817641a02","type":"exclusion_filter","attributes":{"description":"My
        Exclusion Filter","enabled":true,"metadata":{"added_at":"2025-02-25T19:11:29Z","added_by":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","added_by_name":"CI
        Account"},"parameters":["list.search.query"],"path_glob":"*","rules_target":[{"tags":{"category":"attack_attempt","type":"xss"}}],"scope":[{"env":"staging","service":"event-query"}],"search_query":"(env:staging
        AND service:\"event-query\") AND ((@appsec.triggers.rule_matches.parameters.address:server.request.query
        AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query))
        OR (@appsec.triggers.rule_matches.parameters.address:server.request.body AND
        (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query))
        OR (@appsec.triggers.rule_matches.parameters.address:server.request.path_params
        AND (@appsec.triggers.rule_matches.parameters.key:list.search.query OR @appsec.triggers.rule_matches.parameters.params.key:list.search.query)))
        AND (@appsec.category:attack_attempt AND @appsec.type:xss)"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 25 Feb 2025 19:11:28 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/da282618-ff1f-41ed-9f79-947817641a02
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
- recorded_at: Tue, 25 Feb 2025 19:11:28 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/da282618-ff1f-41ed-9f79-947817641a02
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"id not found","code":"404"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
