http_interactions:
- recorded_at: Thu, 16 Apr 2026 10:25:20 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"basedOn":"recommended","description":"This
        is a test policy.","name":"Test policy"},"type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/policies
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"cc3e574d-9b5a-4310-b7f4-5560483f84b1","type":"policy","attributes":{"description":"This
        is a test policy.","isDefault":false,"name":"Test policy","rules":[],"rulesets":[],"scope":[],"version":-1},"meta":{"added_at":"2026-04-16T10:25:20Z","added_by":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","added_by_name":"CI
        Account"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 16 Apr 2026 10:25:20 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/policies/cc3e574d-9b5a-4310-b7f4-5560483f84b1
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"cc3e574d-9b5a-4310-b7f4-5560483f84b1","type":"policy","attributes":{"description":"This
        is a test policy.","isDefault":false,"name":"Test policy","rules":[],"rulesets":[],"scope":[],"version":-1},"meta":{"added_at":"2026-04-16T10:25:20Z","added_by":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","added_by_name":"CI
        Account"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 16 Apr 2026 10:25:20 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/policies/cc3e574d-9b5a-4310-b7f4-5560483f84b1
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
