http_interactions:
- recorded_at: Wed, 05 Mar 2025 21:09:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"blocking":false,"conditions":[{"operator":"match_regex","parameters":{"inputs":[{"address":"server.request.query","key_path":["id"]}],"regex":"badactor"}}],"enabled":true,"name":"test","path_glob":"/test","scope":[{"env":"test","service":"test"}],"tags":{"category":"attack_attempt","type":"test"}},"type":"custom_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/custom_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"cc8931e2-df6b-43ec-b132-ac2b7ed217e9","type":"custom_rule","attributes":{"blocking":false,"conditions":[{"operator":"match_regex","parameters":{"inputs":[{"address":"server.request.query","key_path":["id"]}],"regex":"badactor","options":{}}}],"enabled":true,"metadata":{"added_at":"2025-03-05T21:09:12Z","added_by":"frog@datadoghq.com","added_by_name":"frog"},"name":"test
        - 12","path_glob":"/test","scope":[{"env":"test","service":"test"}],"tags":{"category":"attack_attempt","type":"test"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 05 Mar 2025 21:09:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"blocking":false,"conditions":[{"operator":"match_regex","parameters":{"inputs":[{"address":"server.request.query","key_path":["id"]}],"regex":"badactor"}}],"enabled":false,"name":"test","path_glob":"/test","scope":[{"env":"test","service":"test"}],"tags":{"category":"attack_attempt","type":"test"}},"type":"custom_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/custom_rules/cc8931e2-df6b-43ec-b132-ac2b7ed217e9
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"cc8931e2-df6b-43ec-b132-ac2b7ed217e9","type":"custom_rule","attributes":{"blocking":false,"conditions":[{"operator":"match_regex","parameters":{"inputs":[{"address":"server.request.query","key_path":["id"]}],"regex":"badactor","options":{}}}],"enabled":false,"metadata":{"modified_at":"2025-03-05T21:09:12Z","modified_by":"frog@datadoghq.com","modified_by_name":"frog"},"name":"test
        - 12","path_glob":"/test","scope":[{"env":"test","service":"test"}],"tags":{"category":"attack_attempt","type":"test"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 05 Mar 2025 21:09:11 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/custom_rules/cc8931e2-df6b-43ec-b132-ac2b7ed217e9
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
