http_interactions:
- recorded_at: Tue, 25 Feb 2025 21:02:08 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Exclude false positives on a
        path","enabled":true,"parameters":["list.search.query"],"path_glob":"/accounts/*","rules_target":[{"rule_id":"dog-913-009","tags":{"category":"attack_attempt","type":"lfi"}}],"scope":[{"env":"www","service":"prod"}]},"type":"exclusion_filter"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/unknown
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"id not found","code":"404"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
