http_interactions:
- recorded_at: Fri, 20 May 2022 15:18:37 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"archiveReason":"none","state":"open"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v1/security_analytics/signals/AQAAAYDiB_Ol8PbzFAAAAABBWURpQl9PbEFBQU0yeXhGTG9ZV2JnQUE/state
  response:
    body:
      encoding: UTF-8
      string: '{"status":"done","elapsed":6,"hitCount":1,"type":"status","requestId":"pddv1ChZsZTVoQTlZUlRCMmZIaVp6QmtSb1FRIi0KHTZc_OyWqjtN77Y9KyBimz5OCepk1bY1rIo4vE37Egx-rD3hrV23n4SU9ds"}

        '
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
