---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo
    body:
      encoding: UTF-8
      string: '{"type":"metric","name":"Test-Create_an_SLO_correction_returns_OK_response-1619078332","thresholds":[{"timeframe":"7d","target":95.0,"warning":98.0}],"query":{"numerator":"sum:httpservice.hits{code:2xx}.as_count()","denominator":"sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367818'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '8'
      X-Ratelimit-Remaining:
      - '499'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"8d9898b1873a5f118837890320fb5a6f","name":"Test-Create_an_SLO_correction_returns_OK_response-1619078332","created_at":1619078332,"tags":[],"modified_at":1619078332,"type":"metric"}],"error":null}'
  recorded_at: Thu, 22 Apr 2021 07:58:52 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo/correction
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"category":"Scheduled Maintenance","description":"Test-Create_an_SLO_correction_returns_OK_response-1619078332","end":1619081932,"slo_id":"8d9898b1873a5f118837890320fb5a6f","start":1619078332,"timezone":"UTC"},"type":"correction"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367818'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '8'
      X-Ratelimit-Remaining:
      - '11999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"correction","id":"94680758-a340-11eb-9fc2-da7ad0900002","attributes":{"slo_id":"8d9898b1873a5f118837890320fb5a6f","start":1619078332,"end":1619081932,"description":"Test-Create_an_SLO_correction_returns_OK_response-1619078332","category":"Scheduled
        Maintenance","timezone":"UTC","creator":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs@datadoghq.com","name":"CI
        Account","icon":"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro"}}}}}}'
  recorded_at: Thu, 22 Apr 2021 07:58:52 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/slo/correction/94680758-a340-11eb-9fc2-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367818'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '8'
      X-Ratelimit-Remaining:
      - '11999'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 22 Apr 2021 07:58:52 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/slo/8d9898b1873a5f118837890320fb5a6f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367818'
      X-Ratelimit-Limit:
      - '3000'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Reset:
      - '8'
      X-Ratelimit-Remaining:
      - '2999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":["8d9898b1873a5f118837890320fb5a6f"],"error":null}'
  recorded_at: Thu, 22 Apr 2021 07:58:52 GMT
recorded_with: VCR 6.0.0
