---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v1/slo/correction/9c7d7894-992a-11eb-9ceb-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '35'
      X-Ratelimit-Remaining:
      - '11999'
    body:
      encoding: UTF-8
      string: '{"data":{"type":"correction","id":"9c7d7894-992a-11eb-9ceb-da7ad0900002","attributes":{"slo_id":"d9a998426ba25d6293d757fdb8abd6f5","start":1617969385,"end":1617972985,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:56:25 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo
    body:
      encoding: UTF-8
      string: '{"type":"metric","name":"Test-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1617971005","thresholds":[{"timeframe":"7d","target":95.0,"warning":98.0}],"query":{"numerator":"sum:httpservice.hits{code:2xx}.as_count()","denominator":"sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '35'
      X-Ratelimit-Remaining:
      - '499'
    body:
      encoding: UTF-8
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"9dcb2d1f80f75845bcbad3ba62dc474e","name":"Test-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1617971005","created_at":1617971005,"tags":[],"modified_at":1617971005,"type":"metric"}],"error":null}'
  recorded_at: Fri, 09 Apr 2021 12:23:25 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo/correction
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","attributes":{"slo_id":"9dcb2d1f80f75845bcbad3ba62dc474e","start":1617971005,"end":1617974605,"category":"Other","timezone":"UTC","description":"Test
        Correction"},"type":"correction"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '35'
      X-Ratelimit-Remaining:
      - '11999'
    body:
      encoding: UTF-8
      string: '{"data":{"type":"correction","id":"621921e0-992e-11eb-9ceb-da7ad0900002","attributes":{"slo_id":"9dcb2d1f80f75845bcbad3ba62dc474e","start":1617971005,"end":1617974605,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:23:25 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v1/slo/correction/621921e0-992e-11eb-9ceb-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '35'
      X-Ratelimit-Remaining:
      - '11999'
    body:
      encoding: UTF-8
      string: '{"data":{"type":"correction","id":"621921e0-992e-11eb-9ceb-da7ad0900002","attributes":{"slo_id":"9dcb2d1f80f75845bcbad3ba62dc474e","start":1617971005,"end":1617974605,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:23:25 GMT
recorded_with: VCR 6.0.0
