---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo
    body:
      encoding: UTF-8
      string: '{"type":"metric","name":"ruby-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1612279518","thresholds":[{"timeframe":"7d","target":95.0,"warning":98.0}],"query":{"numerator":"sum:httpservice.hits{code:2xx}.as_count()","denominator":"sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3826256'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '41'
      X-Ratelimit-Remaining:
      - '499'
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
    body:
      encoding: UTF-8
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"edfdb65ca27d51c795811c1dbaf74360","name":"ruby-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1612279518","created_at":1612279519,"tags":[],"modified_at":1612279519,"type":"metric"}],"error":null}'
  recorded_at: Tue, 02 Feb 2021 15:25:18 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo/correction
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","attributes":{"slo_id":"edfdb65ca27d51c795811c1dbaf74360","start":"1612279518","end":"1612283118","category":"Other","timezone":"UTC","description":"Test
        Correction"},"type":"correction"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3826256'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '40'
      X-Ratelimit-Remaining:
      - '11999'
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
    body:
      encoding: UTF-8
      string: '{"data":{"type":"correction","id":"dc4306cc-656a-11eb-9083-da7ad0900002","attributes":{"slo_id":"edfdb65ca27d51c795811c1dbaf74360","start":1612279518,"end":1612283118,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}}'
  recorded_at: Tue, 02 Feb 2021 15:25:18 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v1/slo/correction/dc4306cc-656a-11eb-9083-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3826256'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '40'
      X-Ratelimit-Remaining:
      - '11999'
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
    body:
      encoding: UTF-8
      string: '{"data":{"type":"correction","id":"dc4306cc-656a-11eb-9083-da7ad0900002","attributes":{"slo_id":"edfdb65ca27d51c795811c1dbaf74360","start":1612279518,"end":1612283118,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}}'
  recorded_at: Tue, 02 Feb 2021 15:25:18 GMT
recorded_with: VCR 6.0.0
