---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo/correction
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","attributes":{"slo_id":"ruby-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1612268374","start":1610034200,"end":1610034300,"category":"Other","timezone":"UTC","description":"Test
        Correction"},"type":"correction"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '26'
      X-Ratelimit-Remaining:
      - '11999'
      X-Dd-Version:
      - '35.3824559'
    body:
      encoding: UTF-8
      string: '{"errors": ["slo id ruby-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1612268374
        not found"]}'
  recorded_at: Tue, 02 Feb 2021 12:19:34 GMT
recorded_with: VCR 6.0.0
