---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo
    body:
      encoding: UTF-8
      string: '{"type":"metric","name":"Test-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1618572618","thresholds":[{"timeframe":"7d","target":95.0,"warning":98.0}],"query":{"numerator":"sum:httpservice.hits{code:2xx}.as_count()","denominator":"sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4327367'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '42'
      X-Ratelimit-Remaining:
      - '499'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"d93260a85374531b94cc90d1763ca5b3","name":"Test-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1618572618","created_at":1618572618,"tags":[],"modified_at":1618572618,"type":"metric"}],"error":null}'
  recorded_at: Fri, 16 Apr 2021 11:30:18 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo/correction
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"slo_id":"d93260a85374531b94cc90d1763ca5b3","start":1618572618,"end":1618576218,"category":"Other","timezone":"UTC","description":"Test
        Correction"},"type":"correction"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4327367'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '42'
      X-Ratelimit-Remaining:
      - '11999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"correction","id":"1f1d72f0-9ea7-11eb-9e3b-da7ad0900002","attributes":{"slo_id":"d93260a85374531b94cc90d1763ca5b3","start":1618572618,"end":1618576218,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs@datadoghq.com","name":"CI
        Account","icon":"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro"}}}}}}'
  recorded_at: Fri, 16 Apr 2021 11:30:18 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v1/slo/correction/1f1d72f0-9ea7-11eb-9e3b-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4327367'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '42'
      X-Ratelimit-Remaining:
      - '11999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"correction","id":"1f1d72f0-9ea7-11eb-9e3b-da7ad0900002","attributes":{"slo_id":"d93260a85374531b94cc90d1763ca5b3","start":1618572618,"end":1618576218,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs@datadoghq.com","name":"CI
        Account","icon":"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro"}}}}}}'
  recorded_at: Fri, 16 Apr 2021 11:30:18 GMT
recorded_with: VCR 6.0.0
