http_interactions:
- recorded_at: Mon, 19 Apr 2021 16:38:48 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"name":"Test-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1618850328","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4342685'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '12'
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"729f2c18f99c5a529bbb593be5f828db","name":"Test-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1618850328","created_at":1618850328,"tags":[],"modified_at":1618850328,"type":"metric"}],"error":null}'
    status:
      code: 200
      message: OK
- recorded_at: Mon, 19 Apr 2021 16:38:48 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"category":"Other","description":"Test Correction","end":1618853928,"slo_id":"729f2c18f99c5a529bbb593be5f828db","start":1618850328,"timezone":"UTC"},"type":"correction"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4342685'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11999'
      X-Ratelimit-Reset:
      - '11'
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"correction","id":"b7c40fc2-a12d-11eb-9f2c-da7ad0900002","attributes":{"slo_id":"729f2c18f99c5a529bbb593be5f828db","start":1618850328,"end":1618853928,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}}'
    status:
      code: 200
      message: OK
- recorded_at: Mon, 19 Apr 2021 16:38:48 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4342685'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11999'
      X-Ratelimit-Reset:
      - '11'
    method: GET
    uri: https://api.datadoghq.com/api/v1/slo/correction/b7c40fc2-a12d-11eb-9f2c-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"correction","id":"b7c40fc2-a12d-11eb-9f2c-da7ad0900002","attributes":{"slo_id":"729f2c18f99c5a529bbb593be5f828db","start":1618850328,"end":1618853928,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}}'
    status:
      code: 200
      message: OK
[...]
- recorded_at: Mon, 19 Apr 2021 16:38:48 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4342685'
      X-Ratelimit-Limit:
      - '3000'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Remaining:
      - '2999'
      X-Ratelimit-Reset:
      - '10'
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/729f2c18f99c5a529bbb593be5f828db
  response:
    body:
      encoding: UTF-8
      string: '{"data":["729f2c18f99c5a529bbb593be5f828db"],"error":null}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
