---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo
    body:
      encoding: UTF-8
      string: '{"type":"metric","name":"Test-Update_an_SLO_correction_returns_OK_response-1619078333","thresholds":[{"timeframe":"7d","target":95.0,"warning":98.0}],"query":{"numerator":"sum:httpservice.hits{code:2xx}.as_count()","denominator":"sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367818'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '7'
      X-Ratelimit-Remaining:
      - '497'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"0848c85590ba56a093994c607a8cc16a","name":"Test-Update_an_SLO_correction_returns_OK_response-1619078333","created_at":1619078333,"tags":[],"modified_at":1619078333,"type":"metric"}],"error":null}'
  recorded_at: Thu, 22 Apr 2021 07:58:53 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/slo/correction
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"slo_id":"0848c85590ba56a093994c607a8cc16a","start":1619078333,"end":1619081933,"category":"Other","timezone":"UTC","description":"Test
        Correction"},"type":"correction"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367818'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '7'
      X-Ratelimit-Remaining:
      - '11997'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"correction","id":"94e03db8-a340-11eb-9fc2-da7ad0900002","attributes":{"slo_id":"0848c85590ba56a093994c607a8cc16a","start":1619078333,"end":1619081933,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs@datadoghq.com","name":"CI
        Account","icon":"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro"}}}}}}'
  recorded_at: Thu, 22 Apr 2021 07:58:53 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v1/slo/correction/94e03db8-a340-11eb-9fc2-da7ad0900002
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"category":"Deployment","description":"Test-Update_an_SLO_correction_returns_OK_response-1619078333","end":1619081933,"start":1619078333,"timezone":"UTC"},"type":"correction"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367818'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '7'
      X-Ratelimit-Remaining:
      - '11999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"correction","id":"94e03db8-a340-11eb-9fc2-da7ad0900002","attributes":{"slo_id":"0848c85590ba56a093994c607a8cc16a","start":1619078333,"end":1619081933,"description":"Test-Update_an_SLO_correction_returns_OK_response-1619078333","category":"Deployment","timezone":"UTC","creator":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs@datadoghq.com","name":"CI
        Account","icon":"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro"}}}}}}'
  recorded_at: Thu, 22 Apr 2021 07:58:53 GMT
[...]
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/slo/0848c85590ba56a093994c607a8cc16a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4367818'
      X-Ratelimit-Limit:
      - '3000'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Reset:
      - '7'
      X-Ratelimit-Remaining:
      - '2997'
    body:
      encoding: ASCII-8BIT
      string: '{"data":["0848c85590ba56a093994c607a8cc16a"],"error":null}'
  recorded_at: Thu, 22 Apr 2021 07:58:53 GMT
recorded_with: VCR 6.0.0
