http_interactions:
- recorded_at: Thu, 26 Mar 2026 21:30:09 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Security Audit DAC","principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"],"product_filters":[{"filters":["@application.id:ABCD"],"product":"logs"}]},"type":"dataset"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/datasets
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dataset","id":"d7eacc0a-68a8-4511-8a9e-81c275a3cfc4","attributes":{"name":"Security
        Audit DAC","product_filters":[{"product":"logs","filters":["@application.id:ABCD"]}],"principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"]}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 26 Mar 2026 21:30:09 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/datasets/d7eacc0a-68a8-4511-8a9e-81c275a3cfc4
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 26 Mar 2026 21:30:09 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/datasets/d7eacc0a-68a8-4511-8a9e-81c275a3cfc4
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Invalid request: [DatasetNotFound] dataset \"d7eacc0a-68a8-4511-8a9e-81c275a3cfc4\"
        not found"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
