http_interactions:
- recorded_at: Tue, 02 Jun 2026 12:32:35 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"session","filter":{"query":"source:Test-Create_a_RUM_based_metric_returns_Conflict_response-1780403555"},"group_by":[{"path":"@browser.name","tag_name":"browser_name"}],"uniqueness":{"when":"match"}},"id":"testcreatearumbasedmetricreturnsconflictresponse1780403555","type":"rum_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/config/metrics
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"testcreatearumbasedmetricreturnsconflictresponse1780403555","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"session","filter":{"query":"source:Test-Create_a_RUM_based_metric_returns_Conflict_response-1780403555"},"group_by":[{"path":"@browser.name","tag_name":"browser_name"}],"uniqueness":{"when":"match"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 02 Jun 2026 12:32:35 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"compute":{"aggregation_type":"count"},"event_type":"action"},"id":"testcreatearumbasedmetricreturnsconflictresponse1780403555","type":"rum_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/config/metrics
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"409","title":"Conflict","detail":"conflict(Field
        ''data.id'' is invalid: ''testcreatearumbasedmetricreturnsconflictresponse1780403555''
        cannot be used as metric name, a metric already exists with that name)"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 409
      message: Conflict
- recorded_at: Tue, 02 Jun 2026 12:32:35 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/rum/config/metrics/testcreatearumbasedmetricreturnsconflictresponse1780403555
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
