http_interactions:
- recorded_at: Thu, 24 Oct 2024 16:05:57 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"event_type":"action"},"id":"rum.actions.invalid","type":"rum_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/config/metrics
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"attribute
        \"compute\" is required"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
