http_interactions:
- recorded_at: Thu, 28 Nov 2024 15:31:21 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/rum/config/metrics/Test-Get_a_rum_based_metric_returns_Not_Found_response-1732807881
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"Not Found","detail":"not_found(Metric
        with name ''Test-Get_a_rum_based_metric_returns_Not_Found_response-1732807881''
        not found)"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
