http_interactions:
- recorded_at: Tue, 02 Jun 2026 12:32:39 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/rum/config/metrics/Test-Get_a_RUM_based_metric_returns_Not_Found_response-1780403559
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"Not Found","detail":"not_found(Metric
        with name ''Test-Get_a_RUM_based_metric_returns_Not_Found_response-1780403559''
        not found)"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
