http_interactions:
- recorded_at: Fri, 28 Mar 2025 13:58:48 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testbatchupdatecsmthreatsagentpoliciesreturnsbadrequestresponse1743170328"},"type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datad0g.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"gye-dmh-qfj","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"testbatchupdatecsmthreatsagentpoliciesreturnsbadrequestresponse1743170328","policyVersion":"1","priority":1000000026,"ruleCount":226,"updateDate":1743170328858,"updater":{"name":"Quentin
        Guillard","handle":"quentin.guillard@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 28 Mar 2025 13:58:48 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"policies":[{"description":"My agent policy","enabled":true,"hostTags":[],"id":"gye-dmh-qfj","name":""}]},"id":"batch_update_req","type":"policies"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datad0g.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"failed to update policy"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- recorded_at: Fri, 28 Mar 2025 13:58:48 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datad0g.com/api/v2/remote_config/products/cws/policy/gye-dmh-qfj
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
