http_interactions:
- recorded_at: Thu, 27 Mar 2025 09:35:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Test Agent rule","enabled":true,"expression":"exec.file.name
        == \"sh\"","name":"testcreateacloudworkloadsecurityagentrulereturnsokresponse1743068144"},"type":"agent_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datad0g.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"3qq-hru-ubw","attributes":{"version":1,"name":"testcreateacloudworkloadsecurityagentrulereturnsokresponse1743068144","description":"Test
        Agent rule","expression":"exec.file.name == \"sh\"","category":"Process Activity","defaultRule":false,"enabled":true,"creationAuthorUuId":"a54eca49-cf2e-11ef-8941-5e02e132a7ae","creationDate":1743068145212,"updateAuthorUuId":"a54eca49-cf2e-11ef-8941-5e02e132a7ae","updateDate":1743068145212,"filters":["os
        == \"linux\""],"actions":[],"agentConstraint":"","creator":{"name":"Quentin
        Guillard","handle":"quentin.guillard@datadoghq.com"},"updater":{"name":"Quentin
        Guillard","handle":"quentin.guillard@datadoghq.com"}},"type":"agent_rule"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 27 Mar 2025 09:35:44 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datad0g.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/3qq-hru-ubw
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
