http_interactions:
- recorded_at: Wed, 11 Jun 2025 12:16:26 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testcreateaworkloadprotectionagentrulewithsetactionreturnsokresponse1749644186"},"type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"pit-qlh-dda","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"testcreateaworkloadprotectionagentrulewithsetactionreturnsokresponse1749644186","policyVersion":"1","priority":1000000013,"ruleCount":226,"updateDate":1749644187117,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 11 Jun 2025 12:16:26 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"actions":[{"hash":{},"set":{"name":"test_set","scope":"process","value":"test_value"}}],"description":"My
        Agent rule with set action","enabled":true,"expression":"exec.file.name ==
        \"sh\"","filters":[],"name":"testcreateaworkloadprotectionagentrulewithsetactionreturnsokresponse1749644186","policy_id":"pit-qlh-dda","product_tags":[]},"type":"agent_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"nsy-jhb-bgw","type":"agent_rule","attributes":{"actions":[{"hash":{},"set":{"name":"test_set","value":"test_value","scope":"process"},"disabled":false}],"category":"Process
        Activity","creationDate":1749644187541,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"My
        Agent rule with set action","enabled":true,"expression":"exec.file.name ==
        \"sh\"","filters":["os == \"linux\""],"monitoring":["pit-qlh-dda"],"name":"testcreateaworkloadprotectionagentrulewithsetactionreturnsokresponse1749644186","product_tags":[],"updateDate":1749644187541,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 11 Jun 2025 12:16:26 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/nsy-jhb-bgw
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
- recorded_at: Wed, 11 Jun 2025 12:16:26 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/pit-qlh-dda
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
