http_interactions:
- recorded_at: Fri, 28 Mar 2025 13:58:53 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testcreateacsmthreatsagentrulereturnsbadrequestresponse1743170333"},"type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datad0g.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"3t4-vlv-lsd","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"testcreateacsmthreatsagentrulereturnsbadrequestresponse1743170333","policyVersion":"1","priority":1000000026,"ruleCount":226,"updateDate":1743170333959,"updater":{"name":"Quentin
        Guillard","handle":"quentin.guillard@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 28 Mar 2025 13:58:53 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name","filters":[],"name":"my_agent_rule","policy_id":"3t4-vlv-lsd","product_tags":[]},"type":"agent_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datad0g.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["input_validation_error(Field ''expression'' is invalid:
        rule `my_agent_rule` error: rule syntax error: bool expected: 1:1: exec.file.name\n^)"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- recorded_at: Fri, 28 Mar 2025 13:58:53 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datad0g.com/api/v2/remote_config/products/cws/policy/3t4-vlv-lsd
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
