http_interactions:
- recorded_at: Fri, 10 Oct 2025 15:20:54 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTagsLists":[["env:test"]],"name":"my_agent_policy_2"},"type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"fwg-18e-cfb","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTagsLists":[["env:test"]],"monitoringRulesCount":7,"name":"my_agent_policy_2","pinned":false,"policyVersion":"1","ruleCount":8,"updateDate":1760109655264,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 10 Oct 2025 15:20:54 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/fwg-18e-cfb
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
