http_interactions:
- recorded_at: Wed, 11 Jun 2025 12:16:39 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testdeleteaworkloadprotectionagentrulereturnsokresponse1749644199"},"type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"lih-oi0-gt3","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"testdeleteaworkloadprotectionagentrulereturnsokresponse1749644199","policyVersion":"1","priority":1000000013,"ruleCount":226,"updateDate":1749644200118,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 11 Jun 2025 12:16:39 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"actions":[{"hash":{},"set":{"name":"test_set","scope":"process","value":"test_value"}}],"description":"My
        Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","name":"testdeleteaworkloadprotectionagentrulereturnsokresponse1749644199","policy_id":"lih-oi0-gt3","product_tags":["security:attack","technique:T1059"]},"type":"agent_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6qz-j4g-zv7","type":"agent_rule","attributes":{"actions":[{"hash":{},"set":{"name":"test_set","value":"test_value","scope":"process"},"disabled":false}],"category":"Process
        Activity","creationDate":1749644200725,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"My
        Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
        == \"linux\""],"monitoring":["lih-oi0-gt3"],"name":"testdeleteaworkloadprotectionagentrulereturnsokresponse1749644199","product_tags":["security:attack","technique:T1059"],"updateDate":1749644200725,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 11 Jun 2025 12:16:39 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/6qz-j4g-zv7?policy_id=lih-oi0-gt3
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
- recorded_at: Wed, 11 Jun 2025 12:16:39 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/6qz-j4g-zv7
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"failed to delete rule"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Wed, 11 Jun 2025 12:16:39 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/lih-oi0-gt3
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
