http_interactions:
- recorded_at: Thu, 15 May 2025 14:34:27 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testdeleteaworkloadprotectionpolicyreturnsokresponse1747319667"},"type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"koo-gxa-p0y","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"testdeleteaworkloadprotectionpolicyreturnsokresponse1747319667","policyVersion":"1","priority":1000000070,"ruleCount":226,"updateDate":1747319667081,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 May 2025 14:34:27 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/koo-gxa-p0y
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 15 May 2025 14:34:27 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/koo-gxa-p0y
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"failed to delete policy"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
