http_interactions:
- recorded_at: Thu, 15 May 2025 14:34:22 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name
        == \"sh\"","name":"testdeleteaworkloadprotectionagentruleus1fedreturnsokresponse1747319662"},"type":"agent_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"car-hil-x1c","attributes":{"version":1,"name":"testdeleteaworkloadprotectionagentruleus1fedreturnsokresponse1747319662","description":"My
        Agent rule","expression":"exec.file.name == \"sh\"","category":"Process Activity","defaultRule":false,"enabled":true,"creationAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","creationDate":1747319662646,"updateAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","updateDate":1747319662646,"filters":["os
        == \"linux\""],"actions":[],"agentConstraint":"","creator":{"name":"frog","handle":"frog@datadoghq.com"},"updater":{"name":"frog","handle":"frog@datadoghq.com"}},"type":"agent_rule"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 May 2025 14:34:22 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/car-hil-x1c
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 15 May 2025 14:34:22 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/car-hil-x1c
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["not_found(Agent rule not found: agentRuleId=car-hil-x1c)"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
