http_interactions:
- recorded_at: Fri, 28 Nov 2025 15:36:52 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testdeleteaworkloadprotectionagentrulereturnsokresponse1764344212"},"type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"3so-qzz-xtj","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTagsLists":[["env:staging"]],"monitoringRulesCount":7,"name":"testdeleteaworkloadprotectionagentrulereturnsokresponse1764344212","pinned":false,"policyVersion":"1","ruleCount":8,"updateDate":1764344213176,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 28 Nov 2025 15:36:52 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"actions":[{"set":{"name":"test_set","scope":"process","value":"test_value"}},{"hash":{}}],"description":"My
        Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","name":"testdeleteaworkloadprotectionagentrulereturnsokresponse1764344212","policy_id":"3so-qzz-xtj","product_tags":["security:attack","technique:T1059"]},"type":"agent_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2k5-x3o-pzj","type":"agent_rule","attributes":{"actions":[{"set":{"name":"test_set","value":"test_value","scope":"process"},"disabled":false},{"hash":{},"disabled":false}],"category":"Process
        Activity","creationDate":1764344214047,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"My
        Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
        == \"linux\""],"monitoring":["3so-qzz-xtj"],"name":"testdeleteaworkloadprotectionagentrulereturnsokresponse1764344212","product_tags":["security:attack","technique:T1059"],"updateDate":1764344214047,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 28 Nov 2025 15:36:52 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/2k5-x3o-pzj?policy_id=3so-qzz-xtj
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 28 Nov 2025 15:36:52 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/2k5-x3o-pzj
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"failed to delete rule"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Fri, 28 Nov 2025 15:36:52 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/3so-qzz-xtj
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
