http_interactions:
- recorded_at: Tue, 23 Apr 2024 17:57:47 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name
        == \"sh\"","name":"testgetacsmthreatsagentrulereturnsokresponse1713895067"},"type":"agent_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6wy-t98-466","type":"agent_rule","attributes":{"category":"Process
        Activity","creationDate":1713895067605,"creator":{"name":"","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"My
        Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
        == \"linux\""],"name":"testgetacsmthreatsagentrulereturnsokresponse1713895067","updateDate":1713895067605,"updater":{"name":"","handle":"frog@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 23 Apr 2024 17:57:47 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/6wy-t98-466
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6wy-t98-466","type":"agent_rule","attributes":{"category":"Process
        Activity","creationDate":1713895067000,"creator":{"name":"","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"My
        Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
        == \"linux\""],"name":"testgetacsmthreatsagentrulereturnsokresponse1713895067","updateDate":1713895067000,"updater":{"name":"","handle":"frog@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 23 Apr 2024 17:57:47 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/6wy-t98-466
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
