http_interactions:
- recorded_at: Thu, 02 Oct 2025 12:40:37 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name
        == \"sh\"","name":"testgetaworkloadprotectionagentruleus1fedreturnsokresponse1759408837"},"type":"agent_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ooo-7sa-mmk","attributes":{"version":1,"name":"testgetaworkloadprotectionagentruleus1fedreturnsokresponse1759408837","description":"My
        Agent rule","expression":"exec.file.name == \"sh\"","category":"Process Activity","defaultRule":false,"enabled":true,"creationAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","creationDate":1759408838222,"updateAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","updateDate":1759408838222,"filters":["os
        == \"linux\""],"actions":[],"agentConstraint":"","creator":{"name":"frog","handle":"frog@datadoghq.com"},"updater":{"name":"frog","handle":"frog@datadoghq.com"}},"type":"agent_rule"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 02 Oct 2025 12:40:37 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/ooo-7sa-mmk
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ooo-7sa-mmk","type":"agent_rule","attributes":{"actions":[],"agentConstraint":"","category":"Process
        Activity","creationAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","creationDate":1759408838222,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"My
        Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
        == \"linux\""],"name":"testgetaworkloadprotectionagentruleus1fedreturnsokresponse1759408837","updateAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","updateDate":1759408838222,"updater":{"name":"frog","handle":"frog@datadoghq.com"},"version":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 02 Oct 2025 12:40:37 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/ooo-7sa-mmk
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
