http_interactions:
- recorded_at: Tue, 01 Apr 2025 14:30:58 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"CWS_CUSTOM-canary","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"disabledRulesCount":1,"enabled":false,"hostTags":[],"monitoringRulesCount":418,"name":"Datadog
        Managed Policy","policyVersion":"53221","priority":1000000000,"ruleCount":419,"updateDate":1742473183000,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}},{"id":"CWS_DD","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":true,"disabledRulesCount":1,"enabled":true,"monitoringRulesCount":225,"name":"Datadog
        Managed Policy","policyVersion":"1.40.0-rc76","priority":0,"ruleCount":226,"updateDate":1737661272000,"updater":{"name":"Datadog","handle":""}}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
