http_interactions:
- recorded_at: Fri, 28 Mar 2025 13:59:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testgetacsmthreatsagentpolicyreturnsokresponse1743170342"},"type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datad0g.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"v6s-cun-nau","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"testgetacsmthreatsagentpolicyreturnsokresponse1743170342","policyVersion":"1","priority":1000000026,"ruleCount":226,"updateDate":1743170342826,"updater":{"name":"Quentin
        Guillard","handle":"quentin.guillard@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 28 Mar 2025 13:59:02 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datad0g.com/api/v2/remote_config/products/cws/policy/v6s-cun-nau
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"v6s-cun-nau","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"testgetacsmthreatsagentpolicyreturnsokresponse1743170342","policyVersion":"1","priority":1000000026,"ruleCount":226,"updateDate":1743170342826,"updater":{"name":"Quentin
        Guillard","handle":"quentin.guillard@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 28 Mar 2025 13:59:02 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datad0g.com/api/v2/remote_config/products/cws/policy/v6s-cun-nau
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
