http_interactions:
- recorded_at: Thu, 16 Oct 2025 16:03:22 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testupdateaworkloadprotectionpolicyreturnsbadrequestresponse1760630602"},"type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"hen-r9f-dcm","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTagsLists":[["env:staging"]],"monitoringRulesCount":7,"name":"testupdateaworkloadprotectionpolicyreturnsbadrequestresponse1760630602","pinned":false,"policyVersion":"1","ruleCount":8,"updateDate":1760630603377,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 16 Oct 2025 16:03:22 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:test"],"hostTagsLists":[["env:test"]],"name":""},"id":"hen-r9f-dcm","type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/hen-r9f-dcm
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["input_validation_error(Field ''tags'' is invalid: cannot
        have both the new and the legacy field populated)"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- recorded_at: Thu, 16 Oct 2025 16:03:22 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/hen-r9f-dcm
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
