http_interactions:
- recorded_at: Tue, 28 May 2024 19:38:08 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name
        == \"sh\"","name":"testupdateacsmthreatsagentrulereturnsbadrequestresponse1716925088"},"type":"agent_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0wn-l36-875","type":"agent_rule","attributes":{"category":"Process
        Activity","creationDate":1716925088306,"creator":{"name":"CI Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"defaultRule":false,"description":"My
        Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
        == \"linux\""],"name":"testupdateacsmthreatsagentrulereturnsbadrequestresponse1716925088","updateDate":1716925088306,"updater":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 28 May 2024 19:38:08 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Test Agent rule","enabled":true,"expression":"open.file.path
        = sh"},"id":"0wn-l36-875","type":"agent_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/0wn-l36-875
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["input_validation_error(Field ''expression'' is invalid:
        rule `testupdateacsmthreatsagentrulereturnsbadrequestresponse1716925088` error:
        syntax error `1:18: unexpected token \"sh\" (expected \"~\")`)"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- recorded_at: Tue, 28 May 2024 19:38:08 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/0wn-l36-875
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
