http_interactions:
- recorded_at: Tue, 27 May 2025 10:25:23 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":[],"name":"my_agent_policy"},"id":"non-existent-policy-id","type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/non-existent-policy-id
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"failed to update policy"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
