http_interactions:
- recorded_at: Fri, 28 Nov 2025 15:37:27 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testupdateaworkloadprotectionpolicyreturnsokresponse1764344247"},"type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ttq-tiv-bfn","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTagsLists":[["env:staging"]],"monitoringRulesCount":7,"name":"testupdateaworkloadprotectionpolicyreturnsokresponse1764344247","pinned":false,"policyVersion":"1","ruleCount":8,"updateDate":1764344247372,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 28 Nov 2025 15:37:27 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Updated agent policy","enabled":true,"hostTagsLists":[["env:test"]],"name":"updated_agent_policy"},"id":"ttq-tiv-bfn","type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/ttq-tiv-bfn
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ttq-tiv-bfn","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"Updated
        agent policy","disabledRulesCount":0,"enabled":true,"hostTagsLists":[["env:test"]],"monitoringRulesCount":0,"name":"updated_agent_policy","pinned":false,"policyVersion":"2","ruleCount":0,"updateDate":1764344248403,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 28 Nov 2025 15:37:27 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/ttq-tiv-bfn
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
