http_interactions:
- recorded_at: Thu, 15 May 2025 11:49:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testupdateacsmthreatsagentpolicyreturnsbadrequestresponse1747309778"},"type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1td-7qk-v2w","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"testupdateacsmthreatsagentpolicyreturnsbadrequestresponse1747309778","policyVersion":"1","priority":1000000070,"ruleCount":226,"updateDate":1747309778608,"updater":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 May 2025 11:49:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:test"],"hostTagsLists":[["env:test"]],"name":""},"id":"1td-7qk-v2w","type":"policy"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/1td-7qk-v2w
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["input_validation_error(Field ''tags'' is invalid: cannot
        have both the new and the legacy field populated)"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- recorded_at: Thu, 15 May 2025 11:49:38 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/1td-7qk-v2w
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
