http_interactions:
- recorded_at: Thu, 12 May 2022 09:50:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"is_secret":false,"name":"TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1652349041","value":"variable-value"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables
  response:
    body:
      encoding: UTF-8
      string: '{"is_secret":false,"name":"TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1652349041","value":"variable-value"}'
    status:
      code: 201
      message: Created
- recorded_at: Thu, 12 May 2022 09:50:41 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1652349041
  response:
    body:
      encoding: UTF-8
      string: '{}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 12 May 2022 09:50:41 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1652349041
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["Custom variable does not exist"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
