---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables
    body:
      encoding: UTF-8
      string: '{"name":"TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1628841296","value":"variable-value","is_secret":false}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://app.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1628841296
    body:
      encoding: ASCII-8BIT
      string: '{"is_secret":false,"name":"TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1628841296","value":"variable-value"}'
  recorded_at: Fri, 13 Aug 2021 07:54:56 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1628841296
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Fri, 13 Aug 2021 07:54:56 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1628841296
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"errors": ["Custom variable does not exist"]}'
  recorded_at: Fri, 13 Aug 2021 07:54:56 GMT
recorded_with: VCR 6.0.0
