---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/webhooks
    body:
      encoding: UTF-8
      string: '{"name":"Test-Get_a_webhook_integration_returns_OK_response-1628841297","url":"http://example.com/webhook"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://app.datadoghq.com/api/v1/integration/webhooks/configuration/webhooks/Test-Get_a_webhook_integration_returns_OK_response-1628841297
    body:
      encoding: ASCII-8BIT
      string: '{"encode_as":"json","url":"http://example.com/webhook","custom_headers":null,"name":"Test-Get_a_webhook_integration_returns_OK_response-1628841297","payload":"{\"body\":
        \"$EVENT_MSG\", \"last_updated\": \"$LAST_UPDATED\", \"event_type\": \"$EVENT_TYPE\",
        \"title\": \"$EVENT_TITLE\", \"date\": \"$DATE\", \"org\": {\"id\": \"$ORG_ID\",
        \"name\": \"$ORG_NAME\"}, \"id\": \"$ID\"}"}'
  recorded_at: Fri, 13 Aug 2021 07:54:57 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/webhooks/Test-Get_a_webhook_integration_returns_OK_response-1628841297
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"encode_as":"json","url":"http://example.com/webhook","custom_headers":null,"name":"Test-Get_a_webhook_integration_returns_OK_response-1628841297","payload":"{\"body\":
        \"$EVENT_MSG\", \"last_updated\": \"$LAST_UPDATED\", \"event_type\": \"$EVENT_TYPE\",
        \"title\": \"$EVENT_TITLE\", \"date\": \"$DATE\", \"org\": {\"id\": \"$ORG_ID\",
        \"name\": \"$ORG_NAME\"}, \"id\": \"$ID\"}"}'
  recorded_at: Fri, 13 Aug 2021 07:54:57 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/webhooks/Test-Get_a_webhook_integration_returns_OK_response-1628841297
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Fri, 13 Aug 2021 07:54:57 GMT
recorded_with: VCR 6.0.0
