http_interactions:
- recorded_at: Wed, 22 Apr 2026 20:15:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Environment Test-Create_an_environment_returns_Created_response-1776888955","queries":["test-Test-Create_an_environment_returns_Created_response-1776888955","env-Test-Create_an_environment_returns_Created_response-1776888955"]},"type":"environments"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/feature-flags/environments
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"e8d345e2-dca2-4270-912f-1189174ee338","type":"environments","attributes":{"is_production":false,"name":"Test
        Environment Test-Create_an_environment_returns_Created_response-1776888955","queries":["test-Test-Create_an_environment_returns_Created_response-1776888955","env-Test-Create_an_environment_returns_Created_response-1776888955"],"require_feature_flag_approval":false}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 22 Apr 2026 20:15:55 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/feature-flags/environments/e8d345e2-dca2-4270-912f-1189174ee338
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
