http_interactions:
- recorded_at: Thu, 05 Jun 2025 17:32:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"aggregation_key":"aggregation_key_123","attributes":{"author":{"name":"datadog@datadog.com","type":"user"},"change_metadata":{"dd":{"team":"datadog_team","user_email":"datadog@datadog.com","user_id":"datadog_user_id","user_name":"datadog_username"},"resource_link":"datadog.com/feature/fallback_payments_test"},"changed_resource":{"name":"fallback_payments_test","type":"feature_flag"},"impacted_resources":[{"name":"payments_api","type":"service"}],"new_value":{"enabled":true,"percentage":"50%","rule":{"datacenter":"devcycle.us1.prod"}},"prev_value":{"enabled":true,"percentage":"10%","rule":{"datacenter":"devcycle.us1.prod"}}},"category":"invalid","integration_id":"custom-events","message":"payment_processed
        feature flag has been enabled","tags":["env:test"],"title":"Datadog api client
        test"},"type":"event"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://event-management-intake.datadoghq.com/api/v2/events
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"JSON validation
        failed at $.data.attributes.category"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
