http_interactions:
- recorded_at: Mon, 20 Jun 2022 13:43:51 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"filter":{"from":"now-15m","query":"service:web* AND @http.status_code:[200
        TO 299]","to":"now"},"options":{"timezone":"GMT"},"page":{"cursor":"eyJzdGFydEF0IjoiQVFBQUFYS2tMS3pPbm40NGV3QUFBQUJCV0V0clRFdDZVbG8zY3pCRmNsbHJiVmxDWlEifQ==","limit":25},"sort":"timestamp"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/events/search
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["{''errors'': [u\"input_validation_error(Field ''page''
        is invalid: invalid cursor)\"]}"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
