http_interactions:
- recorded_at: Tue, 11 Jan 2022 15:25:15 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/usage/hourly-attribution?start_hr=2022-01-08T15%3A25%3A15.014Z&usage_type=infra_host_usage
  response:
    body:
      encoding: UTF-8
      string: '{"usage":[{"org_name":"DD Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-01-08T15:00:00+00:00","tag_config_source":"DD
        Integration Tests (321813):::project","tags":null,"total_usage_sum":17,"updated_at":"2022-01-09T04","usage_type":"infra_host_usage"},{"org_name":"DD
        Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-01-08T16:00:00+00:00","tag_config_source":"DD
        Integration Tests (321813):::project","tags":null,"total_usage_sum":17,"updated_at":"2022-01-09T10","usage_type":"infra_host_usage"},{"org_name":"DD
        Integration Tests (321813)","public_id":"fasjyydbcgwwc2uc","hour":"2022-01-08T17:00:00+00:00","tag_config_source":"DD
        Integration Tests (321813):::project","tags":nu[...]
