http_interactions:
- recorded_at: Fri, 02 Jun 2023 20:53:22 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"message":"test message","monitor_identifier":{"monitor_tags":["cat:hat"]},"schedule":{"start":null},"scope":"test:testcanceladowntimereturnsokresponse1685739202"},"type":"downtime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/downtime
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"downtime","attributes":{"mute_first_recovery_notification":false,"status":"active","created":"2023-06-02T20:53:23.252025+00:00","notify_end_states":["alert","no
        data","warn"],"canceled":null,"display_timezone":"UTC","modified":"2023-06-02T20:53:23.252025+00:00","monitor_identifier":{"monitor_tags":["cat:hat"]},"scope":"test:testcanceladowntimereturnsokresponse1685739202","schedule":{"start":"2023-06-02T20:53:23.238403+00:00","end":null},"message":"test
        message","notify_end_types":["expired"]},"id":"83718756-0187-11ee-8c18-da7ad0900002","relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"monitor":{"data":null}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 02 Jun 2023 20:53:22 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/downtime/83718756-0187-11ee-8c18-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 02 Jun 2023 20:53:22 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/downtime/83718756-0187-11ee-8c18-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
