http_interactions:
- recorded_at: Fri, 08 Mar 2024 14:19:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name
        == sh","name":"my_agent_rule"},"type":"agent_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["input_validation_error(Field ''expression'' is invalid:
        rule `my_agent_rule` error: rule compilation error: field `sh` not found)"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
