http_interactions:
- recorded_at: Thu, 28 Mar 2024 13:57:47 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name
        == sh","name":"testcreateacsmthreatsagentrulereturnsbadrequestresponse1711634267"},"type":"agent_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["input_validation_error(Field ''expression'' is invalid:
        rule `testcreateacsmthreatsagentrulereturnsbadrequestresponse1711634267` error:
        rule compilation error: field `sh` not found)"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
