http_interactions:
- recorded_at: Tue, 11 Jan 2022 18:11:42 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Test Agent rule","enabled":true,"expression":"exec.file.name
        == \"sh\""},"type":"agent_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/abc-123-xyz
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["not_found(Agent rule not found: agentRuleId=abc-123-xyz)"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
