http_interactions:
- recorded_at: Wed, 26 Mar 2025 20:24:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"integration":{"credentials":{"account_id":"123456789123","role":"MyRoleUpdated","type":"AWSAssumeRole"},"type":"AWS"},"name":"Cassette
        Connection testcreateanewactionconnectionreturnssuccessfullycreatedactionconnectionresponse1743020699"},"type":"action_connection"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions/connections
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"67aa2f61-266d-48d1-a1ee-cf7c3acc6b20","type":"action_connection","attributes":{"integration":{"credentials":{"account_id":"123456789123","external_id":"70f4660c99684420821b0c13a67eb4d1","principal_id":"464622532012","role":"MyRoleUpdated","type":"AWSAssumeRole"},"type":"AWS"},"name":"Cassette
        Connection testcreateanewactionconnectionreturnssuccessfullycreatedactionconnectionresponse1743020699"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 26 Mar 2025 20:24:59 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions/connections/67aa2f61-266d-48d1-a1ee-cf7c3acc6b20
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
