http_interactions:
- recorded_at: Fri, 03 Jan 2025 20:13:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"integration":{"credentials":{"account_id":"123456789123","role":"MyRole","type":"AWSAssumeRole"},"type":"AWS"},"name":"Cassette
        Connection DELETE"},"type":"action_connection"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions/connections
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d797879b-7737-49a0-8e4b-b3c836090e76","type":"action_connection","attributes":{"integration":{"credentials":{"account_id":"123456789123","role":"MyRole","external_id":"c02cb04cca044532b81f03029418dfa0","principal_id":"464622532012","type":"AWSAssumeRole"},"type":"AWS"},"name":"Cassette
        Connection DELETE"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Fri, 03 Jan 2025 20:13:11 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions/connections/d797879b-7737-49a0-8e4b-b3c836090e76
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 03 Jan 2025 20:13:11 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions/connections/d797879b-7737-49a0-8e4b-b3c836090e76
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"error deleting connection:
        rpc error: code = NotFound desc = connection not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
