---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test-Create_a_log_based_metric_returns_OK_response-1617971017","type":"logs_metrics","attributes":{"compute":{"aggregation_type":"count"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2183'
      X-Ratelimit-Remaining:
      - '83'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - "/L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Create_a_log_based_metric_returns_OK_response_1617971017","attributes":{"filter":{"query":"*"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Fri, 09 Apr 2021 12:23:37 GMT
recorded_with: VCR 6.0.0
