---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby-Create_a_log_based_metric_returns_OK_response-1608596222","type":"logs_metrics","attributes":{"compute":{"aggregation_type":"count"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.3583277'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2577'
      X-Ratelimit-Remaining:
      - '80'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - 9yeVJjClEU/6raHJlYfllzCTOtXzS//Mfm4MIk+dxQ9wRvMbFDy5xrIlZe/VS4yX
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby_Create_a_log_based_metric_returns_OK_response_1608596222","attributes":{"filter":{"query":"*"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Tue, 22 Dec 2020 00:17:02 GMT
recorded_with: VCR 6.0.0
