---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test-Create_a_log_based_metric_returns_OK_response-1617968732","type":"logs_metrics","attributes":{"compute":{"aggregation_type":"count"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '867'
      X-Ratelimit-Remaining:
      - '51'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Create_a_log_based_metric_returns_OK_response_1617968732","attributes":{"filter":{"query":"*"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Fri, 09 Apr 2021 11:45:32 GMT
recorded_with: VCR 6.0.0
