http_interactions:
- recorded_at: Fri, 24 Feb 2023 19:02:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"}},"id":"TestCreatealogbasedmetricreturnsOKresponse1677265321","type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"TestCreatealogbasedmetricreturnsOKresponse1677265321","attributes":{"filter":{"query":"*"},"group_by":[],"compute":{"aggregation_type":"distribution","path":"@duration","include_percentiles":true}},"type":"logs_metrics"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 24 Feb 2023 19:02:01 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/TestCreatealogbasedmetricreturnsOKresponse1677265321
  response:
    body:
      encoding: UTF-8
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
