http_interactions:
- recorded_at: Thu, 12 May 2022 09:52:23 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Delete_a_log_based_metric_returns_OK_response-1652349143"}},"id":"Test-Delete_a_log_based_metric_returns_OK_response-1652349143","type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"query":"source:Test-Delete_a_log_based_metric_returns_OK_response-1652349143"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics","id":"Test_Delete_a_log_based_metric_returns_OK_response_1652349143"}}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 12 May 2022 09:52:23 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Delete_a_log_based_metric_returns_OK_response_1652349143
  response:
    body:
      encoding: UTF-8
      string: '{}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 12 May 2022 09:52:23 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Delete_a_log_based_metric_returns_OK_response_1652349143
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["not_found(Metric with name ''Test_Delete_a_log_based_metric_returns_OK_response_1652349143''
        not found)"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
