---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby-Delete_a_log_based_metric_returns_OK_response-1608596223","attributes":{"filter":{"query":"source:ruby-Delete_a_log_based_metric_returns_OK_response-1608596223"},"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.3583277'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2577'
      X-Ratelimit-Remaining:
      - '79'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - 2NNUQsZpZeC5yOEHnEH8LSn5LhjKmDDM31iXmBawo7O6opYjviLgi+mfUoMNw5sj
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby_Delete_a_log_based_metric_returns_OK_response_1608596223","attributes":{"filter":{"query":"source:ruby-Delete_a_log_based_metric_returns_OK_response-1608596223"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Tue, 22 Dec 2020 00:17:03 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/ruby_Delete_a_log_based_metric_returns_OK_response_1608596223
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.3583277'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2576'
      X-Ratelimit-Remaining:
      - '4983'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - H6YNJZe2hxg7AD4MytxnK6WTGV3v238t6qy6wX4rqFlv+Cb0Gp+GU8J41gMZvmVb
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 22 Dec 2020 00:17:03 GMT
recorded_with: VCR 6.0.0
