http_interactions:
- recorded_at: Thu, 15 Apr 2021 13:01:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Delete_a_log_based_metric_returns_OK_response-1618491719"}},"id":"Test-Delete_a_log_based_metric_returns_OK_response-1618491719","type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '3480'
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Delete_a_log_based_metric_returns_OK_response_1618491719","attributes":{"filter":{"query":"source:Test-Delete_a_log_based_metric_returns_OK_response-1618491719"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Apr 2021 13:01:59 GMT
  request:
    body: null
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '3480'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Delete_a_log_based_metric_returns_OK_response_1618491719
  response:
    body:
      encoding: UTF-8
      string: '{}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Apr 2021 13:01:59 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '3479'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Delete_a_log_based_metric_returns_OK_response_1618491719
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["not_found(Metric with name ''Test_Delete_a_log_based_metric_returns_OK_response_1618491719''
        not found)"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
