---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test-Get_all_log_based_metrics_returns_OK_response-1617968735","attributes":{"filter":{"query":"source:Test-Get_all_log_based_metrics_returns_OK_response-1617968735"},"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '865'
      X-Ratelimit-Remaining:
      - '44'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Get_all_log_based_metrics_returns_OK_response_1617968735","attributes":{"filter":{"query":"source:Test-Get_all_log_based_metrics_returns_OK_response-1617968735"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Fri, 09 Apr 2021 11:45:35 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '864'
      X-Ratelimit-Remaining:
      - '4990'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"datadog_api_client_python_test_create_a_logbased_metric_returns_ok_response_1607014407.161855","attributes":{"filter":{"query":"*"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"},{"id":"go_Feature_Logs_Metrics_Scenario_Get_all_log_based_metrics_returns_OK_response_37807_1608735831","attributes":{"filter":{"query":"source:go-Feature_Logs_Metrics-Scenario_Get_all_log_based_metrics_returns__OK__response-37807-1608735831"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"},{"id":"mlb.to.delete.5","attributes":{"filter":{"query":"service:test"},"group_by":[{"path":"@status","tag_name":"status"}],"compute":{"aggregation_type":"distribution","path":"@duration"}},"type":"logs_metrics"},{"id":"mlb.to.delete.7","attributes":{"filter":{"query":"service:test"},"group_by":[{"path":"@status","tag_name":"status"}],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"},{"id":"tf_TestAccDatadogLogsMetric_import_local_1612175492","attributes":{"filter":{"query":"service:test"},"group_by":[{"path":"@my.status","tag_name":"status"},{"path":"service","tag_name":"service"}],"compute":[...]
