---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby-Get_all_log_based_metrics_returns_OK_response-1608596221","attributes":{"filter":{"query":"source:ruby-Get_all_log_based_metrics_returns_OK_response-1608596221"},"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.3583277'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2578'
      X-Ratelimit-Remaining:
      - '81'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - KdWc5RppKH51u1oZ6tf2ghJTVEevh006eS91RDKZLGoax50FN2VjMvek2ayUmkXw
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby_Get_all_log_based_metrics_returns_OK_response_1608596221","attributes":{"filter":{"query":"source:ruby-Get_all_log_based_metrics_returns_OK_response-1608596221"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Tue, 22 Dec 2020 00:17:01 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.3583277'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2578'
      X-Ratelimit-Remaining:
      - '4986'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - o+DMvNLOJQfXAHeLjo7w9XOcTGCirWOThygGIHqmoMaQl6AzYuGlAbNkOlAzbCRq
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"datadog_api_client_python_test_create_a_logbased_metric_returns_ok_response_1607014407.161855","attributes":{"filter":{"query":"*"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"},{"id":"ruby_Get_all_log_based_metrics_returns_OK_response_1608596221","attributes":{"filter":{"query":"source:ruby-Get_all_log_based_metrics_returns_OK_response-1608596221"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}]}'
  recorded_at: Tue, 22 Dec 2020 00:17:01 GMT
recorded_with: VCR 6.0.0
