http_interactions:
- recorded_at: Mon, 17 Jan 2022 14:21:18 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1642429278"}},"id":"Test-Get_a_log_based_metric_returns_OK_response-1642429278","type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1642429278"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics","id":"Test_Get_a_log_based_metric_returns_OK_response_1642429278"}}'
    status:
      code: 200
      message: OK
- recorded_at: Mon, 17 Jan 2022 14:21:18 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1642429278
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1642429278"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics","id":"Test_Get_a_log_based_metric_returns_OK_response_1642429278"}}'
    status:
      code: 200
      message: OK
- recorded_at: Mon, 17 Jan 2022 14:21:18 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1642429278
  response:
    body:
      encoding: UTF-8
      string: '{}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
