---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/ruby_Get_a_log_based_metric_returns_OK_response_1608596225
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.3583277'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2574'
      X-Ratelimit-Remaining:
      - '4981'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - laGkCMnt9yzADERvt5/nU5tJ2BKmoQx1BUE4x31rlC7mriAyKM9Zk5E+JikpAz3V
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby_Get_a_log_based_metric_returns_OK_response_1608596225","attributes":{"filter":{"query":"source:ruby-Get_a_log_based_metric_returns_OK_response-1608596225"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Tue, 22 Dec 2020 00:17:05 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1617955278.926
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4273965'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '3521'
      X-Ratelimit-Remaining:
      - '4991'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1617955278.926","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1617955278.926"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Fri, 09 Apr 2021 08:01:18 GMT
[...]
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1617956826
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4274158'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '1973'
      X-Ratelimit-Remaining:
      - '4999'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1617956826","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1617956826"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Fri, 09 Apr 2021 08:27:06 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test-Get_a_log_based_metric_returns_OK_response-1617968734","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1617968734"},"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '866'
      X-Ratelimit-Remaining:
      - '46'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1617968734","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1617968734"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Fri, 09 Apr 2021 11:45:34 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1617968734
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '865'
      X-Ratelimit-Remaining:
      - '4991'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1617968734","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1617968734"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Fri, 09 Apr 2021 11:45:34 GMT
recorded_with: VCR 6.0.0
