http_interactions:
- recorded_at: Thu, 15 Apr 2021 13:02:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1618491721"}},"id":"Test-Get_a_log_based_metric_returns_OK_response-1618491721","type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1618491721","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1618491721"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Apr 2021 13:02:01 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json;charset=utf-8
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1618491721
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1618491721","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1618491721"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Apr 2021 13:02:01 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json;charset=utf-8
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1618491721
  response:
    body:
      encoding: UTF-8
      string: '{}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
