http_interactions:
- recorded_at: Thu, 06 Jan 2022 00:51:47 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1641430307"}},"id":"Test-Get_a_log_based_metric_returns_OK_response-1641430307","type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1641430307"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics","id":"Test_Get_a_log_based_metric_returns_OK_response_1641430307"}}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 06 Jan 2022 00:51:47 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1641430307
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1641430307"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics","id":"Test_Get_a_log_based_metric_returns_OK_response_1641430307"}}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 06 Jan 2022 00:51:47 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1641430307
  response:
    body:
      encoding: UTF-8
      string: '{}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
