---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby-Get_a_log_based_metric_returns_OK_response-1608596225","attributes":{"filter":{"query":"source:ruby-Get_a_log_based_metric_returns_OK_response-1608596225"},"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.3583277'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2575'
      X-Ratelimit-Remaining:
      - '78'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - 4/n0qOsNbcCLs0O62LExTPssq0SdRyX2Rk0dgQQIozMoViHF7e4pyB0ZeXOioNEA
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby_Get_a_log_based_metric_returns_OK_response_1608596225","attributes":{"filter":{"query":"source:ruby-Get_a_log_based_metric_returns_OK_response-1608596225"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Tue, 22 Dec 2020 00:17:05 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/ruby_Get_a_log_based_metric_returns_OK_response_1608596225
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.3583277'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2574'
      X-Ratelimit-Remaining:
      - '4981'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - laGkCMnt9yzADERvt5/nU5tJ2BKmoQx1BUE4x31rlC7mriAyKM9Zk5E+JikpAz3V
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby_Get_a_log_based_metric_returns_OK_response_1608596225","attributes":{"filter":{"query":"source:ruby-Get_a_log_based_metric_returns_OK_response-1608596225"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Tue, 22 Dec 2020 00:17:05 GMT
recorded_with: VCR 6.0.0
