---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test-Update_a_log_based_metric_returns_OK_response-1618572619","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572619"},"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4327367'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '1781'
      X-Ratelimit-Remaining:
      - '74'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1618572619","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572619"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Fri, 16 Apr 2021 11:30:19 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1618572619
    body:
      encoding: UTF-8
      string: '{"data":{"type":"logs_metrics","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572619-updated"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4327367'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '1781'
      X-Ratelimit-Remaining:
      - '73'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1618572619","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572619-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Fri, 16 Apr 2021 11:30:19 GMT
recorded_with: VCR 6.0.0
