http_interactions:
- recorded_at: Fri, 16 Apr 2021 11:32:14 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572734"}},"id":"Test-Update_a_log_based_metric_returns_OK_response-1618572734","type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - '35.4327367'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '71'
      X-Ratelimit-Reset:
      - '1666'
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1618572734","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572734"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 16 Apr 2021 11:32:14 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572734-updated"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - '35.4327367'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '70'
      X-Ratelimit-Reset:
      - '1665'
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1618572734
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1618572734","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572734-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 16 Apr 2021 11:32:14 GMT
  request:
    body: null
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - '35.4327367'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '69'
      X-Ratelimit-Reset:
      - '1665'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1618572734
  response:
    body:
      encoding: UTF-8
      string: '{}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
