http_interactions:
- recorded_at: Wed, 07 Jun 2023 11:55:30 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1686138930"}},"id":"Test-Update_a_log_based_metric_returns_OK_response-1686138930","type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1686138930","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1686138930"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 07 Jun 2023 11:55:30 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1686138930-updated"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1686138930
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1686138930","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1686138930-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 07 Jun 2023 11:55:30 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1686138930
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
