---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test-Update_a_log_based_metric_returns_OK_response-1617971019","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617971019"},"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2181'
      X-Ratelimit-Remaining:
      - '74'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1617971019","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617971019"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Fri, 09 Apr 2021 12:23:39 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1617971019
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1617971019","type":"logs_metrics","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617971019-updated"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2180'
      X-Ratelimit-Remaining:
      - '73'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1617971019","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617971019-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Fri, 09 Apr 2021 12:23:39 GMT
recorded_with: VCR 6.0.0
