http_interactions:
- recorded_at: Wed, 07 Jun 2023 11:56:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"filter":{"query":"source:Test-Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response-1686138962"}},"id":"Test-Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response-1686138962","type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response_1686138962","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response-1686138962"},"group_by":[],"compute":{"aggregation_type":"distribution","path":"@duration","include_percentiles":true}},"type":"logs_metrics"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 07 Jun 2023 11:56:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"compute":{"include_percentiles":false}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response_1686138962
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response_1686138962","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response-1686138962"},"group_by":[],"compute":{"aggregation_type":"distribution","path":"@duration","include_percentiles":false}},"type":"logs_metrics"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 07 Jun 2023 11:56:02 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_with_include_percentiles_field_returns_OK_response_1686138962
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
