---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby-Update_a_log_based_metric_returns_OK_response-1608596226","attributes":{"filter":{"query":"source:ruby-Update_a_log_based_metric_returns_OK_response-1608596226"},"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.3583277'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2574'
      X-Ratelimit-Remaining:
      - '77'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - 2NNUQsZpZeC5yOEHnEH8LSn5LhjKmDDM31iXmBawo7O6opYjviLgi+mfUoMNw5sj
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby_Update_a_log_based_metric_returns_OK_response_1608596226","attributes":{"filter":{"query":"source:ruby-Update_a_log_based_metric_returns_OK_response-1608596226"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Tue, 22 Dec 2020 00:17:06 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/ruby_Update_a_log_based_metric_returns_OK_response_1608596226
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby_Update_a_log_based_metric_returns_OK_response_1608596226","type":"logs_metrics","attributes":{"filter":{"query":"source:ruby-Update_a_log_based_metric_returns_OK_response-1608596226-updated"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.3583277'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2573'
      X-Ratelimit-Remaining:
      - '76'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - gxfSlUtZJz4/cDPBxW1+YhseAnu5514ckuMWbI3rl8N4exeAZPF+KTE0BQhrBgSI
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby_Update_a_log_based_metric_returns_OK_response_1608596226","attributes":{"filter":{"query":"source:ruby-Update_a_log_based_metric_returns_OK_response-1608596226-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Tue, 22 Dec 2020 00:17:06 GMT
recorded_with: VCR 6.0.0
