---
http_interactions:
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/ruby_Update_a_log_based_metric_returns_OK_response_1608596226
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby_Update_a_log_based_metric_returns_OK_response_1608596226","type":"logs_metrics","attributes":{"filter":{"query":"source:ruby-Update_a_log_based_metric_returns_OK_response-1608596226-updated"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.3583277'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2573'
      X-Ratelimit-Remaining:
      - '76'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - gxfSlUtZJz4/cDPBxW1+YhseAnu5514ckuMWbI3rl8N4exeAZPF+KTE0BQhrBgSI
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ruby_Update_a_log_based_metric_returns_OK_response_1608596226","attributes":{"filter":{"query":"source:ruby-Update_a_log_based_metric_returns_OK_response-1608596226-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Tue, 22 Dec 2020 00:17:06 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1617955280.343
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1617955280.343","type":"logs_metrics","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617955280.343-updated"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4273965'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Reset:
      - '220'
      X-Ratelimit-Remaining:
      - '290'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1617955280.343","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617955280.343-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Fri, 09 Apr 2021 08:01:20 GMT
[...]
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1617956828
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1617956828","type":"logs_metrics","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617956828-updated"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4274158'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Reset:
      - '172'
      X-Ratelimit-Remaining:
      - '296'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1617956828","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617956828-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Fri, 09 Apr 2021 08:27:08 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test-Update_a_log_based_metric_returns_OK_response-1617968736","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617968736"},"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '864'
      X-Ratelimit-Remaining:
      - '42'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1617968736","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617968736"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Fri, 09 Apr 2021 11:45:36 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1617968736
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1617968736","type":"logs_metrics","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617968736-updated"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '864'
      X-Ratelimit-Remaining:
      - '40'
      Content-Disposition:
      - inline
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
    body:
      encoding: UTF-8
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1617968736","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1617968736-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
  recorded_at: Fri, 09 Apr 2021 11:45:36 GMT
recorded_with: VCR 6.0.0
