---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/series
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"system.load.1","points":[[1600348600,1.1]],"tags":["test:TestSubmitmetricsreturnsPayloadacceptedresponse1617968721"]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
  recorded_at: Fri, 09 Apr 2021 11:45:21 GMT
recorded_with: VCR 6.0.0
