http_interactions:
- recorded_at: Thu, 17 Jun 2021 12:21:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"system.load.1","points":[[1623932501,1.1]],"tags":["test:TestSubmitmetricsreturnsPayloadacceptedresponse1623932501"],"type":"gauge"}]}'
    headers:
      Content-Type:
      - text/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/series
  response:
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
    status:
      code: 202
      message: Accepted
recorded_with: VCR 6.0.0
