---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/series
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"system.load.1","points":[[1600348600,1.1]],"tags":["test:rubySubmitmetricsreturnsPayloadacceptedresponse1614854024"]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
  recorded_at: Thu, 04 Mar 2021 10:33:44 GMT
recorded_with: VCR 6.0.0
