http_interactions:
- recorded_at: Tue, 28 Sep 2021 10:25:39 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"system.load.1","points":[[1632824739,1.1]],"tags":["test:TestSubmitmetricsreturnsPayloadacceptedresponse1632824739"],"type":"gauge"}]}'
    headers:
      Content-Type:
      - text/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/series
  response:
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
    status:
      code: 202
      message: Accepted
recorded_with: VCR 6.0.0
