http_interactions:
- recorded_at: Fri, 27 Jan 2023 09:00:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"api_key":"fakekey","email":"dev@datadog.com","name":"testlistcloudflareaccountsreturnsokresponse1674810001"},"type":"cloudflare-accounts"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"dev@datadog.com","name":"testlistcloudflareaccountsreturnsokresponse1674810001"},"type":"cloudflare-accounts","id":"1458cfdd2c5679bdc8693a9c5a32bf45"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- recorded_at: Fri, 27 Jan 2023 09:00:01 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts/1458cfdd2c5679bdc8693a9c5a32bf45
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
