---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Create-an-incident-returns-CREATED-response-1605558638@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3376762'
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"errors": ["Forbidden"]}'
  recorded_at: Mon, 16 Nov 2020 20:30:38 GMT
recorded_with: VCR 6.0.0
