---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Create-an-incident-returns-CREATED-response-1605561587@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3377218'
      X-Dd-Debug:
      - E8kYJH6Hb74I4gS4d8oTnZBbKR38RfM4isuhSW09hK2ARkJHcJxE0DNPxSd582jS
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"745b8ecc-2851-11eb-8315-0fb5f68f74f4","attributes":{"name":null,"handle":"ruby-create-an-incident-returns-created-response-1605561587@datadoghq.com","created_at":"2020-11-16T21:19:47.453525+00:00","email":"ruby-create-an-incident-returns-created-response-1605561587@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8d4990ea64adf35012536cccb23f2943?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Mon, 16 Nov 2020 21:19:47 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/incidents
    body:
      encoding: UTF-8
      string: '{"data":{"type":"incidents","attributes":{"title":"ruby-Create-an-incident-returns-CREATED-response-1605561587","customer_impacted":false,"fields":{"state":{"type":"dropdown","value":"resolved"}}},"relationships":{"commander":{"data":{"type":"users","id":"745b8ecc-2851-11eb-8315-0fb5f68f74f4"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3377218'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2413'
      X-Ratelimit-Remaining:
      - '15'
      X-Dd-Debug:
      - POuDbGLugqXrJfoVh1EySG2rrzsK54DWLRF5/pTAPkxizo7RlYf80RrCYTzc0hnv
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"incidents","id":"cfb95353-6e83-5d03-ad37-f3f0dbd536e0","attributes":{"public_id":251,"postmortem_id":null,"title":"ruby-Create-an-incident-returns-CREATED-response-1605561587","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2020-11-16T21:19:47.664284+00:00","modified":"2020-11-16T21:19:47.664284+00:00","commander":{"data":{"type":"users","id":"745b8ecc-2851-11eb-8315-0fb5f68f74f4","attributes":{"uuid":"745b8ecc-2851-11eb-8315-0fb5f68f74f4","handle":"ruby-create-an-incident-returns-created-response-1605561587@datadoghq.com","email":"ruby-create-an-incident-returns-created-response-1605561587@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/8d4990ea64adf35012536cccb23f2943?s=48&d=retro"}}},"detected":"2020-11-16T21:19:47.661744+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"teams":{"type":"autocomplete","value":null},"state":{"type":"dropdown","value":"resolved"},"services":{"type":"autocomplete","value":null}},"severity":"UNKNOWN","state":"resolved","udf_values":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":{"type":"users","id":"745b8ecc-2851-11eb-8315-0fb5f68f74f4"}},"user_defined_field_selections":{"data":[{"type":"user_defined_selection","id":"52db06b0-8843-578b-a799-cb0e52db27bb"},{"type":"user_defined_selection","id":"f75d0daa-30a9-5bc8-be5d-aee6efba076c"},{"type":"user_defined_selection","id":"a526e255-338c-56b7-93a4-c43ca7d80b35"}]},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"299616f7-8acd-5403-886b-991656d6b982"},{"type":"user_defined_field","id":"ad2b9456-eaec-5bbd-9bae-e502d74e23f8"},{"type":"user_defined_field","id":"623af0a5-f30c-577e-8146-09b8324bdb2d"},{"type":"user_defined_field","id":"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e"},{"type":"user_defined_field","id":"66b62f59-48f6-5fee-969a-0886b1db6dcd"},{"type":"user_defined_field","id":"4148ead2-da45-548e-b6be-8e319bafc425"}]},"postmortem":{"data":null},"integrations":{"data":[]}}}}'
  recorded_at: Mon, 16 Nov 2020 21:19:47 GMT
recorded_with: VCR 6.0.0
