http_interactions:
- recorded_at: Tue, 16 Sep 2025 19:47:06 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Service was unavailable for external
        users","end_at":"2025-08-29T13:17:00Z","fields":{"customers_impacted":"all","products_impacted":["shopping","marketing"]},"start_at":"2025-08-28T13:17:00Z"},"type":"incident_impacts"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/00000000-0000-0000-0000-000000000001/impacts
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"rpc error: code = NotFound
        desc = incident not found: failed to get incident: incident not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
