http_interactions:
- recorded_at: Mon, 04 Nov 2024 16:31:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Any incidents that harm (or have
        the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security
        Incident"},"type":"incident_types"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"012f4059-541e-473c-bc9e-d0ed44c6d4b7","type":"incident_types","attributes":{"createdAt":"2024-11-04T16:31:38.988312006Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
        incidents that harm (or have the potential to) the confidentiality, integrity,
        or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2024-11-04T16:31:38.988312006Z","name":"Security
        Incident","prefix":"IR"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 04 Nov 2024 16:31:38 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/012f4059-541e-473c-bc9e-d0ed44c6d4b7
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
