http_interactions:
- recorded_at: Mon, 19 Jan 2026 20:15:51 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"category":"alert","content":"An incident has
        been declared. Please join the incident channel for updates.","name":"Incident
        Alert Template","subject":"Incident Alert"},"relationships":{"incident_type":{"data":{"id":"00000000-1111-2222-3333-444444444444","type":"incident_types"}}},"type":"notification_templates"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"incident type not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
