http_interactions:
- recorded_at: Wed, 31 Dec 2025 21:31:09 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"attachment":{"documentUrl":"https://app.datadoghq.com/notebook/123/Postmortem-IR-123","title":"Postmortem-IR-123"},"attachment_type":"postmortem"},"type":"incident_attachments"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/00000000-0000-0000-0000-000000000000/attachments
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"incident not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
