http_interactions:
- recorded_at: Tue, 17 Feb 2026 13:49:18 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Any incidents that harm (or have
        the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security
        Incident"},"type":"incident_types"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"46c0198e-5504-4fbe-bf8e-fefed8d618d0","type":"incident_types","attributes":{"createdAt":"2026-02-17T13:49:18.865191268Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
        incidents that harm (or have the potential to) the confidentiality, integrity,
        or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2026-02-17T13:49:18.865191383Z","name":"Security
        Incident","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_chat_configuration":{"data":null},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 17 Feb 2026 13:49:18 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"conditions":[{"field":"severity","values":["SEV-1","SEV-2"]}],"enabled":true,"handles":["@test-email@company.com"],"trigger":"incident_created_trigger","visibility":"organization"},"relationships":{"incident_type":{"data":{"id":"46c0198e-5504-4fbe-bf8e-fefed8d618d0","type":"incident_types"}}},"type":"incident_notification_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"9af99d56-106a-48fb-a6a7-192e86e6fbcf","type":"incident_notification_rules","attributes":{"conditions":[{"field":"severity","values":["SEV-1","SEV-2"]}],"created":"2026-02-17T13:49:19.136692152Z","enabled":true,"handles":["@test-email@company.com"],"modified":"2026-02-17T13:49:19.136692152Z","renotify_on":[],"trigger":"incident_created_trigger","visibility":"organization"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"46c0198e-5504-4fbe-bf8e-fefed8d618d0","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 17 Feb 2026 13:49:18 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-rules/9af99d56-106a-48fb-a6a7-192e86e6fbcf
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Tue, 17 Feb 2026 13:49:18 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-rules/9af99d56-106a-48fb-a6a7-192e86e6fbcf
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"rule not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
- recorded_at: Tue, 17 Feb 2026 13:49:18 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/46c0198e-5504-4fbe-bf8e-fefed8d618d0
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
