http_interactions:
- recorded_at: Tue, 17 Feb 2026 13:49:18 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Any incidents that harm (or have
        the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security
        Incident"},"type":"incident_types"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"749272f0-0b27-4293-a508-6ad84c5911f7","type":"incident_types","attributes":{"createdAt":"2026-02-17T13:49:18.238629232Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
        incidents that harm (or have the potential to) the confidentiality, integrity,
        or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2026-02-17T13:49:18.238629322Z","name":"Security
        Incident","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_chat_configuration":{"data":null},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 17 Feb 2026 13:49:18 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/749272f0-0b27-4293-a508-6ad84c5911f7
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Tue, 17 Feb 2026 13:49:18 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/749272f0-0b27-4293-a508-6ad84c5911f7
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"Not Found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
