---
http_interactions:
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/incidents/d9e332c4-fa7c-5989-a9cf-5c63406884a5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3376762'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '6'
      X-Ratelimit-Remaining:
      - '19'
      X-Dd-Debug:
      - uhKf3DOQ/asSODSNh+771Jj2mAFRCrXnSErQegeSH33qVMu18OG0v+JTvu/HjcV7
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 16 Nov 2020 20:34:53 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/incidents
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"title":"ruby-Delete_an_existing_incident_returns_OK_response-1606230438"},"type":"incidents"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425209'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '3162'
      X-Ratelimit-Remaining:
      - '17'
      X-Dd-Debug:
      - DMzWnlnvmcVWit+nOzgpRgMecUZPFvENKg8LkKYn4Tsj68gJTKm0BuKxCJH0FFN4
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"incidents","id":"c3b72057-b4a3-5a37-9865-f0e03cce4beb","attributes":{"public_id":1600,"postmortem_id":null,"title":"ruby-Delete_an_existing_incident_returns_OK_response-1606230438","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2020-11-24T15:07:18.882750+00:00","modified":"2020-11-24T15:07:18.882750+00:00","commander":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"detected":"2020-11-24T15:07:18.880997+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"teams":{"type":"autocomplete","value":null},"state":{"type":"dropdown","value":"active"},"services":{"type":"autocomplete","value":null}},"severity":"UNKNOWN","state":"active","udf_values":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"user_defined_field_selections":{"data":[{"type":"user_defined_selection","id":"0246f567-ec72-50f3-a717-7b1f753f4b8a"},{"type":"user_defined_selection","id":"822a86b0-2965-5768-a0a9-d6a38ba39028"},{"type":"user_defined_selection","id":"2a08fabd-2b27-5e7c-96e3-c07bdd2b8657"}]},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"299616f7-8acd-5403-886b-991656d6b982"},{"type":"user_defined_field","id":"ad2b9456-eaec-5bbd-9bae-e502d74e23f8"},{"type":"user_defined_field","id":"623af0a5-f30c-577e-8146-09b8324bdb2d"},{"type":"user_defined_field","id":"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e"},{"type":"user_defined_field","id":"66b62f59-48f6-5fee-969a-0886b1db6dcd"},{"type":"user_defined_field","id":"4148ead2-da45-548e-b6be-8e319bafc425"}]},"postmortem":{"data":null},"integrations":{"data":[]}}}}'
  recorded_at: Tue, 24 Nov 2020 15:07:18 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/incidents/c3b72057-b4a3-5a37-9865-f0e03cce4beb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425088'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '41'
      X-Ratelimit-Remaining:
      - '19'
      X-Dd-Debug:
      - i3kq+QX78RffjnNgnM5zmiWzGMsFnhM4liQTSNUgnpglr14R7eRaqNxK/q9SML9W
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 24 Nov 2020 15:07:18 GMT
recorded_with: VCR 6.0.0
