---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/incidents
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3376870'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '2'
      X-Ratelimit-Remaining:
      - '98'
      X-Dd-Debug:
      - 1KMr27QHAQHDfYPOMxdkaV+JBh/1ku8yD6KIlLr2d217iUuzksir9gh+Nfb7tVhq
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"pagination":{"size":25,"next_offset":25,"offset":0}},"data":[{"type":"incidents","id":"f6c2cd49-891e-585f-8877-72ef8fc8110f","attributes":{"public_id":246,"postmortem_id":null,"title":"ruby-Get-a-list-of-incidents-returns-OK-response-1605558890","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","created":"2020-11-16T20:40:57.834490+00:00","modified":"2020-11-16T20:40:57.834490+00:00","detected":"2020-11-16T20:40:57.832530+00:00","created_by_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"teams":{"type":"autocomplete","value":null},"state":{"type":"dropdown","value":"active"},"services":{"type":"autocomplete","value":null}},"severity":"UNKNOWN","state":"active","udf_values":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"user_defined_field_selections":{"data":[{"type":"user_defined_selection","id":"6775f26e-004e-58aa-bd53-fea5af5cf30a"},{"type":"user_defined_selection","id":"ab0d58eb-0415-5a8c-b586-1e0b1a51eaa5"},{"type":"user_defined_selection","id":"17ba248d-ba70-5cea-91cb-85c310142db7"}]},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"299616f7-8acd-5403-886b-991656d6b982"},{"type":"user_defined_field","id":"ad2b9456-eaec-5bbd-9bae-e502d74e23f8"},{"type":"user_defined_field","id":"623af0a5-f30c-577e-8146-09b8324bdb2d"},{"type":"user_defined_field","id":"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e"},{"type":"user_defined_field","id":"66b62f59-48f6-5fee-969a-0886b1db6dcd"},{"type":"user_defined_field","id":"4148ead2-da45-548e-b6be-8e319bafc425"}]},"postmortem":{"data":null},"integrations":{"data":[]}}}]}'
  recorded_at: Mon, 16 Nov 2020 20:34:50 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/incidents
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"title":"ruby-Get-a-list-of-incidents-returns-OK-response-1605558890"},"type":"incidents"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3376870'
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"errors": ["Forbidden"]}'
  recorded_at: Mon, 16 Nov 2020 20:34:50 GMT
recorded_with: VCR 6.0.0
