http_interactions:
- recorded_at: Mon, 04 Nov 2024 18:02:45 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Any incidents that harm (or have
        the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security
        Incident"},"type":"incident_types"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"66e1dc6b-ce9f-4171-a48d-c11833e1fcf0","type":"incident_types","attributes":{"createdAt":"2024-11-04T18:02:46.462777689Z","createdBy":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","description":"Any
        incidents that harm (or have the potential to) the confidentiality, integrity,
        or availability of our data.","is_default":false,"lastModifiedBy":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","modifiedAt":"2024-11-04T18:02:46.462777689Z","name":"Security
        Incident","prefix":"IR"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 04 Nov 2024 18:02:45 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Security Incident-updated"},"id":"66e1dc6b-ce9f-4171-a48d-c11833e1fcf0","type":"incident_types"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/66e1dc6b-ce9f-4171-a48d-c11833e1fcf0
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"66e1dc6b-ce9f-4171-a48d-c11833e1fcf0","type":"incident_types","attributes":{"createdAt":"2024-11-04T18:02:46.462778Z","createdBy":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","description":"Any
        incidents that harm (or have the potential to) the confidentiality, integrity,
        or availability of our data.","is_default":false,"lastModifiedBy":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","modifiedAt":"2024-11-04T18:02:46.729420004Z","name":"Security
        Incident-updated","prefix":"IR"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 04 Nov 2024 18:02:45 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/66e1dc6b-ce9f-4171-a48d-c11833e1fcf0
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
