http_interactions:
- recorded_at: Mon, 19 Jan 2026 20:16:33 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"attachment":{"documentUrl":"https://app.datadoghq.com/notebook/124/Postmortem-IR-124","title":"Postmortem-IR-124"}},"id":"00000000-abcd-0002-0000-000000000000","type":"incident_attachments"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/incidents/00000000-0000-0000-0000-000000000001/attachments/00000000-0000-0000-0000-000000000001
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"incident not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
