http_interactions:
- recorded_at: Tue, 06 Jan 2026 19:54:05 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"attachment":{"documentUrl":"https://app.datadoghq.com/notebook/124/Postmortem-IR-124","title":"Postmortem-IR-124"}},"id":"00000000-abcd-0002-0000-000000000000","type":"incident_attachments"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/incidents/00000000-0000-0000-0000-00000000000/attachments/00000000-0000-0000-0000-000000000000
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"malformed incident ID"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
