http_interactions:
- recorded_at: Mon, 19 Jan 2026 20:16:37 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"category":"update","content":"Incident Status
        Update: For more details, visit the incident page.","name":"Updated Template
        Name","subject":"Incident Update"},"id":"00000000-1111-2222-3333-444444444444","type":"notification_templates"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/00000000-1111-2222-3333-444444444444
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"Not Found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
