http_interactions:
- recorded_at: Tue, 26 May 2026 22:33:27 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/eudm/overview
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"total","type":"overview_items","attributes":{"name":"total","value":0}},{"id":"healthy","type":"overview_items","attributes":{"name":"healthy","value":0}},{"id":"degraded","type":"overview_items","attributes":{"name":"degraded","value":0}},{"id":"critical","type":"overview_items","attributes":{"name":"critical","value":0}},{"id":"inactive","type":"overview_items","attributes":{"name":"inactive","value":0}},{"id":"high-cpu","type":"overview_items","attributes":{"name":"high-cpu","value":0}},{"id":"weak-wifi","type":"overview_items","attributes":{"name":"weak-wifi","value":0}},{"id":"recent-restart","type":"overview_items","attributes":{"name":"recent-restart","value":0}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
