http_interactions:
- recorded_at: Tue, 10 Feb 2026 19:17:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Get_organization_handle_returns_OK_response-1770751031","space_resource_name":"spaces/AAQA-zFIks8"}},"type":"google-chat-organization-handle"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f712e551-628f-4688-be1d-cb69c69c9690","type":"google-chat-organization-handle","attributes":{"name":"Test-Get_organization_handle_returns_OK_response-1770751031","space_display_name":"api-test-space","space_resource_name":"spaces/AAQA-zFIks8"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 10 Feb 2026 19:17:11 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles/f712e551-628f-4688-be1d-cb69c69c9690
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f712e551-628f-4688-be1d-cb69c69c9690","type":"google-chat-organization-handle","attributes":{"name":"Test-Get_organization_handle_returns_OK_response-1770751031","space_display_name":"api-test-space","space_resource_name":"spaces/AAQA-zFIks8"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 10 Feb 2026 19:17:11 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles/f712e551-628f-4688-be1d-cb69c69c9690
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
