---
http_interactions:
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/teams/e3f90e28-7fcd-5720-a878-4c40a7ade81e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3248028'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '23'
      X-Ratelimit-Remaining:
      - '11998'
      X-Dd-Debug:
      - YMUurOrBBSQDW8c48zSvcN5vlrEH+LpXx/tElldVcj/y8fT1cTjwsBugqb97UH4Q
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 23 Oct 2020 18:32:36 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/teams
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Delete_an_existing_incident_team_returns_OK_response-1606230434"},"type":"teams"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425209'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '46'
      X-Ratelimit-Remaining:
      - '11997'
      X-Dd-Debug:
      - sY27RT2rAVs9Imt5xTmPKBmhAzxpa7AQtTrw7L5i9IuvHhhrKb0AIwGzO934kbtj
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"7f720608-dce3-5516-b3ca-4c7c5d689334","attributes":{"name":"ruby-Delete_an_existing_incident_team_returns_OK_response-1606230434","created":"2020-11-24T15:07:14.643795+00:00","modified":"2020-11-24T15:07:14.643795+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Tue, 24 Nov 2020 15:07:14 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/teams/7f720608-dce3-5516-b3ca-4c7c5d689334
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425209'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '46'
      X-Ratelimit-Remaining:
      - '11999'
      X-Dd-Debug:
      - 1cd0/X8iFjFNZXjpX11JpiLJbbxmicjztoLT0xgVCngh7XkSAjfiT2A4vALPTlNE
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 24 Nov 2020 15:07:14 GMT
recorded_with: VCR 6.0.0
