---
http_interactions:
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/teams/f0722acb-6f4e-5be1-81e4-392e65d750bc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468590'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '22'
      X-Ratelimit-Remaining:
      - '11997'
      X-Dd-Debug:
      - lgQawiZEOFHj/SKplEcqOwzaMI6OQtdSQ9dotiTxYUar2ksXhijPkw9yrBoSKHNa
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 03 Dec 2020 10:33:38 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/teams
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Delete_an_existing_incident_team_returns_OK_response-1617968726"},"type":"teams"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '34'
      X-Ratelimit-Remaining:
      - '98'
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
    body:
      encoding: UTF-8
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"920a9cba-b776-5cb0-a391-a8adae511bda","attributes":{"name":"Test-Delete_an_existing_incident_team_returns_OK_response-1617968726","created":"2021-04-09T11:45:26.267319+00:00","modified":"2021-04-09T11:45:26.267319+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:26 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/teams/920a9cba-b776-5cb0-a391-a8adae511bda
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '34'
      X-Ratelimit-Remaining:
      - '98'
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Apr 2021 11:45:26 GMT
recorded_with: VCR 6.0.0
