---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/teams/0e0a5f0a-1214-52db-87f6-d00176741440
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468623'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '21'
      X-Ratelimit-Remaining:
      - '11999'
      X-Dd-Debug:
      - 0xx9Vajt2z9Bjd3zEZxSq+HXBSiVDpVx3zcehHaUF6Rbof5oICp4xtQ5KAyASYVV
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"teams","id":"0e0a5f0a-1214-52db-87f6-d00176741440","attributes":{"name":"ruby-Get_details_of_an_incident_team_returns_OK_response-1606991618","created":"2020-12-03T10:33:39.104889+00:00","modified":"2020-12-03T10:33:39.104889+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Thu, 03 Dec 2020 10:33:38 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/teams
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1617968727"},"type":"teams"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '33'
      X-Ratelimit-Remaining:
      - '96'
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
    body:
      encoding: UTF-8
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"c24c87e5-a2b0-546f-b835-1232551b7ea1","attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1617968727","created":"2021-04-09T11:45:27.178012+00:00","modified":"2021-04-09T11:45:27.178012+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:27 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/teams/c24c87e5-a2b0-546f-b835-1232551b7ea1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '33'
      X-Ratelimit-Remaining:
      - '99'
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
    body:
      encoding: UTF-8
      string: '{"data":{"type":"teams","id":"c24c87e5-a2b0-546f-b835-1232551b7ea1","attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1617968727","created":"2021-04-09T11:45:27.178012+00:00","modified":"2021-04-09T11:45:27.178012+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:27 GMT
recorded_with: VCR 6.0.0
