---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/teams?filter=ruby-Get_a_list_of_all_incident_teams_returns_OK_response-1606991617
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468623'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '23'
      X-Ratelimit-Remaining:
      - '11999'
      X-Dd-Debug:
      - k/zHOOzqpc4r+ZK5tvPeMjc5yHaZZgqaNAwCywXjTJpLyIGjDeV+DLPBFsNU82W8
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"sort":"ASC","pagination":{"total":416,"size":1,"next_offset":1,"offset":0},"total":416},"data":[{"type":"teams","id":"329ada8e-c69b-5139-a6f6-1b87f868dbf7","attributes":{"name":"ruby-Get_a_list_of_all_incident_teams_returns_OK_response-1606991617","created":"2020-12-03T10:33:37.583934+00:00","modified":"2020-12-03T10:33:37.583934+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}]}'
  recorded_at: Thu, 03 Dec 2020 10:33:37 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/teams?filter=Test-Get_a_list_of_all_incident_teams_returns_OK_response-1617955271.338
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4273965'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '49'
      X-Ratelimit-Remaining:
      - '99'
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
    body:
      encoding: UTF-8
      string: '{"meta":{"sort":"ASC","pagination":{"total":1404,"size":1,"next_offset":1,"offset":0},"total":1404},"data":[{"type":"teams","id":"346e5112-fe34-5c3e-938e-ec2da0a84dda","attributes":{"name":"Test-Get_a_list_of_all_incident_teams_returns_OK_response-1617955271.338","created":"2021-04-09T08:01:11.433813+00:00","modified":"2021-04-09T08:01:11.433813+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}]}'
  recorded_at: Fri, 09 Apr 2021 08:01:11 GMT
[...]
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/teams?filter=Test-Get_a_list_of_all_incident_teams_returns_OK_response-1617956818
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4274158'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '2'
      X-Ratelimit-Remaining:
      - '99'
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
    body:
      encoding: UTF-8
      string: '{"meta":{"sort":"ASC","pagination":{"total":1404,"size":1,"next_offset":1,"offset":0},"total":1404},"data":[{"type":"teams","id":"8ce2e9a1-c654-5777-b90f-fd149cca0a82","attributes":{"name":"Test-Get_a_list_of_all_incident_teams_returns_OK_response-1617956818","created":"2021-04-09T08:26:58.822919+00:00","modified":"2021-04-09T08:26:58.822919+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}]}'
  recorded_at: Fri, 09 Apr 2021 08:26:58 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/teams
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Get_a_list_of_all_incident_teams_returns_OK_response-1617968726"},"type":"teams"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '34'
      X-Ratelimit-Remaining:
      - '97'
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
    body:
      encoding: UTF-8
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"ca2bd473-2913-5a4c-b5ae-79cb704b3337","attributes":{"name":"Test-Get_a_list_of_all_incident_teams_returns_OK_response-1617968726","created":"2021-04-09T11:45:26.706570+00:00","modified":"2021-04-09T11:45:26.706570+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:26 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/teams?filter=Test-Get_a_list_of_all_incident_teams_returns_OK_response-1617968726
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '34'
      X-Ratelimit-Remaining:
      - '99'
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
    body:
      encoding: UTF-8
      string: '{"meta":{"sort":"ASC","pagination":{"total":1404,"size":1,"next_offset":1,"offset":0},"total":1404},"data":[{"type":"teams","id":"ca2bd473-2913-5a4c-b5ae-79cb704b3337","attributes":{"name":"Test-Get_a_list_of_all_incident_teams_returns_OK_response-1617968726","created":"2021-04-09T11:45:26.706570+00:00","modified":"2021-04-09T11:45:26.706570+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}]}'
  recorded_at: Fri, 09 Apr 2021 11:45:26 GMT
recorded_with: VCR 6.0.0
