---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/teams
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Get-a-list-of-all-incident-teams-returns-OK-response-1605188080"},"type":"teams"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3353211'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '20'
      X-Ratelimit-Remaining:
      - '11999'
      X-Dd-Debug:
      - mjjix3i7KxHakJGjOSXbyjGLp+IPNWPrPaCVopgkuqm46lk1b+kLivuxRokDQC1N
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":null,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"5666d811-5a2d-5a3c-945f-9c89821f49cc","attributes":{"name":"ruby-Get-a-list-of-all-incident-teams-returns-OK-response-1605188080","created":"2020-11-12T13:34:40.819891+00:00","modified":"2020-11-12T13:34:40.819891+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Thu, 12 Nov 2020 13:34:40 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/teams?filter=ruby-Get-a-list-of-all-incident-teams-returns-OK-response-1605188080
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3353211'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '20'
      X-Ratelimit-Remaining:
      - '11999'
      X-Dd-Debug:
      - xRBFY2Rp8NHDG9Rp4RaGjcqlKnbzhHpETMjn37ZNtmzdKqGU6DeuhyyL4o7jfpVZ
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"sort":"ASC","pagination":{"size":1,"next_offset":1,"offset":0}},"data":[{"type":"teams","id":"5666d811-5a2d-5a3c-945f-9c89821f49cc","attributes":{"name":"ruby-Get-a-list-of-all-incident-teams-returns-OK-response-1605188080","created":"2020-11-12T13:34:40.819891+00:00","modified":"2020-11-12T13:34:40.819891+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}]}'
  recorded_at: Thu, 12 Nov 2020 13:34:40 GMT
recorded_with: VCR 6.0.0
