---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/teams/34bd4021-6852-5631-a160-c09d492ee0ea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '30'
      X-Ratelimit-Remaining:
      - '99'
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
    body:
      encoding: UTF-8
      string: '{"data":{"type":"teams","id":"34bd4021-6852-5631-a160-c09d492ee0ea","attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1617969389","created":"2021-04-09T11:56:30.055400+00:00","modified":"2021-04-09T11:56:30.055400+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:56:29 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/teams
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1617971010"},"type":"teams"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '30'
      X-Ratelimit-Remaining:
      - '96'
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
    body:
      encoding: UTF-8
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"1c7ae279-fe1a-56b8-a20a-2bd64edac0ab","attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1617971010","created":"2021-04-09T12:23:30.259791+00:00","modified":"2021-04-09T12:23:30.259791+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:23:30 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/teams/1c7ae279-fe1a-56b8-a20a-2bd64edac0ab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '30'
      X-Ratelimit-Remaining:
      - '99'
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
    body:
      encoding: UTF-8
      string: '{"data":{"type":"teams","id":"1c7ae279-fe1a-56b8-a20a-2bd64edac0ab","attributes":{"name":"Test-Get_details_of_an_incident_team_returns_OK_response-1617971010","created":"2021-04-09T12:23:30.259791+00:00","modified":"2021-04-09T12:23:30.259791+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:23:30 GMT
recorded_with: VCR 6.0.0
