=begin
{% include "api_info.j2" %}
=end

require 'datadog_api_client/models'
require_relative 'datadog_api_client/inflector'

loader = Zeitwerk::Loader.new
loader.tag = File.basename(__FILE__, ".rb")
loader.collapse("#{__dir__}/datadog_api_client/*/models/")
loader.collapse("#{__dir__}/datadog_api_client/*/api/")

{%- for version, apis in all_apis.items() %}
loader.push_dir("#{__dir__}/datadog_api_client/{{ version }}", namespace: DatadogAPIClient::{{ version|upper }})
{%- endfor %}
# Ignore model_base.rb from being loaded in by zeitwerk as it is loaded in by default
loader.ignore("#{__dir__}/datadog_api_client/*/model_base.rb")
loader.inflector = {{ module_name }}::{{ module_name }}Inflector.new
loader.setup
