---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/integration/azure
    body:
      encoding: UTF-8
      string: '{"app_service_plan_filters":"key:value,filter:example","automute":true,"client_id":"17024021-0000-0000-0000-170240214500","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","container_app_filters":"key:value,filter:example","cspm_enabled":true,"custom_metrics_enabled":true,"errors":["*"],"host_filters":"key:value,filter:example","new_client_id":"17024021-0000-0000-0000-170240214500","new_tenant_name":"17024021-0000-0000-0000-170240214500","resource_collection_enabled":true,"tenant_name":"17024021-0000-0000-0000-170240214500"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}\n"
  recorded_at: Tue, 12 Dec 2023 17:29:05 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/integration/azure
    body:
      encoding: UTF-8
      string: |-
        {
          "app_service_plan_filters": "key:value,filter:example",
          "automute": true,
          "client_id": "17024021-0000-0000-0000-170240214500",
          "client_secret": "testingx./Sw*g/Y33t..R1cH+hScMDt",
          "container_app_filters": "key:value,filter:example",
          "cspm_enabled": true,
          "custom_metrics_enabled": true,
          "errors": ["*"],
          "host_filters": "key:value,filter:example",
          "new_client_id": "17024021-0000-0000-0000-170240214500",
          "new_tenant_name": "17024021-0000-0000-0000-170240214500",
          "resource_collection_enabled": true,
          "tenant_name": "17024021-0000-0000-0000-170240214500"
        }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}\n"
  recorded_at: Tue, 12 Dec 2023 17:29:05 GMT
recorded_with: VCR 6.2.0
