http_interactions:
- recorded_at: Mon, 21 Mar 2022 19:16:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"name":"Test-Add_custom_timeboard_dashboard_to_an_existing_dashboard_list_returns_OK_response-1647890204"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body:
      encoding: UTF-8
      string: '{"is_favorite":false,"name":"Test-Add_custom_timeboard_dashboard_to_an_existing_dashboard_list_returns_OK_response-1647890204","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2022-03-21T19:16:44.861799+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2022-03-21T19:16:44.861808+00:00","id":284062}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 21 Mar 2022 19:16:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Add_custom_timeboard_dashboard_to_an_existing_dashboard_list_returns_OK_response-1647890204
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"r9t-5r7-8gb","title":"Test-Add_custom_timeboard_dashboard_to_an_existing_dashboard_list_returns_OK_response-1647890204
        with Profile Metrics Query","url":"/dashboard/r9t-5r7-8gb/test-addcustomtimeboarddashboardtoanexistingdashboardlistreturnsokresponse-16478","created_at":"2022-03-21T19:16:45.143857+00:00","modified_at":"2022-03-21T19:16:45.143857+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":1606573387522135}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 21 Mar 2022 19:16:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"dashboards":[{"id":"r9t-5r7-8gb","type":"custom_timeboard"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/dashboard/lists/manual/284062/dashboards
  response:
    body:
      encoding: UTF-8
      string: '{"added_dashboards_to_list":[{"type":"custom_timeboard","id":"r9t-5r7-8gb"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 21 Mar 2022 19:16:44 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/r9t-5r7-8gb
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"r9t-5r7-8gb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 21 Mar 2022 19:16:44 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual/284062
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_list_id":284062}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
