http_interactions:
- recorded_at: Mon, 21 Mar 2022 19:16:46 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"name":"Test-Delete_custom_screenboard_dashboard_from_an_existing_dashboard_list_returns_OK_response-1647890206"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body:
      encoding: UTF-8
      string: '{"is_favorite":false,"name":"Test-Delete_custom_screenboard_dashboard_from_an_existing_dashboard_list_returns_OK_response-1647890206","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2022-03-21T19:16:46.302834+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2022-03-21T19:16:46.302842+00:00","id":284063}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 21 Mar 2022 19:16:46 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"free","title":"Test-Delete_custom_screenboard_dashboard_from_an_existing_dashboard_list_returns_OK_response-1647890206
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"layout":{"height":10,"width":10,"x":10,"y":10}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"dam-zij-6w8","title":"Test-Delete_custom_screenboard_dashboard_from_an_existing_dashboard_list_returns_OK_response-1647890206
        with Profile Metrics Query","url":"/dashboard/dam-zij-6w8/test-deletecustomscreenboarddashboardfromanexistingdashboardlistreturnsokrespons","created_at":"2022-03-21T19:16:46.609394+00:00","modified_at":"2022-03-21T19:16:46.609394+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"layout":{"y":10,"width":10,"x":10,"height":10},"id":8080377461258470}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 21 Mar 2022 19:16:46 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"dashboards":[{"id":"dam-zij-6w8","type":"custom_screenboard"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/dashboard/lists/manual/284063/dashboards
  response:
    body:
      encoding: UTF-8
      string: '{"added_dashboards_to_list":[{"type":"custom_screenboard","id":"dam-zij-6w8"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 21 Mar 2022 19:16:46 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"dashboards":[{"id":"dam-zij-6w8","type":"custom_screenboard"}]}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/dashboard/lists/manual/284063/dashboards
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboards_from_list":[{"type":"custom_screenboard","id":"dam-zij-6w8"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 21 Mar 2022 19:16:46 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/dam-zij-6w8
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"dam-zij-6w8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 21 Mar 2022 19:16:46 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual/284063
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_list_id":284063}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
