---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/notebooks
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"cells":[{"attributes":{"definition":{"text":"##
        Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells"},{"attributes":{"definition":{"requests":[{"display_type":"line","q":"avg:system.load.1{*}","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":true,"type":"timeseries","yaxis":{"scale":"linear"}},"graph_size":"m","split_by":{"keys":[],"tags":[]},"time":null},"type":"notebook_cells"}],"name":"Test-Create_a_notebook_returns_OK_response-1620329079","status":"published","time":{"live_span":"1h"}},"type":"notebooks"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4477317'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '21'
      X-Ratelimit-Remaining:
      - '29'
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"notebooks","id":761862,"attributes":{"name":"Test-Create_a_notebook_returns_OK_response-1620329079","cells":[{"attributes":{"definition":{"text":"##
        Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells","id":"hnmfccrq"},{"attributes":{"definition":{"requests":[{"q":"avg:system.load.1{*}","style":{"line_width":"normal","palette":"dog_classic","line_type":"solid"},"display_type":"line"}],"type":"timeseries","show_legend":true,"yaxis":{"scale":"linear"}},"graph_size":"m","split_by":{"keys":[],"tags":[]},"time":null},"type":"notebook_cells","id":"ytlp10tu"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-06T19:24:39.224563+00:00","created":"2021-05-06T19:24:39.224563+00:00","author":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b7c189b5b4c2c429d7c1e0bc3749330e?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
  recorded_at: Thu, 06 May 2021 19:24:39 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/notebooks/761862
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4477317'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '21'
      X-Ratelimit-Remaining:
      - '29'
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 06 May 2021 19:24:39 GMT
recorded_with: VCR 6.0.0
