http_interactions:
- recorded_at: Mon, 10 Jan 2022 14:56:18 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"cells":[{"attributes":{"definition":{"text":"#
        Test-Delete_a_notebook_returns_OK_response-1641826578 notebook text","type":"markdown"}},"type":"notebook_cells"}],"name":"Test-Delete_a_notebook_returns_OK_response-1641826578","time":{"live_span":"1h"}},"type":"notebooks"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/notebooks
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"notebooks","id":1779491,"attributes":{"name":"Test-Delete_a_notebook_returns_OK_response-1641826578","cells":[{"attributes":{"definition":{"text":"#
        Test-Delete_a_notebook_returns_OK_response-1641826578 notebook text","type":"markdown"}},"type":"notebook_cells","id":"uwyokkao"}],"time":{"live_span":"1h"},"metadata":{"is_favorite":false,"is_template":false,"type":null,"take_snapshots":false},"template_variables":[],"status":"published","modified":"2022-01-10T14:56:18.518824+00:00","created":"2022-01-10T14:56:18.518824+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
    status:
      code: 200
      message: OK
- recorded_at: Mon, 10 Jan 2022 14:56:18 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/notebooks/1779491
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
- recorded_at: Mon, 10 Jan 2022 14:56:18 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/notebooks/1779491
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["Notebook not found"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
