http_interactions:
- recorded_at: Tue, 11 May 2021 09:42:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"cells":[{"attributes":{"definition":{"text":"#
        Test-Get_a_notebook_returns_OK_response-1620726175 notebook text","type":"markdown"}},"type":"notebook_cells"}],"name":"Test-Get_a_notebook_returns_OK_response-1620726175","time":{"live_span":"1h"}},"type":"notebooks"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - '35.4503153'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '5'
    method: POST
    uri: https://api.datadoghq.com/api/v1/notebooks
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"notebooks","id":774056,"attributes":{"name":"Test-Get_a_notebook_returns_OK_response-1620726175","cells":[{"attributes":{"definition":{"text":"#
        Test-Get_a_notebook_returns_OK_response-1620726175 notebook text","type":"markdown"}},"type":"notebook_cells","id":"avx0umk1"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-11T09:42:55.675039+00:00","created":"2021-05-11T09:42:55.675039+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
    status:
      code: 200
      message: OK
- recorded_at: Tue, 11 May 2021 09:42:55 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - '35.4503153'
      X-Ratelimit-Limit:
      - '90'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '89'
      X-Ratelimit-Reset:
      - '5'
    method: GET
    uri: https://api.datadoghq.com/api/v1/notebooks/774056
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"notebooks","id":774056,"attributes":{"name":"Test-Get_a_notebook_returns_OK_response-1620726175","cells":[{"attributes":{"definition":{"text":"#
        Test-Get_a_notebook_returns_OK_response-1620726175 notebook text","type":"markdown"}},"type":"notebook_cells","id":"avx0umk1"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-11T09:42:55.675039+00:00","created":"2021-05-11T09:42:55.675039+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
    status:
      code: 200
      message: OK
- recorded_at: Tue, 11 May 2021 09:42:55 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - '35.4503153'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '4'
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/notebooks/774056
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
