---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/notebooks
    body:
      encoding: UTF-8
      string: '{"data":{"type":"notebooks","attributes":{"name":"Test-Get_a_notebook_returns_OK_response-1620329079","time":{"live_span":"1h"},"cells":[{"attributes":{"definition":{"text":"#
        Test-Get_a_notebook_returns_OK_response-1620329079 notebook text","type":"markdown"}},"type":"notebook_cells"}]}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4477317'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '21'
      X-Ratelimit-Remaining:
      - '28'
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"notebooks","id":761863,"attributes":{"name":"Test-Get_a_notebook_returns_OK_response-1620329079","cells":[{"attributes":{"definition":{"text":"#
        Test-Get_a_notebook_returns_OK_response-1620329079 notebook text","type":"markdown"}},"type":"notebook_cells","id":"pxsnxfm5"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-06T19:24:39.553116+00:00","created":"2021-05-06T19:24:39.553116+00:00","author":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b7c189b5b4c2c429d7c1e0bc3749330e?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
  recorded_at: Thu, 06 May 2021 19:24:39 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v1/notebooks/761863
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4477317'
      X-Ratelimit-Limit:
      - '90'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '21'
      X-Ratelimit-Remaining:
      - '89'
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"notebooks","id":761863,"attributes":{"name":"Test-Get_a_notebook_returns_OK_response-1620329079","cells":[{"attributes":{"definition":{"text":"#
        Test-Get_a_notebook_returns_OK_response-1620329079 notebook text","type":"markdown"}},"type":"notebook_cells","id":"pxsnxfm5"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-06T19:24:39.553116+00:00","created":"2021-05-06T19:24:39.553116+00:00","author":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b7c189b5b4c2c429d7c1e0bc3749330e?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
  recorded_at: Thu, 06 May 2021 19:24:39 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/notebooks/761863
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4477317'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '21'
      X-Ratelimit-Remaining:
      - '26'
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 06 May 2021 19:24:39 GMT
recorded_with: VCR 6.0.0
