---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/notebooks
    body:
      encoding: UTF-8
      string: '{"data":{"type":"notebooks","attributes":{"name":"Test-Update_a_notebook_returns_OK_response-1620725779","time":{"live_span":"1h"},"cells":[{"attributes":{"definition":{"text":"#
        Test-Update_a_notebook_returns_OK_response-1620725779 notebook text","type":"markdown"}},"type":"notebook_cells"}]}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4503153'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '41'
      X-Ratelimit-Remaining:
      - '27'
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"notebooks","id":774011,"attributes":{"name":"Test-Update_a_notebook_returns_OK_response-1620725779","cells":[{"attributes":{"definition":{"text":"#
        Test-Update_a_notebook_returns_OK_response-1620725779 notebook text","type":"markdown"}},"type":"notebook_cells","id":"bifkisiw"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-11T09:36:19.945802+00:00","created":"2021-05-11T09:36:19.945802+00:00","author":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b7c189b5b4c2c429d7c1e0bc3749330e?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
  recorded_at: Tue, 11 May 2021 09:36:19 GMT
- request:
    method: put
    uri: https://api.datadoghq.com/api/v1/notebooks/774011
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"cells":[{"attributes":{"definition":{"text":"##
        Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells"},{"attributes":{"definition":{"requests":[{"display_type":"line","q":"avg:system.load.1{*}","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":true,"type":"timeseries","yaxis":{"scale":"linear"}},"graph_size":"m","split_by":{"keys":[],"tags":[]},"time":null},"type":"notebook_cells"}],"name":"Test-Update_a_notebook_returns_OK_response-1620725779-updated","status":"published","time":{"live_span":"1h"}},"type":"notebooks"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4503153'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:[...]
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v1/notebooks/774011
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4503153'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '40'
      X-Ratelimit-Remaining:
      - '26'
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 11 May 2021 09:36:19 GMT
recorded_with: VCR 6.0.0
