http_interactions:
- recorded_at: Tue, 11 May 2021 11:05:22 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"cells":[{"attributes":{"definition":{"text":"#
        Test-Update_a_notebook_returns_OK_response-1620731122 notebook text","type":"markdown"}},"type":"notebook_cells"}],"name":"Test-Update_a_notebook_returns_OK_response-1620731122","time":{"live_span":"1h"}},"type":"notebooks"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      X-Dd-Version:
      - '35.4504344'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '38'
    method: POST
    uri: https://api.datadoghq.com/api/v1/notebooks
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"notebooks","id":774485,"attributes":{"name":"Test-Update_a_notebook_returns_OK_response-1620731122","cells":[{"attributes":{"definition":{"text":"#
        Test-Update_a_notebook_returns_OK_response-1620731122 notebook text","type":"markdown"}},"type":"notebook_cells","id":"fba7ha9z"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-11T11:05:22.614667+00:00","created":"2021-05-11T11:05:22.614667+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
    status:
      code: 200
      message: OK
- recorded_at: Tue, 11 May 2021 11:05:22 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"cells":[{"attributes":{"definition":{"text":"##
        Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells"},{"attributes":{"definition":{"requests":[{"display_type":"line","q":"avg:system.load.1{*}","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":true,"type":"timeseries","yaxis":{"scale":"linear"}},"graph_size":"m","split_by":{"keys":[],"tags":[]},"time":null},"type":"notebook_cells"}],"name":"Test-Update_a_notebook_returns_OK_response-1620731122-updated","status":"published","time":{"live_span":"1h"}},"type":"notebooks"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      X-Dd-Version:
      - '35.4504344'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '29'
      X[...]
- recorded_at: Tue, 11 May 2021 11:05:22 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      X-Dd-Version:
      - '35.4504344'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '37'
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/notebooks/774485
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
