http_interactions:
- recorded_at: Tue, 10 Dec 2024 19:57:09 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"components":[{"events":[],"name":"grid0","properties":{"children":[{"events":[],"name":"gridCell0","properties":{"children":[{"events":[],"name":"calloutValue0","properties":{"isDisabled":false,"isLoading":false,"isVisible":true,"label":"CPU
        Usage","size":"sm","style":"vivid_yellow","unit":"kB","value":"42"},"type":"calloutValue"}],"isVisible":"true","layout":{"default":{"height":8,"width":2,"x":0,"y":0}}},"type":"gridCell"}]},"type":"grid"}],"description":"This
        is a simple example app","embeddedQueries":[],"name":"Example App","rootInstanceName":"grid0"},"type":"appDefinitions"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/app-builder/apps
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"7189aab4-a57b-4709-95b2-e5d8dd9937df","type":"appDefinitions"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Tue, 10 Dec 2024 19:57:09 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/app-builder/apps/7189aab4-a57b-4709-95b2-e5d8dd9937df
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"7189aab4-a57b-4709-95b2-e5d8dd9937df","type":"appDefinitions"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
