http_interactions:
- recorded_at: Tue, 15 Mar 2022 16:16:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"index":"main","limit":5,"query":"service:web* AND @http.status_code:[200
        TO 299]","sort":"asc","time":{"from":"2020-02-02T02:02:02Z","timezone":"Europe/Paris","to":"2020-02-02T20:20:20Z"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/logs-queries/list
  response:
    body:
      encoding: UTF-8
      string: '{"status":"done","nextLogId":null,"logs":[],"requestId":"pddv1ChZfOXdCSkFqR1FrV3RyTk9weXZ6ZURBIi0KHXKX9-w-svpE9VCe0odJRuASvAJP2s_aPpQzPVLlEgzq1l6Evezev-UXfAQ"}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
