http_interactions:
- recorded_at: Wed, 16 Mar 2022 20:19:15 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"index":"main","query":"service:web*","sort":"asc","time":{"from":"2022-03-16T19:19:15.972Z","timezone":"Europe/Paris","to":"2022-03-16T20:19:15.972Z"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/logs-queries/list
  response:
    body:
      encoding: UTF-8
      string: '{"status":"done","nextLogId":null,"logs":[],"requestId":"pddv1ChY1NmxlTHZVZlFpNnN6WGJLQUg4VGNBIi0KHfuLOnaa0UteA_7Jc4dRCbmb4YhQqyZLVXBRZ-eSEgzkoIm-nmhrtG8HKG0"}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
