http_interactions:
- recorded_at: Tue, 15 Mar 2022 23:13:23 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"index":"main","query":"service:web*","sort":"asc","time":{"from":1647382403,"timezone":null,"to":1647386003}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/logs-queries/list
  response:
    body:
      encoding: UTF-8
      string: '{"status":"done","nextLogId":null,"logs":[],"requestId":"pddv1ChZfR3ZZcHF6V1FuaW1JNldXNFhxb0dRIiwKHFSYsKzMf0f-bbFLDzkRwB5TyxiNZ6pZwCMDugsSDBrfRT5ki0RHe-JkqQ"}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
