http_interactions:
- recorded_at: Mon, 17 Nov 2025 21:36:37 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"restriction_query":"env:sandbox"},"type":"logs_restriction_queries"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/restriction_queries
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"logs_restriction_queries","id":"7f34e18e-c3fd-11f0-8c23-da7ad0900002","attributes":{"restriction_query":"env:sandbox","created_at":"2025-11-17T21:36:37.678850+00:00","modified_at":"2025-11-17T21:36:37.678850+00:00"}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 17 Nov 2025 21:36:37 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/7f34e18e-c3fd-11f0-8c23-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"logs_restriction_queries","id":"7f34e18e-c3fd-11f0-8c23-da7ad0900002","attributes":{"restriction_query":"env:sandbox","created_at":"2025-11-17T21:36:37.678850+00:00","modified_at":"2025-11-17T21:36:37.678850+00:00"},"relationships":{"roles":{"data":[]}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 17 Nov 2025 21:36:37 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/7f34e18e-c3fd-11f0-8c23-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
