http_interactions:
- recorded_at: Tue, 18 Nov 2025 19:17:09 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"3653d3c6-0c75-11ea-ad28-fb5701eabc7d","type":"roles"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/00000000-0000-0000-0000-000000000000/roles
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Role with id: 3653d3c6-0c75-11ea-ad28-fb5701eabc7d not
        found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
