http_interactions:
- recorded_at: Mon, 17 Nov 2025 21:36:40 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"3653d3c6-0c75-11ea-ad28-fb5701eabc7d","type":"roles"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/malformed_id/roles
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Role with id: 3653d3c6-0c75-11ea-ad28-fb5701eabc7d not
        found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
