http_interactions:
- recorded_at: Mon, 21 Apr 2025 12:54:46 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"config":{"destinations":[{"id":"datadog-logs-destination","inputs":["filter-processor"],"type":"datadog_logs"}],"processors":[{"id":"unknown-processor","include":"service:my-service","inputs":["datadog-agent-source"],"type":"filter"}],"sources":[{"id":"datadog-agent-source","type":"datadog_agent"}]},"name":"Main
        Observability Pipeline"},"type":"pipelines"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Component with ID filter-processor is an unknown
        component","meta":{"message":"Component with ID filter-processor is an unknown
        component"}},{"title":"The following components are unused: [datadog-agent-source
        unknown-processor]","meta":{"message":"The following components are unused:
        [datadog-agent-source unknown-processor]"}}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
