http_interactions:
- recorded_at: Mon, 21 Apr 2025 12:54:56 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"config":{"destinations":[{"id":"datadog-logs-destination","inputs":["filter-processor"],"type":"datadog_logs"}],"processors":[{"id":"filter-processor","include":"service:my-service","inputs":["datadog-agent-source"],"type":"filter"}],"sources":[{"id":"datadog-agent-source","type":"datadog_agent"}]},"name":"Main
        Observability Pipeline"},"type":"pipelines"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d73f214e-1eaf-11f0-99b2-da7ad0900002","type":"pipelines","attributes":{"name":"Main
        Observability Pipeline","config":{"destinations":[{"id":"datadog-logs-destination","inputs":["filter-processor"],"type":"datadog_logs"}],"processors":[{"id":"filter-processor","include":"service:my-service","inputs":["datadog-agent-source"],"type":"filter"}],"sources":[{"id":"datadog-agent-source","type":"datadog_agent"}]}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Mon, 21 Apr 2025 12:54:56 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"config":{"destinations":[{"id":"datadog-logs-destination","inputs":["filter-processor"],"type":"datadog_logs"}],"processors":[{"id":"unknown-processor","include":"service:my-service","inputs":["datadog-agent-source"],"type":"filter"}],"sources":[{"id":"datadog-agent-source","type":"datadog_agent"}]},"name":"Main
        Observability Pipeline"},"id":"3fa85f64-5717-4562-b3fc-2c963f66afa6","type":"pipelines"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/d73f214e-1eaf-11f0-99b2-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Component with ID filter-processor is an unknown
        component","meta":{"message":"Component with ID filter-processor is an unknown
        component"}},{"title":"The following components are unused: [datadog-agent-source
        unknown-processor]","meta":{"message":"The following components are unused:
        [datadog-agent-source unknown-processor]"}}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- recorded_at: Mon, 21 Apr 2025 12:54:56 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/d73f214e-1eaf-11f0-99b2-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
