http_interactions:
- recorded_at: Fri, 20 Feb 2026 14:42:05 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"config":{"destinations":[{"endpoint_url_key":"SUMO_LOGIC_ENDPOINT_URL","id":"sumo-logic-destination","inputs":["my-processor-group"],"type":"sumo_logic"}],"processor_groups":[{"enabled":true,"id":"my-processor-group","include":"service:my-service","inputs":["datadog-agent-source"],"processors":[{"enabled":true,"id":"filter-processor","include":"status:error","type":"filter"}]}],"sources":[{"id":"datadog-agent-source","type":"datadog_agent"}]},"name":"Pipeline
        with Secret Key"},"type":"pipelines"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/validate
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[]}

        '
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
