http_interactions:
- recorded_at: Wed, 08 Apr 2026 15:11:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"config":{"destinations":[{"id":"datadog-logs-destination","inputs":["my-processor-group"],"type":"datadog_logs"}],"processor_groups":[{"enabled":true,"id":"my-processor-group","include":"service:my-service","inputs":["splunk-hec-source"],"processors":[{"enabled":true,"id":"filter-processor","include":"status:error","type":"filter"}]}],"sources":[{"id":"splunk-hec-source","store_hec_token":true,"type":"splunk_hec"}]},"name":"Pipeline
        with Splunk HEC store_hec_token"},"type":"pipelines"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/validate
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[]}

        '
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
