http_interactions:
- recorded_at: Wed, 27 Aug 2025 15:33:33 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"from":1671612804000,"query":"service:orders-*
        AND @language:go","to":1671620004000,"track":"trace"},"type":"search_request"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/error-tracking/issues/search
  response:
    body:
      encoding: UTF-8
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
