http_interactions:
- recorded_at: Wed, 27 Aug 2025 15:33:35 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"state":"resolved"},"id":"67d80aa3-36ff-44b9-a694-c501a7591737","type":"error_tracking_issue"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/error-tracking/issues/67d80aa3-36ff-44b9-a694-c501a7591737/state
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"Not Found","detail":"issue not
        found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
