http_interactions:
- recorded_at: Fri, 24 Apr 2026 14:12:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"domain_prefix":"0929191d5ebf5ab0","name":"A
        Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"730cb359-c6ff-47cd-b81a-63ee8678d384","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"0b8f2697-b576-4f22-8d76-92c345e1442b","name":"Login","type":"component","status":"operational","position":0},{"id":"bdcd22d6-d521-4086-8210-13a3cd00bd8a","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-04-24T14:12:42.042438Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"0929191d5ebf5ab0","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:12:42.042438Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/730cb359-c6ff-47cd-b81a-63ee8678d384/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Fri, 24 Apr 2026 14:12:41 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/730cb359-c6ff-47cd-b81a-63ee8678d384
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
