http_interactions:
- recorded_at: Wed, 21 Jan 2026 21:23:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"domain_prefix":"bd769f64d06a9cdb","enabled":true,"name":"A
        Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f59e184f-4019-40d6-be90-b59f2381976d","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"c66f749f-12f7-4813-92a3-0e70df06cbd8","name":"Login","type":"component","status":"operational","position":0},{"id":"2478dc16-435c-493d-93ad-dcea6421a281","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-01-21T21:23:38.486999Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"bd769f64d06a9cdb","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-21T21:23:38.486999Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/f59e184f-4019-40d6-be90-b59f2381976d/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 21 Jan 2026 21:23:38 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/f59e184f-4019-40d6-be90-b59f2381976d
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
