http_interactions:
- recorded_at: Fri, 24 Apr 2026 14:12:47 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"d18249dc4d6372bc","name":"A
        Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5e48cd1f-da30-49e6-950f-a2f71c9b40b7","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"228efe98-5ad7-41a3-b764-76c948a90322","name":"Application","type":"group","position":0,"components":[{"id":"30580d92-aaf0-4da3-9ffc-05c85a5edab9","name":"Login","type":"component","status":"operational","position":0},{"id":"33809576-90a7-47b0-bcc6-487d2ef9b1e3","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T14:12:47.669349Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"d18249dc4d6372bc","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T14:12:47.669349Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/5e48cd1f-da30-49e6-950f-a2f71c9b40b7/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Fri, 24 Apr 2026 14:12:47 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/5e48cd1f-da30-49e6-950f-a2f71c9b40b7
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 24 Apr 2026 14:12:47 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/5e48cd1f-da30-49e6-950f-a2f71c9b40b7
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"status page not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
