http_interactions:
- recorded_at: Fri, 09 Jan 2026 18:43:21 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"components":[{"name":"bc677795c3d91f44","type":"component"}],"domain_prefix":"dd-integration-tests-bc677795c3d91f44","enabled":true,"name":"[DD
        Integration Tests] bc677795c3d91f44","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"12bdb3b1-c9fb-4f0e-a6c1-de3912ee9e24","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"acb49b1c-cca2-4a77-ad79-5af7f4c00968","name":"bc677795c3d91f44","type":"component","status":"operational","position":0}],"created_at":"2026-01-09T18:43:21.720956Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"dd-integration-tests-bc677795c3d91f44","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-09T18:43:21.720956Z","name":"[DD
        Integration Tests] bc677795c3d91f44","page_url":"https://frog.datadoghq.com/status-pages/12bdb3b1-c9fb-4f0e-a6c1-de3912ee9e24/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Fri, 09 Jan 2026 18:43:21 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/12bdb3b1-c9fb-4f0e-a6c1-de3912ee9e24/components/acb49b1c-cca2-4a77-ad79-5af7f4c00968
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 09 Jan 2026 18:43:21 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/12bdb3b1-c9fb-4f0e-a6c1-de3912ee9e24
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
