http_interactions:
- recorded_at: Fri, 09 Jan 2026 18:43:28 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"components":[{"name":"ac93ac9ef66f717f","type":"component"}],"domain_prefix":"dd-integration-tests-ac93ac9ef66f717f","enabled":true,"name":"[DD
        Integration Tests] ac93ac9ef66f717f","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"b111a384-9063-4364-8f54-f7265a779f49","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"ad1aee4e-b117-4083-9c42-c24d059f0cff","name":"ac93ac9ef66f717f","type":"component","status":"operational","position":0}],"created_at":"2026-01-09T18:43:28.976141Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"dd-integration-tests-ac93ac9ef66f717f","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-09T18:43:28.976141Z","name":"[DD
        Integration Tests] ac93ac9ef66f717f","page_url":"https://frog.datadoghq.com/status-pages/b111a384-9063-4364-8f54-f7265a779f49/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Fri, 09 Jan 2026 18:43:28 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/statuspages/b111a384-9063-4364-8f54-f7265a779f49/components
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ad1aee4e-b117-4083-9c42-c24d059f0cff","type":"components","attributes":{"created_at":"2026-01-09T18:43:28.976141Z","modified_at":"2026-01-09T18:43:28.976141Z","name":"ac93ac9ef66f717f","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"b111a384-9063-4364-8f54-f7265a779f49","type":"status_pages"}}}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 09 Jan 2026 18:43:28 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/b111a384-9063-4364-8f54-f7265a779f49
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
