http_interactions:
- recorded_at: Fri, 24 Apr 2026 13:48:36 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"3b36f267327309ee","name":"A
        Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"a1c209d5-9b2b-4548-afa9-9c197cbefa25","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"1ac1fc71-36ab-4cfa-aad6-8865dc7c3e7d","name":"Application","type":"group","position":0,"components":[{"id":"9b47d850-6e7f-4d82-a620-3552e5063135","name":"Login","type":"component","status":"operational","position":0},{"id":"218dc9c0-e253-4df9-b94d-50d07bb79305","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-04-24T13:48:36.401179Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"3b36f267327309ee","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-04-24T13:48:36.401179Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/a1c209d5-9b2b-4548-afa9-9c197cbefa25/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Fri, 24 Apr 2026 13:48:36 GMT
  request:
    body: null
    headers:
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages/a1c209d5-9b2b-4548-afa9-9c197cbefa25/publish
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 24 Apr 2026 13:48:36 GMT
  request:
    body: null
    headers:
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages/a1c209d5-9b2b-4548-afa9-9c197cbefa25/unpublish
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 24 Apr 2026 13:48:36 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/a1c209d5-9b2b-4548-afa9-9c197cbefa25
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
