http_interactions:
- recorded_at: Thu, 21 Sep 2023 16:39:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":true,"filter":{"query":"@http.status_code:200
        service:my-service"},"filter_type":"spans-sampling-processor","name":"my retention
        filter","rate":2},"type":"apm_retention_filter"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Invalid Pipeline","''rate'' must exist and be between 0
        and 1"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
