http_interactions:
- recorded_at: Tue, 08 Apr 2025 11:32:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":true,"filter":{"query":"@http.status_code:200
        service:my-service"},"filter_type":"spans-errors-sampling-processor","name":"my
        retention filter","rate":1},"type":"apm_retention_filter"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Field ''filter_type'' is invalid, expected value is ''spans-sampling-processor''"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
