http_interactions:
- recorded_at: Tue, 08 Apr 2025 11:32:49 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":true,"filter":{"query":"@_top_level:1
        test:service-demo"},"filter_type":"spans-sampling-processor","name":"demo
        retention filter","rate":0.9},"type":"apm_retention_filter"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"IbsDnxY0SC-Wuz4g82UZ2w","attributes":{"name":"demo retention
        filter","rate":0.9,"trace_rate":0.0,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"@_top_level:1
        test:service-demo"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1744111970,"created_by":"frog@datadoghq.com","created_at":1744111970},"type":"apm_retention_filter"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 08 Apr 2025 11:32:49 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters/IbsDnxY0SC-Wuz4g82UZ2w
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"IbsDnxY0SC-Wuz4g82UZ2w","attributes":{"name":"demo retention
        filter","rate":0.9,"trace_rate":0.0,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"@_top_level:1
        test:service-demo"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1744111970,"created_by":"frog@datadoghq.com","created_at":1744111970},"type":"apm_retention_filter"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 08 Apr 2025 11:32:49 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters/IbsDnxY0SC-Wuz4g82UZ2w
  response:
    body:
      encoding: UTF-8
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
