http_interactions:
- recorded_at: Tue, 08 Apr 2025 11:32:53 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":true,"filter":{"query":"@_top_level:1
        test:service-demo"},"filter_type":"spans-sampling-processor","name":"demo
        retention filter","rate":0.9},"type":"apm_retention_filter"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"JL7QU9ejR-C6t9rXeyHrIg","attributes":{"name":"demo retention
        filter","rate":0.9,"trace_rate":0.0,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"@_top_level:1
        test:service-demo"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1744111974,"created_by":"frog@datadoghq.com","created_at":1744111974},"type":"apm_retention_filter"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 08 Apr 2025 11:32:53 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":true,"filter":{"query":"@_top_level:1
        test:service-demo"},"filter_type":"spans-sampling-processor","name":"test","rate":1.9},"id":"test-id","type":"apm_retention_filter"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters/JL7QU9ejR-C6t9rXeyHrIg
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Invalid Pipeline","''rate'' must exist and be between 0
        and 1"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- recorded_at: Tue, 08 Apr 2025 11:32:53 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters/JL7QU9ejR-C6t9rXeyHrIg
  response:
    body:
      encoding: UTF-8
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
