http_interactions:
- recorded_at: Tue, 19 Sep 2023 10:11:36 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":true,"filter":{"query":"@_top_level:1
        test:service-demo"},"filter_type":"spans-sampling-processor","name":"demo
        retention filter","rate":0.9},"type":"apm_retention_filter"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"CDqOdN7wRGahYAPVsdAvfw","attributes":{"name":"demo retention
        filter","rate":0.9,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"@_top_level:1
        test:service-demo"},"modified_by":"frog@datadoghq.com","modified_at":1695118296,"created_by":"frog@datadoghq.com","created_at":1695118296,"editable":true},"type":"apm_retention_filter"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 19 Sep 2023 10:11:36 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":true,"filter":{"query":"@_top_level:1
        test:service-demo"},"filter_type":"spans-sampling-processor","name":"test","rate":0.9},"id":"test-id","type":"apm_retention_filter"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters/CDqOdN7wRGahYAPVsdAvfw
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"CDqOdN7wRGahYAPVsdAvfw","attributes":{"name":"test","rate":0.9,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"@_top_level:1
        test:service-demo"},"modified_by":"frog@datadoghq.com","modified_at":1695118296,"created_by":"frog@datadoghq.com","created_at":1695118296,"editable":true},"type":"apm_retention_filter"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 19 Sep 2023 10:11:36 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters/CDqOdN7wRGahYAPVsdAvfw
  response:
    body:
      encoding: UTF-8
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
