http_interactions:
- recorded_at: Mon, 18 Sep 2023 11:29:51 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":true,"filter":{"query":"@_top_level:1
        test:service-demo"},"filter_type":"spans-sampling-processor","name":"test","rate":0.9},"id":"not_found","type":"apm_retention_filter"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters/not_found
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["retention filter with id: ''not_found'' not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
