---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Create_a_login_method_for_the_given_user_returns_Created_response-1608735636@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3592802'
      X-Dd-Debug:
      - 2yLQyeuXdHKf2qhVlcnhVSRUgzA6Krta0LEltrGESIMHoX7HWgb/dSrVA+a76Sm3
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"9d2e50a0-452f-11eb-8ad4-dffeab4bf649","attributes":{"name":null,"handle":"ruby-create_a_login_method_for_the_given_user_returns_created_response-1608735636@datadoghq.com","created_at":"2020-12-23T15:00:36.775464+00:00","email":"ruby-create_a_login_method_for_the_given_user_returns_created_response-1608735636@datadoghq.com","icon":"https://secure.gravatar.com/avatar/d2d4206bd04a9cf6f041d39e683137f7?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 23 Dec 2020 15:00:36 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/user_login_methods
    body:
      encoding: UTF-8
      string: '{"data":{"type":"user_login_methods","attributes":{"login_method":"standard"},"relationships":{"user":{"data":{"id":"9d2e50a0-452f-11eb-8ad4-dffeab4bf649","type":"users"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3592802'
      X-Dd-Debug:
      - d31ebXSBBNIfMRbwTUSeNjY3IxejCQxGK8GB7MdTMNs7w40n94in+BXmkLo5BsFJ
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"user_login_methods","id":"3034269a-7071-45bc-987a-81e3e0fc63d8","attributes":{"created_at":"2020-12-23T14:43:48.785884+00:00","created_by":1379826,"login_method":"standard"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}},"user":{"data":{"type":"users","id":"9d2e50a0-452f-11eb-8ad4-dffeab4bf649"}}}}}'
  recorded_at: Wed, 23 Dec 2020 15:00:36 GMT
recorded_with: VCR 6.0.0
