---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/org_login_methods
    body:
      encoding: UTF-8
      string: '{"data":{"type":"org_login_methods","attributes":{"login_method":"standard"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3592802'
      X-Dd-Debug:
      - Lz3XQmS/aMrD2s8dTb68gJQbMlDQb/2odnJX/DHsjHnv1C9na1q4YNvmnKcr4AfX
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"org_login_methods","id":"ffc610a3-ddb2-4d69-9814-3f2140d2f91a","attributes":{"created_at":"2020-12-23T14:35:39.866892+00:00","created_by":1379826,"login_method":"standard"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 23 Dec 2020 15:00:38 GMT
recorded_with: VCR 6.0.0
