---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/org_login_methods
    body:
      encoding: UTF-8
      string: '{"data":{"type":"org_login_methods","attributes":{"login_method":"standard"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3592802'
      X-Dd-Debug:
      - LkSOFVoHBcsyBoPbYbYfcEWZoNcVif5SL5dX3LvvR/J4mRuKXGmrGqdm859yDQ2v
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"org_login_methods","id":"b1ad0a1f-598a-4545-b743-6709b60ccfe5","attributes":{"created_at":"2020-12-23T14:48:04.882316+00:00","created_by":1379826,"login_method":"standard"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 23 Dec 2020 15:00:38 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/org_login_methods/b1ad0a1f-598a-4545-b743-6709b60ccfe5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3592802'
      X-Dd-Debug:
      - POuDbGLugqXrJfoVh1EySG2rrzsK54DWLRF5/pTAPkxizo7RlYf80RrCYTzc0hnv
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 23 Dec 2020 15:00:38 GMT
recorded_with: VCR 6.0.0
