---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/org_login_methods
    body:
      encoding: UTF-8
      string: '{"data":{"type":"org_login_methods","attributes":{"login_method":"standard"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3592802'
      X-Dd-Debug:
      - s0LsNvQsMm21RUzMLDODd6jiqqojzRfEoHLrnASSfK5zaa+QnpY16tmznkR4zVSs
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"org_login_methods","id":"01a306c1-965d-4b69-84ae-acb2d1285f3d","attributes":{"created_at":"2020-12-23T14:59:19.064176+00:00","created_by":1379826,"login_method":"standard"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 23 Dec 2020 15:00:38 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/org_login_methods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3592802'
      X-Dd-Debug:
      - Y6ZYLlUGSo9onPx7tECTs9qKsJvUoKKo+zN3XxQavBYvUrN/iKRS46jBfxaojr0T
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"org_login_methods","id":"01a306c1-965d-4b69-84ae-acb2d1285f3d","attributes":{"created_at":"2020-12-23T14:59:19.064176+00:00","created_by":1379826,"login_method":"standard"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Wed, 23 Dec 2020 15:00:38 GMT
recorded_with: VCR 6.0.0
