---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Get_all_of_the_given_user_s_login_methods_returns_OK_response-1608735635@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3592802'
      X-Dd-Debug:
      - S3b0DxD0Dj5WAUZxeWLcfeyJnb4pDpoMTeVMKMtMeWrqyA+3FtLrxJp7rQHsEke0
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"9ca58fa4-452f-11eb-8ad4-83e684811bc4","attributes":{"name":null,"handle":"ruby-get_all_of_the_given_user_s_login_methods_returns_ok_response-1608735635@datadoghq.com","created_at":"2020-12-23T15:00:35.878688+00:00","email":"ruby-get_all_of_the_given_user_s_login_methods_returns_ok_response-1608735635@datadoghq.com","icon":"https://secure.gravatar.com/avatar/441df354f609b93c74706808c48ee574?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 23 Dec 2020 15:00:35 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/user_login_methods
    body:
      encoding: UTF-8
      string: '{"data":{"type":"user_login_methods","attributes":{"login_method":"standard"},"relationships":{"user":{"data":{"id":"9ca58fa4-452f-11eb-8ad4-83e684811bc4","type":"users"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3592802'
      X-Dd-Debug:
      - nHGjqTbGmPRJGWoHEDsaMxmZCicxo5Y/AObJEW+YW63Ub16t9U+JqCkAyvEnf+xI
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"user_login_methods","id":"3bc288f0-bce8-4cd0-aee7-603a145de6dc","attributes":{"created_at":"2020-12-23T14:58:54.202823+00:00","created_by":1379826,"login_method":"standard"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}},"user":{"data":{"type":"users","id":"9ca58fa4-452f-11eb-8ad4-83e684811bc4"}}}}}'
  recorded_at: Wed, 23 Dec 2020 15:00:35 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/user_login_methods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3592802'
      X-Dd-Debug:
      - "/3efrffY0fOidOw5YXy+ujUt+jIWndj9KkkaQ3CKNiYFs6CCTkTChAR8M9mejUqc"
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Wed, 23 Dec 2020 15:00:35 GMT
recorded_with: VCR 6.0.0
