---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Add_a_user_to_a_role_returns_OK_response-1618390744"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '56'
      X-Ratelimit-Remaining:
      - '499'
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"a9ef3e94-9cff-11eb-9daf-da7ad0900002","attributes":{"name":"Test-Add_a_user_to_a_role_returns_OK_response-1618390744","created_at":"2021-04-14T08:59:04.654252+00:00","modified_at":"2021-04-14T08:59:04.654252+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Wed, 14 Apr 2021 08:59:04 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Add_a_user_to_a_role_returns_OK_response-1618390744@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"aa0ae89c-9cff-11eb-9daf-da7ad0900002","attributes":{"name":null,"handle":"test-add_a_user_to_a_role_returns_ok_response-1618390744@datadoghq.com","created_at":"2021-04-14T08:59:04.834506+00:00","modified_at":"2021-04-14T08:59:04.871681+00:00","email":"test-add_a_user_to_a_role_returns_ok_response-1618390744@datadoghq.com","icon":"https://secure.gravatar.com/avatar/31613a747b413e76c4b39f004a9bc975?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 14 Apr 2021 08:59:04 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles/a9ef3e94-9cff-11eb-9daf-da7ad0900002/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"aa0ae89c-9cff-11eb-9daf-da7ad0900002","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '55'
      X-Ratelimit-Remaining:
      - '498'
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"aa0ae89c-9cff-11eb-9daf-da7ad0900002","attributes":{"name":null,"handle":"test-add_a_user_to_a_role_returns_ok_response-1618390744@datadoghq.com","created_at":"2021-04-14T08:59:04.834506+00:00","modified_at":"2021-04-14T08:59:04.871681+00:00","email":"test-add_a_user_to_a_role_returns_ok_response-1618390744@datadoghq.com","icon":"https://secure.gravatar.com/avatar/31613a747b413e76c4b39f004a9bc975?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"a9ef3e94-9cff-11eb-9daf-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Wed, 14 Apr 2021 08:59:04 GMT
recorded_with: VCR 6.0.0
