---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Add-a-user-to-a-role-returns-OK-response-1599759329"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '31'
      X-Ratelimit-Remaining:
      - '476'
      X-Dd-Debug:
      - WmMtMFngDL31sZYuYCiUaMFRtAs90zyIJHnMIoB4iHZztA/Ona9SnOav516bWmh7
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"056a82d8-f38c-11ea-ac35-c3fe378e05a1","attributes":{"name":"ruby-Add-a-user-to-a-role-returns-OK-response-1599759329","created_at":"2020-09-10T17:35:30.005078+00:00","modified_at":"2020-09-10T17:35:30.005078+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
  recorded_at: Thu, 10 Sep 2020 17:35:29 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Add-a-user-to-a-role-returns-OK-response-1599759329@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Dd-Debug:
      - jQnCQ800IM9+AhjSbgOLP1olAAN0Zx3e3JL4dG9omKhKnkmdw7EJe7yfXnjuT+74
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"059144f4-f38c-11ea-ac35-13168d5cd656","attributes":{"name":null,"handle":"ruby-add-a-user-to-a-role-returns-ok-response-1599759329@datadoghq.com","created_at":"2020-09-10T17:35:30.258389+00:00","email":"ruby-add-a-user-to-a-role-returns-ok-response-1599759329@datadoghq.com","icon":"https://secure.gravatar.com/avatar/bbf21b796ff481fbcad740dfe2a5c862?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Thu, 10 Sep 2020 17:35:29 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles/056a82d8-f38c-11ea-ac35-c3fe378e05a1/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"059144f4-f38c-11ea-ac35-13168d5cd656","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '30'
      X-Ratelimit-Remaining:
      - '475'
      X-Dd-Debug:
      - cTGY5ulPxaRmdZr4S1APOMLAfMePPA3fkzzqqKyRFf/m5ql3XuUZsd87RDo7B7RR
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"059144f4-f38c-11ea-ac35-13168d5cd656","attributes":{"name":null,"handle":"ruby-add-a-user-to-a-role-returns-ok-response-1599759329@datadoghq.com","created_at":"2020-09-10T17:35:30.258389+00:00","email":"ruby-add-a-user-to-a-role-returns-ok-response-1599759329@datadoghq.com","icon":"https://secure.gravatar.com/avatar/bbf21b796ff481fbcad740dfe2a5c862?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"056a82d8-f38c-11ea-ac35-c3fe378e05a1"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Thu, 10 Sep 2020 17:35:29 GMT
recorded_with: VCR 6.0.0
