---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles/1bbe28ba-3553-11eb-87b3-7fba638e32f6/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1be07578-3553-11eb-87b3-fbdcfc8cfd92","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468623'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '37'
      X-Ratelimit-Remaining:
      - '481'
      X-Dd-Debug:
      - wNrxv9MP/Kxm81IXLGsWy0CXv80VlU+qbVGRrC8mL1rqhhL8XfGM/GetE/bGVBv9
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"1be07578-3553-11eb-87b3-fbdcfc8cfd92","attributes":{"name":null,"handle":"ruby-add_a_user_to_a_role_returns_ok_response-1606991662@datadoghq.com","created_at":"2020-12-03T10:34:23.116701+00:00","email":"ruby-add_a_user_to_a_role_returns_ok_response-1606991662@datadoghq.com","icon":"https://secure.gravatar.com/avatar/00a9df3f6d8f76b63c09609107b51991?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"1bbe28ba-3553-11eb-87b3-7fba638e32f6"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Thu, 03 Dec 2020 10:34:22 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles/cb7ed1e0-9909-11eb-9ce8-da7ad0900002/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"cb9ca1c0-9909-11eb-9ce8-da7ad0900002","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4273965'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '29'
      X-Ratelimit-Remaining:
      - '490'
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"cb9ca1c0-9909-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-add_a_user_to_a_role_returns_ok_response-1617955291.182@datadoghq.com","created_at":"2021-04-09T08:01:31.470586+00:00","modified_at":"2021-04-09T08:01:31.502410+00:00","email":"test-add_a_user_to_a_role_returns_ok_response-1617955291.182@datadoghq.com","icon":"https://secure.gravatar.com/avatar/75a81039e0ac17199582bc5c1897f421?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"cb7ed1e0-9909-11eb-9ce8-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Fri, 09 Apr 2021 08:01:31 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Add_a_user_to_a_role_returns_OK_response-1617968746"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '13'
      X-Ratelimit-Remaining:
      - '450'
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"1fc50c96-9929-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-Add_a_user_to_a_role_returns_OK_response-1617968746","created_at":"2021-04-09T11:45:47.064567+00:00","modified_at":"2021-04-09T11:45:47.064567+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:46 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Add_a_user_to_a_role_returns_OK_response-1617968746@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"1fe0cf76-9929-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-add_a_user_to_a_role_returns_ok_response-1617968746@datadoghq.com","created_at":"2021-04-09T11:45:47.245119+00:00","modified_at":"2021-04-09T11:45:47.277310+00:00","email":"test-add_a_user_to_a_role_returns_ok_response-1617968746@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e76f0bb5a43c173b82ae8b490d3174d4?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:46 GMT
[...]
