---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Add-a-user-to-a-role-returns-OK-response-1601469625"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '35'
      X-Ratelimit-Remaining:
      - '476'
      X-Dd-Debug:
      - YNPvfo/A+kRa92W7PZNTiFcSJq6YGkB9TIlX47+pHHndNDZ3ZySmub3fInFxn6Db
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"1d11db14-031a-11eb-b513-1ffe8ca403bf","attributes":{"name":"ruby-Add-a-user-to-a-role-returns-OK-response-1601469625","created_at":"2020-09-30T12:40:25.666752+00:00","modified_at":"2020-09-30T12:40:25.666752+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
  recorded_at: Wed, 30 Sep 2020 12:40:25 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Add-a-user-to-a-role-returns-OK-response-1601469625@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Dd-Debug:
      - V26KHlc/RfdWahgILvghYzp00rgLN6YCNAgg+V0KrlqUWK5TouaimNqGpGYzd/eX
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"1d31247e-031a-11eb-b513-ff033fe83294","attributes":{"name":null,"handle":"ruby-add-a-user-to-a-role-returns-ok-response-1601469625@datadoghq.com","created_at":"2020-09-30T12:40:25.871220+00:00","email":"ruby-add-a-user-to-a-role-returns-ok-response-1601469625@datadoghq.com","icon":"https://secure.gravatar.com/avatar/af0115f70d86036d7efb007ff3e28025?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 30 Sep 2020 12:40:25 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles/1d11db14-031a-11eb-b513-1ffe8ca403bf/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1d31247e-031a-11eb-b513-ff033fe83294","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '34'
      X-Ratelimit-Remaining:
      - '475'
      X-Dd-Debug:
      - Dx/lglfFHSSR55lZZXPJOntjJp7qb35tIKm/SqO1nkg0n+U6yMAlHYP22LPWSHfP
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"1d31247e-031a-11eb-b513-ff033fe83294","attributes":{"name":null,"handle":"ruby-add-a-user-to-a-role-returns-ok-response-1601469625@datadoghq.com","created_at":"2020-09-30T12:40:25.871220+00:00","email":"ruby-add-a-user-to-a-role-returns-ok-response-1601469625@datadoghq.com","icon":"https://secure.gravatar.com/avatar/af0115f70d86036d7efb007ff3e28025?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"1d11db14-031a-11eb-b513-1ffe8ca403bf"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Wed, 30 Sep 2020 12:40:25 GMT
recorded_with: VCR 6.0.0
