---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles/1d11db14-031a-11eb-b513-1ffe8ca403bf/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1d31247e-031a-11eb-b513-ff033fe83294","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '34'
      X-Ratelimit-Remaining:
      - '475'
      X-Dd-Debug:
      - Dx/lglfFHSSR55lZZXPJOntjJp7qb35tIKm/SqO1nkg0n+U6yMAlHYP22LPWSHfP
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"1d31247e-031a-11eb-b513-ff033fe83294","attributes":{"name":null,"handle":"ruby-add-a-user-to-a-role-returns-ok-response-1601469625@datadoghq.com","created_at":"2020-09-30T12:40:25.871220+00:00","email":"ruby-add-a-user-to-a-role-returns-ok-response-1601469625@datadoghq.com","icon":"https://secure.gravatar.com/avatar/af0115f70d86036d7efb007ff3e28025?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"1d11db14-031a-11eb-b513-1ffe8ca403bf"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Wed, 30 Sep 2020 12:40:25 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles/7f7aba36-2e63-11eb-855e-f78b0ccc481e/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"7fa1199c-2e63-11eb-855e-97cc0f4649f5","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3424786'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '56'
      X-Ratelimit-Remaining:
      - '487'
      X-Dd-Debug:
      - ApDR7dmCPzU09s5sGJ6tunvBxSFKQfwajJriSdeRXXH0ohfkw5+3MDbyzkcCLNJJ
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"7fa1199c-2e63-11eb-855e-97cc0f4649f5","attributes":{"name":null,"handle":"ruby-add_a_user_to_a_role_returns_ok_response-1601469625@datadoghq.com","created_at":"2020-11-24T14:44:04.282234+00:00","email":"ruby-add_a_user_to_a_role_returns_ok_response-1601469625@datadoghq.com","icon":"https://secure.gravatar.com/avatar/aac427ce7927da7b210cca1f080d99f7?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"7f7aba36-2e63-11eb-855e-f78b0ccc481e"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Wed, 30 Sep 2020 12:40:25 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Add_a_user_to_a_role_returns_OK_response-1606230452"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425088'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '28'
      X-Ratelimit-Remaining:
      - '416'
      X-Dd-Debug:
      - tn++ajambiboc22yEZp2LPSDqkKgxYU69+naXgFtW57aX7Q9JfJBptYV8xTFKhXT
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"c7083f42-2e66-11eb-855e-7f5a318af05b","attributes":{"name":"ruby-Add_a_user_to_a_role_returns_OK_response-1606230452","created_at":"2020-11-24T15:07:32.567389+00:00","modified_at":"2020-11-24T15:07:32.567389+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
  recorded_at: Tue, 24 Nov 2020 15:07:32 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Add_a_user_to_a_role_returns_OK_response-1606230452@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425088'
      X-Dd-Debug:
      - LeIXOZ//FAgX4PAg4j6Bsh31EU8EFOlq+rcBJ6/UKozJVG3ekjClEE/+uYnXssRC
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"c7278924-2e66-11eb-855e-9f7dedb7f2e1","attributes":{"name":null,"handle":"ruby-add_a_user_to_a_role_returns_ok_response-1606230452@datadoghq.com","created_at":"2020-11-24T15:07:32.771830+00:00","email":"ruby-add_a_user_to_a_role_returns_ok_response-1606230452@datadoghq.com","icon":"https://secure.gravatar.com/avatar/07513180c694bba2ab6e5622846dec64?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Tue, 24 Nov 2020 15:07:32 GMT
[...]
