http_interactions:
- recorded_at: Tue, 21 Dec 2021 20:35:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Create_a_new_role_by_cloning_an_existing_role_returns_Conflict_response-1640118938"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '496'
      X-Ratelimit-Reset:
      - '22'
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"8ef5c3ba-629d-11ec-af3f-da7ad0900002","attributes":{"name":"Test-Create_a_new_role_by_cloning_an_existing_role_returns_Conflict_response-1640118938","created_at":"2021-12-21T20:35:38.949398+00:00","modified_at":"2021-12-21T20:35:39.017421+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    status:
      code: 200
      message: OK
- recorded_at: Tue, 21 Dec 2021 20:35:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Create_a_new_role_by_cloning_an_existing_role_returns_Conflict_response-1640118938"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '495'
      X-Ratelimit-Reset:
      - '21'
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/8ef5c3ba-629d-11ec-af3f-da7ad0900002/clone
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["A role with the same name already exists"]}'
    status:
      code: 409
      message: Conflict
- recorded_at: Tue, 21 Dec 2021 20:35:38 GMT
  request:
    body: null
    headers:
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '494'
      X-Ratelimit-Reset:
      - '21'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/8ef5c3ba-629d-11ec-af3f-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
