http_interactions:
- recorded_at: Mon, 10 Jan 2022 15:51:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Create_a_new_role_by_cloning_an_existing_role_returns_Conflict_response-1641829861"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"1c46f3b2-722d-11ec-b5d7-da7ad0900002","attributes":{"name":"Test-Create_a_new_role_by_cloning_an_existing_role_returns_Conflict_response-1641829861","created_at":"2022-01-10T15:51:01.513852+00:00","modified_at":"2022-01-10T15:51:01.567286+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    status:
      code: 200
      message: OK
- recorded_at: Mon, 10 Jan 2022 15:51:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Create_a_new_role_by_cloning_an_existing_role_returns_Conflict_response-1641829861"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/1c46f3b2-722d-11ec-b5d7-da7ad0900002/clone
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["A role with the same name already exists"]}'
    status:
      code: 409
      message: Conflict
- recorded_at: Mon, 10 Jan 2022 15:51:01 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/1c46f3b2-722d-11ec-b5d7-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
