http_interactions:
- recorded_at: Thu, 15 Apr 2021 13:02:30 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Create_role_returns_OK_response-1618491750"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '496'
      X-Ratelimit-Reset:
      - '30'
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"d62beff2-9dea-11eb-9df5-da7ad0900002","attributes":{"name":"Test-Create_role_returns_OK_response-1618491750","created_at":"2021-04-15T13:02:30.603471+00:00","modified_at":"2021-04-15T13:02:30.603471+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Apr 2021 13:02:30 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '495'
      X-Ratelimit-Reset:
      - '30'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/d62beff2-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
