---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/roles/19db27fc-031a-11eb-b513-bb9fde350727
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '40'
      X-Ratelimit-Remaining:
      - '493'
      X-Dd-Debug:
      - nuSFLkQ1s7gwoRNAfifc8jXTyjLsWBSRPtQKveq6qMTKGNJs/ULg6uo/9G1YZzFs
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"19db27fc-031a-11eb-b513-bb9fde350727","attributes":{"name":"ruby-Get-a-role-returns-OK-response-1601469620","created_at":"2020-09-30T12:40:20.275170+00:00","modified_at":"2020-09-30T12:40:20.275170+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
  recorded_at: Wed, 30 Sep 2020 12:40:20 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Get_a_role_returns_OK_response-1606230447"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425209'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '33'
      X-Ratelimit-Remaining:
      - '437'
      X-Dd-Debug:
      - nuSFLkQ1s7gwoRNAfifc8jXTyjLsWBSRPtQKveq6qMTKGNJs/ULg6uo/9G1YZzFs
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"c420694e-2e66-11eb-855e-ef939a74ad87","attributes":{"name":"ruby-Get_a_role_returns_OK_response-1606230447","created_at":"2020-11-24T15:07:27.692338+00:00","modified_at":"2020-11-24T15:07:27.692338+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
  recorded_at: Tue, 24 Nov 2020 15:07:27 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/roles/c420694e-2e66-11eb-855e-ef939a74ad87
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425209'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '33'
      X-Ratelimit-Remaining:
      - '436'
      X-Dd-Debug:
      - YNPvfo/A+kRa92W7PZNTiFcSJq6YGkB9TIlX47+pHHndNDZ3ZySmub3fInFxn6Db
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"c420694e-2e66-11eb-855e-ef939a74ad87","attributes":{"name":"ruby-Get_a_role_returns_OK_response-1606230447","created_at":"2020-11-24T15:07:27.692338+00:00","modified_at":"2020-11-24T15:07:27.692338+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
  recorded_at: Tue, 24 Nov 2020 15:07:27 GMT
recorded_with: VCR 6.0.0
