http_interactions:
- recorded_at: Thu, 15 Apr 2021 13:02:32 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Get_a_role_returns_OK_response-1618491752"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '491'
      X-Ratelimit-Reset:
      - '28'
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"d773040e-9dea-11eb-9df5-da7ad0900002","attributes":{"name":"Test-Get_a_role_returns_OK_response-1618491752","created_at":"2021-04-15T13:02:32.746944+00:00","modified_at":"2021-04-15T13:02:32.746944+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Apr 2021 13:02:32 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '490'
      X-Ratelimit-Reset:
      - '27'
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/d773040e-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"d773040e-9dea-11eb-9df5-da7ad0900002","attributes":{"name":"Test-Get_a_role_returns_OK_response-1618491752","created_at":"2021-04-15T13:02:32.746944+00:00","modified_at":"2021-04-15T13:02:32.746944+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Apr 2021 13:02:32 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '489'
      X-Ratelimit-Reset:
      - '27'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/d773040e-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
