---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/roles/0823ba90-3553-11eb-87b3-a39c1177cf76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468590'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '10'
      X-Ratelimit-Remaining:
      - '490'
      X-Dd-Debug:
      - E/n/F3cyfMhzzJeB7O6BVmaq6hO3dCQFUY5AzeSSV4syTTIgel8CkF1YlP8TXzmG
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"0823ba90-3553-11eb-87b3-a39c1177cf76","attributes":{"name":"ruby-Get_a_role_returns_OK_response-1606991629","created_at":"2020-12-03T10:33:50.003855+00:00","modified_at":"2020-12-03T10:33:50.003855+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
  recorded_at: Thu, 03 Dec 2020 10:33:49 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Get_a_role_returns_OK_response-1617968748"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '12'
      X-Ratelimit-Remaining:
      - '442'
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"20db79a8-9929-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-Get_a_role_returns_OK_response-1617968748","created_at":"2021-04-09T11:45:48.888622+00:00","modified_at":"2021-04-09T11:45:48.888622+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:48 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/roles/20db79a8-9929-11eb-9ceb-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '11'
      X-Ratelimit-Remaining:
      - '441'
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"20db79a8-9929-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-Get_a_role_returns_OK_response-1617968748","created_at":"2021-04-09T11:45:48.888622+00:00","modified_at":"2021-04-09T11:45:48.888622+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:48 GMT
recorded_with: VCR 6.0.0
