---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles/1c9fa60c-031a-11eb-b513-8b4a6b6b7aa5/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1cba4390-031a-11eb-b513-275c1826890f","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '35'
      X-Ratelimit-Remaining:
      - '478'
      X-Dd-Debug:
      - Wu8XyxdUJ940l1hlQ/4Scl2Xta78KG1wkfVN63sn1HQ3Sk/ZYNPBQ2v2fbOhjvmn
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"1cba4390-031a-11eb-b513-275c1826890f","attributes":{"name":null,"handle":"ruby-get-all-users-of-a-role-returns-ok-response-1601469624@datadoghq.com","created_at":"2020-09-30T12:40:25.091875+00:00","email":"ruby-get-all-users-of-a-role-returns-ok-response-1601469624@datadoghq.com","icon":"https://secure.gravatar.com/avatar/402b56cd942eb5afcc992c54c76a65fc?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"1c9fa60c-031a-11eb-b513-8b4a6b6b7aa5"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Wed, 30 Sep 2020 12:40:24 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/roles/1c9fa60c-031a-11eb-b513-8b4a6b6b7aa5/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '35'
      X-Ratelimit-Remaining:
      - '477'
      X-Dd-Debug:
      - hkXZRrnCTh2pkyHJgLo1+B5+sLp+RYzQrqT867R6UzDvqVGo8Av8yUCpaA0POidP
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"included":[{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standard
        Access","description":"This permission gives you the ability to view and edit
        components in your Datadog organization that do not have explicitly defined
        permissions. This includes APM, Events, and other non-Account Management functionality.","created":"2018-10-19T15:35:23.756736+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"80de1ec0-aa58-11ea-95e2-aff381626d5d","attributes":{"name":"security_monitoring_signals_read","display_name":"Security
        Signals","description":"The ability to view Security signals.","created":"2020-06-09T13:52:48.410398+00:00","group_name":"Security
        Monitoring","display_type":"read","restricted":false}},{"type":"permissions","id":"b382b982-8535-11ea-93de-2bf1bdf20798","attributes":{"name":"logs_read_archives","display_name":"Logs
        Archiv[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles/7ec112ca-2e63-11eb-855e-eb86a1331b17/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"7ef8663a-2e63-11eb-855e-9340e222674b","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3424786'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '57'
      X-Ratelimit-Remaining:
      - '490'
      X-Dd-Debug:
      - iYSQoeIUH6tZkV8oNBADyUh0i8imvOo9jWWOUgywP9QJ7opgBoT0cWGeCUTl7m+0
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"7ef8663a-2e63-11eb-855e-9340e222674b","attributes":{"name":null,"handle":"ruby-get_all_users_of_a_role_returns_ok_response-1601469624@datadoghq.com","created_at":"2020-11-24T14:44:03.175874+00:00","email":"ruby-get_all_users_of_a_role_returns_ok_response-1601469624@datadoghq.com","icon":"https://secure.gravatar.com/avatar/55dd2b462a5123598bfe8b50011cd4b9?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"7ec112ca-2e63-11eb-855e-eb86a1331b17"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Wed, 30 Sep 2020 12:40:24 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/roles/7ec112ca-2e63-11eb-855e-eb86a1331b17/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3424786'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '57'
      X-Ratelimit-Remaining:
      - '489'
      X-Dd-Debug:
      - PdDr7CGzRKV1JiazIN9M5t58W3VmC092V0tka6KkG4tNQ2dswwjUu1lc7Z0OYqEX
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"included":[{"type":"roles","id":"7ec112ca-2e63-11eb-855e-eb86a1331b17","attributes":{"name":"ruby-Get_all_users_of_a_role_returns_OK_response-1601469624","created_at":"2020-11-24T14:44:02.814536+00:00","modified_at":"2020-11-24T14:44:02.814536+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}],"meta":{"page":{"total_filtered_count":1,"total_count":1}},"data":[{"type":"users","id":"7ef8663a-2e63-11eb-855e-9340e222674b","attributes":{"name":null,"handle":"ruby-get_all_users_of_a_role_returns_ok_response-1601469624@datadoghq.com","created_at":"2020-11-24T14:44:03.175874+00:00","email":"ruby-get_all_users_of_a_role_returns_ok_response-1601469624@datadoghq.com","icon":"https://secure.gravatar.com/avatar/55dd2b462a5123598bfe8b50011cd4b9?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"7ec112ca-2e63-11eb-855e-eb86a1331b17"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Wed, 30 Sep 2020 12:40:24 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Get_all_users_of_a_role_returns_OK_response-1606230451"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425088'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '29'
      X-Ratelimit-Remaining:
      - '419'
      X-Dd-Debug:
      - 84uqub9zpmlgg8irRO/sOXYuWjXevKJ3PeFDkydS20gUrNiRDeiB84n5Q67dF4oL
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"c692cc76-2e66-11eb-855e-8b9c601396ef","attributes":{"name":"ruby-Get_all_users_of_a_role_returns_OK_response-1606230451","created_at":"2020-11-24T15:07:31.797464+00:00","modified_at":"2020-11-24T15:07:31.797464+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
  recorded_at: Tue, 24 Nov 2020 15:07:31 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Get_all_users_of_a_role_returns_OK_response-1606230451@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425088'
      X-Dd-Debug:
      - 0e2Tq/aa08wSuRoWDdF6eCwF8GPYPPLmf3Lxvgc5OscTNyr8D4p+ksnId5WnGnR4
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"c6afa792-2e66-11eb-855e-174231a19a8b","attributes":{"name":null,"handle":"ruby-get_all_users_of_a_role_returns_ok_response-1606230451@datadoghq.com","created_at":"2020-11-24T15:07:31.985873+00:00","email":"ruby-get_all_users_of_a_role_returns_ok_response-1606230451@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8e41b7a437f49f8c41727afb3ac5a37e?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Tue, 24 Nov 2020 15:07:31 GMT
[...]
