---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-List_roles_returns_OK_response-1618390750"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '50'
      X-Ratelimit-Remaining:
      - '479'
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"ad4f60a0-9cff-11eb-9daf-da7ad0900002","attributes":{"name":"Test-List_roles_returns_OK_response-1618390750","created_at":"2021-04-14T08:59:10.317543+00:00","modified_at":"2021-04-14T08:59:10.317543+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Wed, 14 Apr 2021 08:59:10 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/roles?filter=Test-List_roles_returns_OK_response-1618390750
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '50'
      X-Ratelimit-Remaining:
      - '478'
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":3481}},"data":[{"type":"roles","id":"ad4f60a0-9cff-11eb-9daf-da7ad0900002","attributes":{"name":"Test-List_roles_returns_OK_response-1618390750","created_at":"2021-04-14T08:59:10.317543+00:00","modified_at":"2021-04-14T08:59:10.317543+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}]}'
  recorded_at: Wed, 14 Apr 2021 08:59:10 GMT
recorded_with: VCR 6.0.0
