---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/roles?filter=Test-List_roles_returns_OK_response-1617969411
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '9'
      X-Ratelimit-Remaining:
      - '476'
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":3480}},"data":[{"type":"roles","id":"abd6f522-992a-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-List_roles_returns_OK_response-1617969411","created_at":"2021-04-09T11:56:51.558914+00:00","modified_at":"2021-04-09T11:56:51.558914+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}]}'
  recorded_at: Fri, 09 Apr 2021 11:56:51 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-List_roles_returns_OK_response-1617971036"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '4'
      X-Ratelimit-Remaining:
      - '477'
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"74869114-992e-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-List_roles_returns_OK_response-1617971036","created_at":"2021-04-09T12:23:56.744564+00:00","modified_at":"2021-04-09T12:23:56.744564+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Fri, 09 Apr 2021 12:23:56 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/roles?filter=Test-List_roles_returns_OK_response-1617971036
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '4'
      X-Ratelimit-Remaining:
      - '476'
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":3480}},"data":[{"type":"roles","id":"74869114-992e-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-List_roles_returns_OK_response-1617971036","created_at":"2021-04-09T12:23:56.744564+00:00","modified_at":"2021-04-09T12:23:56.744564+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}]}'
  recorded_at: Fri, 09 Apr 2021 12:23:56 GMT
recorded_with: VCR 6.0.0
