---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles/ac224612-992a-11eb-9ceb-da7ad0900002/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ac3d9174-992a-11eb-9ceb-da7ad0900002","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '8'
      X-Ratelimit-Remaining:
      - '473'
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"ac3d9174-992a-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-remove_a_user_from_a_role_returns_ok_response-1617969411@datadoghq.com","created_at":"2021-04-09T11:56:52.230368+00:00","modified_at":"2021-04-09T11:56:52.266717+00:00","email":"test-remove_a_user_from_a_role_returns_ok_response-1617969411@datadoghq.com","icon":"https://secure.gravatar.com/avatar/4b979c43c9fb229c289736d55ed7b74b?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"ac224612-992a-11eb-9ceb-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Fri, 09 Apr 2021 11:56:51 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Remove_a_user_from_a_role_returns_OK_response-1617971037"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '3'
      X-Ratelimit-Remaining:
      - '474'
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"74d9d8c4-992e-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-Remove_a_user_from_a_role_returns_OK_response-1617971037","created_at":"2021-04-09T12:23:57.290211+00:00","modified_at":"2021-04-09T12:23:57.290211+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Fri, 09 Apr 2021 12:23:57 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Remove_a_user_from_a_role_returns_OK_response-1617971037@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"74f56666-992e-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-remove_a_user_from_a_role_returns_ok_response-1617971037@datadoghq.com","created_at":"2021-04-09T12:23:57.469775+00:00","modified_at":"2021-04-09T12:23:57.506020+00:00","email":"test-remove_a_user_from_a_role_returns_ok_response-1617971037@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f097a05e56664d9f06a12bfe07c60e60?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:23:57 GMT
[...]
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/roles/74d9d8c4-992e-11eb-9ceb-da7ad0900002/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"74f56666-992e-11eb-9ceb-da7ad0900002","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '3'
      X-Ratelimit-Remaining:
      - '472'
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":0}},"data":[]}'
  recorded_at: Fri, 09 Apr 2021 12:23:57 GMT
recorded_with: VCR 6.0.0
