---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Remove-a-user-from-a-role-returns-OK-response-1599759327"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '33'
      X-Ratelimit-Remaining:
      - '482'
      X-Dd-Debug:
      - 92/tpeRQ0by9nn7WsSPyVyXsoLNu8gimYih2BuL6sJV2amfIFPaN8R5eGATyWG3E
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"043b1c06-f38c-11ea-ac35-1394ea1b3bf8","attributes":{"name":"ruby-Remove-a-user-from-a-role-returns-OK-response-1599759327","created_at":"2020-09-10T17:35:28.016339+00:00","modified_at":"2020-09-10T17:35:28.016339+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
  recorded_at: Thu, 10 Sep 2020 17:35:27 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Remove-a-user-from-a-role-returns-OK-response-1599759327@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Dd-Debug:
      - shSARNU4/WQFPOKM8NVdagbh/ZoS+zYzlyviY3k5npVGETiEU89iNTNvqiMXn1f6
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"0460636c-f38c-11ea-ac35-e311a549cc21","attributes":{"name":null,"handle":"ruby-remove-a-user-from-a-role-returns-ok-response-1599759327@datadoghq.com","created_at":"2020-09-10T17:35:28.259804+00:00","email":"ruby-remove-a-user-from-a-role-returns-ok-response-1599759327@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8935a98b380a9163f976eda6a83e3303?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Thu, 10 Sep 2020 17:35:27 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles/043b1c06-f38c-11ea-ac35-1394ea1b3bf8/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0460636c-f38c-11ea-ac35-e311a549cc21","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '32'
      X-Ratelimit-Remaining:
      - '481'
      X-Dd-Debug:
      - WmMtMFngDL31sZYuYCiUaMFRtAs90zyIJHnMIoB4iHZztA/Ona9SnOav516bWmh7
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"0460636c-f38c-11ea-ac35-e311a549cc21","attributes":{"name":null,"handle":"ruby-remove-a-user-from-a-role-returns-ok-response-1599759327@datadoghq.com","created_at":"2020-09-10T17:35:28.259804+00:00","email":"ruby-remove-a-user-from-a-role-returns-ok-response-1599759327@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8935a98b380a9163f976eda6a83e3303?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"043b1c06-f38c-11ea-ac35-1394ea1b3bf8"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Thu, 10 Sep 2020 17:35:27 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/roles/043b1c06-f38c-11ea-ac35-1394ea1b3bf8/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0460636c-f38c-11ea-ac35-e311a549cc21","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '32'
      X-Ratelimit-Remaining:
      - '480'
      X-Dd-Debug:
      - HvCCHsTxMdYM0gaKHtI2IcmEJsAxsAXyEwSakV4VwU0gJM0DBm5BMD3H6ZYBdo1H
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":0}},"data":[]}'
  recorded_at: Thu, 10 Sep 2020 17:35:27 GMT
recorded_with: VCR 6.0.0
