---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles/1a201252-3553-11eb-87b3-6b585a087be1/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1a41fc78-3553-11eb-87b3-175ccabc6bed","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468623'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '40'
      X-Ratelimit-Remaining:
      - '489'
      X-Dd-Debug:
      - AqBVHmyy+L9zrCUEAQ2Jd2pwskksgC+7nOsWqbNjcjcM+9M/ChipUo2OR6Q8oPwE
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"1a41fc78-3553-11eb-87b3-175ccabc6bed","attributes":{"name":null,"handle":"ruby-remove_a_user_from_a_role_returns_ok_response-1606991660@datadoghq.com","created_at":"2020-12-03T10:34:20.400643+00:00","email":"ruby-remove_a_user_from_a_role_returns_ok_response-1606991660@datadoghq.com","icon":"https://secure.gravatar.com/avatar/768256edbde4c2ab5d50dab9d0365ea4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"1a201252-3553-11eb-87b3-6b585a087be1"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Thu, 03 Dec 2020 10:34:20 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles/cee5756e-9909-11eb-9ce8-da7ad0900002/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"cf004fe2-9909-11eb-9ce8-da7ad0900002","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4273965'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '23'
      X-Ratelimit-Remaining:
      - '462'
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"cf004fe2-9909-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-remove_a_user_from_a_role_returns_ok_response-1617955296.897@datadoghq.com","created_at":"2021-04-09T08:01:37.157732+00:00","modified_at":"2021-04-09T08:01:37.193816+00:00","email":"test-remove_a_user_from_a_role_returns_ok_response-1617955296.897@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f4efe59e4d62918b8bd59ebe32892f20?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"cee5756e-9909-11eb-9ce8-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Fri, 09 Apr 2021 08:01:36 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Remove_a_user_from_a_role_returns_OK_response-1617968752"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '8'
      X-Ratelimit-Remaining:
      - '425'
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"22ff0aa6-9929-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-Remove_a_user_from_a_role_returns_OK_response-1617968752","created_at":"2021-04-09T11:45:52.477336+00:00","modified_at":"2021-04-09T11:45:52.477336+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:52 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Remove_a_user_from_a_role_returns_OK_response-1617968752@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"231b3bb8-9929-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-remove_a_user_from_a_role_returns_ok_response-1617968752@datadoghq.com","created_at":"2021-04-09T11:45:52.662199+00:00","modified_at":"2021-04-09T11:45:52.691565+00:00","email":"test-remove_a_user_from_a_role_returns_ok_response-1617968752@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a4bdb5e5c6a96458f1148a4811b8d6ff?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:52 GMT
[...]
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/roles/22ff0aa6-9929-11eb-9ceb-da7ad0900002/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"231b3bb8-9929-11eb-9ceb-da7ad0900002","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '7'
      X-Ratelimit-Remaining:
      - '422'
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":0}},"data":[]}'
  recorded_at: Fri, 09 Apr 2021 11:45:52 GMT
recorded_with: VCR 6.0.0
