---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Remove_a_user_from_a_role_returns_OK_response-1618390750"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '50'
      X-Ratelimit-Remaining:
      - '476'
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"ad9cc5a2-9cff-11eb-9daf-da7ad0900002","attributes":{"name":"Test-Remove_a_user_from_a_role_returns_OK_response-1618390750","created_at":"2021-04-14T08:59:10.824744+00:00","modified_at":"2021-04-14T08:59:10.824744+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Wed, 14 Apr 2021 08:59:10 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Remove_a_user_from_a_role_returns_OK_response-1618390750@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"adb7be20-9cff-11eb-9daf-da7ad0900002","attributes":{"name":null,"handle":"test-remove_a_user_from_a_role_returns_ok_response-1618390750@datadoghq.com","created_at":"2021-04-14T08:59:11.001484+00:00","modified_at":"2021-04-14T08:59:11.030487+00:00","email":"test-remove_a_user_from_a_role_returns_ok_response-1618390750@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9f723c90019f467fd5a89c6f57bd5dd0?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 14 Apr 2021 08:59:10 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles/ad9cc5a2-9cff-11eb-9daf-da7ad0900002/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"adb7be20-9cff-11eb-9daf-da7ad0900002","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '49'
      X-Ratelimit-Remaining:
      - '475'
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"adb7be20-9cff-11eb-9daf-da7ad0900002","attributes":{"name":null,"handle":"test-remove_a_user_from_a_role_returns_ok_response-1618390750@datadoghq.com","created_at":"2021-04-14T08:59:11.001484+00:00","modified_at":"2021-04-14T08:59:11.030487+00:00","email":"test-remove_a_user_from_a_role_returns_ok_response-1618390750@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9f723c90019f467fd5a89c6f57bd5dd0?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"ad9cc5a2-9cff-11eb-9daf-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Wed, 14 Apr 2021 08:59:10 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/roles/ad9cc5a2-9cff-11eb-9daf-da7ad0900002/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"adb7be20-9cff-11eb-9daf-da7ad0900002","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '49'
      X-Ratelimit-Remaining:
      - '474'
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":0}},"data":[]}'
  recorded_at: Wed, 14 Apr 2021 08:59:10 GMT
recorded_with: VCR 6.0.0
