---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Remove-a-user-from-a-role-returns-OK-response-1601469623"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '36'
      X-Ratelimit-Remaining:
      - '482'
      X-Dd-Debug:
      - u6DvYk2HTsv9JK8VlfzAetNutf1Eel5LZX1SupoC065LdrYdAgOwtNj060V1NNiO
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"1c16ee5c-031a-11eb-b513-b75428124400","attributes":{"name":"ruby-Remove-a-user-from-a-role-returns-OK-response-1601469623","created_at":"2020-09-30T12:40:24.022242+00:00","modified_at":"2020-09-30T12:40:24.022242+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
  recorded_at: Wed, 30 Sep 2020 12:40:23 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Remove-a-user-from-a-role-returns-OK-response-1601469623@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Dd-Debug:
      - sY27RT2rAVs9Imt5xTmPKBmhAzxpa7AQtTrw7L5i9IuvHhhrKb0AIwGzO934kbtj
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"1c33bd2a-031a-11eb-b513-870c0916e48f","attributes":{"name":null,"handle":"ruby-remove-a-user-from-a-role-returns-ok-response-1601469623@datadoghq.com","created_at":"2020-09-30T12:40:24.210066+00:00","email":"ruby-remove-a-user-from-a-role-returns-ok-response-1601469623@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b1047950cdb4fb72ac6853c14b5f674f?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 30 Sep 2020 12:40:23 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles/1c16ee5c-031a-11eb-b513-b75428124400/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1c33bd2a-031a-11eb-b513-870c0916e48f","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '36'
      X-Ratelimit-Remaining:
      - '481'
      X-Dd-Debug:
      - kS9NSnhl4uQ8VlOuLb8SB7TQURuCRIbRwHRx1a1SKX/xDGoogXWL0I8r2t0CM40K
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"1c33bd2a-031a-11eb-b513-870c0916e48f","attributes":{"name":null,"handle":"ruby-remove-a-user-from-a-role-returns-ok-response-1601469623@datadoghq.com","created_at":"2020-09-30T12:40:24.210066+00:00","email":"ruby-remove-a-user-from-a-role-returns-ok-response-1601469623@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b1047950cdb4fb72ac6853c14b5f674f?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"1c16ee5c-031a-11eb-b513-b75428124400"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Wed, 30 Sep 2020 12:40:23 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/roles/1c16ee5c-031a-11eb-b513-b75428124400/users
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1c33bd2a-031a-11eb-b513-870c0916e48f","type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '36'
      X-Ratelimit-Remaining:
      - '480'
      X-Dd-Debug:
      - 1KMr27QHAQHDfYPOMxdkaV+JBh/1ku8yD6KIlLr2d217iUuzksir9gh+Nfb7tVhq
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_count":0}},"data":[]}'
  recorded_at: Wed, 30 Sep 2020 12:40:23 GMT
recorded_with: VCR 6.0.0
