---
http_interactions:
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/roles/ad3d1414-992a-11eb-9ceb-da7ad0900002
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ad3d1414-992a-11eb-9ceb-da7ad0900002","type":"roles","attributes":{"name":"Test-Update_a_role_returns_OK_response-1617969413-updated"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '6'
      X-Ratelimit-Remaining:
      - '465'
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"ad3d1414-992a-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1617969413-updated","created_at":"2021-04-09T11:56:53.905969+00:00","modified_at":"2021-04-09T11:56:54.091691+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Fri, 09 Apr 2021 11:56:53 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Update_a_role_returns_OK_response-1617971039"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '1'
      X-Ratelimit-Remaining:
      - '466'
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"759e73c9-992e-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1617971039","created_at":"2021-04-09T12:23:59.372633+00:00","modified_at":"2021-04-09T12:23:59.372633+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Fri, 09 Apr 2021 12:23:59 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/roles/759e73c9-992e-11eb-9ceb-da7ad0900002
    body:
      encoding: UTF-8
      string: '{"data":{"id":"759e73c9-992e-11eb-9ceb-da7ad0900002","type":"roles","attributes":{"name":"Test-Update_a_role_returns_OK_response-1617971039-updated"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '1'
      X-Ratelimit-Remaining:
      - '465'
      X-Dd-Debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"759e73c9-992e-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1617971039-updated","created_at":"2021-04-09T12:23:59.372633+00:00","modified_at":"2021-04-09T12:23:59.551754+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Fri, 09 Apr 2021 12:23:59 GMT
recorded_with: VCR 6.0.0
