---
http_interactions:
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/roles/1a37ceda-031a-11eb-b513-8f40f051f61d
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1a37ceda-031a-11eb-b513-8f40f051f61d","type":"roles","attributes":{"name":"ruby-Update-a-role-returns-OK-response-1601469620-updated"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '39'
      X-Ratelimit-Remaining:
      - '491'
      X-Dd-Debug:
      - kz7POzMRR1DtZrw59X15p2pAWXtFgVtBoSlzXFcGszy5lhwGx7f8GB820VUZODrm
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"1a37ceda-031a-11eb-b513-8f40f051f61d","attributes":{"name":"ruby-Update-a-role-returns-OK-response-1601469620-updated","created_at":"2020-09-30T12:40:20.882198+00:00","modified_at":"2020-09-30T12:40:21.758518+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
  recorded_at: Wed, 30 Sep 2020 12:40:20 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"ruby-Update_a_role_returns_OK_response-1606230447"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425209'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '32'
      X-Ratelimit-Remaining:
      - '434'
      X-Dd-Debug:
      - 0EJutvpOrBJC63ni/O57leUa99Oey4n8MQPI1nQqGf8zcU0cRqWsvs49QUsgOTGg
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"c451f3f6-2e66-11eb-855e-5b4d005e34f2","attributes":{"name":"ruby-Update_a_role_returns_OK_response-1606230447","created_at":"2020-11-24T15:07:28.016758+00:00","modified_at":"2020-11-24T15:07:28.016758+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
  recorded_at: Tue, 24 Nov 2020 15:07:27 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/roles/c451f3f6-2e66-11eb-855e-5b4d005e34f2
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c451f3f6-2e66-11eb-855e-5b4d005e34f2","type":"roles","attributes":{"name":"ruby-Update_a_role_returns_OK_response-1606230447-updated"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425088'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '32'
      X-Ratelimit-Remaining:
      - '432'
      X-Dd-Debug:
      - 84uqub9zpmlgg8irRO/sOXYuWjXevKJ3PeFDkydS20gUrNiRDeiB84n5Q67dF4oL
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"c451f3f6-2e66-11eb-855e-5b4d005e34f2","attributes":{"name":"ruby-Update_a_role_returns_OK_response-1606230447-updated","created_at":"2020-11-24T15:07:28.016758+00:00","modified_at":"2020-11-24T15:07:28.222340+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
  recorded_at: Tue, 24 Nov 2020 15:07:27 GMT
recorded_with: VCR 6.0.0
