---
http_interactions:
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/roles/08822b3e-3553-11eb-87b3-afa08ad4760e
    body:
      encoding: UTF-8
      string: '{"data":{"id":"08822b3e-3553-11eb-87b3-afa08ad4760e","type":"roles","attributes":{"name":"ruby-Update_a_role_returns_OK_response-1606991630-updated"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468590'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '10'
      X-Ratelimit-Remaining:
      - '487'
      X-Dd-Debug:
      - D6xOASGs+SeSoSr1onTNqEyFDtjQwnjR937DW7eQT5G8CxiOSfzMZ/Hv6SqRh+8b
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"08822b3e-3553-11eb-87b3-afa08ad4760e","attributes":{"name":"ruby-Update_a_role_returns_OK_response-1606991630-updated","created_at":"2020-12-03T10:33:50.622138+00:00","modified_at":"2020-12-03T10:33:50.850839+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
  recorded_at: Thu, 03 Dec 2020 10:33:50 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Update_a_role_returns_OK_response-1617968754"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '6'
      X-Ratelimit-Remaining:
      - '414'
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"245cef12-9929-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1617968754","created_at":"2021-04-09T11:45:54.770775+00:00","modified_at":"2021-04-09T11:45:54.770775+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:54 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/roles/245cef12-9929-11eb-9ceb-da7ad0900002
    body:
      encoding: UTF-8
      string: '{"data":{"id":"245cef12-9929-11eb-9ceb-da7ad0900002","type":"roles","attributes":{"name":"Test-Update_a_role_returns_OK_response-1617968754-updated"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '6'
      X-Ratelimit-Remaining:
      - '413'
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"245cef12-9929-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1617968754-updated","created_at":"2021-04-09T11:45:54.770775+00:00","modified_at":"2021-04-09T11:45:54.942629+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:54 GMT
recorded_with: VCR 6.0.0
