---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/roles
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test-Update_a_role_returns_OK_response-1618390752"},"type":"roles"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '48'
      X-Ratelimit-Remaining:
      - '468'
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"aeea24d6-9cff-11eb-9daf-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1618390752","created_at":"2021-04-14T08:59:13.009733+00:00","modified_at":"2021-04-14T08:59:13.009733+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Wed, 14 Apr 2021 08:59:12 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/roles/aeea24d6-9cff-11eb-9daf-da7ad0900002
    body:
      encoding: UTF-8
      string: '{"data":{"id":"aeea24d6-9cff-11eb-9daf-da7ad0900002","type":"roles","attributes":{"name":"Test-Update_a_role_returns_OK_response-1618390752-updated"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '47'
      X-Ratelimit-Remaining:
      - '467'
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
    body:
      encoding: UTF-8
      string: '{"data":{"type":"roles","id":"aeea24d6-9cff-11eb-9daf-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1618390752-updated","created_at":"2021-04-14T08:59:13.009733+00:00","modified_at":"2021-04-14T08:59:13.192729+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
  recorded_at: Wed, 14 Apr 2021 08:59:12 GMT
recorded_with: VCR 6.0.0
