http_interactions:
- recorded_at: Tue, 10 Dec 2024 15:40:47 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"filter":{"from":"now-15m","query":"@type:session AND @session.type:user","to":"now"},"options":{"time_offset":0,"timezone":"GMT"},"page":{"limit":25},"sort":"timestamp"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/events/search
  response:
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"elapsed":8,"request_id":"pddv1ChZuVVBDZFI0cFFSQzZUWGR2TUVFYTRRIiwKHKl8fXhuRXGvOyjzriL7J6Jc6RqbmKFnOgcA4oMSDPmicr8fZBUCKcqymg","status":"done"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
