http_interactions:
- recorded_at: Mon, 03 Oct 2022 19:32:50 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"test_name_create","type":"browser"},"type":"rum_application_create"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"296a7eed-c8e3-480d-b3f1-0777555d6005","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1664825571864,"org_id":321813,"updated_at":1664825571864,"is_active":false,"hash":"puba93f53dff0e15bc11416bd06e42c6cd3","type":"browser"},"type":"rum_application","id":"296a7eed-c8e3-480d-b3f1-0777555d6005"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 03 Oct 2022 19:32:50 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"this_id_will_not_match","type":"rum_application_update"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/rum/applications/296a7eed-c8e3-480d-b3f1-0777555d6005
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["The id attribute in the request body does not match the
        id in the URL"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
- recorded_at: Mon, 03 Oct 2022 19:32:50 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/rum/applications/296a7eed-c8e3-480d-b3f1-0777555d6005
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
