http_interactions:
- recorded_at: Mon, 05 Dec 2022 18:19:14 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"test_name_create","type":"browser"},"type":"rum_application_create"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"fdf8b82d-d289-408c-9e57-561abf7cd7c4","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1670264354633,"org_id":321813,"updated_at":1670264354633,"is_active":false,"hash":"pub0e8c306f38224753217726072c10be16","client_token":"pub0e8c306f38224753217726072c10be16","type":"browser"},"type":"rum_application","id":"fdf8b82d-d289-408c-9e57-561abf7cd7c4"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 05 Dec 2022 18:19:14 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"this_id_will_not_match","type":"rum_application_update"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/rum/applications/fdf8b82d-d289-408c-9e57-561abf7cd7c4
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["The id attribute in the request body does not match the
        id in the URL"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
- recorded_at: Mon, 05 Dec 2022 18:19:14 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/rum/applications/fdf8b82d-d289-408c-9e57-561abf7cd7c4
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
