http_interactions:
- recorded_at: Thu, 06 Jan 2022 00:51:50 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"compute":[{"aggregation":"count","interval":"5m","type":"timeseries"}],"filter":{"from":"now-15m","indexes":["main"],"query":"*","to":"now"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"done","request_id":"pddv1ChZ0Y2dJQVlDMVJOYWlYcjNJcDZfSnNnIiwKHJISw_RInEtZkOv0RnvMfFE5pDSf1A5hU7Jf6FISDPKeDBOH5N-0CxRhGA","elapsed":3},"data":{"buckets":[{"computes":{"c0":[{"value":1,"time":"2022-01-06T00:40:00.000Z"},{"value":1,"time":"2022-01-06T00:50:00.000Z"}]},"by":{}}]}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
