---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
    body:
      encoding: UTF-8
      string: '{"compute":[{"aggregation":"count","interval":"300","metric":"test.aggregation.ruby-Aggregate_events_returns_OK_response-1606230445","type":"timeseries"}],"filter":{"from":"1600348573","indexes":["main"],"query":"datadog-agent","to":"1600348600"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425209'
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Period:
      - '30'
      X-Ratelimit-Reset:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Dd-Debug:
      - 2vDhfmOEUBStl6KJFsHicYMybqtUSJ6AfSEVJTVlECBUwTgB5ievW7vT4NcYmXtK
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"done","request_id":"eVdJRXZETEpSZi1kNHZhY2pXSVVZUXwwRDlXajNsdnhVdjlwS05lc05oOENB","elapsed":0},"data":{"buckets":[]}}'
  recorded_at: Tue, 24 Nov 2020 15:07:25 GMT
recorded_with: VCR 6.0.0
