http_interactions:
- recorded_at: Wed, 02 Jun 2021 10:09:20 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"filter":{"from":"now-15m","indexes":["main"],"query":"*","to":"now"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      X-Dd-Version:
      - '35.4656181'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Remaining:
      - '295'
      X-Ratelimit-Reset:
      - '40'
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"done","request_id":"pddv1ChYtOGFfX0hkRFRzeVFxOUkxNFliWkh3IiwKHNZ2_uRW5V74g9U20qpKaJ5w2W333--lwIypXxoSDOtag8A05lWXfz4bnA","elapsed":3},"data":{"buckets":[{"computes":{"c0":7},"by":{}}]}}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
