---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
    body:
      encoding: UTF-8
      string: '{"compute":[{"aggregation":"count","interval":"300","metric":"test.aggregation.ruby-Aggregate_events_returns_OK_response-1606991627","type":"timeseries"}],"filter":{"from":"1600348573","indexes":["main"],"query":"datadog-agent","to":"1600348600"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468590'
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Period:
      - '30'
      X-Ratelimit-Reset:
      - '13'
      X-Ratelimit-Remaining:
      - '4'
      X-Dd-Debug:
      - NVdxML/FOEgLJzsz37XLTVVLcoGTHoJzcuGu2ZwX+JAXQfJkO87pOpfJK6E0a8TN
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"done","request_id":"elNJTGdQSGJUMXV3dnJvXzlUVVF1QXxUaDdhc3NnU1RPSGRFVlNQelJaWFFR","elapsed":0},"data":{"buckets":[]}}'
  recorded_at: Thu, 03 Dec 2020 10:33:47 GMT
recorded_with: VCR 6.0.0
