---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
    body:
      encoding: UTF-8
      string: '{"compute":[{"aggregation":"count","interval":"5m","type":"timeseries"}],"filter":{"from":"now-15m","indexes":["main"],"query":"*","to":"now"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4656900'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Reset:
      - '279'
      X-Ratelimit-Remaining:
      - '299'
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"status":"done","request_id":"pddv1ChZQeks3N2s2QlFCdW9fR2xPQmtRMURBIiwKHMxQga7hY_4vjui0grmniqh1Z8cgAa5glvLF5owSDLrYG2xrYdyuUVSVNw","elapsed":3},"data":{"buckets":[{"computes":{"c0":[{"value":2,"time":"2021-06-02T12:10:00.000Z"}]},"by":{}}]}}'
  recorded_at: Wed, 02 Jun 2021 12:10:21 GMT
recorded_with: VCR 6.0.0
