---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
    body:
      encoding: UTF-8
      string: '{"compute":[{"aggregation":"count","interval":"300","metric":"test.aggregation.Test-Aggregate_events_returns_OK_response-1617971016","type":"timeseries"}],"filter":{"from":"1600348573","indexes":["main"],"query":"datadog-agent","to":"1600348600"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Reset:
      - '84'
      X-Ratelimit-Remaining:
      - '299'
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"done","request_id":"pddv1ChZDa08xSjdMMVRHeW02S3FHdm1aQ3RBIi0KHXqxiFp9QaehD_NFcjZq61fIcoqmmcjV4OZHhwaTEgzqVJUv2scVOGN-iA4","elapsed":0},"data":{"buckets":[]}}'
  recorded_at: Fri, 09 Apr 2021 12:23:36 GMT
recorded_with: VCR 6.0.0
