---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
    body:
      encoding: UTF-8
      string: '{"compute":[{"aggregation":"count","interval":"300","metric":"test.aggregation.Test-Aggregate_events_returns_OK_response-1617968732","type":"timeseries"}],"filter":{"from":"1600348573","indexes":["main"],"query":"datadog-agent","to":"1600348600"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Reset:
      - '268'
      X-Ratelimit-Remaining:
      - '298'
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"done","request_id":"pddv1ChZNeHNfbUdFNVRzZTcza0xJaW96eTV3Ii0KHTnuP4ptVTaTcWSC3PaOL6cnB2LR7_5edoaUIwjTEgzPgyOxe9ggiH6jCKk","elapsed":0},"data":{"buckets":[]}}'
  recorded_at: Fri, 09 Apr 2021 11:45:32 GMT
recorded_with: VCR 6.0.0
