---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/events/search
    body:
      encoding: UTF-8
      string: '{"filter":{"query":"datadog-agent","indexes":["main"],"from":"2020-09-17T11:48:36+01:00","to":"2020-09-17T12:48:36+01:00"},"sort":"timestamp","page":{"limit":5}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425209'
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '35'
      X-Ratelimit-Remaining:
      - '11990'
      X-Dd-Debug:
      - EDCzTXtRLv8zbNh6LPdV9QtgRpCK5JG59t19TocHPF2cDocJtqDzJin2eCJyUekp
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Tue, 24 Nov 2020 15:07:25 GMT
recorded_with: VCR 6.0.0
