http_interactions:
- recorded_at: Thu, 15 Apr 2021 13:02:09 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"filter":{"from":"2020-09-17T11:48:36+01:00","indexes":["main"],"query":"datadog-agent","to":"2020-09-17T12:48:36+01:00"},"page":{"limit":5},"sort":"timestamp"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Reset:
      - '3471'
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/events/search
  response:
    body:
      encoding: UTF-8
      string: '{"data":[]}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
