---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/events/search
    body:
      encoding: UTF-8
      string: '{"filter":{"query":"datadog-agent","indexes":["main"],"from":"2020-09-17T11:48:36+01:00","to":"2020-09-17T12:48:36+01:00"},"sort":"timestamp","page":{"limit":5}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2184'
      X-Ratelimit-Remaining:
      - '267'
      X-Dd-Debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Fri, 09 Apr 2021 12:23:36 GMT
recorded_with: VCR 6.0.0
