---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/logs/events/search
    body:
      encoding: UTF-8
      string: '{"filter":{"query":"datadog-agent","indexes":["main"],"from":"2020-09-17T11:48:36+01:00","to":"2020-09-17T12:48:36+01:00"},"sort":"timestamp","page":{"limit":5}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116128'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '724'
      X-Ratelimit-Remaining:
      - '298'
      X-Dd-Debug:
      - Q3iASbmC8CXcQczZ/mmesVF9Hl3S9A+qhV6PH+/be9wZv0jITjuol3WLqcRl7oS5
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Wed, 30 Sep 2020 13:47:56 GMT
recorded_with: VCR 6.0.0
