http_interactions:
- recorded_at: Tue, 23 Nov 2021 09:37:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"filter":{"from":"2020-09-17T11:48:36+01:00","indexes":["main"],"query":"datadog-agent","to":"2020-09-17T12:48:36+01:00"},"page":{"limit":5},"sort":"timestamp"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '5'
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/events/search
  response:
    body:
      encoding: UTF-8
      string: '{"data":[]}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
