http_interactions:
- recorded_at: Thu, 04 Sep 2025 09:11:57 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"display_name":"AWS Region 17569771-0000-0000-0000-175697711700","is_multi":true,"key":"region_ea84cf4349d82f7c","type":"NUMBER"},"type":"custom_attribute"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types/9fd476d7-a955-454a-851d-980c655c02d3/custom_attributes
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"resource_not_found","title":"case_type not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
