http_interactions:
- recorded_at: Thu, 21 Aug 2025 12:41:43 GMT
  request:
    body:
      encoding: UTF-8
      string: "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\"\
        ,\"emoji\":\"\U0001F30D\",\"name\":\"World\"},\"type\":\"case_type\"}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types
  response:
    body:
      encoding: UTF-8
      string: "{\"data\":{\"id\":\"c19925d5-97c0-4e0e-a49e-fef562db5519\",\"type\"\
        :\"case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"\
        emoji\":\"\U0001F30D\",\"name\":\"World\"}}}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 21 Aug 2025 12:41:43 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"display_name":"AWS Region 17557801-0000-0000-0000-175578010300","is_multi":true,"key":"region_ba6c2c263864f56d","type":"NUMBER"},"type":"custom_attribute"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types/c19925d5-97c0-4e0e-a49e-fef562db5519/custom_attributes
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"63f3f34c-5ec2-4d90-ba8e-63431a6a7010","type":"custom_attribute","attributes":{"case_type":"TUNKNOWN","case_type_id":"c19925d5-97c0-4e0e-a49e-fef562db5519","display_name":"AWS
        Region 17557801-0000-0000-0000-175578010300","is_multi":true,"key":"region_ba6c2c263864f56d","type":"NUMBER"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 21 Aug 2025 12:41:43 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cases/types/c19925d5-97c0-4e0e-a49e-fef562db5519
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
