http_interactions:
- recorded_at: Thu, 04 Sep 2025 09:11:57 GMT
  request:
    body:
      encoding: UTF-8
      string: "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\"\
        ,\"emoji\":\"\U0001F30D\",\"name\":\"World\"},\"type\":\"case_type\"}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types
  response:
    body:
      encoding: UTF-8
      string: "{\"data\":{\"id\":\"8fa9005a-76e7-4742-ab6c-b68b1b9f036b\",\"type\"\
        :\"case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"\
        emoji\":\"\U0001F30D\",\"name\":\"World\"}}}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 04 Sep 2025 09:11:57 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cases/types/8fa9005a-76e7-4742-ab6c-b68b1b9f036b/custom_attributes/not-an-uuid
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Invalid Parameter","detail":"invalid
        parameter \"CustomAttributeId\" in \"path\"; expected type \"uuid\""}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
- recorded_at: Thu, 04 Sep 2025 09:11:57 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cases/types/8fa9005a-76e7-4742-ab6c-b68b1b9f036b
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
