http_interactions:
- recorded_at: Thu, 21 Aug 2025 12:41:46 GMT
  request:
    body:
      encoding: UTF-8
      string: "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\"\
        ,\"emoji\":\"\U0001F30D\",\"name\":\"World\"},\"type\":\"case_type\"}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types
  response:
    body:
      encoding: UTF-8
      string: "{\"data\":{\"id\":\"fdf93265-be3d-4a97-ae0d-540b049f7753\",\"type\"\
        :\"case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"\
        emoji\":\"\U0001F30D\",\"name\":\"World\"}}}"
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 21 Aug 2025 12:41:46 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"And its brand new description","display_name":"Attribute
        17557801-0000-0000-0000-175578010600","is_multi":true,"key":"attribute_a058b510f096c932","type":"TEXT"},"type":"custom_attribute"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types/fdf93265-be3d-4a97-ae0d-540b049f7753/custom_attributes
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"7ce13520-94b7-4391-bb64-c45776011f05","type":"custom_attribute","attributes":{"case_type":"TUNKNOWN","case_type_id":"fdf93265-be3d-4a97-ae0d-540b049f7753","description":"And
        its brand new description","display_name":"Attribute 17557801-0000-0000-0000-175578010600","is_multi":true,"key":"attribute_a058b510f096c932","type":"TEXT"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 21 Aug 2025 12:41:46 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cases/types/fdf93265-be3d-4a97-ae0d-540b049f7753/custom_attributes/7ce13520-94b7-4391-bb64-c45776011f05
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 21 Aug 2025 12:41:46 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cases/types/fdf93265-be3d-4a97-ae0d-540b049f7753
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
