http_interactions:
- recorded_at: Thu, 15 Apr 2021 13:02:27 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - +L3cOfomyGGuXv+NlljFgOXDhA8u+DdhktfMTq5dNwRAQOJlilnIrPxwleX76+2G
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '32'
    method: GET
    uri: https://api.datadoghq.com/api/v2/processes?search=process-agent&tags=testing%3Atrue&page%5Blimit%5D=2
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"after":"","size":0}},"data":[]}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
