---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/processes?page%5Blimit%5D=2&search=process-agent&tags=testing:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '14'
      X-Ratelimit-Remaining:
      - '97'
      X-Dd-Debug:
      - bd0n6Xc7oBDuuIsQhiiwXQgl/QF1W0DgXGmkgttMYD5cZ2Nvls186skfRMdB/S96
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"after":"","size":0}},"data":[]}'
  recorded_at: Fri, 09 Apr 2021 11:45:46 GMT
recorded_with: VCR 6.0.0
