---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/processes?page%5Blimit%5D=2&search=process-agent&tags=testing:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '11'
      X-Ratelimit-Remaining:
      - '99'
      X-Dd-Debug:
      - YBdJAAaCXKwIAvv2VCDw6r/yAl6x10CIWziomrb8SfHWtIlLwhURHruZMn1+t/gG
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"after":"","size":0}},"data":[]}'
  recorded_at: Fri, 09 Apr 2021 12:23:49 GMT
recorded_with: VCR 6.0.0
