---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/processes?page%5Blimit%5D=2&search=process-agent&tags=testing:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468623'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '12'
      X-Ratelimit-Remaining:
      - '99'
      X-Dd-Debug:
      - IcBiRsjZgsw3C3GYI9UqZdfE26Zt8mXBfnPp610FoUCOarhFSAw0deJpN5v2N8Dj
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"after":"","size":0}},"data":[]}'
  recorded_at: Thu, 03 Dec 2020 10:33:47 GMT
recorded_with: VCR 6.0.0
