---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/processes?page%5Blimit%5D=2&search=process-agent&tags=testing:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3406953'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '49'
      X-Ratelimit-Remaining:
      - '99'
      X-Dd-Debug:
      - Q3iASbmC8CXcQczZ/mmesVF9Hl3S9A+qhV6PH+/be9wZv0jITjuol3WLqcRl7oS5
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"after":"10b46ae67501000015e9040005c91cc83ced48820ca0d9a9de4c81eb","size":2}},"data":[{"type":"process","id":"15e9040014352a53c0f9e7320b7b7413dfcc580e","attributes":{"cmdline":"/opt/datadog-agent/embedded/bin/process-agent
        --config=/etc/datadog-agent/datadog.yaml --sysprobe-config=/etc/datadog-agent/system-probe.yaml
        --pid=/opt/datadog-agent/run/process-agent.pid","timestamp":"2020-11-20T16:09:27","start":"2020-11-20T16:08:26","user":"uid:118","pid":1236,"ppid":1,"host":"gardie-frog","tags":["testing:true","host:gardie-frog","user:uid:118","command:process-agent","state_zombie:false"]}},{"type":"process","id":"15e9040005c91cc83ced48820ca0d9a9de4c81eb","attributes":{"cmdline":"process-agent
        --config=/etc/datadog-agent/datadog.yaml","timestamp":"2020-11-20T16:09:27","start":"2020-11-20T16:09:14","user":"root","pid":5223,"ppid":5212,"host":"gardie-frog","tags":["testing:true","host:gardie-frog","user:uid:118","command:process-agent","state_zombie:false"]}}]}'
  recorded_at: Fri, 20 Nov 2020 16:17:11 GMT
recorded_with: VCR 6.0.0
