http_interactions:
- recorded_at: Tue, 24 Oct 2023 18:32:10 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Sample powerpack","group_widget":{"definition":{"layout_type":"ordered","show_title":true,"title":"Sample
        Powerpack","type":"group","widgets":[{"definition":{"content":"test","type":"note"}}]},"layout":{"height":3,"width":12,"x":0,"y":0},"live_span":"1h"},"name":"Test-Create_a_new_powerpack_returns_OK_response-1698172330","tags":["tag:sample"],"template_variables":[{"defaults":["*"],"name":"sample"}]},"type":"powerpack"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/powerpacks
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"powerpack","id":"a5892a4e-729b-11ee-8449-da7ad0900002","attributes":{"name":"Test-Create_a_new_powerpack_returns_OK_response-1698172330","description":"Sample
        powerpack","group_widget":{"definition":{"layout_type":"ordered","show_title":true,"title":"Sample
        Powerpack","type":"group","widgets":[{"definition":{"content":"test","type":"note"},"id":2803120731030485}]},"layout":{"height":3,"width":12,"x":0,"y":0},"live_span":"1h"},"template_variables":[{"defaults":["*"],"name":"sample"}],"tags":["tag:sample"]},"relationships":{"author":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}},"included":[{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"name":"CI
        Account","email":"team-intg-tools-libs-spam@datadoghq.com"}}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 24 Oct 2023 18:32:10 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/powerpacks/a5892a4e-729b-11ee-8449-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
