http_interactions:
- recorded_at: Thu, 05 Oct 2023 15:56:23 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Powerpack for ABC","group_widget":{"definition":{"layout_type":"ordered","type":"group1","widgets":[]}},"name":"Sample
        Powerpack","tags":["tag:foo1"],"template_variables":[{"defaults":["*"],"name":"test"}]},"type":"powerpack"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/powerpacks
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Invalid group widget for powerpack. Error: ''group1'' is
        not one of [''group'']\n\nFailed validating ''enum'' in schema[''properties''][''type'']:\n    {''enum'':
        [''group'']}\n\nOn instance[''type'']:\n    ''group1''."]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
