http_interactions:
- recorded_at: Tue, 19 Sep 2023 20:34:23 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Sample powerpack","group_widget":{"definition":{"layout_type":"ordered","show_title":true,"title":"Sample
        Powerpack","type":"group","widgets":[{"definition":{"content":"test","type":"note"}}]},"layout":{"height":3,"width":12,"x":0,"y":0}},"name":"Sample
        Powerpack","tags":["tag:sample"],"template_variables":[{"defaults":["*"],"name":"sample"}]},"type":"powerpack"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/powerpacks
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"powerpack","id":"eb0c0428-572b-11ee-92ec-da7ad0900002","attributes":{"name":"Sample
        Powerpack","description":"Sample powerpack","group_widget":{"definition":{"layout_type":"ordered","show_title":true,"title":"Sample
        Powerpack","type":"group","widgets":[{"definition":{"content":"test","type":"note"},"id":8888289347240039}]},"layout":{"height":3,"width":12,"x":0,"y":0}},"template_variables":[{"defaults":["*"],"name":"sample"}],"tags":["tag:sample"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 19 Sep 2023 20:34:23 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Sample powerpack","group_widget":{},"name":"Sample
        Powerpack","tags":["tag:sample"],"template_variables":[{"defaults":["*"],"name":"sample"}]},"type":"powerpack"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/powerpacks/eb0c0428-572b-11ee-92ec-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Invalid group widget for powerpack. Error: ''type'' is
        a required property\n\nFailed validating ''required'' in schema:\n    {''additionalProperties'':
        False,\n     ''properties'': {''background_color'': {''type'': ''string''},\n                    ''banner_img'':
        {''type'': ''string''},\n                    ''layout_type'': {''enum'': [''ordered'']},\n                    ''reflow_type'':
        {''enum'': [''auto'', ''fixed'']},\n                    ''show_title'': {'[...]
- recorded_at: Tue, 19 Sep 2023 20:34:23 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/powerpacks/eb0c0428-572b-11ee-92ec-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
