http_interactions:
- recorded_at: Wed, 11 Oct 2023 15:48:57 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Sample powerpack","group_widget":{"definition":{"layout_type":"ordered","show_title":true,"title":"Sample
        Powerpack","type":"group","widgets":[{"definition":{"content":"test","type":"note"}}]},"layout":{"height":3,"width":12,"x":0,"y":0}},"name":"Test-Update_a_powerpack_returns_Bad_Request_response-1697039337","tags":["tag:sample"],"template_variables":[{"defaults":["*"],"name":"sample"}]},"type":"powerpack"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/powerpacks
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"powerpack","id":"b030a42a-684d-11ee-ad9a-da7ad0900002","attributes":{"name":"Test-Update_a_powerpack_returns_Bad_Request_response-1697039337","description":"Sample
        powerpack","group_widget":{"definition":{"layout_type":"ordered","show_title":true,"title":"Sample
        Powerpack","type":"group","widgets":[{"definition":{"content":"test","type":"note"},"id":8452824404539211}]},"layout":{"height":3,"width":12,"x":0,"y":0}},"template_variables":[{"defaults":["*"],"name":"sample"}],"tags":["tag:sample"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 11 Oct 2023 15:48:57 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Sample powerpack","group_widget":{"definition":{"layout_type":"ordered","type":"group1","widgets":[]}},"name":"Sample
        Powerpack","tags":["tag:sample"],"template_variables":[{"defaults":["*"],"name":"sample"}]},"type":"powerpack"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/powerpacks/b030a42a-684d-11ee-ad9a-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Invalid group widget for powerpack. Error: ''group1'' is
        not one of [''group'']\n\nFailed validating ''enum'' in schema[''properties''][''type'']:\n    {''enum'':
        [''group'']}\n\nOn instance[''type'']:\n    ''group1''."]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- recorded_at: Wed, 11 Oct 2023 15:48:57 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/powerpacks/b030a42a-684d-11ee-ad9a-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
