http_interactions:
- recorded_at: Thu, 30 Jan 2025 22:30:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"This is a bad example app","queries":[],"rootInstanceName":"grid0"},"type":"appDefinitions"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/app-builder/apps
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"missing required field","source":{"pointer":"/data/attributes/name"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
