http_interactions:
- recorded_at: Mon, 18 May 2026 19:51:47 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"Adds new dashboard widgets and
        a few bug fixes.","title":"Release v1.2 to production"},"type":"publishRequest"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e/publish-request
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","id":"c9247d40-2291-4860-90ac-9c2441ff23db","title":"app
        not found","detail":"app with id 7addb29b-f935-472c-ae79-d1963979a23e not
        found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
