http_interactions:
- recorded_at: Mon, 18 May 2026 17:39:16 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/app-builder/blueprint/00000000-0000-0000-0000-000000000001
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","id":"75010b80-a44e-47bd-b903-e38f79efce20","title":"blueprint
        not found","detail":"blueprint with id 00000000-0000-0000-0000-000000000001
        not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
