http_interactions:
- recorded_at: Mon, 18 May 2026 19:51:53 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e/versions
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","id":"4dfd53b4-6987-4868-b330-af0535219c61","title":"app
        not found","detail":"app with id 7addb29b-f935-472c-ae79-d1963979a23e not
        found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
