http_interactions:
- recorded_at: Thu, 30 Jan 2025 22:30:43 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"components":[{"events":[],"name":"grid0","properties":{"children":[{"events":[],"name":"gridCell0","properties":{"children":[{"events":[],"name":"calloutValue0","properties":{"isDisabled":false,"isLoading":false,"isVisible":true,"label":"CPU
        Usage","size":"sm","style":"vivid_yellow","unit":"kB","value":"42"},"type":"calloutValue"}],"isVisible":"true","layout":{"default":{"height":8,"width":2,"x":0,"y":0}}},"type":"gridCell"}]},"type":"grid"}],"description":"This
        is a simple example app","name":"Example App","queries":[],"rootInstanceName":"grid0"},"type":"appDefinitions"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/app-builder/apps
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"4e22b013-8758-49b7-98ea-0b2508c97bbf","type":"appDefinitions"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 30 Jan 2025 22:30:43 GMT
  request:
    body: null
    headers:
    method: POST
    uri: https://api.datadoghq.com/api/v2/app-builder/apps/4e22b013-8758-49b7-98ea-0b2508c97bbf/deployment
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"62438b66-95eb-47d3-b540-a5d4b0b0a791","type":"deployment","attributes":{"app_version_id":"178fbd22-f8b5-4841-92eb-f8c1c03d44c1"},"meta":{"created_at":"2025-01-30T22:30:44.12194Z","user_id":15479137,"user_uuid":"b3f98453-b289-11ef-a4e9-d6d283f92d91","user_name":"oliver.li@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 30 Jan 2025 22:30:43 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/app-builder/apps/4e22b013-8758-49b7-98ea-0b2508c97bbf
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"4e22b013-8758-49b7-98ea-0b2508c97bbf","type":"appDefinitions"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
