http_interactions:
- recorded_at: Mon, 18 May 2026 19:52:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"protectionLevel":"approval_required"},"type":"protectionLevel"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e/protection-level
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","id":"ac8e4f99-d059-43c6-b48a-2feb634c46b9","title":"app
        not found","detail":"app with id 7addb29b-f935-472c-ae79-d1963979a23e not
        found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
