http_interactions:
- recorded_at: Mon, 18 May 2026 19:52:07 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"tags":["team:platform","service:ops"]},"type":"tags"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e/tags
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","id":"26c91c86-51b3-4c5f-98b4-713698730b08","title":"app
        not found","detail":"app with id 7addb29b-f935-472c-ae79-d1963979a23e not
        found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
