http_interactions:
- recorded_at: Thu, 23 Oct 2025 22:21:53 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"arn":"arn:aws:lambda:us-west-2:123456789012:function:my-function"},"type":"aws_resource"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/ondemand/aws
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"438046ce-01cd-4ae5-b117-ff971e6fa449","type":"aws_resource","attributes":{"arn":"arn:aws:lambda:us-west-2:123456789012:function:my-function","created_at":"2025-10-23T22:21:53.957627Z","status":"QUEUED"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
recorded_with: VCR 6.0.0
