http_interactions:
- recorded_at: Thu, 23 Oct 2025 22:21:56 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"vuln_containers_os":true,"vuln_host_os":true},"id":"no","type":"gcp_scan_options"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"project id must be 6-30
        characters, got 2"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
