http_interactions:
- recorded_at: Thu, 23 Oct 2025 22:21:56 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"vuln_containers_os":true,"vuln_host_os":true},"id":"api-spec-test","type":"gcp_scan_options"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"409","detail":"gcp scan options already exist
        for project api-spec-test"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 409
      message: Conflict
recorded_with: VCR 6.0.0
