http_interactions:
- recorded_at: Thu, 23 Oct 2025 22:21:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"vuln_containers_os":true,"vuln_host_os":true},"id":"new-project","type":"gcp_scan_options"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"new-project","type":"gcp_scan_options","attributes":{"vuln_containers_os":true,"vuln_host_os":true}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 23 Oct 2025 22:21:55 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp/new-project
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
