http_interactions:
- recorded_at: Sun, 12 Oct 2025 15:49:49 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/ondemand/aws/63d6b4f5-e5d0-4d90-824a-9580f05f026a
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"63d6b4f5-e5d0-4d90-824a-9580f05f026a","type":"aws_resource","attributes":{"arn":"arn:aws:lambda:eu-west-3:376334461865:function:This-Is-An-Api-Spec-Test","created_at":"2025-03-05T14:24:46.915915Z","status":"ABORTED"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
