http_interactions:
- recorded_at: Sun, 12 Oct 2025 15:49:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"vuln_containers_os":false},"id":"api-spec-test","type":"gcp_scan_options"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp/api-spec-test
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"api-spec-test","type":"gcp_scan_options","attributes":{"vuln_containers_os":false,"vuln_host_os":true}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
