http_interactions:
- recorded_at: Sun, 12 Oct 2025 15:49:58 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"vuln_containers_os":true,"vuln_host_os":true},"id":"000000000005","type":"aws_scan_options"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws/000000000005
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","detail":"no aws scan options found for
        account 000000000005"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
