http_interactions:
- recorded_at: Sun, 12 Oct 2025 15:50:00 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"lambda":false,"sensitive_data":false,"vuln_containers_os":true,"vuln_host_os":true},"id":"000000000002","type":"aws_scan_options"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"409","detail":"aws scan options already exist
        for account 000000000002"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 409
      message: Conflict
recorded_with: VCR 6.0.0
