http_interactions:
- recorded_at: Sun, 12 Oct 2025 15:50:03 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"arn":"invalid-arn"},"type":"aws_resource"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/ondemand/aws
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"invalid aws arn"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
