http_interactions:
- recorded_at: Sat, 01 Mar 2025 15:32:48 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"lambda":true,"sensitive_data":false,"vuln_containers_os":true,"vuln_host_os":true},"id":"000000000003","type":"aws_scan_options"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"000000000003","type":"aws_scan_options","attributes":{"lambda":true,"sensitive_data":false,"vuln_containers_os":true,"vuln_host_os":true}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Sat, 01 Mar 2025 15:32:48 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws/000000000003
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
