http_interactions:
- recorded_at: Sun, 12 Oct 2025 15:50:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"arn":"arn:aws:lambda:us-west-2:123456789012:function:my-function"},"type":"aws_resource"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/ondemand/aws
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"874b5481-1668-4af3-b536-007f85fcf64c","type":"aws_resource","attributes":{"arn":"arn:aws:lambda:us-west-2:123456789012:function:my-function","created_at":"2025-10-12T15:50:03.035807Z","status":"QUEUED"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
recorded_with: VCR 6.0.0
