http_interactions:
- recorded_at: Fri, 17 Jul 2026 06:38:47 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"cloud_function":true,"vuln_containers_os":false},"id":"api-spec-test","type":"gcp_scan_options"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp/api-spec-test
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"api-spec-test","type":"gcp_scan_options","attributes":{"cloud_function":true,"compliance_host":false,"vuln_containers_os":false,"vuln_host_os":true}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
