http_interactions:
- recorded_at: Thu, 23 Oct 2025 22:22:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"different-project-id","type":"gcp_scan_options"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp/no
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"project id must be 6-30
        characters, got 2"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
