http_interactions:
- recorded_at: Thu, 23 Oct 2025 22:22:00 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"vuln_containers_os":true,"vuln_host_os":true},"id":"000000000005","type":"aws_scan_options"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws/000000000003
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Generic Error","detail":"data id must be equal
        to the id provided in the url path"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
