http_interactions:
- recorded_at: Mon, 22 May 2023 14:29:16 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"end":1684769356,"message":"Test-Cancel_a_downtime_returns_OK_response-1684765756","recurrence":{"period":1,"type":"weeks","until_date":1686580156,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testcanceladowntimereturnsokresponse1684765756"],"start":1684765756,"timezone":"Etc/UTC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      encoding: UTF-8
      string: '{"id":2941964683,"monitor_id":null,"org_id":321813,"start":1684765756,"end":1684769356,"canceled":null,"created":1684765756,"modified":1684765756,"message":"Test-Cancel_a_downtime_returns_OK_response-1684765756","active":true,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Mon","Tue","Wed","Thu","Fri"],"until_occurrences":null,"until_date":1686580156},"timezone":"Etc/UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":2,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no
        data","warn"],"uuid":"08391596-f8ad-11ed-a637-da7ad0900002","scope":["test:testcanceladowntimereturnsokresponse1684765756"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 22 May 2023 14:29:16 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/2941964683
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
- recorded_at: Mon, 22 May 2023 14:29:16 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/2941964683
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
