http_interactions:
- recorded_at: Thu, 06 Jan 2022 00:50:48 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"end":1641433848,"message":"Test-Schedule_a_downtime_with_invalid_weekdays-1641430248","recurrence":{"period":1,"type":"weeks","week_days":["mon","tue"]},"scope":["*"],"start":1641430248,"timezone":"Etc/UTC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Invalid set of days in week_days. Be sure that the first
        letter is capitalized."]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
