http_interactions:
- recorded_at: Thu, 04 May 2023 18:17:39 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"end":1683227859,"message":"Test-Schedule_a_downtime_until_date-1683224259","monitor_tags":["tag0"],"mute_first_recovery_notification":true,"notify_end_states":["alert"],"notify_end_types":["canceled"],"recurrence":{"period":1,"type":"weeks","until_date":1685038659,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["*"],"start":1683224259,"timezone":"Etc/UTC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      encoding: UTF-8
      string: '{"id":2890657859,"monitor_id":null,"org_id":321813,"start":1683224259,"end":1683227859,"canceled":null,"created":1683224259,"modified":1683224259,"message":"Test-Schedule_a_downtime_until_date-1683224259","active":true,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Mon","Tue","Wed","Thu","Fri"],"until_occurrences":null,"until_date":1685038659},"timezone":"Etc/UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":0,"status":"active","monitor_tags":["tag0"],"mute_first_recovery_notification":true,"notify_end_types":["canceled"],"notify_end_states":["alert"],"uuid":"f441cca8-eaa7-11ed-8c83-da7ad0900002","scope":["*"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 04 May 2023 18:17:39 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/2890657859
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
