http_interactions:
- recorded_at: Thu, 12 May 2022 09:49:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"message":"Test-Schedule_a_downtime_returns_OK_response-1652348999","recurrence":{"period":1,"type":"weeks","until_date":1654163399,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testscheduleadowntimereturnsokresponse1652348999"],"start":1652348999,"timezone":"Etc/UTC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      encoding: UTF-8
      string: '{"recurrence":{"until_date":1654163399,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"mute_first_recovery_notification":false,"created":1652348999,"org_id":321813,"modified":1652348999,"disabled":false,"start":1652348999,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testscheduleadowntimereturnsokresponse1652348999"],"message":"Test-Schedule_a_downtime_returns_OK_response-1652348999","downtime_type":2,"id":1944162282,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 12 May 2022 09:49:59 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/1944162282
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
