http_interactions:
- recorded_at: Tue, 23 Nov 2021 19:51:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"message":"some message Notify: @hipchat-channel","name":"Test-Schedule_a_monitor_downtime_returns_OK_response-1637697115","options":{"enable_logs_sample":true,"escalation_message":"the
        situation has escalated","evaluation_delay":700,"groupby_simple_monitor":true,"include_tags":true,"locked":false,"new_host_delay":600,"no_data_timeframe":null,"notify_audit":false,"notify_no_data":false,"renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"warning":1},"timeout_h":24},"priority":3,"query":"logs(\"service:foo
        AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
        > 2","tags":["test:testscheduleamonitordowntimereturnsokresponse1637697115","env:ci"],"type":"log
        alert"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Period:
      - '10'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '4'
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor
  response:
    body:
      encoding: UTF-8
      string: '{"restricted_roles":null,"tags":["test:testscheduleamonitordowntimereturnsokresponse1637697115","env:ci"],"deleted":null,"query":"logs(\"service:foo
        AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
        > 2","message":"some message Notify: @hipchat-channel","id":55498427,"multi":true,"name":"Test-Schedule_a_monitor_downtime_returns_OK_response-1637697115","created":"2021-11-23T19:51:56.161872+00:00","created_at":1637697116000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2021-11-23T19:51:56.161872+00:00","priority":3,"overall_state_modified":null,"overall_state":"No
        Data","type":"log alert","options":{"notify_audit":false,"locked":false,"timeout_h":24,"renotify_interval":60,"include_tags":true,"no_data_timeframe":null,"silenced":{},"new_host_delay":600,"require_full_window":true,"notify_no_data":false,"enable_logs_sample":true,"groupby_simple_monitor":true,"escalation_message":"the
        situation has escalated","evaluation_delay":700,"thresholds":{"critical":2.0,"warning":1.0}}}'
    status:
      code: 200
      message: OK
- recorded_at: Tue, 23 Nov 2021 19:51:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"message":"Test-Schedule_a_monitor_downtime_returns_OK_response-1637697115","monitor_id":55498427,"scope":["test:testscheduleamonitordowntimereturnsokresponse1637697115"],"start":1637697115,"timezone":"Etc/UTC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      encoding: UTF-8
      string: '{"recurrence":null,"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":55498427,"created":1637697116,"org_id":321813,"modified":1637697116,"disabled":false,"start":1637697115,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testscheduleamonitordowntimereturnsokresponse1637697115"],"message":"Test-Schedule_a_monitor_downtime_returns_OK_response-1637697115","downtime_type":2,"id":1581499822,"updater_id":null}'
    status:
      code: 200
      message: OK
- recorded_at: Tue, 23 Nov 2021 19:51:55 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/1581499822
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
- recorded_at: Tue, 23 Nov 2021 19:51:55 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/monitor/55498427
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_monitor_id":55498427}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
