http_interactions:
- recorded_at: Tue, 19 Oct 2021 14:57:42 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"end":1634659062,"message":"Test-Schedule_a_downtime_with_invalid_type_hours-1634655462","recurrence":{"period":1,"type":"hours"},"scope":["*"],"start":1634655462,"timezone":"Etc/UTC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["Invalid recurrence type"]}'
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
