http_interactions:
- recorded_at: Thu, 12 May 2022 09:49:58 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"end":1652352598,"message":"Test-Schedule_a_downtime_once_a_year-1652348998","mute_first_recovery_notification":true,"recurrence":{"period":1,"type":"years"},"scope":["*"],"start":1652348998,"timezone":"Etc/UTC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      encoding: UTF-8
      string: '{"recurrence":{"until_date":null,"until_occurrences":null,"week_days":null,"type":"years","period":1},"end":1652352598,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"mute_first_recovery_notification":true,"created":1652348998,"org_id":321813,"modified":1652348998,"disabled":false,"start":1652348998,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-Schedule_a_downtime_once_a_year-1652348998","downtime_type":0,"id":1944162271,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 12 May 2022 09:49:58 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/1944162271
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
