http_interactions:
- recorded_at: Mon, 10 Jan 2022 15:50:17 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"message":"Test-Update_a_downtime_returns_OK_response-1641829817","recurrence":{"period":1,"type":"weeks","until_date":1643644217,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testupdateadowntimereturnsokresponse1641829817"],"start":1641829817,"timezone":"Etc/UTC"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      encoding: UTF-8
      string: '{"recurrence":{"until_date":1643644217,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1641829817,"org_id":321813,"modified":1641829817,"disabled":false,"start":1641829817,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testupdateadowntimereturnsokresponse1641829817"],"message":"Test-Update_a_downtime_returns_OK_response-1641829817","downtime_type":2,"id":1672791380,"updater_id":null}'
    status:
      code: 200
      message: OK
- recorded_at: Mon, 10 Jan 2022 15:50:17 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"message":"Test-Update_a_downtime_returns_OK_response-1641829817-updated"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/downtime/1672791380
  response:
    body:
      encoding: UTF-8
      string: '{"recurrence":{"until_date":1643644217,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1641829817,"org_id":321813,"modified":1641829818,"disabled":false,"start":1641829817,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testupdateadowntimereturnsokresponse1641829817"],"message":"Test-Update_a_downtime_returns_OK_response-1641829817-updated","downtime_type":2,"id":1672791380,"updater_id":1445416}'
    status:
      code: 200
      message: OK
- recorded_at: Mon, 10 Jan 2022 15:50:17 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/1672791380
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
