http_interactions:
- recorded_at: Wed, 13 Sep 2023 15:57:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"forwarderDestination":{"auth":{"headerName":"header","headerValue":"value","type":"custom_header"},"endpoint":"https://example.org/my-intake","type":"http"},"name":"my-destination","version":0},"type":"custom_destination"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"9f7d9a53-27d4-4c47-bf1c-6db185bc9711","attributes":{"version":0,"name":"my-destination","query":"","enabled":true,"bufferMaxBytes":5242880,"bufferTimeoutSeconds":60,"maxRetryDurationSeconds":300,"compression":"GZIP","forwarderDestination":{"type":"http","endpoint":"https://example.org/my-intake","auth":{"type":"custom_header","headerName":"header","headerValue":"__REDACTED_SECRET__"}}},"type":"custom_destination"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 13 Sep 2023 15:57:02 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations/9f7d9a53-27d4-4c47-bf1c-6db185bc9711
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
