http_interactions:
- recorded_at: Tue, 12 Mar 2024 09:20:08 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":false,"forward_tags":false,"forward_tags_restriction_list":["datacenter","host"],"forward_tags_restriction_list_type":"ALLOW_LIST","forwarder_destination":{"auth":{"header_name":"MY-AUTHENTICATION-HEADER","header_value":"my-secret","type":"custom_header"},"endpoint":"https://example.com","type":"http"},"name":"Nginx
        logs","query":"source:nginx"},"type":"custom_destination"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/custom-destinations
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"b522ed5a-3fab-47f4-a828-d34bd5632656","attributes":{"name":"Nginx
        logs","query":"source:nginx","enabled":false,"forwarder_destination":{"endpoint":"https://example.com","auth":{"header_name":"MY-AUTHENTICATION-HEADER","type":"custom_header"},"type":"http"},"forward_tags_restriction_list_type":"ALLOW_LIST","forward_tags_restriction_list":["datacenter","host"],"forward_tags":false},"type":"custom_destination"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 12 Mar 2024 09:20:08 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/custom-destinations/b522ed5a-3fab-47f4-a828-d34bd5632656
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
