http_interactions:
- recorded_at: Tue, 12 Sep 2023 09:38:40 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"forwarderDestination":{"accessToken":"secret","endpoint":"https://example.org/my-intake","type":"splunk_hec"},"name":"my-destination","version":0},"type":"custom_destination"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"db6771d4-34c3-4fd1-af5d-c248848c611f","attributes":{"version":0,"name":"my-destination","query":"","enabled":true,"bufferMaxBytes":5242880,"bufferTimeoutSeconds":60,"maxRetryDurationSeconds":300,"compression":"GZIP","forwarderDestination":{"type":"splunk_hec","endpoint":"https://example.org/my-intake","accessToken":"__REDACTED_SECRET__"}},"type":"custom_destination"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 12 Sep 2023 09:38:40 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations/db6771d4-34c3-4fd1-af5d-c248848c611f
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
