http_interactions:
- recorded_at: Tue, 12 Sep 2023 09:38:47 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"forwarderDestination":{"auth":{"password":"password","type":"basic","username":"username"},"endpoint":"https://example.org/my-intake","type":"http"},"name":"destination-Test-Update_a_custom_destination_returns_Conflict_response-1694511527","version":0},"type":"custom_destination"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"93c427ef-84cb-4f34-927e-916c4d773db7","attributes":{"version":0,"name":"destination-Test-Update_a_custom_destination_returns_Conflict_response-1694511527","query":"","enabled":true,"bufferMaxBytes":5242880,"bufferTimeoutSeconds":60,"maxRetryDurationSeconds":300,"compression":"GZIP","forwarderDestination":{"type":"http","endpoint":"https://example.org/my-intake","auth":{"type":"basic","username":"__REDACTED_SECRET__","password":"__REDACTED_SECRET__"}}},"type":"custom_destination"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 12 Sep 2023 09:38:47 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"forwarderDestination":{"auth":{"password":"password","type":"basic","username":"username"},"endpoint":"https://example.org/my-intake","type":"http"},"name":"destination-Test-Update_a_custom_destination_returns_Conflict_response-1694511527--updated-name","version":-1},"id":"93c427ef-84cb-4f34-927e-916c4d773db7","type":"custom_destination"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations/93c427ef-84cb-4f34-927e-916c4d773db7
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["ConcurrentModification"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 409
      message: Conflict
- recorded_at: Tue, 12 Sep 2023 09:38:47 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations/93c427ef-84cb-4f34-927e-916c4d773db7
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
