http_interactions:
- recorded_at: Fri, 05 Apr 2024 19:31:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":false,"forward_tags":false,"forward_tags_restriction_list":["host"],"forward_tags_restriction_list_type":"BLOCK_LIST","forwarder_destination":{"auth":{"password":"my-password","type":"basic","username":"my-username"},"endpoint":"https://example.com","type":"http"},"name":"Test-Update_a_custom_destination_returns_OK_response-1712345501","query":"source:nginx"},"type":"custom_destination"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/custom-destinations
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"60f4b01e-7853-4d48-8f6d-b98802dca889","attributes":{"name":"Test-Update_a_custom_destination_returns_OK_response-1712345501","query":"source:nginx","enabled":false,"forwarder_destination":{"endpoint":"https://example.com","auth":{"type":"basic"},"type":"http"},"forward_tags_restriction_list_type":"BLOCK_LIST","forward_tags_restriction_list":["host"],"forward_tags":false},"type":"custom_destination"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 05 Apr 2024 19:31:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":false,"forward_tags":false,"forward_tags_restriction_list_type":"BLOCK_LIST","name":"Nginx
        logs (Updated)","query":"source:nginx"},"id":"60f4b01e-7853-4d48-8f6d-b98802dca889","type":"custom_destination"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/logs/config/custom-destinations/60f4b01e-7853-4d48-8f6d-b98802dca889
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"60f4b01e-7853-4d48-8f6d-b98802dca889","attributes":{"name":"Nginx
        logs (Updated)","query":"source:nginx","enabled":false,"forwarder_destination":{"endpoint":"https://example.com","auth":{"type":"basic"},"type":"http"},"forward_tags_restriction_list_type":"BLOCK_LIST","forward_tags_restriction_list":["host"],"forward_tags":false},"type":"custom_destination"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 05 Apr 2024 19:31:41 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/custom-destinations/60f4b01e-7853-4d48-8f6d-b98802dca889
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
