http_interactions:
- recorded_at: Wed, 13 Sep 2023 15:57:12 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"forwarderDestination":{"auth":{"password":"password","type":"basic","username":"username"},"endpoint":"https://example.org/my-intake","type":"http"},"name":"so--updated-name","version":0},"id":"some-non-existent-id","type":"custom_destination"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations/some-non-existent-id
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["NotFound"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
