http_interactions:
- recorded_at: Wed, 25 Mar 2026 16:23:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"enabled":false,"forward_tags":false,"forwarder_destination":{"access_token":"my-access-token","endpoint":"https://example.com","sourcetype":null,"type":"splunk_hec"},"name":"Test-Update_a_Splunk_custom_destination_s_destination_preserves_the_null_sourcetype_returns_OK_response-1774455839","query":"source:nginx"},"type":"custom_destination"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/custom-destinations
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1cf9102b-169d-4a5c-a82b-aa5b3a12d6c5","attributes":{"name":"Test-Update_a_Splunk_custom_destination_s_destination_preserves_the_null_sourcetype_returns_OK_response-1774455839","query":"source:nginx","enabled":false,"forwarder_destination":{"endpoint":"https://example.com","type":"splunk_hec","sourcetype":null},"forward_tags_restriction_list_type":"ALLOW_LIST","forward_tags_restriction_list":[],"forward_tags":false},"type":"custom_destination"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 25 Mar 2026 16:23:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"forwarder_destination":{"access_token":"my-access-token","endpoint":"https://updated-example.com","type":"splunk_hec"}},"id":"1cf9102b-169d-4a5c-a82b-aa5b3a12d6c5","type":"custom_destination"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/logs/config/custom-destinations/1cf9102b-169d-4a5c-a82b-aa5b3a12d6c5
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1cf9102b-169d-4a5c-a82b-aa5b3a12d6c5","attributes":{"name":"Test-Update_a_Splunk_custom_destination_s_destination_preserves_the_null_sourcetype_returns_OK_response-1774455839","query":"source:nginx","enabled":false,"forwarder_destination":{"endpoint":"https://updated-example.com","type":"splunk_hec","sourcetype":null},"forward_tags_restriction_list_type":"ALLOW_LIST","forward_tags_restriction_list":[],"forward_tags":false},"type":"custom_destination"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 25 Mar 2026 16:23:59 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/custom-destinations/1cf9102b-169d-4a5c-a82b-aa5b3a12d6c5
  response:
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
