http_interactions:
- recorded_at: Wed, 13 Sep 2023 15:57:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"forwarderDestination":{"auth":{"password":"password","type":"basic","username":"username"},"endpoint":"https://example.org/my-intake","type":"http"},"name":"destination-Test-Update_a_custom_destination_returns_Conflict_response-1694620631","version":0},"type":"custom_destination"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"8e747636-5cff-4b65-bfe3-8f7a498820f1","attributes":{"version":0,"name":"destination-Test-Update_a_custom_destination_returns_Conflict_response-1694620631","query":"","enabled":true,"bufferMaxBytes":5242880,"bufferTimeoutSeconds":60,"maxRetryDurationSeconds":300,"compression":"GZIP","forwarderDestination":{"type":"http","endpoint":"https://example.org/my-intake","auth":{"type":"basic","username":"__REDACTED_SECRET__","password":"__REDACTED_SECRET__"}}},"type":"custom_destination"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 13 Sep 2023 15:57:11 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"forwarderDestination":{"auth":{"password":"password","type":"basic","username":"username"},"endpoint":"https://example.org/my-intake","type":"http"},"name":"destination-Test-Update_a_custom_destination_returns_Conflict_response-1694620631--updated-name","version":-1},"id":"8e747636-5cff-4b65-bfe3-8f7a498820f1","type":"custom_destination"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations/8e747636-5cff-4b65-bfe3-8f7a498820f1
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["ConcurrentModification"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 409
      message: Conflict
- recorded_at: Wed, 13 Sep 2023 15:57:11 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations/8e747636-5cff-4b65-bfe3-8f7a498820f1
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
