http_interactions:
- recorded_at: Tue, 28 Mar 2023 20:28:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"contacts":[{"contact":"contact@datadoghq.com","name":"Team Email","type":"email"}],"dd-service":"service-Test-Create_or_update_service_definition_using_schema_v2_1_returns_CREATED_response-1680035324","extensions":{"myorgextension":"extensionvalue"},"integrations":{"opsgenie":{"region":"US","service-url":"https://my-org.opsgenie.com/service/123e4567-e89b-12d3-a456-426614174000"},"pagerduty":{"service-url":"https://my-org.pagerduty.com/service-directory/PMyService"}},"links":[{"name":"Runbook","type":"runbook","url":"https://my-runbook"},{"name":"Source
        Code","provider":"GitHub","type":"repo","url":"https://github.com/DataDog/schema"},{"name":"Architecture","provider":"Gigoogle
        drivetHub","type":"doc","url":"https://my-runbook"}],"schema-version":"v2.1","tags":["my:tag","service:tag"],"team":"my-team"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/services/definitions
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"service-definition","attributes":{"meta":{"last-modified-time":"2023-03-28T20:28:44.264527027Z","github-html-url":"","ingestion-source":"api","origin":"unknown","origin-detail":"","warnings":[],"ingested-schema-version":"v2.1"},"schema":{"schema-version":"v2.1","dd-service":"service-test-create_or_update_service_definition_using_schema_v2_1_returns_created_response-1680035324","team":"my-team","contacts":[{"name":"Team
        Email","type":"email","contact":"contact@datadoghq.com"}],"links":[{"name":"Runbook","type":"runbook","url":"https://my-runbook"},{"name":"Source
        Code","type":"repo","provider":"GitHub","url":"https://github.com/DataDog/schema"},{"name":"Architecture","type":"doc","provider":"Gigoogle
        drivetHub","url":"https://my-runbook"}],"tags":["my:tag","service:tag"],"integrations":{"pagerduty":{"service-url":"https://my-org.pagerduty.com/service-directory/PMyService"},"opsgenie":{"service-url":"https://my-org.opsgenie.com/service/123e4567-e89b-12d3-a456-426614174000","region":"US"}},"extensions":{"myorgextension":"extensionvalue"}}}}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 28 Mar 2023 20:28:44 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/services/definitions/service-test-create_or_update_service_definition_using_schema_v2_1_returns_created_response-1680035324
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Not Found"],"error_details":[{}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
