http_interactions:
- recorded_at: Fri, 24 Oct 2025 09:11:28 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"env":"","identifier":"my-gate","service":"test-service"},"type":"deployment_gate"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/deployment_gates
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"attribute
        \"env\" is required"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
