http_interactions:
- recorded_at: Fri, 24 Oct 2025 09:11:37 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"dry_run":false,"env":"production","identifier":"my-gate","service":"my-service"},"type":"deployment_gate"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/deployment_gates
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c7a07c6b-bf78-4a4b-8324-84d6f5b46c66","type":"deployment_gate","attributes":{"created_at":"2025-10-24T09:11:37.754936Z","created_by":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"dry_run":false,"env":"production","identifier":"my-gate","service":"my-service","updated_at":"2025-10-24T09:11:37.754936Z","updated_by":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 24 Oct 2025 09:11:37 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"dry_run":false,"name":"My deployment rule","options":{"excluded_resources":[]},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/deployment_gates/c7a07c6b-bf78-4a4b-8324-84d6f5b46c66/rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"31e26027-9c52-402e-8c28-c2779d376b10","type":"deployment_rule","attributes":{"created_at":"2025-10-24T09:11:38.049639Z","created_by":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"dry_run":false,"gate_id":"c7a07c6b-bf78-4a4b-8324-84d6f5b46c66","name":"My
        deployment rule","options":{},"type":"faulty_deployment_detection","updated_at":"2025-10-24T09:11:38.049639Z","updated_by":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 24 Oct 2025 09:11:37 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/deployment_gates/c7a07c6b-bf78-4a4b-8324-84d6f5b46c66/rules/31e26027-9c52-402e-8c28-c2779d376b10
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"31e26027-9c52-402e-8c28-c2779d376b10","type":"deployment_rule","attributes":{"created_at":"2025-10-24T09:11:38.049639Z","created_by":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"dry_run":false,"gate_id":"c7a07c6b-bf78-4a4b-8324-84d6f5b46c66","name":"My
        deployment rule","options":{},"type":"faulty_deployment_detection","updated_at":"2025-10-24T09:11:38.049639Z","updated_by":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- recorded_at: Fri, 24 Oct 2025 09:11:37 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/deployment_gates/c7a07c6b-bf78-4a4b-8324-84d6f5b46c66
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
