http_interactions:
- recorded_at: Fri, 20 Mar 2026 09:57:05 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"env":"","service":"my-service"},"type":"deployment_gates_evaluation_request"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/deployments/gates/evaluation
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"required
        env field is missing"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
