http_interactions:
- recorded_at: Tue, 28 Oct 2025 14:03:35 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"dry_run":true},"id":"invalid-gate-id","type":"deployment_gate"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/deployment_gates/invalid-gate-id
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"attribute
        \"id\" Invalid id"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
