http_interactions:
- recorded_at: Wed, 27 May 2026 20:28:17 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"color":"blue","description":"Deployed v2.3.1
        to production.","page_id":"dashboard:abc-def-xyz","start_time":1704067200000,"type":"pointInTime"},"type":"annotation"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/annotation
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"152a2920-7598-4487-b185-b15931f92bc0","type":"annotation","attributes":{"author_id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","color":"blue","created_at":1779913697691,"description":"Deployed
        v2.3.1 to production.","end_time":null,"modified_at":1779913697691,"page_id":"dashboard:abc-def-xyz","start_time":1704067200000,"type":"pointInTime"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 27 May 2026 20:28:17 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/annotation/152a2920-7598-4487-b185-b15931f92bc0
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Wed, 27 May 2026 20:28:17 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/annotation/152a2920-7598-4487-b185-b15931f92bc0
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
