http_interactions:
- recorded_at: Wed, 27 May 2026 20:28:18 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"color":"blue","description":"Deployed v2.3.1
        to production.","page_id":"dashboard:abc-def-xyz","start_time":1704067200000,"type":"pointInTime"},"type":"annotation"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/annotation
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"9db3699d-4361-4062-b095-a4da3227afe6","type":"annotation","attributes":{"author_id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","color":"blue","created_at":1779913698338,"description":"Deployed
        v2.3.1 to production.","end_time":null,"modified_at":1779913698338,"page_id":"dashboard:abc-def-xyz","start_time":1704067200000,"type":"pointInTime"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 27 May 2026 20:28:18 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/annotation?page_id=dashboard%3Aabc-def-xyz&start_time=1704067200000&end_time=1704153600000
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"9db3699d-4361-4062-b095-a4da3227afe6","type":"annotation","attributes":{"author_id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","color":"blue","created_at":1779913698338,"description":"Deployed
        v2.3.1 to production.","end_time":null,"modified_at":1779913698338,"page_id":"dashboard:abc-def-xyz","start_time":1704067200000,"type":"pointInTime"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 27 May 2026 20:28:18 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/annotation/9db3699d-4361-4062-b095-a4da3227afe6
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
