---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","attributes":{"name":"Datadog API Client Python","email":"ruby-Create_a_user_returns_OK_response-1606230460@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425209'
      X-Dd-Debug:
      - hkXZRrnCTh2pkyHJgLo1+B5+sLp+RYzQrqT867R6UzDvqVGo8Av8yUCpaA0POidP
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"cb89d6fc-2e66-11eb-855e-8b1152b70a2c","attributes":{"name":"Datadog
        API Client Python","handle":"ruby-create_a_user_returns_ok_response-1606230460@datadoghq.com","created_at":"2020-11-24T15:07:40.126702+00:00","email":"ruby-create_a_user_returns_ok_response-1606230460@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ce28c388d98ce41c4edd78f93ac9d1b6?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Tue, 24 Nov 2020 15:07:40 GMT
recorded_with: VCR 6.0.0
