---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","attributes":{"name":"Datadog API Client Python","email":"Test-Create_a_user_returns_OK_response-1617971040@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"76f884e8-992e-11eb-9ceb-da7ad0900002","attributes":{"name":"Datadog
        API Client Python","handle":"test-create_a_user_returns_ok_response-1617971040@datadoghq.com","created_at":"2021-04-09T12:24:00.845310+00:00","modified_at":"2021-04-09T12:24:00.861294+00:00","email":"test-create_a_user_returns_ok_response-1617971040@datadoghq.com","icon":"https://secure.gravatar.com/avatar/dfa2143277e479c451a368c907f421cc?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:24:00 GMT
recorded_with: VCR 6.0.0
