http_interactions:
- recorded_at: Thu, 15 Apr 2021 13:02:51 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Create_a_user_returns_OK_response-1618491771@datadoghq.com","name":"Datadog
        API Client Python"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      X-Dd-Version:
      - '35.4318655'
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"e2fe756a-9dea-11eb-9df5-da7ad0900002","attributes":{"name":"Datadog
        API Client Python","handle":"test-create_a_user_returns_ok_response-1618491771@datadoghq.com","created_at":"2021-04-15T13:02:52.114306+00:00","modified_at":"2021-04-15T13:02:52.132140+00:00","email":"test-create_a_user_returns_ok_response-1618491771@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ff0b24a42317828ee39033ae2b535712?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Thu, 15 Apr 2021 13:02:51 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - '35.4318655'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/e2fe756a-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
