---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","attributes":{"name":"Datadog API Client Python","email":"Test-Create_a_user_returns_OK_response-1617968755@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"24a9aa8c-9929-11eb-9ceb-da7ad0900002","attributes":{"name":"Datadog
        API Client Python","handle":"test-create_a_user_returns_ok_response-1617968755@datadoghq.com","created_at":"2021-04-09T11:45:55.272194+00:00","modified_at":"2021-04-09T11:45:55.291356+00:00","email":"test-create_a_user_returns_ok_response-1617968755@datadoghq.com","icon":"https://secure.gravatar.com/avatar/20e5bd4cab2e195fb3f63bef3963b8d5?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:55 GMT
recorded_with: VCR 6.0.0
