---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","attributes":{"name":"Datadog API Client Python","email":"ruby-Create-a-user-returns-OK-response-1599759343@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014790'
      X-Dd-Debug:
      - IkoXy2n4b8JW/FLw1112nSqmqmpT3x0GKpI+dLspr+YjKNH7w9mdXONKvOIf0EZ7
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"0d390386-f38c-11ea-ac35-43d2f5294445","attributes":{"name":"Datadog
        API Client Python","handle":"ruby-create-a-user-returns-ok-response-1599759343@datadoghq.com","created_at":"2020-09-10T17:35:43.101874+00:00","email":"ruby-create-a-user-returns-ok-response-1599759343@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8f935c2a34c0eeddb8a733b1656ee179?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Thu, 10 Sep 2020 17:35:43 GMT
recorded_with: VCR 6.0.0
