http_interactions:
- recorded_at: Mon, 10 Jan 2022 15:51:45 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Create_a_user_returns_OK_response-1641829905@datadoghq.com","name":"Datadog
        API Client Python"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"36d7b6bc-722d-11ec-b5d7-da7ad0900002","attributes":{"name":"Datadog
        API Client Python","handle":"test-create_a_user_returns_ok_response-1641829905@datadoghq.com","created_at":"2022-01-10T15:51:46.083118+00:00","modified_at":"2022-01-10T15:51:46.099179+00:00","email":"test-create_a_user_returns_ok_response-1641829905@datadoghq.com","icon":"https://secure.gravatar.com/avatar/2600d8773e2e8594a02021d9e03518ee?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Mon, 10 Jan 2022 15:51:45 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/36d7b6bc-722d-11ec-b5d7-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
