---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Disable_a_user_returns_OK_response-1606991672@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468623'
      X-Dd-Debug:
      - mjjix3i7KxHakJGjOSXbyjGLp+IPNWPrPaCVopgkuqm46lk1b+kLivuxRokDQC1N
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"217bca0a-3553-11eb-87b3-b7de34b8a3c1","attributes":{"name":null,"handle":"ruby-disable_a_user_returns_ok_response-1606991672@datadoghq.com","created_at":"2020-12-03T10:34:32.523570+00:00","email":"ruby-disable_a_user_returns_ok_response-1606991672@datadoghq.com","icon":"https://secure.gravatar.com/avatar/10a3cf7be765f0f8009a7dd2c1ad012a?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Thu, 03 Dec 2020 10:34:32 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/users/217bca0a-3553-11eb-87b3-b7de34b8a3c1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468590'
      X-Dd-Debug:
      - cLmbdqkoXAogp+jvJYjDem2Ccuhd9u5QaFds8gBIEk61c952eYE473HKvGYqQTh2
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 03 Dec 2020 10:34:32 GMT
recorded_with: VCR 6.0.0
