---
http_interactions:
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/users/217bca0a-3553-11eb-87b3-b7de34b8a3c1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468590'
      X-Dd-Debug:
      - cLmbdqkoXAogp+jvJYjDem2Ccuhd9u5QaFds8gBIEk61c952eYE473HKvGYqQTh2
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 03 Dec 2020 10:34:32 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Disable_a_user_returns_OK_response-1617968755@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"24fe11bc-9929-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-disable_a_user_returns_ok_response-1617968755@datadoghq.com","created_at":"2021-04-09T11:45:55.825703+00:00","modified_at":"2021-04-09T11:45:55.865136+00:00","email":"test-disable_a_user_returns_ok_response-1617968755@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5a20a7fd3969e2c8f4f20b7d6acf42f5?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:55 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/users/24fe11bc-9929-11eb-9ceb-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Apr 2021 11:45:55 GMT
recorded_with: VCR 6.0.0
