---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Disable-a-user-returns-OK-response-1599759343@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Dd-Debug:
      - s0LsNvQsMm21RUzMLDODd6jiqqojzRfEoHLrnASSfK5zaa+QnpY16tmznkR4zVSs
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"0d687c42-f38c-11ea-ac35-ff5f79d0db17","attributes":{"name":null,"handle":"ruby-disable-a-user-returns-ok-response-1599759343@datadoghq.com","created_at":"2020-09-10T17:35:43.412348+00:00","email":"ruby-disable-a-user-returns-ok-response-1599759343@datadoghq.com","icon":"https://secure.gravatar.com/avatar/4a9cf80020c9e558ef1898e897fc5eb0?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Thu, 10 Sep 2020 17:35:43 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/users/0d687c42-f38c-11ea-ac35-ff5f79d0db17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Dd-Version:
      - '35.3014790'
      X-Dd-Debug:
      - pDS7Zrj1TgmEnWRyBzKLDh7mlmNUPuITZ/GwI6tiSzuW64zPbzNbNp9jLNX+Cpgz
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 10 Sep 2020 17:35:43 GMT
recorded_with: VCR 6.0.0
