---
http_interactions:
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/users/ae7139fa-992a-11eb-9ceb-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Apr 2021 11:56:55 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Disable_a_user_returns_OK_response-1617971041@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"775920d2-992e-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-disable_a_user_returns_ok_response-1617971041@datadoghq.com","created_at":"2021-04-09T12:24:01.479111+00:00","modified_at":"2021-04-09T12:24:01.508784+00:00","email":"test-disable_a_user_returns_ok_response-1617971041@datadoghq.com","icon":"https://secure.gravatar.com/avatar/05a5561820264ab7676ac51dc514034f?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:24:01 GMT
- request:
    method: delete
    uri: https://api.datadoghq.com/api/v2/users/775920d2-992e-11eb-9ceb-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Apr 2021 12:24:01 GMT
recorded_with: VCR 6.0.0
