http_interactions:
- recorded_at: Mon, 10 Jan 2022 14:56:33 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Disable_a_user_returns_OK_response-1641826593@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"80726a36-7225-11ec-b5d3-da7ad0900002","attributes":{"name":null,"handle":"test-disable_a_user_returns_ok_response-1641826593@datadoghq.com","created_at":"2022-01-10T14:56:33.596225+00:00","modified_at":"2022-01-10T14:56:33.648991+00:00","email":"test-disable_a_user_returns_ok_response-1641826593@datadoghq.com","icon":"https://secure.gravatar.com/avatar/1abd8fd8ed99582e40d59125a77c8078?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Mon, 10 Jan 2022 14:56:33 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/80726a36-7225-11ec-b5d3-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
- recorded_at: Mon, 10 Jan 2022 14:56:33 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/80726a36-7225-11ec-b5d3-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["80726a36-7225-11ec-b5d3-da7ad0900002 not found"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
