---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Get-a-user-invitation-returns-OK-response-1599759331@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Dd-Debug:
      - jrdNt2QvGarP6yOsylH3GAxdMWXM4CYDKNbO7i0omswFkFozD11pdA/9Rp2czovd
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"064893de-f38c-11ea-ac35-ffe8b82193d0","attributes":{"name":null,"handle":"ruby-get-a-user-invitation-returns-ok-response-1599759331@datadoghq.com","created_at":"2020-09-10T17:35:31.459334+00:00","email":"ruby-get-a-user-invitation-returns-ok-response-1599759331@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8ec249f5f940ad0748b0db13ba383415?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Thu, 10 Sep 2020 17:35:31 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/user_invitations
    body:
      encoding: UTF-8
      string: '{"data":[{"relationships":{"user":{"data":{"id":"064893de-f38c-11ea-ac35-ffe8b82193d0","type":"users"}}},"type":"user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Dd-Debug:
      - M5AkO8bVyO5yuX6OQA9nCjANXZokYPd2NqFZwMNyvfQQbQnBskFTa6rdUllh6BsX
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","id":"067b8d98-f38c-11ea-ac35-43b5d1621385","attributes":{"uuid":"067b8d98-f38c-11ea-ac35-43b5d1621385","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-10T17:35:31.794780+00:00","expires_at":"2020-09-12T17:35:31.732509+00:00"},"relationships":{"user":{"data":{"type":"users","id":"064893de-f38c-11ea-ac35-ffe8b82193d0"}}}}]}'
  recorded_at: Thu, 10 Sep 2020 17:35:31 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/user_invitations/067b8d98-f38c-11ea-ac35-43b5d1621385
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Dd-Debug:
      - KZy0Z61AelGSMiW0wwPuJyNwjEfJ0APCpzGlt7XM1KaE6e4cHzuLEBcvgVZz4sZ0
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"user_invitations","id":"067b8d98-f38c-11ea-ac35-43b5d1621385","attributes":{"uuid":"067b8d98-f38c-11ea-ac35-43b5d1621385","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-10T17:35:31.794780+00:00","expires_at":"2020-09-12T17:35:31.732509+00:00"},"relationships":{"user":{"data":{"type":"users","id":"064893de-f38c-11ea-ac35-ffe8b82193d0"}}}}}'
  recorded_at: Thu, 10 Sep 2020 17:35:31 GMT
recorded_with: VCR 6.0.0
