http_interactions:
- recorded_at: Thu, 12 May 2022 09:53:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Get_a_user_returns_OK_response-1652349221@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"67acec56-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1652349221@datadoghq.com","created_at":"2022-05-12T09:53:41.912395+00:00","modified_at":"2022-05-12T09:53:41.957201+00:00","email":"test-get_a_user_returns_ok_response-1652349221@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5db040285d603412d82292f9fdac151c?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Thu, 12 May 2022 09:53:41 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/67acec56-d1d9-11ec-ad3d-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"67acec56-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1652349221@datadoghq.com","created_at":"2022-05-12T09:53:41.912395+00:00","modified_at":"2022-05-12T09:53:41.957201+00:00","email":"test-get_a_user_returns_ok_response-1652349221@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5db040285d603412d82292f9fdac151c?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 12 May 2022 09:53:41 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/67acec56-d1d9-11ec-ad3d-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
