http_interactions:
- recorded_at: Thu, 15 Apr 2021 13:02:56 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Get_a_user_permissions_returns_OK_response-1618491776@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      X-Dd-Version:
      - '35.4318655'
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"e5c00714-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_permissions_returns_ok_response-1618491776@datadoghq.com","created_at":"2021-04-15T13:02:56.739813+00:00","modified_at":"2021-04-15T13:02:56.773921+00:00","email":"test-get_a_user_permissions_returns_ok_response-1618491776@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e8aff636f5c3a34b628f77b2bd82e1d7?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Thu, 15 Apr 2021 13:02:56 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - '35.4318655'
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/e5c00714-9dea-11eb-9df5-da7ad0900002/permissions
  response:
    body:
      encoding: UTF-8
      string: '{"data":[]}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Apr 2021 13:02:56 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - '35.4318655'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/e5c00714-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
