---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users/2b197b86-031a-11eb-b513-0fbac61249fc/permissions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Dd-Debug:
      - fOvn++WNyeGiJqGJ1RGVl2OtzlCSW+9FmhW07NDhLHuS9Ypy2JL89j65gnqIRQTf
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Wed, 30 Sep 2020 12:40:49 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Get_a_user_permissions_returns_OK_response-1606230461@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425209'
      X-Dd-Debug:
      - sbJ6i3VupQQcT7EDgPAdOxGmcKsvZJqf4l3SlQaWZNaaFfahh7BdNF3x5CttmH4Q
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"cc864298-2e66-11eb-855e-5fd6dcf5f680","attributes":{"name":null,"handle":"ruby-get_a_user_permissions_returns_ok_response-1606230461@datadoghq.com","created_at":"2020-11-24T15:07:41.780747+00:00","email":"ruby-get_a_user_permissions_returns_ok_response-1606230461@datadoghq.com","icon":"https://secure.gravatar.com/avatar/807a354538b4d42491584dacb5c47798?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Tue, 24 Nov 2020 15:07:41 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users/cc864298-2e66-11eb-855e-5fd6dcf5f680/permissions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425088'
      X-Dd-Debug:
      - pU+5spIfOFTru2RhY1ezKdt9iD04gzaa+zDs5x6Ik5VkXfw5rZx6HoPylEAvTInE
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Tue, 24 Nov 2020 15:07:41 GMT
recorded_with: VCR 6.0.0
