http_interactions:
- recorded_at: Mon, 10 Jan 2022 15:51:48 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Get_a_user_permissions_returns_OK_response-1641829908@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"38a54e96-722d-11ec-b5d7-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_permissions_returns_ok_response-1641829908@datadoghq.com","created_at":"2022-01-10T15:51:49.107919+00:00","modified_at":"2022-01-10T15:51:49.155647+00:00","email":"test-get_a_user_permissions_returns_ok_response-1641829908@datadoghq.com","icon":"https://secure.gravatar.com/avatar/54773e3ddfe911748dd3ff9cfe21dc23?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Mon, 10 Jan 2022 15:51:48 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/38a54e96-722d-11ec-b5d7-da7ad0900002/permissions
  response:
    body:
      encoding: UTF-8
      string: '{"data":[]}'
    status:
      code: 200
      message: OK
- recorded_at: Mon, 10 Jan 2022 15:51:48 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/38a54e96-722d-11ec-b5d7-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
