---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Get_a_user_invitation_returns_OK_response-1618390755@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"b053714c-9cff-11eb-9daf-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_invitation_returns_ok_response-1618390755@datadoghq.com","created_at":"2021-04-14T08:59:15.375128+00:00","modified_at":"2021-04-14T08:59:15.410429+00:00","email":"test-get_a_user_invitation_returns_ok_response-1618390755@datadoghq.com","icon":"https://secure.gravatar.com/avatar/2aed17f50c04f6d1371888cf3bad8462?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 14 Apr 2021 08:59:15 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/user_invitations
    body:
      encoding: UTF-8
      string: '{"data":[{"relationships":{"user":{"data":{"id":"b053714c-9cff-11eb-9daf-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","id":"b053714d-9cff-11eb-9daf-da7ad0900002","attributes":{"uuid":"b053714d-9cff-11eb-9daf-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-14T08:59:15.711059+00:00","expires_at":"2021-04-16T08:59:15.572247+00:00"},"relationships":{"user":{"data":{"type":"users","id":"b053714c-9cff-11eb-9daf-da7ad0900002"}}}}]}'
  recorded_at: Wed, 14 Apr 2021 08:59:15 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/user_invitations/b053714d-9cff-11eb-9daf-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
    body:
      encoding: UTF-8
      string: '{"data":{"type":"user_invitations","id":"b053714d-9cff-11eb-9daf-da7ad0900002","attributes":{"uuid":"b053714d-9cff-11eb-9daf-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-14T08:59:15.711059+00:00","expires_at":"2021-04-16T08:59:15.572247+00:00"},"relationships":{"user":{"data":{"type":"users","id":"b053714c-9cff-11eb-9daf-da7ad0900002"}}}}}'
  recorded_at: Wed, 14 Apr 2021 08:59:15 GMT
recorded_with: VCR 6.0.0
