---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/user_invitations/aed90707-992a-11eb-9ceb-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
    body:
      encoding: UTF-8
      string: '{"data":{"type":"user_invitations","id":"aed90707-992a-11eb-9ceb-da7ad0900002","attributes":{"uuid":"aed90707-992a-11eb-9ceb-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T11:56:56.941152+00:00","expires_at":"2021-04-11T11:56:56.806528+00:00"},"relationships":{"user":{"data":{"type":"users","id":"aed90706-992a-11eb-9ceb-da7ad0900002"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:56:56 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Get_a_user_invitation_returns_OK_response-1617971042@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"77c3b55a-992e-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_invitation_returns_ok_response-1617971042@datadoghq.com","created_at":"2021-04-09T12:24:02.177726+00:00","modified_at":"2021-04-09T12:24:02.215572+00:00","email":"test-get_a_user_invitation_returns_ok_response-1617971042@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e3a1c8d446fab8ecae42e0fadd0ffb46?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:24:02 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/user_invitations
    body:
      encoding: UTF-8
      string: '{"data":[{"relationships":{"user":{"data":{"id":"77c3b55a-992e-11eb-9ceb-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","id":"77eeab98-992e-11eb-9ceb-da7ad0900002","attributes":{"uuid":"77eeab98-992e-11eb-9ceb-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T12:24:02.460328+00:00","expires_at":"2021-04-11T12:24:02.405473+00:00"},"relationships":{"user":{"data":{"type":"users","id":"77c3b55a-992e-11eb-9ceb-da7ad0900002"}}}}]}'
  recorded_at: Fri, 09 Apr 2021 12:24:02 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/user_invitations/77eeab98-992e-11eb-9ceb-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
    body:
      encoding: UTF-8
      string: '{"data":{"type":"user_invitations","id":"77eeab98-992e-11eb-9ceb-da7ad0900002","attributes":{"uuid":"77eeab98-992e-11eb-9ceb-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T12:24:02.460328+00:00","expires_at":"2021-04-11T12:24:02.405473+00:00"},"relationships":{"user":{"data":{"type":"users","id":"77c3b55a-992e-11eb-9ceb-da7ad0900002"}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:24:02 GMT
recorded_with: VCR 6.0.0
