---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Get_a_user_invitation_returns_OK_response-1606991664@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468590'
      X-Dd-Debug:
      - flm57y1PQqDCGTMvz2Hc0LeaE4WpeyLyl0nK7TyUHhnh1/aAaCfINCnK5EAgp4id
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"1d0859de-3553-11eb-87b3-f3626a0d4139","attributes":{"name":null,"handle":"ruby-get_a_user_invitation_returns_ok_response-1606991664@datadoghq.com","created_at":"2020-12-03T10:34:25.055849+00:00","email":"ruby-get_a_user_invitation_returns_ok_response-1606991664@datadoghq.com","icon":"https://secure.gravatar.com/avatar/d6e959df24993234a1df99200c62073e?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Thu, 03 Dec 2020 10:34:24 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/user_invitations
    body:
      encoding: UTF-8
      string: '{"data":[{"relationships":{"user":{"data":{"id":"1d0859de-3553-11eb-87b3-f3626a0d4139","type":"users"}}},"type":"user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468623'
      X-Dd-Debug:
      - x0lXQI7rzyICHjQ6egBdIXvv6oH1uc+zPjPKGBnD3VLYo8imKB14VpRl9Uf7xZN/
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","id":"1d3c059a-3553-11eb-87b3-97b94ce1de41","attributes":{"uuid":"1d3c059a-3553-11eb-87b3-97b94ce1de41","login_method":null,"invite_type":"openid_invite","created_at":"2020-12-03T10:34:25.395818+00:00","expires_at":"2020-12-05T10:34:25.310218+00:00"},"relationships":{"user":{"data":{"type":"users","id":"1d0859de-3553-11eb-87b3-f3626a0d4139"}}}}]}'
  recorded_at: Thu, 03 Dec 2020 10:34:24 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/user_invitations/1d3c059a-3553-11eb-87b3-97b94ce1de41
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468623'
      X-Dd-Debug:
      - q5LZgdQyaeyVGPNSaYfaXI15usQY6VerSpOcr6YoOhwKyednUK9qVYPwCUtgztbj
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"user_invitations","id":"1d3c059a-3553-11eb-87b3-97b94ce1de41","attributes":{"uuid":"1d3c059a-3553-11eb-87b3-97b94ce1de41","login_method":null,"invite_type":"openid_invite","created_at":"2020-12-03T10:34:25.395818+00:00","expires_at":"2020-12-05T10:34:25.310218+00:00"},"relationships":{"user":{"data":{"type":"users","id":"1d0859de-3553-11eb-87b3-f3626a0d4139"}}}}}'
  recorded_at: Thu, 03 Dec 2020 10:34:24 GMT
recorded_with: VCR 6.0.0
