---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users/22c92916-3553-11eb-87b3-97028571c6f8/permissions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468623'
      X-Dd-Debug:
      - LkSOFVoHBcsyBoPbYbYfcEWZoNcVif5SL5dX3LvvR/J4mRuKXGmrGqdm859yDQ2v
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Thu, 03 Dec 2020 10:34:34 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Get_a_user_permissions_returns_OK_response-1617968757@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"25f13a9a-9929-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_permissions_returns_ok_response-1617968757@datadoghq.com","created_at":"2021-04-09T11:45:57.419622+00:00","modified_at":"2021-04-09T11:45:57.455323+00:00","email":"test-get_a_user_permissions_returns_ok_response-1617968757@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0bb486492d8e04034f8453428c80c1e5?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:57 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users/25f13a9a-9929-11eb-9ceb-da7ad0900002/permissions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Fri, 09 Apr 2021 11:45:57 GMT
recorded_with: VCR 6.0.0
