---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Get_a_user_returns_OK_response-1618390756@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"b145965c-9cff-11eb-9daf-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1618390756@datadoghq.com","created_at":"2021-04-14T08:59:16.964268+00:00","modified_at":"2021-04-14T08:59:16.999419+00:00","email":"test-get_a_user_returns_ok_response-1618390756@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3e082fd7623c1c37cbe2d8374f26c1d2?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 14 Apr 2021 08:59:16 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users/b145965c-9cff-11eb-9daf-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"b145965c-9cff-11eb-9daf-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1618390756@datadoghq.com","created_at":"2021-04-14T08:59:16.964268+00:00","modified_at":"2021-04-14T08:59:16.999419+00:00","email":"test-get_a_user_returns_ok_response-1618390756@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3e082fd7623c1c37cbe2d8374f26c1d2?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 14 Apr 2021 08:59:16 GMT
recorded_with: VCR 6.0.0
