---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users/21de0972-3553-11eb-87b3-bba4c069529d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468623'
      X-Dd-Debug:
      - hw3ZauSSamfHLo55DFwif1/mO6RiYSc0/libBchlIMnyWX9rK7JgS3Pek5rkz683
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"21de0972-3553-11eb-87b3-bba4c069529d","attributes":{"name":null,"handle":"ruby-get_a_user_returns_ok_response-1606991673@datadoghq.com","created_at":"2020-12-03T10:34:33.167195+00:00","email":"ruby-get_a_user_returns_ok_response-1606991673@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ee8746c98fcf62c48acdf44cf71b84b4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Thu, 03 Dec 2020 10:34:33 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users/d4fb5c3e-9909-11eb-9ce8-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4273965'
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"d4fb5c3e-9909-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1617955307.089@datadoghq.com","created_at":"2021-04-09T08:01:47.191146+00:00","modified_at":"2021-04-09T08:01:47.225219+00:00","email":"test-get_a_user_returns_ok_response-1617955307.089@datadoghq.com","icon":"https://secure.gravatar.com/avatar/153cecfdf1f60813efadd09a68555749?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 08:01:47 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Get_a_user_returns_OK_response-1617968758@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"26c23294-9929-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1617968758@datadoghq.com","created_at":"2021-04-09T11:45:58.789362+00:00","modified_at":"2021-04-09T11:45:58.817308+00:00","email":"test-get_a_user_returns_ok_response-1617968758@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6b560418d816adc838575a682f7b2cb2?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:58 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users/26c23294-9929-11eb-9ceb-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"26c23294-9929-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1617968758@datadoghq.com","created_at":"2021-04-09T11:45:58.789362+00:00","modified_at":"2021-04-09T11:45:58.817308+00:00","email":"test-get_a_user_returns_ok_response-1617968758@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6b560418d816adc838575a682f7b2cb2?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:58 GMT
recorded_with: VCR 6.0.0
