---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users/afdd52f6-992a-11eb-9ceb-da7ad0900002/permissions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Fri, 09 Apr 2021 11:56:58 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Get_a_user_permissions_returns_OK_response-1617971043@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"78d00c14-992e-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_permissions_returns_ok_response-1617971043@datadoghq.com","created_at":"2021-04-09T12:24:03.936148+00:00","modified_at":"2021-04-09T12:24:03.971545+00:00","email":"test-get_a_user_permissions_returns_ok_response-1617971043@datadoghq.com","icon":"https://secure.gravatar.com/avatar/bf536fb6a11e49f31fed98dab7c5841c?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:24:03 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users/78d00c14-992e-11eb-9ceb-da7ad0900002/permissions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Fri, 09 Apr 2021 12:24:03 GMT
recorded_with: VCR 6.0.0
