---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Get-a-user-returns-OK-response-1599759343@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Dd-Debug:
      - sKAY0l5Dq+9OdN3cdjnBmv3dOgVdaJs4B9XR5o+IUZC5EZY9C+nnqv+YslWCCjmi
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"0dd1a2ee-f38c-11ea-ac35-4bbfd2f45b21","attributes":{"name":null,"handle":"ruby-get-a-user-returns-ok-response-1599759343@datadoghq.com","created_at":"2020-09-10T17:35:44.101918+00:00","email":"ruby-get-a-user-returns-ok-response-1599759343@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ce7a9b363237c32b6b2871446bc03719?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Thu, 10 Sep 2020 17:35:43 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users/0dd1a2ee-f38c-11ea-ac35-4bbfd2f45b21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Dd-Debug:
      - PJIyDXpxEN4mcEZXeKHAupMoEkL0DxL1Os4C2/ywa2GjpRxyYTc76kt+BnhUGIa5
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"0dd1a2ee-f38c-11ea-ac35-4bbfd2f45b21","attributes":{"name":null,"handle":"ruby-get-a-user-returns-ok-response-1599759343@datadoghq.com","created_at":"2020-09-10T17:35:44.101918+00:00","email":"ruby-get-a-user-returns-ok-response-1599759343@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ce7a9b363237c32b6b2871446bc03719?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Thu, 10 Sep 2020 17:35:43 GMT
recorded_with: VCR 6.0.0
