---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Get-a-user-invitation-returns-OK-response-1601469638@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Dd-Debug:
      - pU+5spIfOFTru2RhY1ezKdt9iD04gzaa+zDs5x6Ik5VkXfw5rZx6HoPylEAvTInE
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"24921958-031a-11eb-b513-4fcebc927a55","attributes":{"name":null,"handle":"ruby-get-a-user-invitation-returns-ok-response-1601469638@datadoghq.com","created_at":"2020-09-30T12:40:38.250420+00:00","email":"ruby-get-a-user-invitation-returns-ok-response-1601469638@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0d2298798ba415ef5cd4047d574d7e6a?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 30 Sep 2020 12:40:38 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/user_invitations
    body:
      encoding: UTF-8
      string: '{"data":[{"relationships":{"user":{"data":{"id":"24921958-031a-11eb-b513-4fcebc927a55","type":"users"}}},"type":"user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Dd-Debug:
      - EDCzTXtRLv8zbNh6LPdV9QtgRpCK5JG59t19TocHPF2cDocJtqDzJin2eCJyUekp
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","id":"24ca03a4-031a-11eb-b513-e7f078d1f917","attributes":{"uuid":"24ca03a4-031a-11eb-b513-e7f078d1f917","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-30T12:40:38.617983+00:00","expires_at":"2020-10-02T12:40:38.457257+00:00"},"relationships":{"user":{"data":{"type":"users","id":"24921958-031a-11eb-b513-4fcebc927a55"}}}}]}'
  recorded_at: Wed, 30 Sep 2020 12:40:38 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/user_invitations/24ca03a4-031a-11eb-b513-e7f078d1f917
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Dd-Debug:
      - 0dpwUqkfQHWkgXeMRxMzd53GmXFItYtBrsUmywck00fH892lNzaBVoL155iIFepa
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"user_invitations","id":"24ca03a4-031a-11eb-b513-e7f078d1f917","attributes":{"uuid":"24ca03a4-031a-11eb-b513-e7f078d1f917","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-30T12:40:38.617983+00:00","expires_at":"2020-10-02T12:40:38.457257+00:00"},"relationships":{"user":{"data":{"type":"users","id":"24921958-031a-11eb-b513-4fcebc927a55"}}}}}'
  recorded_at: Wed, 30 Sep 2020 12:40:38 GMT
recorded_with: VCR 6.0.0
