---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users/b09f7840-992a-11eb-9ceb-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"b09f7840-992a-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1617969419@datadoghq.com","created_at":"2021-04-09T11:56:59.583168+00:00","modified_at":"2021-04-09T11:56:59.613928+00:00","email":"test-get_a_user_returns_ok_response-1617969419@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ee3affcef9e89f032e30f37ea4648e0e?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:56:59 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Get_a_user_returns_OK_response-1617971044@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"7920cfb4-992e-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1617971044@datadoghq.com","created_at":"2021-04-09T12:24:04.466035+00:00","modified_at":"2021-04-09T12:24:04.497891+00:00","email":"test-get_a_user_returns_ok_response-1617971044@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c4ececa2956e502d3c37a8bfbacac093?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:24:04 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users/7920cfb4-992e-11eb-9ceb-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"7920cfb4-992e-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1617971044@datadoghq.com","created_at":"2021-04-09T12:24:04.466035+00:00","modified_at":"2021-04-09T12:24:04.497891+00:00","email":"test-get_a_user_returns_ok_response-1617971044@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c4ececa2956e502d3c37a8bfbacac093?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:24:04 GMT
recorded_with: VCR 6.0.0
