---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/user_invitations/1d3c059a-3553-11eb-87b3-97b94ce1de41
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468623'
      X-Dd-Debug:
      - q5LZgdQyaeyVGPNSaYfaXI15usQY6VerSpOcr6YoOhwKyednUK9qVYPwCUtgztbj
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"user_invitations","id":"1d3c059a-3553-11eb-87b3-97b94ce1de41","attributes":{"uuid":"1d3c059a-3553-11eb-87b3-97b94ce1de41","login_method":null,"invite_type":"openid_invite","created_at":"2020-12-03T10:34:25.395818+00:00","expires_at":"2020-12-05T10:34:25.310218+00:00"},"relationships":{"user":{"data":{"type":"users","id":"1d0859de-3553-11eb-87b3-f3626a0d4139"}}}}}'
  recorded_at: Thu, 03 Dec 2020 10:34:24 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Get_a_user_invitation_returns_OK_response-1617968756@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"24a9aa8d-9929-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_invitation_returns_ok_response-1617968756@datadoghq.com","created_at":"2021-04-09T11:45:56.499406+00:00","modified_at":"2021-04-09T11:45:56.541054+00:00","email":"test-get_a_user_invitation_returns_ok_response-1617968756@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a386e09c9fde7ce1e9e2bf476389036c?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:56 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/user_invitations
    body:
      encoding: UTF-8
      string: '{"data":[{"relationships":{"user":{"data":{"id":"24a9aa8d-9929-11eb-9ceb-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","id":"258f3b1a-9929-11eb-9ceb-da7ad0900002","attributes":{"uuid":"258f3b1a-9929-11eb-9ceb-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T11:45:56.777568+00:00","expires_at":"2021-04-11T11:45:56.721755+00:00"},"relationships":{"user":{"data":{"type":"users","id":"24a9aa8d-9929-11eb-9ceb-da7ad0900002"}}}}]}'
  recorded_at: Fri, 09 Apr 2021 11:45:56 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/user_invitations/258f3b1a-9929-11eb-9ceb-da7ad0900002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - "/L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"user_invitations","id":"258f3b1a-9929-11eb-9ceb-da7ad0900002","attributes":{"uuid":"258f3b1a-9929-11eb-9ceb-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T11:45:56.777568+00:00","expires_at":"2021-04-11T11:45:56.721755+00:00"},"relationships":{"user":{"data":{"type":"users","id":"24a9aa8d-9929-11eb-9ceb-da7ad0900002"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:56 GMT
recorded_with: VCR 6.0.0
