---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-List-all-users-returns-OK-response-1601469638@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Dd-Debug:
      - GVd3H6+s0wOEEQNbWfOlfSTR2GEFs46b/AVWKmAErR/5auOQpwMvzy3i6o9DNymz
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"250cb26c-031a-11eb-b513-0b2d17df9d2e","attributes":{"name":null,"handle":"ruby-list-all-users-returns-ok-response-1601469638@datadoghq.com","created_at":"2020-09-30T12:40:39.053907+00:00","email":"ruby-list-all-users-returns-ok-response-1601469638@datadoghq.com","icon":"https://secure.gravatar.com/avatar/37c757763216892e0ea413c950bb66f1?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 30 Sep 2020 12:40:38 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users?filter=ruby-list-all-users-returns-ok-response-1601469638@datadoghq.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Dd-Debug:
      - motUb+3MrSbL60qP2VQvKfticEMFw/ITb9aZ1t0IvCT8MphWULXKj1d6mnYOkJDn
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":40956}},"data":[{"type":"users","id":"250cb26c-031a-11eb-b513-0b2d17df9d2e","attributes":{"name":null,"handle":"ruby-list-all-users-returns-ok-response-1601469638@datadoghq.com","created_at":"2020-09-30T12:40:39.053907+00:00","email":"ruby-list-all-users-returns-ok-response-1601469638@datadoghq.com","icon":"https://secure.gravatar.com/avatar/37c757763216892e0ea413c950bb66f1?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Wed, 30 Sep 2020 12:40:38 GMT
recorded_with: VCR 6.0.0
