---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users?filter=ruby-list_all_users_returns_ok_response-1606991666@datadoghq.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468623'
      X-Dd-Debug:
      - Xg/YZweB8L/9y2bk9dLfKv6mTe53iWJN13eGXk6rwnDvTKZPuXf1i9AdXnCIzJ+B
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":75329}},"data":[{"type":"users","id":"1db1ff66-3553-11eb-87b3-f310f403dada","attributes":{"name":null,"handle":"ruby-list_all_users_returns_ok_response-1606991666@datadoghq.com","created_at":"2020-12-03T10:34:26.167087+00:00","email":"ruby-list_all_users_returns_ok_response-1606991666@datadoghq.com","icon":"https://secure.gravatar.com/avatar/46ecbcf4934d3cb4a3ffdf9e48b58f23?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Thu, 03 Dec 2020 10:34:26 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1617955307.618@datadoghq.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4273965'
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":177542}},"data":[{"type":"users","id":"d54be8ca-9909-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1617955307.618@datadoghq.com","created_at":"2021-04-09T08:01:47.719295+00:00","modified_at":"2021-04-09T08:01:47.753938+00:00","email":"test-list_all_users_returns_ok_response-1617955307.618@datadoghq.com","icon":"https://secure.gravatar.com/avatar/098e4b035cf89a9a4d706c973fa11846?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Fri, 09 Apr 2021 08:01:47 GMT
[...]
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1617956853@datadoghq.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4274158'
      X-Dd-Debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":177578}},"data":[{"type":"users","id":"6ece41fc-990d-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1617956853@datadoghq.com","created_at":"2021-04-09T08:27:33.755972+00:00","modified_at":"2021-04-09T08:27:33.785767+00:00","email":"test-list_all_users_returns_ok_response-1617956853@datadoghq.com","icon":"https://secure.gravatar.com/avatar/7a3adb6244af67780ffaa7ff0eb91559?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Fri, 09 Apr 2021 08:27:33 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-List_all_users_returns_OK_response-1617968759@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"2710a4ce-9929-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1617968759@datadoghq.com","created_at":"2021-04-09T11:45:59.303565+00:00","modified_at":"2021-04-09T11:45:59.333677+00:00","email":"test-list_all_users_returns_ok_response-1617968759@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a7c342aee3a75d13523c2742e139ea06?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:59 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1617968759@datadoghq.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":177840}},"data":[{"type":"users","id":"2710a4ce-9929-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1617968759@datadoghq.com","created_at":"2021-04-09T11:45:59.303565+00:00","modified_at":"2021-04-09T11:45:59.333677+00:00","email":"test-list_all_users_returns_ok_response-1617968759@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a7c342aee3a75d13523c2742e139ea06?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Fri, 09 Apr 2021 11:45:59 GMT
recorded_with: VCR 6.0.0
