---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-List_all_users_returns_OK_response-1618390672@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Dd-Debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"7f32876a-9cff-11eb-9daf-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1618390672@datadoghq.com","created_at":"2021-04-14T08:57:52.952187+00:00","modified_at":"2021-04-14T08:57:52.983512+00:00","email":"test-list_all_users_returns_ok_response-1618390672@datadoghq.com","icon":"https://secure.gravatar.com/avatar/708f6c59226e7b9e7e7262146530a92c?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 14 Apr 2021 08:57:52 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1618390672@datadoghq.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":182866}},"data":[{"type":"users","id":"7f32876a-9cff-11eb-9daf-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1618390672@datadoghq.com","created_at":"2021-04-14T08:57:52.952187+00:00","modified_at":"2021-04-14T08:57:52.983512+00:00","email":"test-list_all_users_returns_ok_response-1618390672@datadoghq.com","icon":"https://secure.gravatar.com/avatar/708f6c59226e7b9e7e7262146530a92c?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Wed, 14 Apr 2021 08:57:52 GMT
recorded_with: VCR 6.0.0
