---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-List-all-users-returns-OK-response-1599759332@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Dd-Debug:
      - WmMtMFngDL31sZYuYCiUaMFRtAs90zyIJHnMIoB4iHZztA/Ona9SnOav516bWmh7
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"06b1730e-f38c-11ea-ac35-832d72aea52a","attributes":{"name":null,"handle":"ruby-list-all-users-returns-ok-response-1599759332@datadoghq.com","created_at":"2020-09-10T17:35:32.147257+00:00","email":"ruby-list-all-users-returns-ok-response-1599759332@datadoghq.com","icon":"https://secure.gravatar.com/avatar/dea22083873599ac2a57cbb03a3c5a40?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Thu, 10 Sep 2020 17:35:32 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users?filter=ruby-list-all-users-returns-ok-response-1599759332@datadoghq.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Dd-Debug:
      - 8fXgGAAoNDkfuneKCnTnqB8DKjHLTs+9UWiAzHHQVcEGbAPX4uItc5+97fNEvGUG
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":33574}},"data":[{"type":"users","id":"06b1730e-f38c-11ea-ac35-832d72aea52a","attributes":{"name":null,"handle":"ruby-list-all-users-returns-ok-response-1599759332@datadoghq.com","created_at":"2020-09-10T17:35:32.147257+00:00","email":"ruby-list-all-users-returns-ok-response-1599759332@datadoghq.com","icon":"https://secure.gravatar.com/avatar/dea22083873599ac2a57cbb03a3c5a40?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Thu, 10 Sep 2020 17:35:32 GMT
recorded_with: VCR 6.0.0
