---
http_interactions:
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1617969421@datadoghq.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":177934}},"data":[{"type":"users","id":"b1c88acc-992a-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1617969421@datadoghq.com","created_at":"2021-04-09T11:57:01.530967+00:00","modified_at":"2021-04-09T11:57:01.558243+00:00","email":"test-list_all_users_returns_ok_response-1617969421@datadoghq.com","icon":"https://secure.gravatar.com/avatar/4ffa95de8ffd4bdd636dacf7710a2b41?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Fri, 09 Apr 2021 11:57:01 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-List_all_users_returns_OK_response-1617971045@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"7988e856-992e-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1617971045@datadoghq.com","created_at":"2021-04-09T12:24:05.147807+00:00","modified_at":"2021-04-09T12:24:05.177751+00:00","email":"test-list_all_users_returns_ok_response-1617971045@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9dbf9dc7c0eb43b6c39daf6165668343?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:24:05 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1617971045@datadoghq.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":177974}},"data":[{"type":"users","id":"7988e856-992e-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1617971045@datadoghq.com","created_at":"2021-04-09T12:24:05.147807+00:00","modified_at":"2021-04-09T12:24:05.177751+00:00","email":"test-list_all_users_returns_ok_response-1617971045@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9dbf9dc7c0eb43b6c39daf6165668343?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
  recorded_at: Fri, 09 Apr 2021 12:24:05 GMT
recorded_with: VCR 6.0.0
