http_interactions:
- recorded_at: Thu, 15 Apr 2021 13:02:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-List_all_users_returns_OK_response-1618491779@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - '35.4318655'
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"e7e3ea38-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1618491779@datadoghq.com","created_at":"2021-04-15T13:03:00.330361+00:00","modified_at":"2021-04-15T13:03:00.363492+00:00","email":"test-list_all_users_returns_ok_response-1618491779@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8391c211db85f08ff4464f0719c7e0c7?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Thu, 15 Apr 2021 13:02:59 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - '35.4318655'
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1618491779%40datadoghq.com
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":184359}},"data":[{"type":"users","id":"e7e3ea38-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1618491779@datadoghq.com","created_at":"2021-04-15T13:03:00.330361+00:00","modified_at":"2021-04-15T13:03:00.363492+00:00","email":"test-list_all_users_returns_ok_response-1618491779@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8391c211db85f08ff4464f0719c7e0c7?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Apr 2021 13:02:59 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - '35.4318655'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/e7e3ea38-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
