---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Send_invitation_emails_returns_OK_response-1606991664@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468623'
      X-Dd-Debug:
      - hkXZRrnCTh2pkyHJgLo1+B5+sLp+RYzQrqT867R6UzDvqVGo8Av8yUCpaA0POidP
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"1c843e6a-3553-11eb-87b3-a355e909f1b8","attributes":{"name":null,"handle":"ruby-send_invitation_emails_returns_ok_response-1606991664@datadoghq.com","created_at":"2020-12-03T10:34:24.190395+00:00","email":"ruby-send_invitation_emails_returns_ok_response-1606991664@datadoghq.com","icon":"https://secure.gravatar.com/avatar/01d362416dbc159154aa2a5bddc8f59f?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Thu, 03 Dec 2020 10:34:24 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/user_invitations
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","relationships":{"user":{"data":{"type":"users","id":"1c843e6a-3553-11eb-87b3-a355e909f1b8"}}}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468590'
      X-Dd-Debug:
      - motUb+3MrSbL60qP2VQvKfticEMFw/ITb9aZ1t0IvCT8MphWULXKj1d6mnYOkJDn
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","id":"1cc43722-3553-11eb-87b3-73d12ecdc7d6","attributes":{"uuid":"1cc43722-3553-11eb-87b3-73d12ecdc7d6","login_method":null,"invite_type":"openid_invite","created_at":"2020-12-03T10:34:24.610645+00:00","expires_at":"2020-12-05T10:34:24.450729+00:00"},"relationships":{"user":{"data":{"type":"users","id":"1c843e6a-3553-11eb-87b3-a355e909f1b8"}}}}]}'
  recorded_at: Thu, 03 Dec 2020 10:34:24 GMT
recorded_with: VCR 6.0.0
