---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Send_invitation_emails_returns_OK_response-1606230453@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425209'
      X-Dd-Debug:
      - saoIV/FA/z8H0gcXHP3CQ32hxYowRdGCvx+QRO7UdacLP4hVHOLNCuxXnf6LPRGD
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"c7708d9a-2e66-11eb-855e-dbaab4d332ce","attributes":{"name":null,"handle":"ruby-send_invitation_emails_returns_ok_response-1606230453@datadoghq.com","created_at":"2020-11-24T15:07:33.249743+00:00","email":"ruby-send_invitation_emails_returns_ok_response-1606230453@datadoghq.com","icon":"https://secure.gravatar.com/avatar/be416b0d09939ebcf40e24f94f4f0d22?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Tue, 24 Nov 2020 15:07:33 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/user_invitations
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","relationships":{"user":{"data":{"type":"users","id":"c7708d9a-2e66-11eb-855e-dbaab4d332ce"}}}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3425209'
      X-Dd-Debug:
      - saoIV/FA/z8H0gcXHP3CQ32hxYowRdGCvx+QRO7UdacLP4hVHOLNCuxXnf6LPRGD
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","id":"c7708d9b-2e66-11eb-855e-d375987e0794","attributes":{"uuid":"c7708d9b-2e66-11eb-855e-d375987e0794","login_method":null,"invite_type":"openid_invite","created_at":"2020-11-24T15:07:33.629545+00:00","expires_at":"2020-11-26T15:07:33.535514+00:00"},"relationships":{"user":{"data":{"type":"users","id":"c7708d9a-2e66-11eb-855e-dbaab4d332ce"}}}}]}'
  recorded_at: Tue, 24 Nov 2020 15:07:33 GMT
recorded_with: VCR 6.0.0
