---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Send-invitation-emails-returns-OK-response-1601469637@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Dd-Debug:
      - UPwGSEkEo+aTtV9/qlvsM9xVIKq1xypRG0bv22kO1eeJfu8bY+H+f1xOa3JlvZhZ
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"24191abc-031a-11eb-b513-9fbbe6962367","attributes":{"name":null,"handle":"ruby-send-invitation-emails-returns-ok-response-1601469637@datadoghq.com","created_at":"2020-09-30T12:40:37.457175+00:00","email":"ruby-send-invitation-emails-returns-ok-response-1601469637@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5435748e26c352a131e9154ac5401626?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 30 Sep 2020 12:40:37 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/user_invitations
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","relationships":{"user":{"data":{"type":"users","id":"24191abc-031a-11eb-b513-9fbbe6962367"}}}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Dd-Debug:
      - s0LsNvQsMm21RUzMLDODd6jiqqojzRfEoHLrnASSfK5zaa+QnpY16tmznkR4zVSs
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","id":"246a6516-031a-11eb-b513-f344cfb58cdb","attributes":{"uuid":"246a6516-031a-11eb-b513-f344cfb58cdb","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-30T12:40:37.991384+00:00","expires_at":"2020-10-02T12:40:37.810304+00:00"},"relationships":{"user":{"data":{"type":"users","id":"24191abc-031a-11eb-b513-9fbbe6962367"}}}}]}'
  recorded_at: Wed, 30 Sep 2020 12:40:37 GMT
recorded_with: VCR 6.0.0
