---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Send_invitation_emails_returns_OK_response-1617971050@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"7d018948-992e-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-send_invitation_emails_returns_ok_response-1617971050@datadoghq.com","created_at":"2021-04-09T12:24:10.971282+00:00","modified_at":"2021-04-09T12:24:11.014948+00:00","email":"test-send_invitation_emails_returns_ok_response-1617971050@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e8625f212e9dbd300134f55bf056f3ac?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:24:10 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/user_invitations
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","relationships":{"user":{"data":{"type":"users","id":"7d018948-992e-11eb-9ceb-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","id":"7d3beb1a-992e-11eb-9ceb-da7ad0900002","attributes":{"uuid":"7d3beb1a-992e-11eb-9ceb-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T12:24:11.354594+00:00","expires_at":"2021-04-11T12:24:11.194372+00:00"},"relationships":{"user":{"data":{"type":"users","id":"7d018948-992e-11eb-9ceb-da7ad0900002"}}}}]}'
  recorded_at: Fri, 09 Apr 2021 12:24:10 GMT
recorded_with: VCR 6.0.0
