---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Send_invitation_emails_returns_OK_response-1617968766@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"2b71c566-9929-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-send_invitation_emails_returns_ok_response-1617968766@datadoghq.com","created_at":"2021-04-09T11:46:06.650065+00:00","modified_at":"2021-04-09T11:46:06.681370+00:00","email":"test-send_invitation_emails_returns_ok_response-1617968766@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5b14c958f32ee179d49a7714716d4019?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:46:06 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/user_invitations
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","relationships":{"user":{"data":{"type":"users","id":"2b71c566-9929-11eb-9ceb-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"user_invitations","id":"2ba67072-9929-11eb-9ceb-da7ad0900002","attributes":{"uuid":"2ba67072-9929-11eb-9ceb-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T11:46:06.996386+00:00","expires_at":"2021-04-11T11:46:06.852673+00:00"},"relationships":{"user":{"data":{"type":"users","id":"2b71c566-9929-11eb-9ceb-da7ad0900002"}}}}]}'
  recorded_at: Fri, 09 Apr 2021 11:46:06 GMT
recorded_with: VCR 6.0.0
