---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Update_a_user_returns_OK_response-1617971051@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"7d885c48-992e-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-update_a_user_returns_ok_response-1617971051@datadoghq.com","created_at":"2021-04-09T12:24:11.854749+00:00","modified_at":"2021-04-09T12:24:11.888713+00:00","email":"test-update_a_user_returns_ok_response-1617971051@datadoghq.com","icon":"https://secure.gravatar.com/avatar/bef9ae89928331a0736175f409f0b04b?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:24:11 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/users/7d885c48-992e-11eb-9ceb-da7ad0900002
    body:
      encoding: UTF-8
      string: '{"data":{"id":"7d885c48-992e-11eb-9ceb-da7ad0900002","type":"users","attributes":{"name":"updated","disabled":true}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"7d885c48-992e-11eb-9ceb-da7ad0900002","attributes":{"name":"updated","handle":"test-update_a_user_returns_ok_response-1617971051@datadoghq.com","created_at":"2021-04-09T12:24:11.854749+00:00","modified_at":"2021-04-09T12:24:12.066320+00:00","email":"test-update_a_user_returns_ok_response-1617971051@datadoghq.com","icon":"https://secure.gravatar.com/avatar/bef9ae89928331a0736175f409f0b04b?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 12:24:11 GMT
recorded_with: VCR 6.0.0
