---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Update-a-user-returns-OK-response-1601469647@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Dd-Debug:
      - "/pM3t244uCdX9dMTNWxe1gvYLT702JRfo8ITQW70OgOLnoV6jDL7q1DSaqmfhgYL"
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"2a08e7fe-031a-11eb-b513-0baf76c32cad","attributes":{"name":null,"handle":"ruby-update-a-user-returns-ok-response-1601469647@datadoghq.com","created_at":"2020-09-30T12:40:47.417768+00:00","email":"ruby-update-a-user-returns-ok-response-1601469647@datadoghq.com","icon":"https://secure.gravatar.com/avatar/62ac2f69411de01feff55f9659d8fe69?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 30 Sep 2020 12:40:47 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/users/2a08e7fe-031a-11eb-b513-0baf76c32cad
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2a08e7fe-031a-11eb-b513-0baf76c32cad","type":"users","attributes":{"name":"updated","disabled":true}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3116014'
      X-Dd-Debug:
      - mpg/BCzsUMOxVwcAuQg/6c40bDAb3ejXVT4tkiODN0ExybQ/Ia68faurJX6CivjX
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"2a08e7fe-031a-11eb-b513-0baf76c32cad","attributes":{"name":"updated","handle":"ruby-update-a-user-returns-ok-response-1601469647@datadoghq.com","created_at":"2020-09-30T12:40:47.417768+00:00","email":"ruby-update-a-user-returns-ok-response-1601469647@datadoghq.com","icon":"https://secure.gravatar.com/avatar/62ac2f69411de01feff55f9659d8fe69?s=48&d=retro","title":null,"verified":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Wed, 30 Sep 2020 12:40:47 GMT
recorded_with: VCR 6.0.0
