http_interactions:
- recorded_at: Tue, 19 Oct 2021 14:57:49 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"disabled":true,"name":"updated"},"id":"00000000-dead-beef-dead-ffffffffffff","type":"users"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/00000000-dead-beef-dead-ffffffffffff
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["00000000-dead-beef-dead-ffffffffffff not found"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
