---
http_interactions:
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/users/224202a6-3553-11eb-87b3-8b5fc84cb3eb
    body:
      encoding: UTF-8
      string: '{"data":{"id":"224202a6-3553-11eb-87b3-8b5fc84cb3eb","type":"users","attributes":{"name":"updated","disabled":true}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3468623'
      X-Dd-Debug:
      - nHGjqTbGmPRJGWoHEDsaMxmZCicxo5Y/AObJEW+YW63Ub16t9U+JqCkAyvEnf+xI
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"224202a6-3553-11eb-87b3-8b5fc84cb3eb","attributes":{"name":"updated","handle":"ruby-update_a_user_returns_ok_response-1606991673@datadoghq.com","created_at":"2020-12-03T10:34:33.822620+00:00","email":"ruby-update_a_user_returns_ok_response-1606991673@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ffdbac9f219126cfe34df816aae1e650?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Thu, 03 Dec 2020 10:34:33 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/users/d941519a-9909-11eb-9ce8-da7ad0900002
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d941519a-9909-11eb-9ce8-da7ad0900002","type":"users","attributes":{"name":"updated","disabled":true}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4273965'
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"d941519a-9909-11eb-9ce8-da7ad0900002","attributes":{"name":"updated","handle":"test-update_a_user_returns_ok_response-1617955314.259@datadoghq.com","created_at":"2021-04-09T08:01:54.360935+00:00","modified_at":"2021-04-09T08:01:54.701914+00:00","email":"test-update_a_user_returns_ok_response-1617955314.259@datadoghq.com","icon":"https://secure.gravatar.com/avatar/cc8693dea95b9f65d4493f10b4f802e9?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 08:01:54 GMT
[...]
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Update_a_user_returns_OK_response-1617968767@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"2bf4251a-9929-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-update_a_user_returns_ok_response-1617968767@datadoghq.com","created_at":"2021-04-09T11:46:07.505538+00:00","modified_at":"2021-04-09T11:46:07.536253+00:00","email":"test-update_a_user_returns_ok_response-1617968767@datadoghq.com","icon":"https://secure.gravatar.com/avatar/cca6ac584509e81bdbbfdf1a1c945ecc?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:46:07 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/users/2bf4251a-9929-11eb-9ceb-da7ad0900002
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2bf4251a-9929-11eb-9ceb-da7ad0900002","type":"users","attributes":{"name":"updated","disabled":true}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"2bf4251a-9929-11eb-9ceb-da7ad0900002","attributes":{"name":"updated","handle":"test-update_a_user_returns_ok_response-1617968767@datadoghq.com","created_at":"2021-04-09T11:46:07.505538+00:00","modified_at":"2021-04-09T11:46:07.850949+00:00","email":"test-update_a_user_returns_ok_response-1617968767@datadoghq.com","icon":"https://secure.gravatar.com/avatar/cca6ac584509e81bdbbfdf1a1c945ecc?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Fri, 09 Apr 2021 11:46:07 GMT
recorded_with: VCR 6.0.0
