---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/users
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"ruby-Update-a-user-returns-OK-response-1599759344@datadoghq.com"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Dd-Debug:
      - EQzhJSeNziVWIN4Gtgvm49DBQgA/xSWPBZSORg2i40a13gmPz8gOAFcYwqtQKjIG
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"0e2dcf9c-f38c-11ea-ac35-7360c0d49347","attributes":{"name":null,"handle":"ruby-update-a-user-returns-ok-response-1599759344@datadoghq.com","created_at":"2020-09-10T17:35:44.705768+00:00","email":"ruby-update-a-user-returns-ok-response-1599759344@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a0302a79a1ad2761a4b6bc9ba5b01837?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Thu, 10 Sep 2020 17:35:44 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/users/0e2dcf9c-f38c-11ea-ac35-7360c0d49347
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0e2dcf9c-f38c-11ea-ac35-7360c0d49347","type":"users","attributes":{"name":"updated","disabled":true}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3014711'
      X-Dd-Debug:
      - UQGqB8QYBhbqBtDjVVq40cE5WX9x4FZih8SPsFskLrXqfppNa0WZMVINwgYOpNqd
      Dd-Pool:
      - dogweb
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"0e2dcf9c-f38c-11ea-ac35-7360c0d49347","attributes":{"name":"updated","handle":"ruby-update-a-user-returns-ok-response-1599759344@datadoghq.com","created_at":"2020-09-10T17:35:44.705768+00:00","email":"ruby-update-a-user-returns-ok-response-1599759344@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a0302a79a1ad2761a4b6bc9ba5b01837?s=48&d=retro","title":null,"verified":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
  recorded_at: Thu, 10 Sep 2020 17:35:44 GMT
recorded_with: VCR 6.0.0
