http_interactions:
- recorded_at: Thu, 15 Apr 2021 13:03:10 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Update_a_user_returns_OK_response-1618491790@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      X-Dd-Version:
      - '35.4318655'
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"ee553cfa-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-update_a_user_returns_ok_response-1618491790@datadoghq.com","created_at":"2021-04-15T13:03:11.139121+00:00","modified_at":"2021-04-15T13:03:11.175881+00:00","email":"test-update_a_user_returns_ok_response-1618491790@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e8bb4b9b3ea7d2fec0b3f1bdc2aa8306?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    status:
      code: 201
      message: Created
- recorded_at: Thu, 15 Apr 2021 13:03:10 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"disabled":true,"name":"updated"},"id":"ee553cfa-9dea-11eb-9df5-da7ad0900002","type":"users"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      X-Dd-Version:
      - '35.4318655'
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/ee553cfa-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"ee553cfa-9dea-11eb-9df5-da7ad0900002","attributes":{"name":"updated","handle":"test-update_a_user_returns_ok_response-1618491790@datadoghq.com","created_at":"2021-04-15T13:03:11.139121+00:00","modified_at":"2021-04-15T13:03:11.713046+00:00","email":"test-update_a_user_returns_ok_response-1618491790@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e8bb4b9b3ea7d2fec0b3f1bdc2aa8306?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Apr 2021 13:03:10 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4318655'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/ee553cfa-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["ee553cfa-9dea-11eb-9df5-da7ad0900002 not found"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
