http_interactions:
- recorded_at: Thu, 20 Feb 2025 15:44:02 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"filter":{"query":"source:python"},"name":"testPipeline","processors":[{"is_enabled":true,"name":"test_filter","sources":["dd.span_id"],"type":"span-id-remapper"}],"tags":[]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body:
      encoding: UTF-8
      string: '{"id":"duWU4bc3ROq5nz7GVi5TzA","type":"pipeline","name":"testPipeline","is_enabled":false,"is_read_only":false,"filter":{"query":"source:python"},"processors":[{"name":"test_filter","is_enabled":true,"sources":["dd.span_id"],"type":"span-id-remapper"}],"tags":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 20 Feb 2025 15:44:02 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines/duWU4bc3ROq5nz7GVi5TzA
  response:
    body:
      encoding: UTF-8
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
