http_interactions:
- recorded_at: Tue, 23 Jun 2026 13:27:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"filter":{"query":"source:python"},"name":"testPipelineArrayMapCategory","processors":[{"is_enabled":true,"name":"categorize
        items","processors":[{"categories":[{"filter":{"query":"@$sourceElem.status:error"},"name":"error"},{"filter":{"query":"*"},"name":"info"}],"target":"$targetElem.level","type":"category-processor"}],"source":"items","target":"out","type":"array-map-processor"}],"tags":[]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body:
      encoding: UTF-8
      string: '{"id":"NW1Ws0rnRwWbxKdNUlBFOQ","type":"pipeline","name":"testPipelineArrayMapCategory","is_enabled":false,"is_read_only":false,"filter":{"query":"source:python"},"processors":[{"name":"categorize
        items","is_enabled":true,"source":"items","target":"out","processors":[{"categories":[{"filter":{"query":"@$sourceElem.status:error"},"name":"error"},{"filter":{"query":"*"},"name":"info"}],"target":"$targetElem.level","type":"category-processor"}],"preserve_source":true,"type":"array-map-processor"}],"tags":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 23 Jun 2026 13:27:55 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines/NW1Ws0rnRwWbxKdNUlBFOQ
  response:
    body:
      encoding: UTF-8
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
