http_interactions:
- recorded_at: Mon, 30 Jun 2025 15:45:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"filter":{"query":"source:python"},"name":"testPipelineArraySelect","processors":[{"is_enabled":true,"name":"extract_referrer","operation":{"filter":"name:Referrer","source":"httpRequest.headers","target":"referrer","type":"select","value_to_extract":"value"},"type":"array-processor"}],"tags":[]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body:
      encoding: UTF-8
      string: '{"id":"e3TVPUCYQ7a37CTTJB1HcA","type":"pipeline","name":"testPipelineArraySelect","is_enabled":false,"is_read_only":false,"filter":{"query":"source:python"},"processors":[{"name":"extract_referrer","is_enabled":true,"operation":{"source":"httpRequest.headers","target":"referrer","filter":"name:Referrer","value_to_extract":"value","type":"select"},"type":"array-processor"}],"tags":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 30 Jun 2025 15:45:44 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines/e3TVPUCYQ7a37CTTJB1HcA
  response:
    body:
      encoding: UTF-8
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
