http_interactions:
- recorded_at: Mon, 30 Jun 2025 15:45:43 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"filter":{"query":"source:python"},"name":"testPipelineArrayLength","processors":[{"is_enabled":true,"name":"count_tags","operation":{"source":"tags","target":"tagCount","type":"length"},"type":"array-processor"}],"tags":[]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body:
      encoding: UTF-8
      string: '{"id":"MB-HZA9rRlKRHb-2LpYBxw","type":"pipeline","name":"testPipelineArrayLength","is_enabled":false,"is_read_only":false,"filter":{"query":"source:python"},"processors":[{"name":"count_tags","is_enabled":true,"operation":{"source":"tags","target":"tagCount","type":"length"},"type":"array-processor"}],"tags":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 30 Jun 2025 15:45:43 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines/MB-HZA9rRlKRHb-2LpYBxw
  response:
    body:
      encoding: UTF-8
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
