http_interactions:
- recorded_at: Tue, 22 Jul 2025 13:27:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"filter":{"query":"source:python"},"name":"testDecoderProcessor","processors":[{"binary_to_text_encoding":"base16","input_representation":"utf_8","is_enabled":true,"name":"test_decoder","source":"encoded.field","target":"decoded.field","type":"decoder-processor"}],"tags":[]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body:
      encoding: UTF-8
      string: '{"id":"BEg5CcvmSfyIGoMi9PWyTQ","type":"pipeline","name":"testDecoderProcessor","is_enabled":false,"is_read_only":false,"filter":{"query":"source:python"},"processors":[{"name":"test_decoder","is_enabled":true,"source":"encoded.field","target":"decoded.field","binary_to_text_encoding":"base16","input_representation":"utf_8","type":"decoder-processor"}],"tags":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 22 Jul 2025 13:27:59 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines/BEg5CcvmSfyIGoMi9PWyTQ
  response:
    body:
      encoding: UTF-8
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
