http_interactions:
- recorded_at: Thu, 06 Jan 2022 00:50:22 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"name":"Test-Get_a_dashboard_list_returns_OK_response-1641430222"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body:
      encoding: UTF-8
      string: '{"is_favorite":false,"name":"Test-Get_a_dashboard_list_returns_OK_response-1641430222","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2022-01-06T00:50:22.806263+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2022-01-06T00:50:22.806287+00:00","id":269881}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 06 Jan 2022 00:50:22 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual/269881
  response:
    body:
      encoding: UTF-8
      string: '{"is_favorite":false,"name":"Test-Get_a_dashboard_list_returns_OK_response-1641430222","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2022-01-06T00:50:22.806263+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2022-01-06T00:50:22.806287+00:00","id":269881}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 06 Jan 2022 00:50:22 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual/269881
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_list_id":269881}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
