http_interactions:
- recorded_at: Fri, 01 Oct 2021 08:28:31 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"name":"Test-Get_a_dashboard_list_returns_OK_response-1633076911"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body:
      encoding: UTF-8
      string: '{"is_favorite":false,"name":"Test-Get_a_dashboard_list_returns_OK_response-1633076911","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-10-01T08:28:31.263184+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-10-01T08:28:31.263207+00:00","id":240516}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 01 Oct 2021 08:28:31 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual/240516
  response:
    body:
      encoding: UTF-8
      string: '{"is_favorite":false,"name":"Test-Get_a_dashboard_list_returns_OK_response-1633076911","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-10-01T08:28:31.263184+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-10-01T08:28:31.263207+00:00","id":240516}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 01 Oct 2021 08:28:31 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual/240516
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_list_id":240516}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
