http_interactions:
- recorded_at: Wed, 10 Jun 2026 18:49:58 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Copy of My Form"},"type":"forms"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/forms/00000000-0000-0000-0000-000000000001/clone
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","id":"32db2695-29bd-4280-b547-3737365608c3","title":"form
        not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
