http_interactions:
- recorded_at: Wed, 10 Jun 2026 18:49:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"data_definition":{"description":"Welcome to
        the Engineering Experience Survey.","required":[],"title":"Developer Experience
        Survey","type":"object"},"state":"frozen","ui_definition":{"ui:order":[],"ui:theme":{"primaryColor":"gray"}},"upsert_params":{"etag":"b51f08b698d88d8027a935d9db649774949f5fb41a0c559bfee6a9a13225c72d","insert_only":false,"match_policy":"none"}},"type":"form_versions"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/forms/00000000-0000-0000-0000-000000000001/versions
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","id":"f24e2ab1-4ba1-48cf-a4a2-86a32cc2e702","title":"form
        not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
