http_interactions:
- recorded_at: Wed, 10 Jun 2026 18:50:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"version":1},"type":"form_publications"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/forms/00000000-0000-0000-0000-000000000001/publish
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","id":"890f7bea-c0e2-45f9-a06a-e3214a19be57","title":"form
        not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
