http_interactions:
- recorded_at: Thu, 04 Jun 2026 17:13:08 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"Test-Configure_tags_for_multiple_metrics_returns_Accepted_response-1780593188@datadoghq.com","title":"user
        title"},"type":"users"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","id":"bbd25c81-fae3-46b3-99b3-4251859017c4","attributes":{"uuid":"bbd25c81-fae3-46b3-99b3-4251859017c4","name":null,"handle":"test-configure_tags_for_multiple_metrics_returns_accepted_response-1780593188@datadoghq.com","created_at":"2026-06-04T17:13:10.281475+00:00","modified_at":"2026-06-04T17:13:10.281475+00:00","email":"test-configure_tags_for_multiple_metrics_returns_accepted_response-1780593188@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f08cc2909ca7eae455a0969e3664ec09?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 04 Jun 2026 17:13:08 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"emails":["test-configure_tags_for_multiple_metrics_returns_accepted_response-1780593188@datadoghq.com"],"tags":["test","testconfiguretagsformultiplemetricsreturnsacceptedresponse1780593188"]},"id":"system.load.1","type":"metric_bulk_configure_tags"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/config/bulk-tags
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"metric_bulk_configure_tags","id":"system.load.1","attributes":{"tags":["test","testconfiguretagsformultiplemetricsreturnsacceptedresponse1780593188"],"emails":["test-configure_tags_for_multiple_metrics_returns_accepted_response-1780593188@datadoghq.com"],"status":"Accepted","exclude_tags_mode":null,"override_existing_configurations":true,"include_actively_queried_tags_window":null}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- recorded_at: Thu, 04 Jun 2026 17:13:08 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/bbd25c81-fae3-46b3-99b3-4251859017c4
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
