http_interactions:
- recorded_at: Mon, 20 Jul 2026 13:47:24 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"exclude_tags_mode":true,"ignored_metric_name_matches":[],"metric_name_matches":["dd.test.*"],"name":"my-indexing-rule","options":{"data":{"dynamic_tags":{"exclude_not_queried_window_seconds":7776001},"manage_preexisting_metrics":true,"override_previous_rules":false},"version":1},"tags":["env","service"]},"type":"tag_indexing_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Invalid request body: dynamic_tags.exclude_not_queried_window_seconds
        cannot exceed 7776000 seconds (90 days)"]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
