---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/metrics/rubyCreateaTagConfigurationreturnsCreatedresponse1613037330/tags
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"rubyCreateaTagConfigurationreturnsCreatedresponse1613037330","attributes":{"tags":["app","datacenter"],"metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3888455'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '30'
      X-Ratelimit-Remaining:
      - '49'
      X-Dd-Debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"rubyCreateaTagConfigurationreturnsCreatedresponse1613037330","attributes":{"tags":["datacenter","app"],"include_percentiles":false,"created_at":"2021-02-11T09:55:30.607637+00:00","updated_at":"2021-02-11T09:55:30.607637+00:00","metric_type":"distribution"}}}'
  recorded_at: Thu, 11 Feb 2021 09:55:30 GMT
recorded_with: VCR 6.0.0
