---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/metrics/TestCreateatagconfigurationreturnsCreatedresponse1617969397/tags
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"TestCreateatagconfigurationreturnsCreatedresponse1617969397","attributes":{"tags":["app","datacenter"],"metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '23'
      X-Ratelimit-Remaining:
      - '49'
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"TestCreateatagconfigurationreturnsCreatedresponse1617969397","attributes":{"tags":["datacenter","app"],"include_percentiles":false,"created_at":"2021-04-09T11:56:37.528679+00:00","updated_at":"2021-04-09T11:56:37.528679+00:00","metric_type":"distribution"}}}'
  recorded_at: Fri, 09 Apr 2021 11:56:37 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/metrics/TestCreateatagconfigurationreturnsCreatedresponse1617971020/tags
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"TestCreateatagconfigurationreturnsCreatedresponse1617971020","attributes":{"tags":["app","datacenter"],"metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '20'
      X-Ratelimit-Remaining:
      - '49'
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"TestCreateatagconfigurationreturnsCreatedresponse1617971020","attributes":{"tags":["datacenter","app"],"include_percentiles":false,"created_at":"2021-04-09T12:23:40.389931+00:00","updated_at":"2021-04-09T12:23:40.389931+00:00","metric_type":"distribution"}}}'
  recorded_at: Fri, 09 Apr 2021 12:23:40 GMT
recorded_with: VCR 6.0.0
