http_interactions:
- recorded_at: Mon, 28 Mar 2022 20:32:26 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"TestCreateatagconfigurationreturnsCreatedresponse1648499546","points":[[1648499546,1.1]],"tags":["test:ExampleSubmitmetricsreturnsPayloadacceptedresponse"],"type":"gauge"}]}'
    headers:
      Content-Type:
      - text/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/series
  response:
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
    status:
      code: 202
      message: Accepted
- recorded_at: Mon, 28 Mar 2022 20:32:26 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metric_type":"gauge","tags":["app","datacenter"]},"id":"TestCreateatagconfigurationreturnsCreatedresponse1648499546","type":"manage_tags"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/TestCreateatagconfigurationreturnsCreatedresponse1648499546/tags
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"TestCreateatagconfigurationreturnsCreatedresponse1648499546","attributes":{"tags":["datacenter","app"],"created_at":"2022-03-28T20:32:28.716208+00:00","modified_at":"2022-03-28T20:32:28.716208+00:00","metric_type":"gauge","aggregations":[{"space":"avg","time":"avg"}]}}}'
    status:
      code: 201
      message: Created
- recorded_at: Mon, 28 Mar 2022 20:32:26 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/metrics/TestCreateatagconfigurationreturnsCreatedresponse1648499546/tags
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
