---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/metrics/rubyCreateatagconfigurationreturnsCreatedresponse1614797834/tags
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"rubyCreateatagconfigurationreturnsCreatedresponse1614797834","attributes":{"tags":["app","datacenter"],"metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4022232'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '46'
      X-Ratelimit-Remaining:
      - '49'
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"rubyCreateatagconfigurationreturnsCreatedresponse1614797834","attributes":{"tags":["datacenter","app"],"include_percentiles":false,"created_at":"2021-03-03T18:57:14.936299+00:00","updated_at":"2021-03-03T18:57:14.936299+00:00","metric_type":"distribution"}}}'
  recorded_at: Wed, 03 Mar 2021 18:57:14 GMT
recorded_with: VCR 6.0.0
