http_interactions:
- recorded_at: Thu, 04 Jun 2026 16:39:36 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metric_name_matches":["dd.TestDeleteatagindexingrulereturnsNoContentresponse1780591176.*"],"name":"TestDeleteatagindexingrulereturnsNoContentresponse1780591176","tags":["env","service"]},"type":"tag_indexing_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"223d99dd-9c0a-4181-82b7-53d234bf5b26","type":"tag_indexing_rules","attributes":{"created_at":"2026-06-04T16:39:36.77795Z","created_by_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","exclude_tags_mode":false,"metric_name_matches":["dd.TestDeleteatagindexingrulereturnsNoContentresponse1780591176.*"],"modified_at":"2026-06-04T16:39:36.77795Z","modified_by_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"TestDeleteatagindexingrulereturnsNoContentresponse1780591176","options":{"version":1,"data":{"override_previous_rules":false,"manage_preexisting_metrics":true}},"rule_order":1,"tags":["env","service"]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 04 Jun 2026 16:39:36 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/223d99dd-9c0a-4181-82b7-53d234bf5b26
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 04 Jun 2026 16:39:36 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/223d99dd-9c0a-4181-82b7-53d234bf5b26
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
