---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/metrics/rubyListtagconfigurationsreturnsSuccessresponse1614797835/tags
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"tags":["app","datacenter","rubyListtagconfigurationsreturnsSuccessresponse1614797835"],"metric_type":"distribution"},"type":"manage_tags","id":"rubyListtagconfigurationsreturnsSuccessresponse1614797835"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4022232'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '45'
      X-Ratelimit-Remaining:
      - '39'
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"rubyListtagconfigurationsreturnsSuccessresponse1614797835","attributes":{"tags":["datacenter","app","rubyListtagconfigurationsreturnsSuccessresponse1614797835"],"include_percentiles":false,"created_at":"2021-03-03T18:57:15.937421+00:00","updated_at":"2021-03-03T18:57:15.937421+00:00","metric_type":"distribution"}}}'
  recorded_at: Wed, 03 Mar 2021 18:57:15 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/metrics?filter%5Btags_configured%5D=rubyListtagconfigurationsreturnsSuccessresponse1614797835
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4022232'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '44'
      X-Ratelimit-Remaining:
      - '38'
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"manage_tags","id":"rubyListtagconfigurationsreturnsSuccessresponse1614797835","attributes":{"tags":["datacenter","app","rubyListtagconfigurationsreturnsSuccessresponse1614797835"],"include_percentiles":false,"created_at":"2021-03-03T18:57:15.937421+00:00","updated_at":"2021-03-03T18:57:15.937421+00:00","metric_type":"distribution"}}]}'
  recorded_at: Wed, 03 Mar 2021 18:57:15 GMT
recorded_with: VCR 6.0.0
