---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1618390743/tags
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"tags":["app","datacenter","TestListtagsbymetricnamereturnsSuccessresponse1618390743"],"metric_type":"distribution"},"type":"manage_tags","id":"TestListtagsbymetricnamereturnsSuccessresponse1618390743"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '57'
      X-Ratelimit-Remaining:
      - '47'
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"TestListtagsbymetricnamereturnsSuccessresponse1618390743","attributes":{"tags":["datacenter","app","TestListtagsbymetricnamereturnsSuccessresponse1618390743"],"include_percentiles":false,"created_at":"2021-04-14T08:59:03.756881+00:00","updated_at":"2021-04-14T08:59:03.756881+00:00","metric_type":"distribution"}}}'
  recorded_at: Wed, 14 Apr 2021 08:59:03 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1618390743/all-tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '57'
      X-Ratelimit-Remaining:
      - '594'
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
    body:
      encoding: UTF-8
      string: '{"data":{"type":"metrics","id":"TestListtagsbymetricnamereturnsSuccessresponse1618390743","attributes":{"tags":[]}}}'
  recorded_at: Wed, 14 Apr 2021 08:59:03 GMT
recorded_with: VCR 6.0.0
