---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/metrics/rubyListTagConfigurationsreturnsSuccessresponse1613037331/tags
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"tags":["app","datacenter","rubyListTagConfigurationsreturnsSuccessresponse1613037331"],"metric_type":"distribution"},"type":"manage_tags","id":"rubyListTagConfigurationsreturnsSuccessresponse1613037331"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3888455'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '29'
      X-Ratelimit-Remaining:
      - '41'
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"rubyListTagConfigurationsreturnsSuccessresponse1613037331","attributes":{"tags":["datacenter","app","rubyListTagConfigurationsreturnsSuccessresponse1613037331"],"include_percentiles":false,"created_at":"2021-02-11T09:55:31.933660+00:00","updated_at":"2021-02-11T09:55:31.933660+00:00","metric_type":"distribution"}}}'
  recorded_at: Thu, 11 Feb 2021 09:55:31 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/metrics?filter%5Btags_configured%5D=rubyListTagConfigurationsreturnsSuccessresponse1613037331
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3888455'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '28'
      X-Ratelimit-Remaining:
      - '40'
      X-Dd-Debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"manage_tags","id":"rubyListTagConfigurationsreturnsSuccessresponse1613037331","attributes":{"tags":["datacenter","app","rubyListTagConfigurationsreturnsSuccessresponse1613037331"],"include_percentiles":false,"created_at":"2021-02-11T09:55:31.933660+00:00","updated_at":"2021-02-11T09:55:31.933660+00:00","metric_type":"distribution"}}]}'
  recorded_at: Thu, 11 Feb 2021 09:55:31 GMT
recorded_with: VCR 6.0.0
