---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1617969405/tags
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"tags":["app","datacenter","TestListtagsbymetricnamereturnsSuccessresponse1617969405"],"metric_type":"distribution"},"type":"manage_tags","id":"TestListtagsbymetricnamereturnsSuccessresponse1617969405"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '15'
      X-Ratelimit-Remaining:
      - '35'
      X-Dd-Debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"TestListtagsbymetricnamereturnsSuccessresponse1617969405","attributes":{"tags":["TestListtagsbymetricnamereturnsSuccessresponse1617969405","datacenter","app"],"include_percentiles":false,"created_at":"2021-04-09T11:56:45.157400+00:00","updated_at":"2021-04-09T11:56:45.157400+00:00","metric_type":"distribution"}}}'
  recorded_at: Fri, 09 Apr 2021 11:56:45 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1617969405/all-tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '195'
      X-Ratelimit-Remaining:
      - '576'
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
    body:
      encoding: UTF-8
      string: '{"data":{"type":"metrics","id":"TestListtagsbymetricnamereturnsSuccessresponse1617969405","attributes":{"tags":[]}}}'
  recorded_at: Fri, 09 Apr 2021 11:56:45 GMT
[...]
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1617971028/all-tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '2171'
      X-Ratelimit-Remaining:
      - '596'
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
    body:
      encoding: UTF-8
      string: '{"data":{"type":"metrics","id":"TestListtagsbymetricnamereturnsSuccessresponse1617971028","attributes":{"tags":[]}}}'
  recorded_at: Fri, 09 Apr 2021 12:23:48 GMT
recorded_with: VCR 6.0.0
