---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/metrics/rubyListTagsbyMetricNamereturnsSuccessresponse1614632003/tags
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"tags":["app","datacenter","rubyListTagsbyMetricNamereturnsSuccessresponse1614632003"],"metric_type":"distribution"},"type":"manage_tags","id":"rubyListTagsbyMetricNamereturnsSuccessresponse1614632003"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4005111'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '36'
      X-Ratelimit-Remaining:
      - '42'
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"rubyListTagsbyMetricNamereturnsSuccessresponse1614632003","attributes":{"tags":["datacenter","app","rubyListTagsbyMetricNamereturnsSuccessresponse1614632003"],"include_percentiles":false,"created_at":"2021-03-01T20:53:24.055796+00:00","updated_at":"2021-03-01T20:53:24.055796+00:00","metric_type":"distribution"}}}'
  recorded_at: Mon, 01 Mar 2021 20:53:23 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/metrics/rubyListTagsbyMetricNamereturnsSuccessresponse1614632003/all-tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4005111'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '396'
      X-Ratelimit-Remaining:
      - '586'
      X-Dd-Debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
    body:
      encoding: UTF-8
      string: '{"data":{"type":"metrics","id":"rubyListTagsbyMetricNamereturnsSuccessresponse1614632003","attributes":{"tags":[]}}}'
  recorded_at: Mon, 01 Mar 2021 20:53:23 GMT
recorded_with: VCR 6.0.0
