---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationsreturnsSuccessresponse1618390736/tags
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"tags":["app","datacenter","TestListtagconfigurationsreturnsSuccessresponse1618390736"],"metric_type":"distribution"},"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1618390736"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '4'
      X-Ratelimit-Remaining:
      - '39'
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1618390736","attributes":{"tags":["datacenter","app","TestListtagconfigurationsreturnsSuccessresponse1618390736"],"include_percentiles":false,"created_at":"2021-04-14T08:58:56.441943+00:00","updated_at":"2021-04-14T08:58:56.441943+00:00","metric_type":"distribution"}}}'
  recorded_at: Wed, 14 Apr 2021 08:58:56 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/metrics?filter%5Btags_configured%5D=TestListtagconfigurationsreturnsSuccessresponse1618390736
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4307086'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '4'
      X-Ratelimit-Remaining:
      - '38'
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1618390736","attributes":{"tags":["datacenter","app","TestListtagconfigurationsreturnsSuccessresponse1618390736"],"include_percentiles":false,"created_at":"2021-04-14T08:58:56.441943+00:00","updated_at":"2021-04-14T08:58:56.441943+00:00","metric_type":"distribution"}}]}'
  recorded_at: Wed, 14 Apr 2021 08:58:56 GMT
recorded_with: VCR 6.0.0
