http_interactions:
- recorded_at: Fri, 02 Jun 2023 15:15:47 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"static_test_metric_donotdelete","points":[[1685718947,1.1]],"tags":["test:static_test_metric_donotdelete"],"type":"gauge"}]}'
    headers:
      Content-Type:
      - text/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/series
  response:
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
    status:
      code: 202
      message: Accepted
- recorded_at: Fri, 02 Jun 2023 15:15:47 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/metrics/static_test_metric_donotdelete/volumes
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"metric_volumes","id":"static_test_metric_donotdelete","attributes":{"indexed_volume":1,"ingested_volume":1}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
