---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/metrics/rubyListtagsbymetricnamereturnsSuccessresponse1614797840/tags
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"tags":["app","datacenter","rubyListtagsbymetricnamereturnsSuccessresponse1614797840"],"metric_type":"distribution"},"type":"manage_tags","id":"rubyListtagsbymetricnamereturnsSuccessresponse1614797840"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4022232'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '40'
      X-Ratelimit-Remaining:
      - '36'
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"rubyListtagsbymetricnamereturnsSuccessresponse1614797840","attributes":{"tags":["datacenter","app","rubyListtagsbymetricnamereturnsSuccessresponse1614797840"],"include_percentiles":false,"created_at":"2021-03-03T18:57:20.421135+00:00","updated_at":"2021-03-03T18:57:20.421135+00:00","metric_type":"distribution"}}}'
  recorded_at: Wed, 03 Mar 2021 18:57:20 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/metrics/rubyListtagsbymetricnamereturnsSuccessresponse1614797840/all-tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4022232'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '160'
      X-Ratelimit-Remaining:
      - '598'
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"metrics","id":"rubyListtagsbymetricnamereturnsSuccessresponse1614797840","attributes":{"tags":[]}}}'
  recorded_at: Wed, 03 Mar 2021 18:57:20 GMT
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1617955289998/tags
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"tags":["app","datacenter","TestListtagsbymetricnamereturnsSuccessresponse1617955289998"],"metric_type":"distribution"},"type":"manage_tags","id":"TestListtagsbymetricnamereturnsSuccessresponse1617955289998"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4273965'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '30'
      X-Ratelimit-Remaining:
      - '35'
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"TestListtagsbymetricnamereturnsSuccessresponse1617955289998","attributes":{"tags":["datacenter","TestListtagsbymetricnamereturnsSuccessresponse1617955289998","app"],"include_percentiles":false,"created_at":"2021-04-09T08:01:30.095541+00:00","updated_at":"2021-04-09T08:01:30.095541+00:00","metric_type":"distribution"}}}'
  recorded_at: Fri, 09 Apr 2021 08:01:29 GMT
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1617955289998/all-tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4273965'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '3510'
      X-Ratelimit-Remaining:
      - '596'
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
    body:
      encoding: UTF-8
      string: '{"data":{"type":"metrics","id":"TestListtagsbymetricnamereturnsSuccessresponse1617955289998","attributes":{"tags":[]}}}'
  recorded_at: Fri, 09 Apr 2021 08:01:29 GMT
[...]
- request:
    method: get
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagsbymetricnamereturnsSuccessresponse1617968745/all-tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Reset:
      - '854'
      X-Ratelimit-Remaining:
      - '589'
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
    body:
      encoding: UTF-8
      string: '{"data":{"type":"metrics","id":"TestListtagsbymetricnamereturnsSuccessresponse1617968745","attributes":{"tags":[]}}}'
  recorded_at: Fri, 09 Apr 2021 11:45:45 GMT
recorded_with: VCR 6.0.0
