http_interactions:
- recorded_at: Thu, 15 Apr 2021 13:02:16 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metric_type":"distribution","tags":["app","datacenter","TestListtagconfigurationsreturnsSuccessresponse1618491736"]},"id":"TestListtagconfigurationsreturnsSuccessresponse1618491736","type":"manage_tags"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '44'
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationsreturnsSuccessresponse1618491736/tags
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1618491736","attributes":{"tags":["datacenter","app","TestListtagconfigurationsreturnsSuccessresponse1618491736"],"include_percentiles":false,"created_at":"2021-04-15T13:02:16.731735+00:00","updated_at":"2021-04-15T13:02:16.731735+00:00","metric_type":"distribution"}}}'
    status:
      code: 201
      message: Created
- recorded_at: Thu, 15 Apr 2021 13:02:16 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '43'
    method: GET
    uri: https://api.datadoghq.com/api/v2/metrics?filter%5Btags_configured%5D=TestListtagconfigurationsreturnsSuccessresponse1618491736
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1618491736","attributes":{"tags":["datacenter","app","TestListtagconfigurationsreturnsSuccessresponse1618491736"],"include_percentiles":false,"created_at":"2021-04-15T13:02:16.731735+00:00","updated_at":"2021-04-15T13:02:16.731735+00:00","metric_type":"distribution"}}]}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Apr 2021 13:02:16 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      X-Dd-Version:
      - '35.4318655'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Reset:
      - '37'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationsreturnsSuccessresponse1618491736/tags
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
