http_interactions:
- recorded_at: Thu, 04 Jun 2026 16:39:37 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"rule_ids":["00000000-0000-0000-0000-000000000001","00000000-0000-0000-0000-000000000002"]},"type":"tag_indexing_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/order
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["One or more tag indexing rule IDs not found"]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
