http_interactions:
- recorded_at: Thu, 04 Jun 2026 16:39:37 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"rule_ids":[]},"type":"tag_indexing_rules"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/order
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["rule_ids must not be empty"]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
