http_interactions:
- recorded_at: Wed, 21 Dec 2022 11:14:00 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"formulas":[{"formula":"a+b","limit":{"count":10,"order":"desc"}}],"from":1568899800000,"queries":[{"aggregator":"avg","data_source":"metrics","name":"a","query":"avg:system.cpu.user{*}"}],"to":1568923200000},"type":"scalar_request"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/query/scalar
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Queries ending outside the retention date are invalid"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
