http_interactions:
- recorded_at: Wed, 15 Apr 2026 23:06:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"formulas":[{"formula":"a","limit":{"count":10,"order":"desc"}}],"from":1776290798000,"queries":[{"compute":{"aggregation":"count"},"data_source":"network","indexes":["*"],"name":"a","search":{"query":"*"}}],"to":1776294398000},"type":"scalar_request"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/query/scalar
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0","type":"scalar_response","attributes":{"columns":[{"name":"a","values":[],"type":"number","meta":{"unit":null}}]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
