http_interactions:
- recorded_at: Tue, 12 Jul 2022 21:45:36 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"system.load.1","points":[{"timestamp":1657662336,"value":0.7}],"resources":[{"name":"dummyhost","type":"host"}],"type":0}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/series
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
recorded_with: VCR 6.0.0
