http_interactions:
- recorded_at: Mon, 16 May 2022 16:31:27 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/metrics/system.cpu.idle/estimate?filter%5Bgroups%5D=app%2Chost&filter%5Bnum_aggregations%5D=4
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"estimated_output_series":68,"estimate_type":"count_or_gauge","estimated_at":"2022-05-14T09:31:28.108179Z"},"type":"metric_cardinality_estimate","id":"system.cpu.idle"}}

        '
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
