http_interactions:
- recorded_at: Mon, 01 Apr 2024 14:20:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"formulas":[{"formula":"a","limit":{"count":10,"order":"desc"}}],"from":1711977601000,"interval":5000,"queries":[{"data_source":"metrics","name":"a","query":"avg:datadog.estimated_usage.metrics.custom{*}"}],"to":1711981201000},"type":"timeseries_request"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/query/timeseries
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0","type":"timeseries_response","attributes":{"series":[{"group_tags":[],"query_index":0,"unit":null}],"times":[1711977645000,1711977705000,1711980225000],"values":[[1,1,87]]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
