http_interactions:
- recorded_at: Wed, 15 Apr 2026 23:06:42 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"formulas":[{"formula":"a","limit":{"count":10,"order":"desc"}}],"from":1776290802000,"interval":5000,"queries":[{"compute":{"aggregation":"count"},"data_source":"on_call_events","indexes":["*"],"name":"a","search":{"query":"*"}}],"to":1776294402000},"type":"timeseries_request"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/query/timeseries
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0","type":"timeseries_response","attributes":{"series":[{"group_tags":[],"query_index":0,"unit":null}],"times":[1776294280000,1776294285000],"values":[[2,3]]}}}

        '
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
