---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/metrics/rubyUpdateaTagConfigurationreturnsOKresponse1613037337/tags
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"tags":["app","datacenter","rubyUpdateaTagConfigurationreturnsOKresponse1613037337"],"metric_type":"distribution"},"type":"manage_tags","id":"rubyUpdateaTagConfigurationreturnsOKresponse1613037337"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3888455'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '23'
      X-Ratelimit-Remaining:
      - '38'
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"rubyUpdateaTagConfigurationreturnsOKresponse1613037337","attributes":{"tags":["datacenter","app","rubyUpdateaTagConfigurationreturnsOKresponse1613037337"],"include_percentiles":false,"created_at":"2021-02-11T09:55:37.229130+00:00","updated_at":"2021-02-11T09:55:37.229130+00:00","metric_type":"distribution"}}}'
  recorded_at: Thu, 11 Feb 2021 09:55:37 GMT
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/metrics/rubyUpdateaTagConfigurationreturnsOKresponse1613037337/tags
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"rubyUpdateaTagConfigurationreturnsOKresponse1613037337","attributes":{"tags":["app"]}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3888455'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '23'
      X-Ratelimit-Remaining:
      - '37'
      X-Dd-Debug:
      - "/L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG"
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"rubyUpdateaTagConfigurationreturnsOKresponse1613037337","attributes":{"tags":["app"],"include_percentiles":false,"created_at":"2021-02-11T09:55:37.229130+00:00","updated_at":"2021-02-11T09:55:37.392804+00:00","metric_type":"distribution"}}}'
  recorded_at: Thu, 11 Feb 2021 09:55:37 GMT
recorded_with: VCR 6.0.0
