http_interactions:
- recorded_at: Tue, 29 Mar 2022 16:50:57 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"TestUpdateatagconfigurationreturnsOKresponse1648572657","points":[[1648572657,1.1]],"tags":["test:ExampleSubmitmetricsreturnsPayloadacceptedresponse"],"type":"gauge"}]}'
    headers:
      Content-Type:
      - text/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/series
  response:
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
    status:
      code: 202
      message: Accepted
- recorded_at: Tue, 29 Mar 2022 16:50:57 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metric_type":"gauge","tags":["app","datacenter","TestUpdateatagconfigurationreturnsOKresponse1648572657"]},"id":"TestUpdateatagconfigurationreturnsOKresponse1648572657","type":"manage_tags"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1648572657/tags
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"TestUpdateatagconfigurationreturnsOKresponse1648572657","attributes":{"tags":["datacenter","app","TestUpdateatagconfigurationreturnsOKresponse1648572657"],"created_at":"2022-03-29T16:50:58.686271+00:00","modified_at":"2022-03-29T16:50:58.686271+00:00","metric_type":"gauge","aggregations":[{"space":"avg","time":"avg"}]}}}'
    status:
      code: 201
      message: Created
[...]
- recorded_at: Tue, 29 Mar 2022 16:50:57 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1648572657/tags
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
