---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1617969405/tags
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"tags":["app","datacenter","TestUpdateatagconfigurationreturnsOKresponse1617969405"],"metric_type":"distribution"},"type":"manage_tags","id":"TestUpdateatagconfigurationreturnsOKresponse1617969405"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275259'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '15'
      X-Ratelimit-Remaining:
      - '33'
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"TestUpdateatagconfigurationreturnsOKresponse1617969405","attributes":{"tags":["TestUpdateatagconfigurationreturnsOKresponse1617969405","datacenter","app"],"include_percentiles":false,"created_at":"2021-04-09T11:56:45.636838+00:00","updated_at":"2021-04-09T11:56:45.636838+00:00","metric_type":"distribution"}}}'
  recorded_at: Fri, 09 Apr 2021 11:56:45 GMT
[...]
- request:
    method: patch
    uri: https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1617971029/tags
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"TestUpdateatagconfigurationreturnsOKresponse1617971029","attributes":{"tags":["app"]}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4275715'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Reset:
      - '11'
      X-Ratelimit-Remaining:
      - '32'
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"TestUpdateatagconfigurationreturnsOKresponse1617971029","attributes":{"tags":["app"],"include_percentiles":false,"created_at":"2021-04-09T12:23:49.415862+00:00","updated_at":"2021-04-09T12:23:49.579470+00:00","metric_type":"distribution"}}}'
  recorded_at: Fri, 09 Apr 2021 12:23:49 GMT
recorded_with: VCR 6.0.0
