http_interactions:
- recorded_at: Thu, 12 May 2022 11:19:32 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"TestUpdateatagconfigurationreturnsOKresponse1652354372","points":[[1652354372,1.1]],"tags":["test:ExampleSubmitmetricsreturnsPayloadacceptedresponse"],"type":"gauge"}]}'
    headers:
      Content-Type:
      - text/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/series
  response:
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
    status:
      code: 202
      message: Accepted
- recorded_at: Thu, 12 May 2022 11:19:32 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"metric_type":"gauge","tags":["app","datacenter","TestUpdateatagconfigurationreturnsOKresponse1652354372"]},"id":"TestUpdateatagconfigurationreturnsOKresponse1652354372","type":"manage_tags"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1652354372/tags
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"manage_tags","id":"TestUpdateatagconfigurationreturnsOKresponse1652354372","attributes":{"tags":["datacenter","TestUpdateatagconfigurationreturnsOKresponse1652354372","app"],"created_at":"2022-05-12T11:19:33.257425+00:00","modified_at":"2022-05-12T11:19:33.257425+00:00","metric_type":"gauge","aggregations":[{"space":"avg","time":"avg"}]}}}'
    status:
      code: 201
      message: Created
[...]
- recorded_at: Thu, 12 May 2022 11:19:32 GMT
  request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1652354372/tags
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
