http_interactions:
- recorded_at: Thu, 18 Aug 2022 09:19:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"config":{"assertions":[{"operator":"isInMoreThan","target":10,"type":"certificate"}],"request":{"host":"datadoghq.com","port":443}},"locations":["aws:us-east-2"],"message":"BDD
        test payload: synthetics_api_ssl_test_payload.json","name":"Test-Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response-1660814399","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"tick_every":60},"subtype":"ssl","tags":["testing:api"],"type":"api"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api
  response:
    body:
      encoding: UTF-8
      string: '{"status":"live","public_id":"un2-xsk-hdz","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"BDD
        test payload: synthetics_api_ssl_test_payload.json","deleted_at":null,"name":"Test-Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response-1660814399","monitor_id":80432997,"type":"api","created_at":"2022-08-18T09:20:00.062869+00:00","modified_at":"2022-08-18T09:20:00.062869+00:00","subtype":"ssl","config":{"request":{"host":"datadoghq.com","port":443},"assertions":[{"operator":"isInMoreThan","type":"certificate","target":10}]},"options":{"accept_self_signed":true,"checkCertificateRevocation":true,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 18 Aug 2022 09:19:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"public_ids":["un2-xsk-hdz"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_tests":[{"deleted_at":"2022-08-18T09:20:05.548624+00:00","public_id":"un2-xsk-hdz"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
