http_interactions:
- recorded_at: Thu, 18 Aug 2022 09:19:47 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"config":{"assertions":[{"operator":"is","target":1,"type":"grpcHealthcheckStatus"}],"request":{"host":"localhost","message":"","metadata":{},"method":"GET","port":50051,"service":"Hello"}},"locations":["aws:us-east-2"],"message":"BDD
        test payload: synthetics_api_grpc_test_payload.json","name":"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1660814387","options":{"min_failure_duration":0,"min_location_failed":1,"monitor_name":"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1660814387","monitor_options":{"renotify_interval":0},"tick_every":60},"subtype":"grpc","tags":["testing:api"],"type":"api"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api
  response:
    body:
      encoding: UTF-8
      string: '{"status":"live","public_id":"vef-dtr-m3a","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"BDD
        test payload: synthetics_api_grpc_test_payload.json","deleted_at":null,"name":"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1660814387","monitor_id":80432992,"type":"api","created_at":"2022-08-18T09:19:47.669239+00:00","modified_at":"2022-08-18T09:19:47.669239+00:00","subtype":"grpc","config":{"request":{"service":"Hello","port":50051,"host":"localhost","message":"","method":"GET","metadata":{}},"assertions":[{"operator":"is","type":"grpcHealthcheckStatus","target":1}]},"options":{"monitor_options":{"include_tags":true,"notify_no_data":false,"notify_audit":false,"new_host_delay":300,"renotify_interval":0},"tick_every":60,"monitor_name":"Test-Create_an_API_GRPC_test_returns_OK_Returns_the_created_test_details_response-1660814387","min_failure_duration":0,"min_location_failed":1}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 18 Aug 2022 09:19:47 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"public_ids":["vef-dtr-m3a"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_tests":[{"deleted_at":"2022-08-18T09:19:53.073279+00:00","public_id":"vef-dtr-m3a"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
