http_interactions:
- recorded_at: Wed, 18 May 2022 13:08:12 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"config":{"assertions":[],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"method":"GET","url":"https://datadoghq.com"},"setCookie":"name:test"},"locations":["aws:us-east-2"],"message":"Test
        message","name":"Test-Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response-1652879292","options":{"accept_self_signed":false,"allow_insecure":true,"device_ids":["tablet"],"disableCors":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"noScreenshot":true,"retry":{"count":3,"interval":10},"rumSettings":{"applicationId":"mockApplicationId","clientTokenId":123456,"isEnabled":true},"tick_every":300},"steps":[{"allowFailure":false,"isCritical":true,"name":"Refresh
        page","params":{},"type":"refresh"}],"tags":["testing:browser"],"type":"browser"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/browser
  response:
    body:
      encoding: UTF-8
      string: '{"status":"paused","public_id":"wfe-m7p-h4b","tags":["testing:browser"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Test
        message","deleted_at":null,"name":"Test-Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response-1652879292","monitor_id":71860323,"type":"browser","created_at":"2022-05-18T13:08:13.276145+00:00","modified_at":"2022-05-18T13:08:13.276145+00:00","steps":[{"name":"Refresh
        page","allowFailure":false,"params":{},"isCritical":true,"type":"refresh"}],"config":{"setCookie":"name:test","request":{"url":"https://datadoghq.com","method":"GET"},"assertions":[],"configVariables":[{"pattern":"content-type","type":"text","example":"content-type","name":"PROPERTY"}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"noScreenshot":true,"rumSettings":{"isEnabled":true,"applicationId":"mockApplicationId","clientTokenId":123456},"disableCors":true,"device_ids":["tablet"],"tick_every":300}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 18 May 2022 13:08:12 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"public_ids":["wfe-m7p-h4b"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_tests":[{"deleted_at":"2022-05-18T13:08:18.431221+00:00","public_id":"wfe-m7p-h4b"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
