http_interactions:
- recorded_at: Mon, 09 Dec 2024 11:18:17 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"config":{"variables":[]},"message":"","name":"Test-Get_a_Mobile_test_returns_OK_response-1733743097","options":{"device_ids":["synthetics:mobile:device:iphone_15_ios_17"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"tick_every":3600},"status":"paused","steps":[],"type":"mobile"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/mobile
  response:
    body:
      encoding: UTF-8
      string: '{"public_id":"n3k-v7t-7xq","name":"Test-Get_a_Mobile_test_returns_OK_response-1733743097","status":"paused","type":"mobile","tags":[],"created_at":"2024-12-09T11:18:17.937883+00:00","modified_at":"2024-12-09T11:18:17.937883+00:00","config":{"variables":[]},"message":"","options":{"device_ids":["synthetics:mobile:device:iphone_15_ios_17"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"tick_every":3600},"locations":["aws:us-west-2"],"created_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":159881055,"org_id":321813,"modified_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"stepCount":{"assertions":0,"subtests":0,"total":0}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 09 Dec 2024 11:18:17 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/mobile/n3k-v7t-7xq
  response:
    body:
      encoding: UTF-8
      string: '{"public_id":"n3k-v7t-7xq","name":"Test-Get_a_Mobile_test_returns_OK_response-1733743097","status":"paused","type":"mobile","tags":[],"created_at":"2024-12-09T11:18:17.937883+00:00","modified_at":"2024-12-09T11:18:17.937883+00:00","config":{"variables":[]},"message":"","options":{"device_ids":["synthetics:mobile:device:iphone_15_ios_17"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"tick_every":3600},"locations":["aws:us-west-2"],"monitor_id":159881055,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 09 Dec 2024 11:18:17 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"public_ids":["n3k-v7t-7xq"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_tests":[{"public_id":"n3k-v7t-7xq","deleted_at":"2024-12-09T11:18:19.255423+00:00"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
