http_interactions:
- recorded_at: Fri, 12 Nov 2021 17:35:35 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"config":{"assertions":[{"operator":"is","property":"{{ PROPERTY }}","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"}],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"certificate":{"cert":{"content":"cert-content","filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"content":"key-content","filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"headers":{"unique":"testtriggersomesyntheticstestsreturnsokresponse1636738535"},"method":"GET","timeout":10,"url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"BDD
        test payload: synthetics_api_test_payload.json","name":"Test-Trigger_some_Synthetics_tests_returns_OK_response-1636738535","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"monitor_name":"Test-Trigger_some_Synthetics_tests_returns_OK_response-1636738535","monitor_priority":5,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11999'
      X-Ratelimit-Reset:
      - '25'
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api
  response:
    body:
      encoding: UTF-8
      string: '{"status":"live","public_id":"jqf-wxg-5xc","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"BDD
        test payload: synthetics_api_test_payload.json","deleted_at":null,"name":"Test-Trigger_some_Synthetics_tests_returns_OK_response-1636738535","monitor_id":54284080,"type":"api","created_at":"2021-11-12T17:35:35.988611+00:00","modified_at":"2021-11-12T17:35:35.988611+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"unique":"testtriggersomesyntheticstestsreturnsokresponse1636738535"},"certificate":{"cert":{"filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"{{
        PROPERTY }}","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}}],"configVariables":[{"pattern":"content-type","type":"text","example":"content-type","name":"PROPERTY"}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"monitor_priority":5,"monitor_name":"Test-Trigger_some_Synthetics_tests_returns_OK_response-1636738535","tick_every":60}}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 12 Nov 2021 17:35:35 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"tests":[{"public_id":"jqf-wxg-5xc"}]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '4'
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Remaining:
      - '3'
      X-Ratelimit-Reset:
      - '264'
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/trigger
  response:
    body:
      encoding: UTF-8
      string: '{"batch_id":null,"results":[{"result_id":"7545278083435118828","public_id":"jqf-wxg-5xc","location":30005}],"triggered_check_ids":["jqf-wxg-5xc"],"locations":[{"display_name":"Ohio
        (AWS)","name":"aws:us-east-2","region":"Americas","is_active":true,"is_public":true,"id":30005}]}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 12 Nov 2021 17:35:35 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"public_ids":["jqf-wxg-5xc"]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '12000'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '11999'
      X-Ratelimit-Reset:
      - '24'
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_tests":[{"deleted_at":"2021-11-12T17:35:36.412774+00:00","public_id":"jqf-wxg-5xc"}]}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
