http_interactions:
- recorded_at: Tue, 26 Aug 2025 14:46:20 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"results":[{"entity_reference":"service:my-service","remarks":"See:
        <a href=\"https://app.datadoghq.com/services\">Services</a>","rule_id":"INVALID.RULE_ID","state":"pass"}]},"type":"batched-outcome"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/scorecard/outcomes
  response:
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"409","title":"Invalid rule_id"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 409
      message: Conflict
recorded_with: VCR 6.0.0
