http_interactions:
- recorded_at: Tue, 20 Jul 2021 11:32:58 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_list_stream_widget-1626780778
        with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"issue_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"rtz-4te-n7p","title":"Test-Create_a_new_dashboard_with_list_stream_widget-1626780778
        with list_stream widget","url":"/dashboard/rtz-4te-n7p/test-createanewdashboardwithliststreamwidget-1626780778-with-liststream-widget","created_at":"2021-07-20T11:32:58.826427+00:00","modified_at":"2021-07-20T11:32:58.826427+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"query":{"query_string":"","data_source":"issue_stream"},"response_format":"event_list","columns":[{"field":"timestamp","width":"auto"}]}],"type":"list_stream"},"id":4221232261759602}],"layout_type":"ordered"}'
    status:
      code: 200
      message: OK
- recorded_at: Tue, 20 Jul 2021 11:32:58 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/rtz-4te-n7p
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"rtz-4te-n7p"}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
