---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/dashboard
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"ruby-Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-1617016833
        with Profile Metrics Query","widgets":[{"definition":{"type":"timeseries","requests":[{"q":"sum:trace.test.errors{env:prod,service:datadog-api-client-python}
        by {resource_name}.as_count()","on_right_yaxis":false,"style":{"palette":"warm","line_type":"solid","line_width":"normal"},"display_type":"bars"}]}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.4189065'
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"author_name":null,"template_variables":null,"is_read_only":false,"id":"tmu-sra-wmu","title":"ruby-Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-1617016833
        with Profile Metrics Query","url":"/dashboard/tmu-sra-wmu/ruby-createanewdashboardwithtimeserieswidgetcontainingstyleattributes-1617016833","created_at":"2021-03-29T11:20:34.104973+00:00","modified_at":"2021-03-29T11:20:34.104973+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"q":"sum:trace.test.errors{env:prod,service:datadog-api-client-python}
        by {resource_name}.as_count()","on_right_yaxis":false,"style":{"line_width":"normal","palette":"warm","line_type":"solid"},"display_type":"bars"}],"type":"timeseries"},"id":6495249013841131}],"layout_type":"ordered"}'
  recorded_at: Mon, 29 Mar 2021 11:20:33 GMT
recorded_with: VCR 6.0.0
