http_interactions:
- recorded_at: Fri, 15 Nov 2024 19:32:37 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_check_status_widget-1731699157","widgets":[{"definition":{"check":"datadog.agent.up","grouping":"check","tags":["*"],"title_align":"left","title_size":"16","type":"check_status"},"layout":{"height":8,"width":15,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"h4u-ixe-ptt","title":"Test-Create_a_new_dashboard_with_check_status_widget-1731699157","description":"","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/h4u-ixe-ptt/test-createanewdashboardwithcheckstatuswidget-1731699157","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"check":"datadog.agent.up","grouping":"check","tags":["*"],"title_align":"left","title_size":"16","type":"check_status"},"layout":{"height":8,"width":15,"x":0,"y":0},"id":3317310368131706}],"notify_list":[],"created_at":"2024-11-15T19:32:37.813499+00:00","modified_at":"2024-11-15T19:32:37.813499+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:32:37 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/h4u-ixe-ptt
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"h4u-ixe-ptt"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
