http_interactions:
- recorded_at: Mon, 12 Sep 2022 20:05:48 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":null,"is_read_only":false,"layout_type":"ordered","notify_list":[],"reflow_type":"auto","restricted_roles":[],"template_variables":[{"available_values":["my-host","host1","host2"],"defaults":["my-host"],"name":"host1","prefix":"host"}],"title":"","widgets":[{"definition":{"requests":{"fill":{"q":"avg:system.cpu.user{*}"}},"type":"hostmap"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":[],"description":null,"restricted_roles":[],"author_name":null,"template_variables":[{"prefix":"host","defaults":["my-host"],"available_values":["my-host","host1","host2"],"name":"host1"}],"is_read_only":false,"id":"39h-cn5-kyd","title":"","url":"/dashboard/39h-cn5-kyd/","created_at":"2022-09-12T20:05:49.753763+00:00","modified_at":"2022-09-12T20:05:49.753763+00:00","reflow_type":"auto","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":{"fill":{"q":"avg:system.cpu.user{*}"}},"type":"hostmap"},"id":4911408545233424}],"layout_type":"ordered"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 12 Sep 2022 20:05:48 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/39h-cn5-kyd
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"39h-cn5-kyd"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
