http_interactions:
- recorded_at: Thu, 14 Nov 2024 19:12:19 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_check_status_widget-1731611539","widgets":[{"definition":{"check":"datadog.agent.up","grouping":"check","tags":["*"],"title_align":"left","title_size":"16","type":"check_status"},"layout":{"height":8,"width":15,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"vbg-22a-h5q","title":"Test-Create_a_new_dashboard_with_check_status_widget-1731611539","description":"","author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"free","url":"/dashboard/vbg-22a-h5q/test-createanewdashboardwithcheckstatuswidget-1731611539","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"check":"datadog.agent.up","grouping":"check","tags":["*"],"title_align":"left","title_size":"16","type":"check_status"},"layout":{"height":8,"width":15,"x":0,"y":0},"id":5653198180146562}],"notify_list":[],"created_at":"2024-11-14T19:12:19.614388+00:00","modified_at":"2024-11-14T19:12:19.614388+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 14 Nov 2024 19:12:19 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/vbg-22a-h5q
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"vbg-22a-h5q"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
