http_interactions:
- recorded_at: Mon, 19 Apr 2021 16:30:56 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_a_profile_metric_query-1618849856
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - '35.4342685'
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"author_name":null,"template_variables":null,"is_read_only":false,"id":"u82-g9u-st4","title":"Test-Create_a_new_dashboard_with_a_profile_metric_query-1618849856
        with Profile Metrics Query","url":"/dashboard/u82-g9u-st4/test-createanewdashboardwithaprofilemetricquery-1618849856-with-profile-metrics","created_at":"2021-04-19T16:30:57.031039+00:00","modified_at":"2021-04-19T16:30:57.031039+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":2478815064249381}],"layout_type":"ordered"}'
    status:
      code: 200
      message: OK
- recorded_at: Mon, 19 Apr 2021 16:30:56 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      X-Dd-Version:
      - '35.4342685'
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/u82-g9u-st4
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"u82-g9u-st4"}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
