http_interactions:
- recorded_at: Fri, 17 Sep 2021 10:08:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_formulas_and_functions_scatterplot_widget-1631873335","widgets":[{"definition":{"requests":{"table":{"formulas":[{"alias":"my-query1","dimension":"x","formula":"query1"},{"alias":"my-query2","dimension":"y","formula":"query2"}],"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}
        by {service}"},{"aggregator":"avg","data_source":"metrics","name":"query2","query":"avg:system.mem.used{*}
        by {service}"}],"response_format":"scalar"}},"title":"","title_align":"left","title_size":"16","type":"scatterplot"},"id":5346764334358972,"layout":{"height":2,"width":4,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"psg-3ga-96v","title":"Test-Create_a_new_dashboard_with_formulas_and_functions_scatterplot_widget-1631873335","url":"/dashboard/psg-3ga-96v/test-createanewdashboardwithformulasandfunctionsscatterplotwidget-1631873335","created_at":"2021-09-17T10:08:56.289100+00:00","modified_at":"2021-09-17T10:08:56.289100+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"type":"scatterplot","requests":{"table":{"formulas":[{"alias":"my-query1","dimension":"x","formula":"query1"},{"alias":"my-query2","dimension":"y","formula":"query2"}],"response_format":"scalar","queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}
        by {service}"},{"aggregator":"avg","data_source":"metrics","name":"query2","query":"avg:system.mem.used{*}
        by {service}"}]}},"title_align":"left","title_size":"16","title":""},"layout":{"y":0,"width":4,"x":0,"height":2},"id":5346764334358972}],"layout_type":"ordered"}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 17 Sep 2021 10:08:55 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/psg-3ga-96v
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"psg-3ga-96v"}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
