http_interactions:
- recorded_at: Fri, 15 Nov 2024 19:32:26 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"","layout_type":"ordered","title":"Test-Create_a_distribution_widget_using_a_histogram_request_containing_a_formulas_and_functions_APM_Stats-1731699146","widgets":[{"definition":{"requests":[{"query":{"data_source":"apm_resource_stats","env":"staging","group_by":["resource_name"],"name":"query1","operation_name":"universal.http.client","primary_tag_name":"datacenter","primary_tag_value":"*","service":"azure-bill-import","stat":"latency_distribution"},"request_type":"histogram","style":{"palette":"dog_classic"}}],"show_legend":false,"title":"APM
        Stats - Request latency HOP","title_align":"left","title_size":"16","type":"distribution","xaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"},"yaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"}},"layout":{"height":2,"width":4,"x":8,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"cp9-wz6-rpj","title":"Test-Create_a_distribution_widget_using_a_histogram_request_containing_a_formulas_and_functions_APM_Stats-1731699146","description":"","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/cp9-wz6-rpj/test-createadistributionwidgetusingahistogramrequestcontainingaformulasandfuncti","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"query":{"data_source":"apm_resource_stats","env":"staging","group_by":["resource_name"],"name":"query1","operation_name":"universal.http.client","primary_tag_name":"datacenter","primary_tag_value":"*","service":"azure-bill-import","stat":"latency_distribution"},"request_type":"histogram","style":{"palette":"dog_classic"}}],"show_legend":false,"title":"APM
        Stats - Request latency HOP","title_align":"left","title_size":"16","type":"distribution","xaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"},"yaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"}},"layout":{"height":2,"width":4,"x":8,"y":0},"id":4972373445820650}],"notify_list":null,"created_at":"2024-11-15T19:32:27.081537+00:00","modified_at":"2024-11-15T19:32:27.081537+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:32:26 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/cp9-wz6-rpj
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"cp9-wz6-rpj"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
