http_interactions:
- recorded_at: Thu, 06 Jan 2022 00:50:29 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_check_status_widget-1641430229","widgets":[{"definition":{"check":"datadog.agent.up","grouping":"check","tags":["*"],"title_align":"left","title_size":"16","type":"check_status"},"layout":{"height":8,"width":15,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"baz-eax-3ka","title":"Test-Create_a_new_dashboard_with_check_status_widget-1641430229","url":"/dashboard/baz-eax-3ka/test-createanewdashboardwithcheckstatuswidget-1641430229","created_at":"2022-01-06T00:50:29.799432+00:00","modified_at":"2022-01-06T00:50:29.799432+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","tags":["*"],"title_align":"left","type":"check_status","check":"datadog.agent.up","grouping":"check"},"layout":{"y":0,"width":15,"x":0,"height":8},"id":3518672671182396}],"layout_type":"free"}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 06 Jan 2022 00:50:29 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/baz-eax-3ka
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"baz-eax-3ka"}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
