http_interactions:
- recorded_at: Thu, 14 Nov 2024 19:12:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":null,"layout_type":"ordered","notify_list":[],"reflow_type":"auto","restricted_roles":[],"template_variable_presets":[{"name":"my
        saved view","template_variables":[{"name":"datacenter","values":["*","my-host"]}]}],"template_variables":[{"available_values":["my-host","host1","host2"],"defaults":["my-host"],"name":"host1","prefix":"host"}],"title":"","widgets":[{"definition":{"requests":{"fill":{"q":"avg:system.cpu.user{*}"}},"type":"hostmap"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"aea-ma4-izr","title":"","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/aea-ma4-izr/","is_read_only":false,"template_variables":[{"available_values":["my-host","host1","host2"],"defaults":["my-host"],"name":"host1","prefix":"host"}],"widgets":[{"definition":{"requests":{"fill":{"q":"avg:system.cpu.user{*}"}},"type":"hostmap"},"id":725916093061701}],"notify_list":[],"created_at":"2024-11-14T19:12:41.457782+00:00","modified_at":"2024-11-14T19:12:41.457782+00:00","template_variable_presets":[{"name":"my
        saved view","template_variables":[{"name":"datacenter","values":["*","my-host"]}]}],"reflow_type":"auto","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 14 Nov 2024 19:12:41 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/aea-ma4-izr
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"aea-ma4-izr"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
