http_interactions:
- recorded_at: Fri, 15 Nov 2024 19:33:03 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_shared_dashboard_returns_OK_response-1731699183
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"g3v-56r-qqm","title":"Test-Create_a_shared_dashboard_returns_OK_response-1731699183
        with Profile Metrics Query","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/g3v-56r-qqm/test-createashareddashboardreturnsokresponse-1731699183-with-profile-metrics-que","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":7951506467220611}],"notify_list":null,"created_at":"2024-11-15T19:33:04.124805+00:00","modified_at":"2024-11-15T19:33:04.124805+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:33:03 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"dashboard_id":"g3v-56r-qqm","dashboard_type":"custom_timeboard","global_time":{"live_span":"1h"},"share_type":"open"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/public
  response:
    body:
      encoding: UTF-8
      string: '{"author":{"handle":"frog@datadoghq.com","name":null},"dashboard_id":"g3v-56r-qqm","dashboard_type":"custom_timeboard","status":"active","title":"Test-Create_a_shared_dashboard_returns_OK_response-1731699183
        with Profile Metrics Query","viewing_preferences":{},"expiration":null,"last_accessed":null,"global_time_selectable_enabled":false,"global_time":{"live_span":"1h"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-4893b23e8e8483063cfae1c21abb8de1","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-4893b23e8e8483063cfae1c21abb8de1","created":"2024-11-15T19:33:04.453114+00:00","share_type":"open","share_list":null,"session_duration_in_days":null,"invitees":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:33:03 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-4893b23e8e8483063cfae1c21abb8de1
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_public_dashboard_token":"fasjyydbcgwwc2uc-4893b23e8e8483063cfae1c21abb8de1"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:33:03 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/g3v-56r-qqm
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"g3v-56r-qqm"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
