http_interactions:
- recorded_at: Thu, 14 Nov 2024 19:12:34 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_run_workflow_widget-1731611554","widgets":[{"definition":{"inputs":[{"name":"environment","value":"$env.value"}],"time":{},"title":"Run
        workflow title","title_align":"left","title_size":"16","type":"run_workflow","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"7jz-n57-595","title":"Test-Create_a_new_dashboard_with_run_workflow_widget-1731611554","description":"","author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"free","url":"/dashboard/7jz-n57-595/test-createanewdashboardwithrunworkflowwidget-1731611554","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"inputs":[{"name":"environment","value":"$env.value"}],"time":{},"title":"Run
        workflow title","title_align":"left","title_size":"16","type":"run_workflow","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160"},"layout":{"height":15,"width":47,"x":0,"y":0},"id":5610878758364938}],"notify_list":[],"created_at":"2024-11-14T19:12:34.770757+00:00","modified_at":"2024-11-14T19:12:34.770757+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 14 Nov 2024 19:12:34 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/7jz-n57-595
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"7jz-n57-595"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
