http_interactions:
- recorded_at: Fri, 15 Nov 2024 19:32:39 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_event_stream_widget-1731699159","widgets":[{"definition":{"event_size":"s","query":"example-query","tags_execution":"and","title":"","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":38,"width":47,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"uki-9bd-4fm","title":"Test-Create_a_new_dashboard_with_event_stream_widget-1731699159","description":"","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/uki-9bd-4fm/test-createanewdashboardwitheventstreamwidget-1731699159","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"event_size":"s","query":"example-query","tags_execution":"and","title":"","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":38,"width":47,"x":0,"y":0},"id":7158238942702313}],"notify_list":[],"created_at":"2024-11-15T19:32:39.414884+00:00","modified_at":"2024-11-15T19:32:39.414884+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:32:39 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/uki-9bd-4fm
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"uki-9bd-4fm"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
