http_interactions:
- recorded_at: Thu, 23 Dec 2021 18:31:29 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_servicemap_widget-1640284289","widgets":[{"definition":{"filters":["env:none","environment:*"],"service":"","title":"","title_align":"left","title_size":"16","type":"servicemap"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"m3e-fhw-dfa","title":"Test-Create_a_new_dashboard_with_servicemap_widget-1640284289","url":"/dashboard/m3e-fhw-dfa/test-createanewdashboardwithservicemapwidget-1640284289","created_at":"2021-12-23T18:31:29.624418+00:00","modified_at":"2021-12-23T18:31:29.624418+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","service":"","title":"","title_align":"left","filters":["env:none","environment:*"],"type":"servicemap"},"layout":{"y":0,"width":47,"x":0,"height":15},"id":8217718338391278}],"layout_type":"free"}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 23 Dec 2021 18:31:29 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/m3e-fhw-dfa
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"m3e-fhw-dfa"}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
