http_interactions:
- recorded_at: Mon, 02 Mar 2026 11:32:24 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","reflow_type":"auto","title":"Test-Create_a_new_timeseries_widget_with_ci_tests_data_source-1772451144
        with ci_tests datasource","widgets":[{"definition":{"legend_columns":["avg","min","max","value","sum"],"legend_layout":"auto","requests":[{"display_type":"line","formulas":[{"formula":"query1"}],"queries":[{"compute":{"aggregation":"count"},"data_source":"ci_tests","indexes":["*"],"name":"query1","search":{"query":"test_level:test"}}],"response_format":"timeseries","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":true,"time":{},"title":"","type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"f66-zye-xua","title":"Test-Create_a_new_timeseries_widget_with_ci_tests_data_source-1772451144
        with ci_tests datasource","description":null,"author_handle":"archana.asokan@datadoghq.com","author_name":"Archana
        Asokan","layout_type":"ordered","url":"/dashboard/f66-zye-xua/test-createanewtimeserieswidgetwithcitestsdatasource-1772451144-with-citests-dat","template_variables":null,"widgets":[{"definition":{"legend_columns":["avg","min","max","value","sum"],"legend_layout":"auto","requests":[{"display_type":"line","formulas":[{"formula":"query1"}],"queries":[{"compute":{"aggregation":"count"},"data_source":"ci_tests","indexes":["*"],"name":"query1","search":{"query":"test_level:test"}}],"response_format":"timeseries","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":true,"time":{},"title":"","type":"timeseries"},"id":385385549859535}],"notify_list":null,"created_at":"2026-03-02T11:32:24.462023+00:00","modified_at":"2026-03-02T11:32:24.462023+00:00","reflow_type":"auto","restricted_roles":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 02 Mar 2026 11:32:24 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/f66-zye-xua
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"f66-zye-xua"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
