http_interactions:
- recorded_at: Thu, 26 Jan 2023 10:05:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_run_workflow_widget-1674727559","widgets":[{"definition":{"inputs":[{"name":"environment","value":"$env.value"}],"time":{},"title":"Run
        workflow title","title_align":"left","title_size":"16","type":"run_workflow","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"pnw-fkv-n4x","title":"Test-Create_a_new_dashboard_with_run_workflow_widget-1674727559","url":"/dashboard/pnw-fkv-n4x/test-createanewdashboardwithrunworkflowwidget-1674727559","created_at":"2023-01-26T10:06:00.011221+00:00","modified_at":"2023-01-26T10:06:00.011221+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"inputs":[{"name":"environment","value":"$env.value"}],"title_size":"16","title":"Run
        workflow title","title_align":"left","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160","time":{},"type":"run_workflow"},"layout":{"y":0,"width":47,"x":0,"height":15},"id":737363147915504}],"layout_type":"free"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 26 Jan 2023 10:05:59 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/pnw-fkv-n4x
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"pnw-fkv-n4x"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
