http_interactions:
- recorded_at: Thu, 06 Jan 2022 00:50:36 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_list_stream_widget-1641430236
        with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"issue_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"a55-ncv-i3b","title":"Test-Create_a_new_dashboard_with_list_stream_widget-1641430236
        with list_stream widget","url":"/dashboard/a55-ncv-i3b/test-createanewdashboardwithliststreamwidget-1641430236-with-liststream-widget","created_at":"2022-01-06T00:50:36.516935+00:00","modified_at":"2022-01-06T00:50:36.516935+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"query":{"query_string":"","data_source":"issue_stream"},"response_format":"event_list","columns":[{"field":"timestamp","width":"auto"}]}],"type":"list_stream"},"id":5504795795756241}],"layout_type":"ordered"}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 06 Jan 2022 00:50:36 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/a55-ncv-i3b
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"a55-ncv-i3b"}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
