http_interactions:
- recorded_at: Fri, 15 Nov 2024 19:32:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-1731699179
        with timeseries widget","widgets":[{"definition":{"requests":[{"display_type":"bars","on_right_yaxis":false,"q":"sum:trace.test.errors{env:prod,service:datadog-api-spec}
        by {resource_name}.as_count()","style":{"line_type":"solid","line_width":"normal","palette":"warm"}}],"type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"3g2-7q5-mxv","title":"Test-Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-1731699179
        with timeseries widget","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/3g2-7q5-mxv/test-createanewdashboardwithtimeserieswidgetcontainingstyleattributes-1731699179","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"display_type":"bars","on_right_yaxis":false,"q":"sum:trace.test.errors{env:prod,service:datadog-api-spec}
        by {resource_name}.as_count()","style":{"line_type":"solid","line_width":"normal","palette":"warm"}}],"type":"timeseries"},"id":6683223163247608}],"notify_list":null,"created_at":"2024-11-15T19:32:59.447813+00:00","modified_at":"2024-11-15T19:32:59.447813+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:32:59 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/3g2-7q5-mxv
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"3g2-7q5-mxv"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
