http_interactions:
- recorded_at: Tue, 29 Aug 2023 23:33:40 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_sunburst_widget_and_metrics_data-1693352020","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"query1","query":"sum:system.mem.used{*}
        by {service}"}],"response_format":"scalar","style":{"palette":"dog_classic"}}],"title":"","title_align":"left","title_size":"16","type":"sunburst"},"layout":{"height":4,"width":4,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"p9p-tab-wa7","title":"Test-Create_a_new_dashboard_with_sunburst_widget_and_metrics_data-1693352020","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/p9p-tab-wa7/test-createanewdashboardwithsunburstwidgetandmetricsdata-1693352020","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"query1","query":"sum:system.mem.used{*}
        by {service}"}],"response_format":"scalar","style":{"palette":"dog_classic"}}],"title":"","title_align":"left","title_size":"16","type":"sunburst"},"layout":{"height":4,"width":4,"x":0,"y":0},"id":4956604535424180}],"notify_list":null,"created_at":"2023-08-29T23:33:41.087237+00:00","modified_at":"2023-08-29T23:33:41.087237+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 29 Aug 2023 23:33:40 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/p9p-tab-wa7
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"p9p-tab-wa7"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
