http_interactions:
- recorded_at: Fri, 31 Mar 2023 21:01:49 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"dashboard_id":"abc-123-def","dashboard_type":"custom_timeboard","global_time":{"live_span":"1h"},"share_type":"open"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/public
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["custom_timeboard abc-123-def not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
