http_interactions:
- recorded_at: Thu, 23 Dec 2021 18:40:17 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":null,"is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_geomap_widget-1640284817","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1","limit":{"count":250,"order":"desc"}}],"queries":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[{"facet":"@geo.country_iso_code","limit":250,"sort":{"aggregation":"count","order":"desc"}}],"indexes":["*"],"name":"query1","search":{"query":""}}],"response_format":"scalar"}],"style":{"palette":"hostmap_blues","palette_flip":false},"time":{},"title":"","title_align":"left","title_size":"16","type":"geomap","view":{"focus":"WORLD"}},"layout":{"height":30,"width":47,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":[],"description":null,"restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"tg2-5sr-akj","title":"Test-Create_a_new_dashboard_with_geomap_widget-1640284817","url":"/dashboard/tg2-5sr-akj/test-createanewdashboardwithgeomapwidget-1640284817","created_at":"2021-12-23T18:40:17.414376+00:00","modified_at":"2021-12-23T18:40:17.414376+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"style":{"palette":"hostmap_blues","palette_flip":false},"title_size":"16","title":"","title_align":"left","time":{},"requests":[{"formulas":[{"formula":"query1","limit":{"count":250,"order":"desc"}}],"response_format":"scalar","queries":[{"search":{"query":""},"data_source":"rum","compute":{"aggregation":"count"},"name":"query1","indexes":["*"],"group_by":[{"facet":"@geo.country_iso_code","sort":{"aggregation":"count","order":"desc"},"limit":250}]}]}],"type":"geomap","view":{"focus":"WORLD"}},"layout":{"y":0,"width":47,"x":0,"height":30},"id":6164508113410427}],"layout_type":"free"}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 23 Dec 2021 18:40:17 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/tg2-5sr-akj
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"tg2-5sr-akj"}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
