http_interactions:
- recorded_at: Thu, 14 Nov 2024 19:12:29 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_logs_stream_list_stream_widget_and_storage_parameter-1731611549
        with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"logs_stream","query_string":"","storage":"hot"},"response_format":"event_list"}],"type":"list_stream"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"u2y-5dh-mxx","title":"Test-Create_a_new_dashboard_with_logs_stream_list_stream_widget_and_storage_parameter-1731611549
        with list_stream widget","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/u2y-5dh-mxx/test-createanewdashboardwithlogsstreamliststreamwidgetandstorageparameter-173161","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"logs_stream","query_string":"","storage":"hot"},"response_format":"event_list"}],"type":"list_stream"},"id":2341700770963801}],"notify_list":null,"created_at":"2024-11-14T19:12:29.821235+00:00","modified_at":"2024-11-14T19:12:29.821235+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 14 Nov 2024 19:12:29 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/u2y-5dh-mxx
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"u2y-5dh-mxx"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
