http_interactions:
- recorded_at: Mon, 15 Aug 2022 18:04:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"message":"some message Notify: @hipchat-channel","name":"Test-Create_a_new_dashboard_with_alert_value_widget-1660586678","options":{"enable_logs_sample":true,"escalation_message":"the
        situation has escalated","evaluation_delay":700,"groupby_simple_monitor":true,"include_tags":true,"locked":false,"new_host_delay":600,"no_data_timeframe":null,"notify_audit":false,"notify_no_data":false,"on_missing_data":"show_and_notify_no_data","renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"warning":1},"timeout_h":24},"priority":3,"query":"logs(\"service:foo
        AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
        > 2","tags":["test:testcreateanewdashboardwithalertvaluewidget1660586678","env:ci"],"type":"log
        alert"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor
  response:
    body:
      encoding: UTF-8
      string: '{"restricted_roles":null,"tags":["test:testcreateanewdashboardwithalertvaluewidget1660586678","env:ci"],"deleted":null,"query":"logs(\"service:foo
        AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
        > 2","message":"some message Notify: @hipchat-channel","id":80119041,"multi":true,"name":"Test-Create_a_new_dashboard_with_alert_value_widget-1660586678","created":"2022-08-15T18:04:38.421687+00:00","created_at":1660586678000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2022-08-15T18:04:38.421687+00:00","priority":3,"overall_state_modified":null,"overall_state":"No
        Data","type":"log alert","options":{"notify_audit":false,"locked":false,"timeout_h":24,"renotify_interval":60,"include_tags":true,"no_data_timeframe":null,"silenced":{},"new_host_delay":600,"on_missing_data":"show_and_notify_no_data","require_full_window":true,"notify_no_data":false,"enable_logs_sample":true,"groupby_simple_monitor":true,"escalation_message":"the
        situation has escalated","evaluation_delay":700,"thresholds":{"critical":2.0,"warning":1.0}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 15 Aug 2022 18:04:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_alert_value_widget-1660586678","widgets":[{"definition":{"alert_id":"80119041","precision":2,"text_align":"left","title":"","title_align":"left","title_size":"16","type":"alert_value","unit":"auto"},"layout":{"height":8,"width":15,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"p6f-bg6-nct","title":"Test-Create_a_new_dashboard_with_alert_value_widget-1660586678","url":"/dashboard/p6f-bg6-nct/test-createanewdashboardwithalertvaluewidget-1660586678","created_at":"2022-08-15T18:04:38.876542+00:00","modified_at":"2022-08-15T18:04:38.876542+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"","title_align":"left","text_align":"left","precision":2,"alert_id":"80119041","type":"alert_value","unit":"auto"},"layout":{"y":0,"width":15,"x":0,"height":8},"id":6590887257395158}],"layout_type":"free"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 15 Aug 2022 18:04:38 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/p6f-bg6-nct
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"p6f-bg6-nct"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 15 Aug 2022 18:04:38 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/monitor/80119041
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_monitor_id":80119041}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
