---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/dashboard
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"ruby-Create_a_new_dashboard_with_a_profile_metric_query-1613390817
        with Profile Metrics Query","widgets":[{"definition":{"type":"timeseries","requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","order":"desc","facet":"@prof_core_cpu_cores"}}]}}]}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - '35.3909333'
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"author_name":null,"template_variables":null,"is_read_only":false,"id":"mn6-863-t48","title":"ruby-Create_a_new_dashboard_with_a_profile_metric_query-1613390817
        with Profile Metrics Query","url":"/dashboard/mn6-863-t48/ruby-createanewdashboardwithaprofilemetricquery-1613390817-with-profile-metrics","created_at":"2021-02-15T12:06:57.768895+00:00","modified_at":"2021-02-15T12:06:57.768895+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":1003400151249981}],"layout_type":"ordered"}'
  recorded_at: Mon, 15 Feb 2021 12:06:57 GMT
recorded_with: VCR 6.0.0
