http_interactions:
- recorded_at: Thu, 14 Nov 2024 19:12:31 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_note_widget-1731611551","widgets":[{"definition":{"content":"#
        Example Note","type":"note"},"layout":{"height":24,"width":18,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"tsm-3qy-my2","title":"Test-Create_a_new_dashboard_with_note_widget-1731611551","description":"","author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"free","url":"/dashboard/tsm-3qy-my2/test-createanewdashboardwithnotewidget-1731611551","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"#
        Example Note","type":"note"},"layout":{"height":24,"width":18,"x":0,"y":0},"id":1906638315550440}],"notify_list":[],"created_at":"2024-11-14T19:12:31.403064+00:00","modified_at":"2024-11-14T19:12:31.403064+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 14 Nov 2024 19:12:31 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/tsm-3qy-my2
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"tsm-3qy-my2"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
