http_interactions:
- recorded_at: Fri, 02 Jan 2026 15:27:06 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_sankey_widget_and_product_analytics_data_source-1767367626","widgets":[{"definition":{"requests":[{"query":{"data_source":"product_analytics","mode":"source","query_string":"@type:session"},"request_type":"sankey"}],"title":"","title_align":"left","title_size":"16","type":"sankey"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"y6u-yab-bdi","title":"Test-Create_a_new_dashboard_with_sankey_widget_and_product_analytics_data_source-1767367626","description":"","author_handle":"sophie.cao@datadoghq.com","author_name":"Sophie
        Cao","layout_type":"free","url":"/dashboard/y6u-yab-bdi/test-createanewdashboardwithsankeywidgetandproductanalyticsdatasource-1767367626","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"product_analytics","mode":"source","query_string":"@type:session"},"request_type":"sankey"}],"title":"","title_align":"left","title_size":"16","type":"sankey"},"layout":{"height":15,"width":47,"x":0,"y":0},"id":7919851856522238}],"notify_list":[],"created_at":"2026-01-02T15:27:06.177915+00:00","modified_at":"2026-01-02T15:27:06.177915+00:00","restricted_roles":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 02 Jan 2026 15:27:06 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/y6u-yab-bdi
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"y6u-yab-bdi"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
