http_interactions:
- recorded_at: Fri, 15 Nov 2024 19:32:38 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_distribution_widget_and_apm_stats_data-1731699158","widgets":[{"definition":{"requests":[{"apm_stats_query":{"env":"prod","name":"cassandra.query","primary_tag":"datacenter:dc1","row_type":"service","service":"cassandra"}}],"title":"","title_align":"left","title_size":"16","type":"distribution"},"layout":{"height":4,"width":4,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"jbq-s5a-g9h","title":"Test-Create_a_new_dashboard_with_distribution_widget_and_apm_stats_data-1731699158","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/jbq-s5a-g9h/test-createanewdashboardwithdistributionwidgetandapmstatsdata-1731699158","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"apm_stats_query":{"env":"prod","name":"cassandra.query","primary_tag":"datacenter:dc1","row_type":"service","service":"cassandra"}}],"title":"","title_align":"left","title_size":"16","type":"distribution"},"layout":{"height":4,"width":4,"x":0,"y":0},"id":1068260925995159}],"notify_list":null,"created_at":"2024-11-15T19:32:38.651425+00:00","modified_at":"2024-11-15T19:32:38.651425+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:32:38 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/jbq-s5a-g9h
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"jbq-s5a-g9h"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
