http_interactions:
- recorded_at: Fri, 15 Nov 2024 19:32:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_list_stream_widget_with_a_valid_sort_parameter_ASC-1731699164
        with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"event_stream","event_size":"l","query_string":"","sort":{"column":"timestamp","order":"asc"}},"response_format":"event_list"}],"type":"list_stream"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"hmc-wyw-pru","title":"Test-Create_a_new_dashboard_with_list_stream_widget_with_a_valid_sort_parameter_ASC-1731699164
        with list_stream widget","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/hmc-wyw-pru/test-createanewdashboardwithliststreamwidgetwithavalidsortparameterasc-173169916","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"event_stream","event_size":"l","query_string":"","sort":{"column":"timestamp","order":"asc"}},"response_format":"event_list"}],"type":"list_stream"},"id":7981858941071295}],"notify_list":null,"created_at":"2024-11-15T19:32:44.713178+00:00","modified_at":"2024-11-15T19:32:44.713178+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:32:44 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/hmc-wyw-pru
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"hmc-wyw-pru"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
