http_interactions:
- recorded_at: Thu, 06 Jan 2022 00:50:42 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_trace_service_widget-1641430242","widgets":[{"definition":{"display_format":"two_column","env":"none","service":"","show_breakdown":true,"show_distribution":true,"show_errors":true,"show_hits":true,"show_latency":true,"show_resource_list":false,"size_format":"medium","span_name":"","time":{},"title":"Service
        Summary","type":"trace_service"},"layout":{"height":72,"width":72,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"y2w-4ed-wj5","title":"Test-Create_a_new_dashboard_with_trace_service_widget-1641430242","url":"/dashboard/y2w-4ed-wj5/test-createanewdashboardwithtraceservicewidget-1641430242","created_at":"2022-01-06T00:50:42.720557+00:00","modified_at":"2022-01-06T00:50:42.720557+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"span_name":"","type":"trace_service","service":"","title":"Service
        Summary","size_format":"medium","show_hits":true,"show_errors":true,"show_breakdown":true,"env":"none","time":{},"show_distribution":true,"display_format":"two_column","show_latency":true,"show_resource_list":false},"layout":{"y":0,"width":72,"x":0,"height":72},"id":8414814446486210}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 06 Jan 2022 00:50:42 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/y2w-4ed-wj5
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"y2w-4ed-wj5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
