http_interactions:
- recorded_at: Mon, 29 Nov 2021 22:30:32 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_returns_OK_response-1638225032
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"3bx-gkd-w2k","title":"Test-Create_a_new_dashboard_returns_OK_response-1638225032
        with Profile Metrics Query","url":"/dashboard/3bx-gkd-w2k/test-createanewdashboardreturnsokresponse-1638225032-with-profile-metrics-query","created_at":"2021-11-29T22:30:32.645351+00:00","modified_at":"2021-11-29T22:30:32.645351+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":4897053143473204}],"layout_type":"ordered"}'
    status:
      code: 200
      message: OK
- recorded_at: Mon, 29 Nov 2021 22:30:32 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/3bx-gkd-w2k
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"3bx-gkd-w2k"}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
