http_interactions:
- recorded_at: Fri, 17 Sep 2021 14:24:30 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_funnel_widget-1631888670
        with funnel widget","widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","query_string":"","steps":[]},"request_type":"funnel"}],"type":"funnel"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"g9f-ifq-bnc","title":"Test-Create_a_new_dashboard_with_funnel_widget-1631888670
        with funnel widget","url":"/dashboard/g9f-ifq-bnc/test-createanewdashboardwithfunnelwidget-1631888670-with-funnel-widget","created_at":"2021-09-17T14:24:30.292231+00:00","modified_at":"2021-09-17T14:24:30.292231+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"query":{"query_string":"","data_source":"rum","steps":[]},"request_type":"funnel"}],"type":"funnel"},"id":2673423064633329}],"layout_type":"ordered"}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 17 Sep 2021 14:24:30 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/g9f-ifq-bnc
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"g9f-ifq-bnc"}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
