http_interactions:
- recorded_at: Thu, 14 Nov 2024 19:12:35 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_scatterplot_widget-1731611555","widgets":[{"definition":{"color_by_groups":[],"requests":{"table":{"formulas":[{"alias":"","dimension":"x","formula":"query1"},{"alias":"","dimension":"y","formula":"query2"}],"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}
        by {service}"},{"aggregator":"avg","data_source":"metrics","name":"query2","query":"avg:system.mem.used{*}
        by {service}"}],"response_format":"scalar"}},"time":{},"title":"","title_align":"left","title_size":"16","type":"scatterplot","xaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"},"yaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"}},"layout":{"height":15,"width":47,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"s9j-nm3-tvr","title":"Test-Create_a_new_dashboard_with_scatterplot_widget-1731611555","description":"","author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"free","url":"/dashboard/s9j-nm3-tvr/test-createanewdashboardwithscatterplotwidget-1731611555","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"color_by_groups":[],"requests":{"table":{"formulas":[{"alias":"","dimension":"x","formula":"query1"},{"alias":"","dimension":"y","formula":"query2"}],"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}
        by {service}"},{"aggregator":"avg","data_source":"metrics","name":"query2","query":"avg:system.mem.used{*}
        by {service}"}],"response_format":"scalar"}},"time":{},"title":"","title_align":"left","title_size":"16","type":"scatterplot","xaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"},"yaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"}},"layout":{"height":15,"width":47,"x":0,"y":0},"id":3009893352352683}],"notify_list":[],"created_at":"2024-11-14T19:12:35.247972+00:00","modified_at":"2024-11-14T19:12:35.247972+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 14 Nov 2024 19:12:35 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/s9j-nm3-tvr
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"s9j-nm3-tvr"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
