http_interactions:
- recorded_at: Thu, 14 Nov 2024 19:12:19 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_ci_test_stream_list_stream_widget-1731611539
        with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"ci_test_stream","query_string":"test_level:suite"},"response_format":"event_list"}],"type":"list_stream"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"vbw-9z8-3n6","title":"Test-Create_a_new_dashboard_with_ci_test_stream_list_stream_widget-1731611539
        with list_stream widget","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/vbw-9z8-3n6/test-createanewdashboardwithciteststreamliststreamwidget-1731611539-with-liststr","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"ci_test_stream","query_string":"test_level:suite"},"response_format":"event_list"}],"type":"list_stream"},"id":7816239097401544}],"notify_list":null,"created_at":"2024-11-14T19:12:19.996704+00:00","modified_at":"2024-11-14T19:12:19.996704+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 14 Nov 2024 19:12:19 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/vbw-9z8-3n6
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"vbw-9z8-3n6"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
