http_interactions:
- recorded_at: Thu, 14 Nov 2024 19:12:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":null,"layout_type":"ordered","notify_list":[],"reflow_type":"auto","restricted_roles":[],"template_variable_presets":[{"name":"my
        saved view","template_variables":[{"name":"datacenter","value":"*","values":["*"]}]}],"template_variables":[{"available_values":["my-host","host1","host2"],"defaults":["my-host"],"name":"host1","prefix":"host"}],"title":"","widgets":[{"definition":{"requests":{"fill":{"q":"avg:system.cpu.user{*}"}},"type":"hostmap"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["''template_variables'' value ''{''name'': ''datacenter'',
        ''value'': ''*'', ''values'': [''*'']}'' is invalid"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
