http_interactions:
- recorded_at: Thu, 14 Nov 2024 19:12:21 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_formula_and_function_heatmap_widget-1731611541","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries","style":{"palette":"dog_classic"}}],"time":{},"title":"","title_align":"left","title_size":"16","type":"heatmap"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"pn9-3xt-h79","title":"Test-Create_a_new_dashboard_with_formula_and_function_heatmap_widget-1731611541","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"free","url":"/dashboard/pn9-3xt-h79/test-createanewdashboardwithformulaandfunctionheatmapwidget-1731611541","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries","style":{"palette":"dog_classic"}}],"time":{},"title":"","title_align":"left","title_size":"16","type":"heatmap"},"layout":{"height":15,"width":47,"x":0,"y":0},"id":479413654119352}],"notify_list":[],"created_at":"2024-11-14T19:12:21.909777+00:00","modified_at":"2024-11-14T19:12:21.909777+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 14 Nov 2024 19:12:21 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/pn9-3xt-h79
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"pn9-3xt-h79"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
