http_interactions:
- recorded_at: Thu, 14 Nov 2024 19:12:43 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_trace_stream_widget-1731611563
        with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"},{"field":"service","width":"auto"}],"query":{"data_source":"trace_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"wnc-xse-sns","title":"Test-Create_a_new_dashboard_with_trace_stream_widget-1731611563
        with list_stream widget","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/wnc-xse-sns/test-createanewdashboardwithtracestreamwidget-1731611563-with-liststream-widget","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"},{"field":"service","width":"auto"}],"query":{"data_source":"trace_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"},"id":6150580172370879}],"notify_list":null,"created_at":"2024-11-14T19:12:43.829004+00:00","modified_at":"2024-11-14T19:12:43.829004+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 14 Nov 2024 19:12:43 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/wnc-xse-sns
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"wnc-xse-sns"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
