http_interactions:
- recorded_at: Fri, 15 Nov 2024 19:32:50 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_query_value_widget-1731699170","widgets":[{"definition":{"autoscale":true,"precision":2,"requests":[{"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"scalar"}],"time":{},"title":"","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"jks-c6t-r8e","title":"Test-Create_a_new_dashboard_with_query_value_widget-1731699170","description":"","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/jks-c6t-r8e/test-createanewdashboardwithqueryvaluewidget-1731699170","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"autoscale":true,"precision":2,"requests":[{"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"scalar"}],"time":{},"title":"","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":15,"width":47,"x":0,"y":0},"id":7789696284248060}],"notify_list":[],"created_at":"2024-11-15T19:32:51.196390+00:00","modified_at":"2024-11-15T19:32:51.196390+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:32:50 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/jks-c6t-r8e
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"jks-c6t-r8e"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
