http_interactions:
- recorded_at: Wed, 15 May 2024 20:07:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_query_table_widget-1715803661","widgets":[{"definition":{"has_search_bar":"auto","requests":[{"formulas":[{"cell_display_mode":"bar","conditional_formats":[],"formula":"query1"}],"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}
        by {host}"}],"response_format":"scalar","sort":{"count":500,"order_by":[{"index":0,"order":"desc","type":"formula"}]}}],"time":{},"title":"","title_align":"left","title_size":"16","type":"query_table"},"layout":{"height":32,"width":54,"x":0,"y":0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"gau-v5i-xn9","title":"Test-Create_a_new_dashboard_with_query_table_widget-1715803661","description":"","author_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","author_name":"CI
        Account","layout_type":"free","url":"/dashboard/gau-v5i-xn9/test-createanewdashboardwithquerytablewidget-1715803661","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"has_search_bar":"auto","requests":[{"formulas":[{"cell_display_mode":"bar","conditional_formats":[],"formula":"query1"}],"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}
        by {host}"}],"response_format":"scalar","sort":{"count":500,"order_by":[{"index":0,"order":"desc","type":"formula"}]}}],"time":{},"title":"","title_align":"left","title_size":"16","type":"query_table"},"layout":{"height":32,"width":54,"x":0,"y":0},"id":2055060354863184}],"notify_list":[],"created_at":"2024-05-15T20:07:42.157797+00:00","modified_at":"2024-05-15T20:07:42.157797+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 15 May 2024 20:07:41 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/gau-v5i-xn9
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"gau-v5i-xn9"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
