http_interactions:
- recorded_at: Thu, 14 Nov 2024 19:12:33 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_rum_issue_stream_list_stream_widget-1731611553
        with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"rum_issue_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"cg8-yhk-bw6","title":"Test-Create_a_new_dashboard_with_rum_issue_stream_list_stream_widget-1731611553
        with list_stream widget","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/cg8-yhk-bw6/test-createanewdashboardwithrumissuestreamliststreamwidget-1731611553-with-lists","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"rum_issue_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"},"id":4087077140268311}],"notify_list":null,"created_at":"2024-11-14T19:12:34.322600+00:00","modified_at":"2024-11-14T19:12:34.322600+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 14 Nov 2024 19:12:33 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/cg8-yhk-bw6
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"cg8-yhk-bw6"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
