http_interactions:
- recorded_at: Mon, 11 Apr 2022 09:33:06 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_trace_stream_widget-1649669586
        with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"},{"field":"service","width":"auto"}],"query":{"data_source":"trace_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"hq5-hih-hbv","title":"Test-Create_a_new_dashboard_with_trace_stream_widget-1649669586
        with list_stream widget","url":"/dashboard/hq5-hih-hbv/test-createanewdashboardwithtracestreamwidget-1649669586-with-liststream-widget","created_at":"2022-04-11T09:33:06.331374+00:00","modified_at":"2022-04-11T09:33:06.331374+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"query":{"query_string":"","data_source":"trace_stream"},"response_format":"event_list","columns":[{"field":"timestamp","width":"auto"},{"field":"service","width":"auto"}]}],"type":"list_stream"},"id":6190567117163115}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Mon, 11 Apr 2022 09:33:06 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/hq5-hih-hbv
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"hq5-hih-hbv"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
