http_interactions:
- recorded_at: Thu, 12 May 2022 09:49:49 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Delete_dashboards_returns_No_Content_response-1652348989
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"u68-sze-n8e","title":"Test-Delete_dashboards_returns_No_Content_response-1652348989
        with Profile Metrics Query","url":"/dashboard/u68-sze-n8e/test-deletedashboardsreturnsnocontentresponse-1652348989-with-profile-metrics-qu","created_at":"2022-05-12T09:49:50.272678+00:00","modified_at":"2022-05-12T09:49:50.272678+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":6438161043980974}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 12 May 2022 09:49:49 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"u68-sze-n8e","type":"dashboard"}]}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 12 May 2022 09:49:49 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/u68-sze-n8e
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["Dashboard with ID u68-sze-n8e not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
