http_interactions:
- recorded_at: Thu, 15 Jul 2021 15:51:31 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Delete_dashboards_returns_No_Content_response-1626364291
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"npn-e8n-9h8","title":"Test-Delete_dashboards_returns_No_Content_response-1626364291
        with Profile Metrics Query","url":"/dashboard/npn-e8n-9h8/test-deletedashboardsreturnsnocontentresponse-1626364291-with-profile-metrics-qu","created_at":"2021-07-15T15:51:31.421021+00:00","modified_at":"2021-07-15T15:51:31.421021+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":6112842896948102}],"layout_type":"ordered"}'
    status:
      code: 200
      message: OK
- recorded_at: Thu, 15 Jul 2021 15:51:31 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"npn-e8n-9h8","type":"dashboard"}]}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 15 Jul 2021 15:51:31 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/npn-e8n-9h8
  response:
    body:
      encoding: UTF-8
      string: '{"errors": ["Dashboard with ID npn-e8n-9h8 not found"]}'
    status:
      code: 404
      message: Not Found
recorded_with: VCR 6.0.0
