http_interactions:
- recorded_at: Thu, 16 Feb 2023 21:47:50 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Get_all_dashboards_returns_OK_response-1676584070
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"npw-6di-usv","title":"Test-Get_all_dashboards_returns_OK_response-1676584070
        with Profile Metrics Query","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/npw-6di-usv/test-getalldashboardsreturnsokresponse-1676584070-with-profile-metrics-query","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":687274237501398}],"notify_list":null,"created_at":"2023-02-16T21:47:50.216943+00:00","modified_at":"2023-02-16T21:47:50.216943+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 16 Feb 2023 21:47:50 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard?filter%5Bshared%5D=false
  response:
    body:
      encoding: UTF-8
      string: '{"dashboards":[{"id":"npw-6di-usv","title":"Test-Get_all_dashboards_returns_OK_response-1676584070
        with Profile Metrics Query","description":null,"layout_type":"ordered","url":"/dashboard/npw-6di-usv/test-getalldashboardsreturnsokresponse-1676584070-with-profile-metrics-query","is_read_only":false,"created_at":"2023-02-16T21:47:50.216943+00:00","modified_at":"2023-02-16T21:47:50.216943+00:00","author_handle":"frog@datadoghq.com","deleted_at":null}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 16 Feb 2023 21:47:50 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/npw-6di-usv
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"npw-6di-usv"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
