http_interactions:
- recorded_at: Fri, 07 Apr 2023 16:13:45 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Get_all_invitations_for_a_shared_dashboard_returns_OK_response-1680884025
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"ggv-zp5-2r8","title":"Test-Get_all_invitations_for_a_shared_dashboard_returns_OK_response-1680884025
        with Profile Metrics Query","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/ggv-zp5-2r8/test-getallinvitationsforashareddashboardreturnsokresponse-1680884025-with-profi","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":6124782451549434}],"notify_list":null,"created_at":"2023-04-07T16:13:45.869264+00:00","modified_at":"2023-04-07T16:13:45.869264+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 07 Apr 2023 16:13:45 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"dashboard_id":"ggv-zp5-2r8","dashboard_type":"custom_timeboard","global_time":{"live_span":"1h"},"share_list":["testgetallinvitationsforashareddashboardreturnsokresponse1680884025@datadoghq.com"],"share_type":"invite"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/public
  response:
    body:
      encoding: UTF-8
      string: '{"author":{"handle":"frog@datadoghq.com","name":null},"dashboard_id":"ggv-zp5-2r8","dashboard_type":"custom_timeboard","global_time_selectable_enabled":false,"global_time":{"live_span":"1h"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-c1e0c122d13080aabd50aa3bbadfe6be","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-c1e0c122d13080aabd50aa3bbadfe6be","created":"2023-04-07T16:13:46.433503+00:00","share_type":"invite","share_list":["testgetallinvitationsforashareddashboardreturnsokresponse1680884025@datadoghq.com"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 07 Apr 2023 16:13:45 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-c1e0c122d13080aabd50aa3bbadfe6be/invitation
  response:
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"page":{"total_count":0}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 07 Apr 2023 16:13:45 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-c1e0c122d13080aabd50aa3bbadfe6be
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_public_dashboard_token":"fasjyydbcgwwc2uc-c1e0c122d13080aabd50aa3bbadfe6be"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 07 Apr 2023 16:13:45 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/ggv-zp5-2r8
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"ggv-zp5-2r8"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
