http_interactions:
- recorded_at: Fri, 25 Feb 2022 09:08:12 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Restore_deleted_dashboards_returns_No_Content_response-1645780092
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"mer-dv6-8hm","title":"Test-Restore_deleted_dashboards_returns_No_Content_response-1645780092
        with Profile Metrics Query","url":"/dashboard/mer-dv6-8hm/test-restoredeleteddashboardsreturnsnocontentresponse-1645780092-with-profile-me","created_at":"2022-02-25T09:08:12.769980+00:00","modified_at":"2022-02-25T09:08:12.769980+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":5722443162930506}],"layout_type":"ordered"}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 25 Feb 2022 09:08:12 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/mer-dv6-8hm
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"mer-dv6-8hm"}'
    status:
      code: 200
      message: OK
- recorded_at: Fri, 25 Feb 2022 09:08:12 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"mer-dv6-8hm","type":"dashboard"}]}'
    headers: {}
    method: PATCH
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
- recorded_at: Fri, 25 Feb 2022 09:08:12 GMT
  request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/mer-dv6-8hm
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"mer-dv6-8hm"}'
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
