http_interactions:
- recorded_at: Thu, 12 May 2022 09:49:51 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Restore_deleted_dashboards_returns_No_Content_response-1652348991
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"9tx-gsv-z5x","title":"Test-Restore_deleted_dashboards_returns_No_Content_response-1652348991
        with Profile Metrics Query","url":"/dashboard/9tx-gsv-z5x/test-restoredeleteddashboardsreturnsnocontentresponse-1652348991-with-profile-me","created_at":"2022-05-12T09:49:51.831214+00:00","modified_at":"2022-05-12T09:49:51.831214+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":4207265436765014}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 12 May 2022 09:49:51 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/9tx-gsv-z5x
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"9tx-gsv-z5x"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 12 May 2022 09:49:51 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"9tx-gsv-z5x","type":"dashboard"}]}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 12 May 2022 09:49:51 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/9tx-gsv-z5x
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"9tx-gsv-z5x"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
