http_interactions:
- recorded_at: Thu, 14 Nov 2024 19:12:52 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Send_shared_dashboard_invitation_email_returns_OK_response-1731611572
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"gut-f87-dcm","title":"Test-Send_shared_dashboard_invitation_email_returns_OK_response-1731611572
        with Profile Metrics Query","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/gut-f87-dcm/test-sendshareddashboardinvitationemailreturnsokresponse-1731611572-with-profile","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":4948380477762847}],"notify_list":null,"created_at":"2024-11-14T19:12:52.340660+00:00","modified_at":"2024-11-14T19:12:52.340660+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 14 Nov 2024 19:12:52 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"dashboard_id":"gut-f87-dcm","dashboard_type":"custom_timeboard","global_time":{"live_span":"1h"},"share_list":["testsendshareddashboardinvitationemailreturnsokresponse1731611572@datadoghq.com"],"share_type":"invite"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/public
  response:
    body:
      encoding: UTF-8
      string: '{"author":{"handle":"anika.maskara@datadoghq.com","name":"Anika Maskara"},"dashboard_id":"gut-f87-dcm","dashboard_type":"custom_timeboard","status":"active","title":"Test-Send_shared_dashboard_invitation_email_returns_OK_response-1731611572
        with Profile Metrics Query","viewing_preferences":{},"expiration":null,"last_accessed":null,"global_time_selectable_enabled":false,"global_time":{"live_span":"1h"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-1bf4797be5e9c081bbc244a7bf86bf9c","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-1bf4797be5e9c081bbc244a7bf86bf9c","created":"2024-11-14T19:12:52.652942+00:00","share_type":"invite","share_list":["testsendshareddashboardinvitationemailreturnsokresponse1731611572@datadoghq.com"],"session_duration_in_days":30,"invitees":[{"email":"testsendshareddashboardinvitationemailreturnsokresponse1731611572@datadoghq.com","access_expiration":null,"last_accessed":null,"created_at":"2024-11-14T19:12:52.686291+00:00"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 14 Nov 2024 19:12:52 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"email":"testsendshareddashboardinvitationemailreturnsokresponse1731611572@datadoghq.com"},"type":"public_dashboard_invitation"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-1bf4797be5e9c081bbc244a7bf86bf9c/invitation
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"public_dashboard_invitation","attributes":{"email":"testsendshareddashboardinvitationemailreturnsokresponse1731611572@datadoghq.com","share_token":"fasjyydbcgwwc2uc-1bf4797be5e9c081bbc244a7bf86bf9c","created_at":"2024-11-14T19:12:52.852357+00:00","invitation_expiry":"2024-11-14T20:12:52.847878+00:00","has_session":false,"session_expiry":null}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- recorded_at: Thu, 14 Nov 2024 19:12:52 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-1bf4797be5e9c081bbc244a7bf86bf9c
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_public_dashboard_token":"fasjyydbcgwwc2uc-1bf4797be5e9c081bbc244a7bf86bf9c"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 14 Nov 2024 19:12:52 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/gut-f87-dcm
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"gut-f87-dcm"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
