http_interactions:
- recorded_at: Fri, 15 Nov 2024 19:33:12 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Update_a_shared_dashboard_returns_OK_response-1731699192
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"7gy-n9j-kdz","title":"Test-Update_a_shared_dashboard_returns_OK_response-1731699192
        with Profile Metrics Query","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/7gy-n9j-kdz/test-updateashareddashboardreturnsokresponse-1731699192-with-profile-metrics-que","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":1917183550061512}],"notify_list":null,"created_at":"2024-11-15T19:33:12.333485+00:00","modified_at":"2024-11-15T19:33:12.333485+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:33:12 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"dashboard_id":"7gy-n9j-kdz","dashboard_type":"custom_timeboard","global_time":{"live_span":"1h"},"share_list":["testupdateashareddashboardreturnsokresponse1731699192@datadoghq.com"],"share_type":"invite"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/public
  response:
    body:
      encoding: UTF-8
      string: '{"author":{"handle":"frog@datadoghq.com","name":null},"dashboard_id":"7gy-n9j-kdz","dashboard_type":"custom_timeboard","status":"active","title":"Test-Update_a_shared_dashboard_returns_OK_response-1731699192
        with Profile Metrics Query","viewing_preferences":{},"expiration":null,"last_accessed":null,"global_time_selectable_enabled":false,"global_time":{"live_span":"1h"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-601fe99239741e02ee84c1852ce59a37","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-601fe99239741e02ee84c1852ce59a37","created":"2024-11-15T19:33:12.669592+00:00","share_type":"invite","share_list":["testupdateashareddashboardreturnsokresponse1731699192@datadoghq.com"],"session_duration_in_days":30,"invitees":[{"email":"testupdateashareddashboardreturnsokresponse1731699192@datadoghq.com","access_expiration":null,"last_accessed":null,"created_at":"2024-11-15T19:33:12.692355+00:00"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:33:12 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"global_time":{"live_span":"15m"},"share_list":[],"share_type":"open"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-601fe99239741e02ee84c1852ce59a37
  response:
    body:
      encoding: UTF-8
      string: '{"author":{"handle":"frog@datadoghq.com","name":null},"dashboard_id":"7gy-n9j-kdz","dashboard_type":"custom_timeboard","status":"active","title":"Test-Update_a_shared_dashboard_returns_OK_response-1731699192
        with Profile Metrics Query","viewing_preferences":{},"expiration":null,"last_accessed":null,"global_time_selectable_enabled":false,"global_time":{"live_span":"15m"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-601fe99239741e02ee84c1852ce59a37","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-601fe99239741e02ee84c1852ce59a37","created":"2024-11-15T19:33:12.669592+00:00","share_type":"open","share_list":[],"session_duration_in_days":null,"invitees":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:33:12 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-601fe99239741e02ee84c1852ce59a37
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_public_dashboard_token":"fasjyydbcgwwc2uc-601fe99239741e02ee84c1852ce59a37"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:33:12 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/7gy-n9j-kdz
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"7gy-n9j-kdz"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
