http_interactions:
- recorded_at: Wed, 12 Apr 2023 20:55:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Update_a_shared_dashboard_returns_OK_response-1681332944
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"n4p-ymg-wjf","title":"Test-Update_a_shared_dashboard_returns_OK_response-1681332944
        with Profile Metrics Query","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/n4p-ymg-wjf/test-updateashareddashboardreturnsokresponse-1681332944-with-profile-metrics-que","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":8334852074489292}],"notify_list":null,"created_at":"2023-04-12T20:55:45.157005+00:00","modified_at":"2023-04-12T20:55:45.157005+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 12 Apr 2023 20:55:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"dashboard_id":"n4p-ymg-wjf","dashboard_type":"custom_timeboard","global_time":{"live_span":"1h"},"share_list":["testupdateashareddashboardreturnsokresponse1681332944@datadoghq.com"],"share_type":"invite"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/public
  response:
    body:
      encoding: UTF-8
      string: '{"author":{"handle":"frog@datadoghq.com","name":null},"dashboard_id":"n4p-ymg-wjf","dashboard_type":"custom_timeboard","global_time_selectable_enabled":false,"global_time":{"live_span":"1h"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-02029ebbe19451affffb0342605f03e7","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-02029ebbe19451affffb0342605f03e7","created":"2023-04-12T20:55:45.513088+00:00","share_type":"invite","share_list":["testupdateashareddashboardreturnsokresponse1681332944@datadoghq.com"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 12 Apr 2023 20:55:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"global_time":{"live_span":"15m"},"share_list":[],"share_type":"open"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-02029ebbe19451affffb0342605f03e7
  response:
    body:
      encoding: UTF-8
      string: '{"author":{"handle":"frog@datadoghq.com","name":null},"dashboard_id":"n4p-ymg-wjf","dashboard_type":"custom_timeboard","global_time_selectable_enabled":false,"global_time":{"live_span":"15m"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-02029ebbe19451affffb0342605f03e7","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-02029ebbe19451affffb0342605f03e7","created":"2023-04-12T20:55:45.513088+00:00","share_type":"open","share_list":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 12 Apr 2023 20:55:44 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-02029ebbe19451affffb0342605f03e7
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_public_dashboard_token":"fasjyydbcgwwc2uc-02029ebbe19451affffb0342605f03e7"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 12 Apr 2023 20:55:44 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/n4p-ymg-wjf
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"n4p-ymg-wjf"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
