http_interactions:
- recorded_at: Fri, 15 Nov 2024 19:33:10 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"ordered","title":"Test-Update_a_dashboard_returns_OK_response-1731699190
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"id":"p63-b2n-sjg","title":"Test-Update_a_dashboard_returns_OK_response-1731699190
        with Profile Metrics Query","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/p63-b2n-sjg/test-updateadashboardreturnsokresponse-1731699190-with-profile-metrics-query","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":5657970793131714}],"notify_list":null,"created_at":"2024-11-15T19:33:11.001823+00:00","modified_at":"2024-11-15T19:33:11.001823+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:33:10 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"description":"Updated description","layout_type":"ordered","title":"Test-Update_a_dashboard_returns_OK_response-1731699190
        with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"apm_issue_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"}}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/dashboard/p63-b2n-sjg
  response:
    body:
      encoding: UTF-8
      string: '{"id":"p63-b2n-sjg","title":"Test-Update_a_dashboard_returns_OK_response-1731699190
        with list_stream widget","description":"Updated description","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/p63-b2n-sjg/test-updateadashboardreturnsokresponse-1731699190-with-liststream-widget","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"apm_issue_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"},"id":2673972776725197}],"notify_list":null,"created_at":"2024-11-15T19:33:11.001823+00:00","modified_at":"2024-11-15T19:33:11.244365+00:00","restricted_roles":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Fri, 15 Nov 2024 19:33:10 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/p63-b2n-sjg
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"p63-b2n-sjg"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
