http_interactions:
- recorded_at: Thu, 06 Jan 2022 00:50:51 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"tags":["test:TestPostaneventreturnsOKresponse1641430251"],"text":"A
        text message.","title":"Test-Post_an_event_returns_OK_response-1641430251"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/events
  response:
    body:
      encoding: UTF-8
      string: '{"status":"ok","event":{"id":6327818702635911000,"id_str":"6327818702635911562","title":"Test-Post_an_event_returns_OK_response-1641430251","text":"A
        text message.","date_happened":1641430251,"handle":null,"priority":null,"related_event_id":null,"tags":["test:TestPostaneventreturnsOKresponse1641430251"],"url":"https://app.datadoghq.com/event/event?id=6327818702635911562"}}'
    status:
      code: 202
      message: Accepted
recorded_with: VCR 6.0.0
