---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/events
    body:
      encoding: UTF-8
      string: '{"title":"Testing event","text":"A text message.","tags":["test:rubyPostaneventreturnsOKresponse1614854024"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","event":{"id":5881943591200976676,"title":"Testing event","text":"A
        text message.","date_happened":1614854024,"handle":null,"priority":null,"related_event_id":null,"tags":["test:rubyPostaneventreturnsOKresponse1614854024"],"url":"https://app.datadoghq.com/event/event?id=5881943591200976676"}}'
  recorded_at: Thu, 04 Mar 2021 10:33:44 GMT
recorded_with: VCR 6.0.0
