http_interactions:
- recorded_at: Thu, 06 Jan 2022 00:50:51 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"date_happened":1,"tags":["test:TestPostaneventinthepastreturnsBadRequestresponse1641430251"],"text":"A
        text message.","title":"Test-Post_an_event_in_the_past_returns_Bad_Request_response-1641430251"}'
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    method: POST
    uri: https://api.datadoghq.com/api/v1/events
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Event too far in the past"]}'
    status:
      code: 400
      message: Bad Request
recorded_with: VCR 6.0.0
