---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/events
    body:
      encoding: UTF-8
      string: '{"title":"Test-Post_an_event_returns_OK_response-1617968720","text":"A
        text message.","tags":["test:TestPostaneventreturnsOKresponse1617968720"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","event":{"id":5934199528035716471,"title":"Test-Post_an_event_returns_OK_response-1617968720","text":"A
        text message.","date_happened":1617968720,"handle":null,"priority":null,"related_event_id":null,"tags":["test:TestPostaneventreturnsOKresponse1617968720"],"url":"https://app.datadoghq.com/event/event?id=5934199528035716471"}}'
  recorded_at: Fri, 09 Apr 2021 11:45:20 GMT
recorded_with: VCR 6.0.0
