http_interactions:
- recorded_at: Mon, 28 Nov 2022 11:57:44 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"compute":[{"aggregation":"pc90","metric":"@duration","type":"total"}],"filter":{"from":"now-15m","query":"@ci.provider.name:(gitlab
        OR github)","to":"now"},"group_by":[{"facet":"@ci.status","limit":10,"total":false}],"options":{"timezone":"GMT"},"page":{"limit":25}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/ci/pipelines/analytics/aggregate
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{"elapsed":11,"request_id":"pddv1ChZqQzVJUE9vVlNBLVFpRk84Vko5MmFRIi0KHbc5utz89Y10MZzALoXnFE9Iv7tPhZgvKgIWyiodEgzXWdD8rQBC2y027fc","status":"done"},"data":{"buckets":[]}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
