http_interactions:
- recorded_at: Mon, 25 Nov 2024 20:08:40 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"compute":[{"aggregation":"pc90","metric":"@duration","type":"total"}],"filter":{"from":"now-15m","query":"@ci.provider.name:(gitlab
        OR github)","to":"now"},"group_by":[{"facet":"@ci.status","limit":10,"total":false}],"options":{"timezone":"GMT"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/ci/pipelines/analytics/aggregate
  response:
    body:
      encoding: UTF-8
      string: '{"meta":{"elapsed":90,"request_id":"pddv1ChZiVnBUVTltRVJocUlzSWlyYkdkRHFRIi0KHQLKXxzUXfzSm-D5KYypc61Y_NGGMKnRbrtODJpWEgwQ-7lds-czCpOBaB4","status":"done"},"data":{"buckets":[]}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
