http_interactions:
- recorded_at: Mon, 25 Nov 2024 20:08:40 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"filter":{"from":"now-15m","query":"@ci.provider.name:github AND @ci.status:error","to":"now"},"options":{"timezone":"GMT"},"page":{"limit":5},"sort":"timestamp"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/ci/pipelines/events/search
  response:
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"elapsed":20,"request_id":"pddv1ChZSTVpjd2Q0MlI2LVVBNjVTYlhFUThBIi0KHQuJgBOuQyr2rULJokHKzwf2zKDYmaOmEm5TrJuvEgyvH4LB-7WWiTQznlw","status":"done"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
